#body{
  background-color: #FFF !important;
}
.edit_section{
  display: none;
}
#dropshadow{
  background: #FFF !important;
}
@media screen,print {
.titlebar_red{
  background: transparent !important;
  color: #ff4100 !important;
  border: 1px solid #ff4100 !important;
}
.titlebar_red a, .titlebar_red h3{
  background: transparent !important;
  color: #ff4100 !important;
}
.titlebar_blue{
  background: transparent !important;
  color: #006699 !important;
  border: 1px solid #006699 !important;
}
.titlebar_blue a, .titlebar_blue h3{
  background: transparent !important;
  color: #006699 !important;
}
.titlebar_purple{
  background: transparent !important;
  color: #666699 !important;
  border: 1px solid #666699 !important;
}
.titlebar_purple a, .titlebar_purple h3{
  background: transparent !important;
  color: #666699 !important;
}
/*
a:link:after{
  content: " (" attr(href) ") ";
}
*/
}
