<!-- advanced search -->
#set($defaultsearchtext = $msg.get("header.defaultsearchtext"))
<div id="header-search">
  <form id="searchform" name="searchform" class="search-box" action="$xwiki.getURL("Search.WebHome")" onsubmit="document.location.href=document.searchform.action+'#o%3As%3Ds%253Aresource%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+escape(escape(escape(escape(($('curriki-searchbox').value!=='$defaultsearchtext')?$('curriki-searchbox').value:'')))); return false;">  
    <input type="hidden" class="hidden" name="area" value=""/>
    #set($brsqry = $request.brsqry)
    #if(!$brsqry || $brsqry == "")
      #set($brsqry = $defaultsearchtext)
    #end
    <input type="text" id="curriki-searchbox" name="brsqry" class="input" value="$!brsqry" onfocus="if (this.value=='$defaultsearchtext') this.value=''; else this.select()" onblur="if (this.value=='') this.value='$defaultsearchtext'" />
    <button type="submit" id="searchbtn" name="btn">$msg.get("header.search_go")</button>      
  </form>
  <p>
    <a href="$xwiki.getURL("Search.WebHome")" onclick="this.href='/xwiki/bin/view/Search/#o%3Aa%3Do%253Aresource%253Do%25253Aa%25253Db%2525253A1%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+escape(escape(escape(escape($('curriki-searchbox').value.replace(/^$defaultsearchtext/, ''))))); return true;">$msg.get("header.advanced_search")</a> |
    <a href="$xwiki.getURL("Main.Browse")">$msg.get("header.browse_subjects")</a>
  </p>
</div>
<!-- end of advanced search -->
