{pre}
.x-grid3-header {background:#93c53c;}
.x-grid3-header span img {margin: -4px 0 -4px 4px;}
.x-grid3-scroller .x-grid3-row {border-color: #ccc; border-top:none;}
.x-grid3-scroller {margin-bottom:5px;}
input[type="button"] {font-weight:normal;}
.x-grid3-hd-0{text-align:center;white-space:normal;}
.x-grid3-hd-1{text-align:center;white-space:normal;}
.x-grid3-hd-2{text-align:center;white-space:normal;}
.x-grid3-hd-3{text-align:center;white-space:normal;}
.x-grid3-hd-4{text-align:center;white-space:normal;}
.x-grid3-td-0{border-right: 1px solid lightgrey; padding-left: 0px !important;padding-right: 0px !important}
.x-grid3-td-1{border-right: 1px solid lightgrey; padding-left: 0px !important;padding-right: 0px !important}
.x-grid3-td-2{border-right: 1px solid lightgrey; padding-left: 0px !important;padding-right: 0px !important}
.x-grid3-td-3{border-right: 1px solid lightgrey; padding-left: 0px !important;padding-right: 0px !important}
.x-grid3-td-4{padding-left: 0px !important;padding-right: 0px !important}
.x-grid3-col-0{white-space: normal; word-wrap:break-word;}
.x-grid3-col-1{white-space: normal; word-wrap:break-word;}
.x-grid3-col-2{white-space: normal; word-wrap:break-word;}
.x-grid3-col-3{white-space: normal; word-wrap:break-word;}
.x-grid3-col-4{white-space: normal; word-wrap:break-word;}
.x-form-field-ace{overflow:hidden}
input { width:expression(this.type=="text" ? "83%" : "style"); }
{/pre}
