1 Host name

#set($currentHostName=$xwiki.curriki.getPublicCurrikiConfig("appserverHost", "missing-host").toLowerCase())

#macro(hostLink $hostname)
#if("$!currentHostName"=="$!hostname")
(current) $hostname
#else
<a href="$doc.name" ##
   onclick="return changeCookie('$hostname')" ##
        >$hostname</a>
#end
#end

You are currently running from the XWiki on this host:

<p style="text-align:center; font-size: 120%; font-weight: bold"##
        >$currentHostName</p>


1.1 Switch

You can go to the following hosts but please note that you log yourself out!

#set($hosts=["prod-app","failover-app"])
#if($hosts.contains($currentHostName))
    #foreach($name in $hosts)
- #hostLink($name)
    #end
#else
    #set($hosts=["beta-app","dev-next-app"])
    #foreach($name in $hosts)
    - #hostLink($name)
    #end
#end

{pre}
<script type="text/javascript">
    function changeCookie(hostname) {
        var d = new Date();
        d.setDate(d.getDate()+7);
        var cookies = document.cookie.split(";");
        var prefix = new Date().toGMTString();
        for(i=cookies.length-1; i>=0; i--){
            var x=cookies[i];
            if(x.startsWith("JSESSIONID=")) {
                prefix = x.substring("JSESSIONID=".length);
                var p = prefix.indexOf(".");
                if(p>=0) prefix = prefix.substring(0, p);
            }
        }
        document.cookie='JSESSIONID='+prefix+'.' + hostname+ '; ' + d.toUTCString()
        //console.log("Would set cookie: " + 'JSESSIONID='+prefix+'.' + hostname + '; ' + d.toUTCString())
        return true;
    }
</script>
{/pre}