#if(1==1)
    #if ($doc.web == "Main" && $doc.name!='JoinCurriki' || $doc.web.startsWith("Coll_") || $doc.web=='Search' || $doc.web.startsWith("Group") || $doc.web == "MyCurriki" )
    <!-- Phoenix Ad Appears here -->
{pre}
    <div id="Advertising2" class="shadow-outer">
        <div class="shadow-middle">
            <div class="shadow-inner">
                <div style="padding:0px 0px 0px 0px">
                    <a href="http://www.phoenix.edu/colleges_divisions/education.html" ##
                            onclick="_gaq.push(['_trackEvent','ads','clicked','phoenix'], ##
                                function() {window.location.href='http://www.phoenix.edu/colleges_divisions/education.html'}); return false;">
                        <img src="/xwiki/bin/download/Panels/Advertising2/edu01899_advanceplacement_180x150_-qzsvar8.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
{/pre}
    #end
#end