1 Panels

#if($hasadmin)
1.1 Create new panels
    #includeTopic("Panels.CreatePanel")
#end

1.1 Viewer panels

#set ($sql = ", BaseObject as obj where obj.name=doc.fullName and obj.className='Panels.PanelClass' and doc.fullName!='Panels.PanelTemplate'")
#foreach ($item in $xwiki.searchDocuments($sql))
    #set($obj = $xwiki.getDocument($item).getObject("Panels.PanelClass"))
    #if($obj.type == 'view')
    * [$item]#if($hasadmin){pre} [{/pre}<a href="$xwiki.getURL("$item", "inline")">$msg.get("edit")</a> <a href="$xwiki.getURL("$item", "delete")">$msg.get("delete")</a>{pre}]{/pre}#end (views: <a href="/xwiki/bin/view/Panels/DisplayPanelContent?doc=$item&xpage=plain">plain</a>, <a href="/xwiki/bin/view/Panels/DisplayPanelContent?doc=$item&xpage=popup">popup</a>): $obj.description
    #end
#end

#if($hasadmin) <div class="plainmessage"><img src="$xwiki.getSkinFile("icons/wiz.png")" alt=""/> You can customize the side column(s)  using the [Panel Wizard>Panels.PanelWizard].</div> #end


1.1 Editor panels
#foreach ($item in $xwiki.searchDocuments($sql))
    #set($obj = $xwiki.getDocument($item).getObject("Panels.PanelClass"))
    #if($obj.type == 'edit')
    * [$item]#if($hasadmin){pre} [{/pre}<a href="$xwiki.getURL("$item", "inline")">$msg.get("edit")</a> <a href="$xwiki.getURL("$item", "delete")">$msg.get("delete")</a>{pre}]{/pre}#end: $obj.description
    #end
#end