{{velocity}}
{{html wiki=true clean=false}}
#**
  * MyCurriki Edit Profile Page
  *
  *#
#**
  * MyCurriki Edit Profile Page Content Call Back function
  * @param $userdoc Document of the user
  * @param $userobj Object of the user
  *#
#macro(mycurriki_pagecontent $userdoc $userobj)
  #mycurriki_editprofilebox($userdoc $userobj)
#end ## content macro
##
## Actual Display of page
#activatefullscreen()
#mycurriki_page("profile")
{{/html}}
{{/velocity}}
