{{velocity}}
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#set($whenLogged="/xwiki/bin/view/MyCurriki/Contributions#startAdd")##
#if($context.user && "XWiki.XWikiGuest"!="$context.user")##
    $response.sendRedirect("/xwiki/bin/view/MyCurriki/Contributions#startAdd")##
#else##
    #set($session=$request.session)##
    $session.setAttribute("nologin","/")##
    $session.setAttribute("xredirect",$whenLogged)##
    $xwiki.includeForm("Registration.DirectLogin")##
#end##
{{/velocity}}