#**
  * Asset Archive Displayer in View mode
  *
  *#
#asset_displaycontentheader("")
<div class="asset-display-text">
<div class="asset-display-text-inner">
<p>
$!asset.description
</p>
</div>
</div>
#asset_attachments($asset)
#asset_displaycontentfooter($asset)
