#if(!$asset.hasAccessLevel("view"))
 $msg.get("asset.contentNotAllowed")
#else
 #set($objs = $asset.getObjects("CurrikiCode.SubAssetClass"))
 #set($assetList = $xwiki.arrayList)
 #foreach($obj in $objs)
  #set($ok = $assetList.add(""))
 #end ## foreach
 #foreach($obj in $objs)
  #set($ok = $asset.use($obj))
  #set($position = $asset.getValue("order"))
  #set($assetPage = $asset.getValue("assetpage"))
  #if($position >= $assetList.size())
   #set($ok = $assetList.add($assetPage))
  #else
   #set($ok = $assetList.set($position.intValue(), $assetPage))
  #end
 #end ## foreach
 #foreach($assetPage in $assetList)
  #if(($assetPage == "PAGEBREAK")||($assetPage == ""))
   ## Do nothing <hr />
  #else
   #set($embeddedDoc = $xwiki.getDocument($assetPage))
   #if(!$xwiki.exists($assetPage))
    ## We are not showing items that do not exist
   #elseif(!$xwiki.hasAccessLevel("view", $context.user, $assetPage))
    ## We are not showing protected assets
    ## $msg.get("asset.contentNotAllowed")
   #else
    #set($embeddedDoc = $xwiki.getDocument($assetPage))
     #if($embeddedDoc.getObject("CurrikiCode.CompositeAssetClass"))
<div class="sub-asset-wrapper source-type-collection">
    <div class="sub-asset-wrapper-inner">
        #asset_beginsection($embeddedDoc false)
        #asset_endsection()
    </div>
</div>
     #else
#set($assetFiletype = $embeddedDoc.getValue("file_type"))
#set($assetCategory = $embeddedDoc.getCategory())
<div class="sub-asset-wrapper category-$assetCategory">
    <div class="sub-asset-wrapper-inner filetype-$assetFiletype">
        #asset_beginsection($embeddedDoc true)
        #if(!$embeddedDoc.hasAccessLevel("view"))
         $msg.get("asset.contentNotAllowed")
        #else
        $embeddedDoc.displayAsset("view")
        #end
        #asset_endsection()
    </div>
</div>
     #end ## composite or source
    #end ## existing or viewable asset
   #end ## not empty or pagebreak
  #end ## foreach
 #end