#macro(video $url)<!-- VIDEO -->
    #set($width=510)#set($height=390)##
    #if("$!request.viewer"!="" && $!request.viewer.startsWith("embed"))#set($width=460)#set($height=352)<!-- smaller width, we are embedded -->#end##
    ##
    ## ---------------------- dailymotion.com -----------------------------------------------
    #if ($url.contains("dailymotion") )
        #set($id1 = $url.indexOf("video/"))
        #set($id2 = $url.indexOf("_",$id1))
        #set($id1 = $id1 + 6)
        #set($dmid = $url.substring($id1, $id2))
    <div  style="border: 1px solid #000; width: ${width}px; height: ${height}px;"><object width="${width}" height="${height}"><param name="movie" value="http://www.dailymotion.com/swf/$dmid&v3=1&related=0"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed style="border: 1px solid #000;" src="http://www.dailymotion.com/swf/$dmid&v3=1&related=0" type="application/x-shockwave-flash" width="${width}" height="${height}" allowFullScreen="true" allowScriptAccess="always"></embed></object></div>
    ##
    ## ---------------------- youtube.com -----------------------------------------------
    #elseif($url.contains("youtube.com") || $url.contains("youtu.be"))<!-- youtube link here -->
        #set($iy1 = $url.indexOf("v="))
        #if($iy1!=-1)
            #set($iy1 = $iy1 + 2)
            #set($iy2 = $iy1 + 11)
            #set($ytid = $url.substring($iy1, $iy2))
        #else
            #set($p=$url.lastIndexOf("/"))#set($p=$p+1)
            #set($ytid=$url.substring($p))
        #end
    <div  style="border: 1px solid #000; width: ${width}px; height: ${height}px;">
        <iframe width="${width}" height="${height}" src="http://www.youtube.com/embed/$ytid" frameborder="0" allowfullscreen></iframe>
    </div>
    ##
    ## ---------------------- video.google.com -----------------------------------------------
    #elseif($url.contains("video.google"))
        #set($ig1 = $url.indexOf("docid="))
        #set($ig1 = $ig1 + 6)
        #set($ig2 = $ig1 + 19)
        #set($gvid = $url.substring($ig1, $ig2))
    <div style="text-align: right; width: ${width}px; height: ${height}px; border: 1px solid #000;"><embed style="width:${width}px; height:${height}px;" id="VideoPlayback" type="application/x-shockwave-flash" src="http://video.google.com/googleplayer.swf?docid=$gvid" flashvars=""> </embed></div>
    ##
    ## ---------------------- vimeo.com -----------------------------------------------
    #elseif($url.contains("http://vimeo.com"))
        #set($p=$url.lastIndexOf("/"))#set($p=$p+1)
        #set($tytid=$url.substring($p))
        #if($tytid.indexOf("?")!=-1)#set($tytid=$tytid.substring(0,$tytid.indexOf("?")))#end
    <div  style="border: 1px solid #000; width: ${width}px; height: ${height}px;">
        <iframe src="http://player.vimeo.com/video/$tytid" width="${width}" height="${height}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    ## ---------------------- slideshare -----------------------------------------------
    ## example: from http://www.slideshare.net/shyamantab/5-infographics-ideas-for-your-fb-page
    ## example: <iframe src="http://www.slideshare.net/slideshow/embed_code/22017037" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/shyamantab/5-infographics-ideas-for-your-fb-page" title="5 Infographics Ideas for Your FB Page" target="_blank">5 Infographics Ideas for Your FB Page</a> </strong> from <strong><a href="http://www.slideshare.net/shyamantab" target="_blank">Shyamanta Baruah</a></strong> </div>
    ## TODO
    ## ---------------------- videolectures.net -----------------------------------------------
    ## xxx
    ## TODO
    ## ---------------------- flickr -----------------------------------------------
    ## xxx
    ## TODO
    ## ---------------------- google drive -----------------------------------------------
    ## xxx
    ## e.g. from https://docs.google.com/a/curriki.org/document/d/1osoShZ4wkCru_fAGPVmBIYHjcAvuCZiZmVYgLMfuy3Q/edit
    ## .... to https://docs.google.com/a/curriki.org/document/d/1osoShZ4wkCru_fAGPVmBIYHjcAvuCZiZmVYgLMfuy3Q/view
    ## ---------------------- curriki.org -----------------------------------------------
    #elseif($url.startsWith("http://www.curriki.org/xwiki/bin/view/Coll_"))<!-- curriki embed -->
        #if("$!currikiEmbedCounter"=="")#set($currikiEmbedCounter=0)#else#set($currikiEmbedCounter=$math.add($currikiEmbedCounter, 1))#end
        #set($width=640)#set($height=600)##
        #if($url.contains("viewer="))#set($embedURL=$url)#else#if($url.contains('?'))#set($embedURL="${url}&viewer=embed")#else#set($embedURL="${url}?viewer=embed")#end#end
    <div  style="width: ${width}px; height: ${height}px;">
        <iframe src="$embedURL" width="${width}" height="${height}" frameborder="0" id="currikiIFrame_$currikiEmbedCounter"></iframe>
    </div>
    ## ---------------------- current.dev.curriki.org -----------------------------------------------
    #elseif($url.startsWith("http://dev.current.curriki.org/xwiki/bin/view/Coll_"))<!-- curriki embed -->
        #if("$!currikiEmbedCounter"=="")#set($currikiEmbedCounter=0)#else#set($currikiEmbedCounter=$math.add($currikiEmbedCounter, 1))#end
        #set($width=640)#set($height=600)##
        #if($url.contains("viewer="))#set($embedURL=$url)#else#if($url.contains('?'))#set($embedURL="${url}&viewer=embed-gps")#else#set($embedURL="${url}?viewer=embed-gps")#end#end
    <div  style="width: ${width}px; height: ${height}px;">
        <iframe src="$embedURL" width="${width}" height="${height}" frameborder="0" id="currikiIFrame_$currikiEmbedCounter"></iframe>
    </div>
    ## ---------------------- paul's dev -----------------------------------------------
    #elseif($url.startsWith("http://node1.hoplahup.net/xwiki/bin/view/Coll_"))<!-- curriki embed -->
        #if("$!currikiEmbedCounter"=="")#set($currikiEmbedCounter=0)#else#set($currikiEmbedCounter=$math.add($currikiEmbedCounter, 1))#end
        #set($width=640)#set($height=600)##
        #if($url.contains("viewer="))#set($embedURL=$url)#else#if($url.contains('?'))#set($embedURL="${url}&viewer=embed-gps")#else#set($embedURL="${url}?viewer=embed-gps")#end#end
    <div  style="width: ${width}px; height: ${height}px;">
        <iframe src="$embedURL" width="${width}" height="${height}" frameborder="0" id="currikiIFrame_$currikiEmbedCounter"></iframe>
    </div>
    #else
        #warning('The Video URL you entered does not match any of the video websites supported by this macro. <br />
Please check the address you entered or improve the macro to make it support this website :-\)')
    #end
#end
#asset_displaycontentheader("")
#set($objExt = $asset.getObject("CurrikiCode.ExternalAssetClass", true))
#set($url = $asset.display("link", "view", $asset.getObject("CurrikiCode.ExternalAssetClass")))
<!-- url is $url of class $url.getClass() -->
#set($linktext = $asset.display("linktext", "view", $asset.getObject("CurrikiCode.ExternalAssetClass")))
##if($url.endsWith("jpg") || $url.endsWith("gif"))
##
##
##<div align="center"><a href="$url" onclick="window.open('$url'); return false;"><img src="$url" align="middle" width="200" /></a></div>
<div class="asset-display-text">
    <div class="asset-display-text-inner">
        #set($caption = "")
        #set($ok = $asset.use("CurrikiCode.ExternalAssetClass"))
        #set($caption = $!asset.caption_text)
        #set($ok = $asset.use("CurrikiCode.AssetClass"))
        #if($!caption == "")
            #set($caption = $!asset.display("description"))
        #end
        #if($url.startsWith("http://www.youtube.com/watch") || $url.startsWith("https://www.youtube.com/watch") ||
                $url.startsWith("https://www.dailymotion.com/video/") || $url.startsWith("http://www.dailymotion.com/video/") ||
                $url.startsWith("http://video.google.com/googleplayer.swf?")  || $url.startsWith("https://video.google.com/googleplayer.swf?")  ||
                $url.startsWith("http://youtu.be/") || $url.startsWith("https://youtu.be/") ||
                $url.startsWith("http://vimeo.com/") || $url.startsWith("https://vimeo.com/") ||
                $url.startsWith("http://dev.current.curriki.org/xwiki/bin/view/Coll_") ||
                $url.startsWith("http://www.curriki.org/xwiki/bin/view/Coll_") ||
                $url.startsWith("http://node1.hoplahup.net/xwiki/bin/view/Coll_")
        )##
            #video($url)
        #end
        <p>&nbsp;</p>
        <p>$!caption</p>
    </div>
</div>
<div class="asset-display-download">
    <div class="asset-display-download-inner">
        <p>
            <strong>$msg.get("rve.content.view.link.instruction_title")</strong>
            <img class="tooltip" width="16" height="16" border="0" alt="" src="$xwiki.getSkinFile("images/px.gif")" ext:qtip="$msg.get("rve.content.view.link.instruction_tooltip")"/>
        </p>
        <p class="text-link">
            #if(!$linktext||$linktext=="")
                #set($linktext = $url)
            #end
            <a href="$url" onclick="Curriki.logView('/Download/link/$url');" target="_blank" >#breakLinkText($linktext, 90)</a>
        </p>
        <button class="button-link button-link-download" onclick="Curriki.logView('/Download/link/$url'); window.open('${url}');" title="$msg.get("rve.content.view.go_button")">$msg.get("rve.content.view.go_button")</button>
    </div>
</div>
#asset_displaycontentfooter()
