#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="response" type="javax.servlet.http.HttpServletResponse" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset" *# ##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#asset_displaycontentheader("text-align:center;")
$xwiki.jsfx.use("js/jsxgraph/jsxgraphcore.js")
$xwiki.ssfx.use("js/jsxgraph/jsxgraph.css")
<div class="asset-display-media">
    <div class="asset-display-media-inner" style="width:80%; margin: 0 auto;">
        #set($id=$doc.fullName.replace('\.','_'));
        #set($caption = "")
        #set($caption = $!asset.caption_text)
        #if("$!caption" == "")
            #set($caption = $!asset.display("description"))
        #end
        <p>
            $caption
        </p>
        <div style="height:320px; width:480px; margin: 0 auto; display: inline-block; " class="jxgbox"
             id="jessie_div_${id}">
            Jessie code is coming up here.
        </div>
        <script type="text/javascript">
            if(console) console.log("Will do: window.board = JXG.JSXGraph.initBoard('jessie_div_${doc.fullName}', {boundingbox: [-10, 10, 10, -10], axis:true}); ");
        </script>
        ## load the jessie file appropriately
        ## <script type="text/javascript" src=""></script>
    </div>
</div>
