#**
  * Asset Text Displayer in View mode
  *
  *#
#asset_displaycontentheader("")
#set($objTxt = $asset.getObject("CurrikiCode.TextAssetClass"))
#if($asset.getObject("CurrikiCode.TextAssetClass"))
 #if(($objTxt.syntax == "xwiki/1.0") || ($objTxt.syntax == "xwiki/2.0"))
$asset.getRenderedContent()
 #else
$asset.content
 #end
#else
$asset.content
#end
#asset_displaycontentfooter()

