#asset_displaycontentheader("")
<div class="asset-display-edit">
    <div class="asset-display-edit-inner">
        <form action="" onsubmit="alert('not implemented yet'); return false;" method="post" content-type="multipart/form-data">
            #set($xredirect = $xwiki.getFormEncoded($asset.getURL('view', $!request.queryString)))
            <input  type="hidden" name="viewer" value="edit" />
            <input  type="hidden" name="xredirect" value="$xredirect" />
            <fieldset>
                <ul>
                    #asset_edit_field($asset "CurrikiCode.AssetClass" "content" "content" "textarea" $xwiki.getTextArea($asset.content))
                    #asset_edit_field($asset "" "comment" "revision" "text" "<input id='comment' name='comment' />")
                </ul>
            </fieldset>
            <hr>
            <fieldset class="buttons">
                <input class="button-cancel" type="submit" name="cancel" value="$msg.get("rve.content.edit.cancel_button")">
                <input class="button-save" type="submit" name="save" value="$msg.get("rve.content.edit.save_button")">
            </fieldset>
        </form>
    </div>
</div>
#asset_displaycontentfooter()
<script language="javascript" type="text/javascript">
    if ( browser.isIE || browser.isMozilla || browser.isGecko) {
        wikiEditor.init({
            language: "en",
            elements : "content",
            mode: "exact",
            content_css: "$xwiki.getSkinFile("style.css", true)",
            debug : false,
            remove_linebreaks : false,
            plugins: 'table, contextmenu, paste, searchreplace',
            wiki_images_path : '${request.contextPath}/bin/download/$asset.web/$asset.name/',
            wiki_attach_path : '${request.contextPath}/bin/view/$asset.web/$asset.name',
            wiki_macro_path : '${request.contextPath}/bin/view/$asset.web/$asset.name',
            wiki_plugins: 'core,attachments'
        });
    } else {
        alert("$msg.get('browsernoncompatible')");
    }
</script>
