#asset_displaycontentheader("")
<div class="asset-display-edit">
    <div class="asset-display-edit-inner">
        <form action="" onsubmit="alert('not implemented yet'); return false;" method="post" content-type="multipart/form-data">
            #set($xredirect = $xwiki.getFormEncoded($asset.getURL('view', $!request.queryString)))
            <input  type="hidden" name="viewer" value="edit" />
            <input  type="hidden" name="xredirect" value="$xredirect" />
            <fieldset>
                <ul>
                    #asset_edit_field($asset "" "comment" "revision" "text" "<input id='comment' name='comment' />")
                </ul>
            </fieldset>
            <hr>
            <fieldset class="buttons">
                <input class="button-cancel" type="submit" name="cancel" value="$msg.get("rve.content.edit.cancel_button")">
                <input class="button-save" type="submit" name="save" value="$msg.get("rve.content.edit.save_button")">
            </fieldset>
        </form>
    </div>
</div>
#asset_displaycontentfooter()
