#asset_displaycontentfooter("text-align:center;")
#set($objVT = $asset.getObject("CurrikiCode.VideoAssetClass"))
#set($video_id = $objVT.id)
#if($viditalk_counter)
#set($viditalk_counter = $viditalk_counter + 1)
#else
#set($viditalk_counter = 1)
#end
#set($vidDiv = "div_vidiplayback_${viditalk_counter}")
## Set $video_id if not already set
#if(!$video_id)
#if(!$request.vid)
## Just a test code for now
#set($video_id = "FbLBbkGm5dORWYOQ")
#else
#set($video_id = $request.vid)
#end
#end
<div class="asset-display-media">
    <div class="asset-display-media-inner">
        <p>$!asset.description</p>
        <div style="height:280px; width:320px; margin: 0 auto;" id="$vidDiv">
            Viditalk Playback Window - Loading components from VIDITalk
        </div>
        <script language="javascript" type="text/javascript">
            // embedVidiPlayback(div_id, sc, mediaId, autoplay, width, height, stretchPlayer, skinLoc, shareUrl, allowFullScreen)
            embedVidiPlayback("$vidDiv", "$msg.get('viditalk.sitecode')", "$video_id", null, null, null, null, null, null, true);
        </script>
    </div>
</div>
<div class="asset-display-download">
    <div class="asset-display-download-inner">
        #set($viditalkURL = "http://flashmedia.viditalk.com/10/active/${video_id}.mpg")
        ##set($orig_video = $xwiki.getURLContent("http://components.viditalk.com/dl.asp?id=$video_id"))
        <button class="icon-link" href="$viditalkURL">$msg.get("rve.content.view.download.download_button")</button>
        <button class="button-link button-link-download" title="$msg.get("rve.content.view.download.download_button")" onclick="Curriki.logView('/Download/viditalk/${asset.space}/${asset.name}/${video_id}'); window.open('${viditalkURL}');return false;" href="${viditalkURL}">$msg.get("rve.content.view.download.download_button")</button>
    </div>
</div>
#asset_displaycontentfooter()
