#asset_displaycontentheader("")
#set($objVT = $asset.getObject("CurrikiCode.VideoAssetClass"))
#set($video_id = $objVT.id)
<div class="asset-display-edit">
    <div class="asset-display-edit-inner">
	<form id='video-upload' name='upload'>
            <fieldset>
                <ul>
			<li class="input-text">
				<span><label for="replace-video-file">$msg.get('rve.content.edit.replace_video.instruction_title')</label><img width="16" height="16" border="0" alt="" src="$xwiki.getSkinFile("images/px.gif")" class="tooltip" ext:qtip="$msg.get('rve.content.edit.replace_video.instruction_tooltip')"/></span>
<div>
				<input id='replace-video-file' type='file' name='upload[file]' />
</div>
			</li>
                </ul>
            </fieldset>
	</form>
        <form id='viditalk-save' name="viditalk" action="$xwiki.getURL("CurrikiCode.AssetSaveService", "view")" onsubmit="return beforeAssetSubmit(this);" method="post" >
		#set($xredirect = $xwiki.getFormEncoded($asset.getURL('view', $!request.queryString.replaceAll("viewer=assetedit", ""))))
		<input type="hidden" name="page" value="$asset.fullName" />
		<input type="hidden" name="xredirect" value="$xredirect" />
		<input type='hidden' id='videoId' name='CurrikiCode.VideoAssetClass_0_id' value='$video_id' />
            <fieldset>
                <ul>
<li class="input-text">
    <span>
        <label for="revision">$msg.get("rve.content.edit.revision.instruction_title")</label><img width="16" height="16" border="0" alt="" src="$xwiki.getSkinFile("images/px.gif")" class="tooltip" ext:qtip="$msg.get("rve.content.edit.revision.instruction_tooltip")"/></span>
    <div  id="revision">
        #set($revnote = $xwiki.curriki.escapeForJS($msg.get("rve.content.edit.revision.entry_sample")))
        <input id="comment" name="comment" value="$xwiki.getFormEncoded($revnote)" onfocus="if (this.value=='$revnote') { this.value ='' };" />
    </div>
</li>
<script type="text/javascript">
    function beforeAssetSubmit(form) {
	var videoIdInput = new Ext.form.Field(Ext.get('comment'));
	if (videoIdInput.getValue() == '$revnote') {
		videoIdInput.setValue('');
	}
	return true;
    }
</script>
                </ul>
            </fieldset>
            <hr>
##            #asset_edit_buttons($asset false)
        </form>
<fieldset class="buttons">
    <input  type="hidden" name="xredirect" value="$xredirect" />
#set($cancelurl = $xwiki.curriki.escapeForJS($asset.getURL('cancel')))
    <button class="button cancel" onclick="clickAwayByPass=true; location='${cancelurl}'; return false;">$msg.get("rve.content.edit.cancel_button")</button>
    <button class="button button-save" id="viditalk-save-button">$msg.get("rve.content.edit.save_button")</button>
</fieldset>
<script type="text/javascript">
// adjust input.button-save to do upload first
uploadedCallback = function(success){
	var videoIdInput = new Ext.form.Field(Ext.get('videoId'));
	videoIdInput.setValue(success.id);
	beforeAssetSubmit(Ext.get('viditalk-save'));
	clickAwayByPass=true;
	Ext.get('viditalk-save').dom.submit();
};

Ext.onReady(function(){
	Ext.get('viditalk-save-button').on('click', function(ev, t, o) {
		// do upload
		ev.preventDefault();
		ev.stopPropagation();
		ev.stopEvent();

		var exts = "asf|avi|wma|wmv|flv|mov|movie|qt|mp4|mpg|mpeg";
		var re = new RegExp("^.+\\.("+exts+")$", 'i');
		var pName = Ext.get('replace-video-file').dom.value;
		if (pName) {
			if (! re.test(pName)) {
				if (!confirm(_('add.video.uploading.unknown.file.txt'))) {
					return false;
				}
			}
			Curriki.module.addpath.init();
			Curriki.module.addpath.PostVideo(Ext.emptyFn, 'video-upload', uploadedCallback);
		} else {
			clickAwayByPass=true;
			Ext.get('viditalk-save').dom.submit();
		}
		return false;
	});
});
</script>
        ## this allows to check for changes
        #curriki_clickawayjs("viditalk" $xwiki.curriki.escapeForJS($msg.get("rve.content.edit.warning.message_text")))
    </div>
</div>
#asset_displaycontentfooter()
