/* Add Path */
.x-panel, .x-window { text-align: left; }
.x-panel-ghost ul, .x-panel-ghost .x-window-tl { border: none; }
.x-panel-noborder .x-panel-bbar-noborder .x-toolbar { border: none;  }
.x-window, .x-panel-ghost, .ext-el-mask-msg { background-color: #fff; border: 1px solid #dcdcdc; font-size: 13px; padding: 0; }
.x-window div, .x-panel-ghost * { background-color: transparent; background-image: none; }
.x-window .x-window-tl, .x-panel-ghost .x-window-tl { background-color: #93c53c; padding: 0em 0.5em; text-transform: uppercase; }

.x-window-tl .x-window-header { color: #fff; font: 12px arial;  font-weight: bold; padding: 3px 0; }
.x-window .x-panel-body { padding: 6px 6px 0; }
#MetadataDialogueForm .x-panel-body { padding-left: 0; }
.x-window #resource-drop .x-panel-body { padding-top: 0; }
 
.x-toolbar .x-btn-over .x-btn-right, .x-toolbar .x-btn-over .x-btn-left { background-image: none; } 
.x-window-mc, .x-form-item { font: 13px Arial,sans-serif; }  
.x-window .guidingquestion { font-size: 1.2em; font-weight: bold; padding: 0.5em 0; }
.x-window .subtitle { font-size: 1em; font-weight: bold; padding: 0.5em 0; }
input.x-form-radio { margin-bottom: -2px }
.x-tree .x-panel-body, #ext-comp-1022 div, #ext-comp-1022 ul, ul.x-tree-root-ct, ul.x-tree-root-ct ul { padding-left: 0; }
.ext-el-mask-msg * { border: none !important; background-image: none; font: 13px Arial; }
.x-window .listheader {font-weight: bold;}

.ext-gecko .x-btn button { 
	padding-left:10px;
	padding-right:10px;
}

##.x-panel-body .x-tree-elbow-end-plus { background:transparent url(/xwiki/yui/treeview/assets/lp.gif) no-repeat; }
##.x-panel-body .x-tree-elbow-end-plus:hover { background:transparent url(/xwiki/yui/treeview/assets/lph.gif) no-repeat; }
##.x-panel-body .x-tree-elbow-plus { background:transparent url(/xwiki/yui/treeview/assets/tp.gif) no-repeat; }
##.x-panel-body .x-tree-elbow-plus:hover { background:transparent url(/xwiki/yui/treeview/assets/tph.gif) no-repeat; }
##.x-tree-arrows .x-tree-elbow-minus { background:transparent url(/xwiki/yui/treeview/assets/tm.gif) no-repeat; } 
##.x-tree-arrows .x-tree-elbow-minus:hover { background:transparent url(/xwiki/yui/treeview/assets/tmh.gif) no-repeat; } 
##.x-panel-body .x-tree-elbow-end-minus { background:transparent url(/xwiki/yui/treeview/assets/lm.gif) no-repeat; }
##.x-panel-body .x-tree-elbow-end-minus:hover { background:transparent url(/xwiki/yui/treeview/assets/lmh.gif) no-repeat; }
##.x-panel-body .x-tree-elbow { background:transparent url(/xwiki/yui/treeview/assets/tn.gif) no-repeat; }
##.x-panel-body .x-tree-elbow-end { background:transparent url(/xwiki/yui/treeview/assets/ln.gif) no-repeat; }
##.x-panel-body .x-tree-elbow-line { background: transparent url(/xwiki/yui/treeview/assets/vline.gif) no-repeat; }

.ctv-groups a, .ctv-top a { font: 12px Arial; font-weight: bold; text-transform: uppercase; }
.x-tree-node-anchor { font: 12px Arial; } 
#resource-pickup { background: transparent url($xwiki.getSkinFile("images/ctv/drag_area.jpg")) no-repeat; height: 85px; margin-top: 1em; padding: 0.7em; width: 360px; }
#resource-pickup * { background-color: transparent; }
#resource-pickup .x-panel-body { padding-top: 0.1em; }
#resource-pickup .x-tree-node-el { border: 1px dashed #93c53c; }
#resource-pickup .x-tree-ec-icon { background-image: none; width: 5px; }

.x-tree-node .x-tree-selected, .x-dd-drag-proxy, .x-tree-node .x-tree-drag-append a span, .addpath-ctv .ctv-target .x-tree-node-anchor { background-color: #93c53c; border: none; }
.x-tree-node .x-tree-selected a span { color: #fff; }
.x-tree-node .x-tree-node-over { background-color: transparent; }
.x-panel-bwrap, .x-panel-bwrap .x-panel-body, .x-column-inner .x-panel { overflow: visible; height: auto; }
#resource-drop-box .x-panel-body { padding: 0; }
.x-tree-node a span { overflow: hidden; }
form#MetadataDialogueForm { height: 420px !important; overflow-y: auto; overflow-x: hidden; }

#MetadataDialoguePanel table#cancelbutton, #MetadataDialoguePanel table#nextbutton {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

#MetadataDialogueForm img.x-tree-node-icon { display: none; }
.x-tree-node .x-tree-selected { background-color: #fff; }
.x-tree-node .x-tree-selected a span { color: #000; }
ul.x-tree-root-ct, #educational_level2-set .x-form-item { margin: 0; }
.x-combo-list { border-color:#b2b2b2 #e5e5e5 #e5e5e5 #b2b2b2; text-align: left; }
.x-combo-list-item { text-align: left; }
.x-panel-body #metadata-language-entry, .x-panel-body #metadata-license_type-entry { width: 98% !important; }
#MetadataDialoguePanel #fw_items-tree {overflow: hidden;}
.ux-mselect-item { font: 12px Arial; padding: 0 2px; }
.x-panel .instruction { font-size: 13px; }
.directions { font-size: 10px; padding-bottom: 5px; }
#fw_items-tree .x-panel-body { padding-top: 0; }
#educational_level2-set { padding: 0; }
.information-header { font-weight: bold; margin-top: 15px; }
.information-header img { margin: 0 0 -4px 3px; }
#ext-comp-1022  .x-panel-body { padding: 0; }
.x-dd-drag-ghost { padding-left: 5px; text-align: left; width: 300px; }
.x-dd-drop-icon { background-image: none; width: 0; }
.x-shadow * { background-image: none; visibility: hidden; }
.x-dd-drag-proxy { opacity: 0.80;}
.x-dd-drag-proxy * { background-color: transparent; }
  
.ict-icon-combo-item {
	background-repeat: no-repeat ! important;
	background-position: 3px 50% ! important;
}

.crs-icon { width:15px; height:15px; background-repeat:no-repeat; }
.ctv-groups .x-tree-node-icon, .ctv-top .x-tree-node-icon { display: none; } 
.x-tree-node div.x-tree-drag-insert-above  { border-top: 1px dashed #93c53c; }
.x-tree-node div.x-tree-drag-insert-below  { border-bottom: 1px dashed #93c53c; }
.done-message { font: 13px Arial; padding: 1em 0; }
.x-window-bbar .x-toolbar { border: none; }
.x-toolbar .ytb-sep { background-image: none; border-left: 1px solid #999; }
#header-search button:hover {text-decoration: underline !important;}
.x-toolbar .x-btn-over td.x-btn-center { background-image: none !important; text-decoration: none; }
.x-window .ux-mselect-selected, .x-combo-list .x-combo-list-inner .x-combo-selected { background-color: #3399ff; color: #fff; }
.required-indicator {
	color: #fb0f0c;
	font-size: 15px;
	font-style:normal;
	font-weight:bold;
	margin-right: 3px;
}
.x-toolbar .ytb-sep { margin: 0; padding: 0; width: 1px; }
.x-fieldset legend { display: none; }
#link-entry-box { width: 80%; }
.ext-gecko .x-window-body .x-form-item { overflow: hidden; }

/* Add Path - CURRIKI-2431 */
.x-window div.description { display:block; padding:5px 0; }
.x-btn-left { background-image: none; }

/** EXTJS INVALID **/

.metadata-title-field-invalid {color: #fb0f0c; text-transform: uppercase;}
.x-form-invalid, textarea.x-form-invalid {background: none;}
.x-form-invalid, textarea.x-form-invalid {border: 0;}

.ext-safari .x-form-invalid {
	background: none;
	border: 0;
}
