/** EMBED STYLES **/

body#body {
	text-align: left;
	padding: 0;
	margin: 0;
}

#asset-wrapper {
	border: 10px solid #5051A3; 
	padding: 0;
	width: 580px;
}

#asset-wrapper-inner {
	padding-top: 10px;
	text-align: left;
}

.sub-asset-wrapper {
	clear: left;
}

#asset-header, ul#asset-attribution {
	margin-left: 10px;
}

ul#asset-attribution {
	display: inline;
}

a#powered-by-curriki {
	background: url(images/curriki-logo-embed.gif) top left no-repeat;
	display: inline;
	float: right;
	margin-right: 10px;
	height: 50px;
	text-indent: -9999px;
	width: 165px;
}

p#content-licensed {
	text-align: center;
}

ul#asset-attribution {
	width: 300px;
}