td.table-col-filetype img, .asset-display-download a.icon-link, #groups-documentation-main .document-icon img {
  background-image: url(images/sprite_filetype.gif);
  background-repeat: no-repeat;
}

td.table-col-filetype img, td.table-col-ict img, #mycurriki-collections .frame-inset-ict img, #groups-documentation-main .document-icon img {
  height: 40px;
  width: 32px;
}
td.table-col-filetype img.resource-CollectionComposite, li.resource-CollectionComposite, li.resource-FolderComposite, td.table-col-filetype img.resource-FolderComposite, #resource-toc .x-tree-node-icon, #organize-panel .x-tree-node-icon, #search-panel-resource .x-tree-node-icon, #ChooseLocationDialoguePanel .x-tree-node-icon, #resource-pickup .x-tree-node-icon, #ReorderDialoguePanel .x-tree-node-icon, .category-icon-combo-item img.category-icon, #x-form-el-combo-category-resource div.category-icon-combo-icon {
  background-image: url(images/sprite_mediatype.gif);
  background-repeat: no-repeat;
}

.table-col-filetype img.resource-FolderComposite {background-position: 0 -90px;}
img.subcategory-document_prproj, .filetype-prproj .asset-display-download a.icon-link {width: 36px;}
td.table-col-filetype img.subcategory-document_prproj, .filetype-prproj .asset-display-download a.icon-link {width: 36px;}
td.table-col-filetype img.subcategory-document_notebook, .filetype-notebook .asset-display-download a.icon-link {width: 54px;}
.filetype-unknown a.icon-link {background-position: 0 -4770px;}
img.subcategory-audio_wma, .filetype-wma a.icon-link  {background-position: 0 -6480px;}
img.subcategory-video_flv, .filetype-flv a.icon-link  {background-position: 0 -6390px;}
img.subcategory-video_mp4, .filetype-mp4 a.icon-link  {background-position: 0 -6300px;}
img.subcategory-interactive_fla, .filetype-fla a.icon-link  {background-position: 0 -6210px;}
img.subcategory-image_eps, img.subcategory-document_eps,.filetype-eps a.icon-link  {background-position: 0 -6120px;}
img.subcategory-document_csv, .filetype-csv a.icon-link  {background-position: 0 -6030px;}
img.subcategory-document_epub, .filetype-epub a.icon-link  {background-position: 0 -5940px;}
img.subcategory-document_js, .filetype-js a.icon-link  {background-position: 0 -5850px;}
img.subcategory-document_pptm, .filetype-pptm a.icon-link  {background-position: 0 -5760px;}
img.subcategory-document_prproj, .filetype-prproj a.icon-link  {background-position: 0 -5670px;}
img.subcategory-document_gsp, .filetype-gsp a.icon-link  {background-position: 0 -5580px;}
img.subcategory-document_pub, .filetype-pub a.icon-link  {background-position: 0 -5490px;}
img.subcategory-document_pps, .filetype-pps a.icon-link  {background-position: 0 -5400px;}
img.subcategory-archive_rar, .filetype-rar a.icon-link  {background-position: 0 -5310px;}
img.subcategory-document_html, .filetype-html a.icon-link  {background-position: 0 -5220px;}
img.subcategory-document_xml, .filetype-xml a.icon-link {background-position: 0 -5130px;}
img.subcategory-document_xlsx, .filetype-xlsx a.icon-link {background-position: 0 -5040px;}
img.subcategory-document_xls, .filetype-xls a.icon-link {background-position: 0 -4950px;}
img.subcategory-text_xwiki, .filetype-wiki a.icon-link {background-position: 0 -4860px;}
img.subcategory-document_txt, .filetype-txt a.icon-link {background-position: 0 -4680px;}
img.subcategory-document_rtf, .filetype-rtf a.icon-link {background-position: 0 -4590px;}
img.subcategory-document_ps, .filetype-ps a.icon-link {background-position: 0 -4500px;}
img.subcategory-document_pptx, .filetype-pptx a.icon-link {background-position: 0 -4410px;}
img.subcategory-document_ppt, .filetype-ppt a.icon-link {background-position: 0 -4320px;}
img.subcategory-document_php, .filetype-php a.icon-link {background-position: 0 -4230px;}
img.subcategory-document_pdf, .filetype-pdf a.icon-link {background-position: 0 -4140px;}
img.subcategory-document_odt, .filetype-odt a.icon-link {background-position: 0 -4050px;}
img.subcategory-document_ods, .filetype-ods a.icon-link {background-position: 0 -3960px;}
img.subcategory-document_odp, .filetype-odp a.icon-link {background-position: 0 -3870px;}
img.subcategory-document_odi, .filetype-odi a.icon-link {background-position: 0 -3780px;}
img.subcategory-document_odg, .filetype-odg a.icon-link {background-position: 0 -3690px;}
img.subcategory-document_odf, .filetype-odf a.icon-link {background-position: 0 -3600px;}
img.subcategory-document_odc, .filetype-odc a.icon-link {background-position: 0 -3510px;}
img.subcategory-document_odb, .filetype-odb a.icon-link {background-position: 0 -3420px;}
img.subcategory-document_notebook, .filetype-notebook a.icon-link {background-position: 0 -3330px;}
img.subcategory-archive_jar, .filetype-jar a.icon-link {background-position: 0 -3240px;}
img.subcategory-document_izh, .filetype-izh a.icon-link {background-position: 0 -3150px;}
img.subcategory-document_iha, .filetype-iha a.icon-link {background-position: 0 -3060px;}
img.subcategory-document_html, .filetype-html a.icon-link {background-position: 0 -2970px;}
img.subcategory-document_htm, img.subcategory-text_xhtml, .filetype-htm a.icon-link {background-position: 0 -2880px;}
img.subcategory-document_exe, .filetype-exe a.icon-link {background-position: 0 -2790px;}
img.subcategory-document_docx, .filetype-docx a.icon-link {background-position: 0 -2700px;}
img.subcategory-document_doc, .filetype-doc a.icon-link {background-position: 0 -2610px;}
img.subcategory-document_dir, .filetype-dir a.icon-link {background-position: 0 -2520px;}
img.subcategory-document_css, .filetype-css a.icon-link {background-position: 0 -2430px;}
img.subcategory-document_class, .filetype-class a.icon-link {background-position: 0 -2340px;}
img.subcategory-document_dcr, .filetype-dcr a.icon-link {background-position: 0 -2250px;}
img.subcategory-document_bin, .filetype-bin a.icon-link {background-position: 0 -2160px;}
img.subcategory-image_tif, .filetype-tif a.icon-link {background-position: 0 -2070px;}
img.subcategory-image_svg, .filetype-svg a.icon-link {background-position: 0 -1980px;}
img.subcategory-image_psd, .filetype-psd a.icon-link {background-position: 0 -1890px;}
img.subcategory-image_png, .filetype-png a.icon-link {background-position: 0 -1800px;}
img.subcategory-image_jpg, .filetype-jpg a.icon-link {background-position: 0 -1710px;}
img.subcategory-image_gif, .filetype-gif a.icon-link {background-position: 0 -1620px;}
img.subcategory-image_bmp, .filetype-bmp a.icon-link {background-position: 0 -1530px;}
img.subcategory-video_wmv, .filetype-wmv a.icon-link {background-position: 0 -1440px;}
img.subcategory-video_qt, .filetype-qt a.icon-link {background-position: 0 -1350px;}
img.subcategory-video_mpg, img.subcategory-video_viditalk, img.subcategory-video_vidi, .filetype-mpg a.icon-link, .filetype-vidi a.icon-link {background-position: 0 -1260px;}
img.subcategory-video_mov, .filetype-mov a.icon-link {background-position: 0 -1170px;}
img.subcategory-video_avi, .filetype-avi a.icon-link {background-position: 0 -1080px;}
img.subcategory-video_asf, .filetype-asf a.icon-link {background-position: 0 -990px;}
img.subcategory-archive_zip, .filetype-zip a.icon-link {background-position: 0 -900px;}
img.subcategory-archive_xo, .filetype-xo a.icon-link {background-position: 0 -810px;}
img.subcategory-archive_tar, .filetype-tar a.icon-link {background-position: 0 -720px;}
img.subcategory-archive_sit, .filetype-sit a.icon-link {background-position: 0 -630px;}
img.subcategory-archive_sco, .filetype-sco a.icon-link {background-position: 0 -540px;}
img.subcategory-archive_gz, .filetype-gz a.icon-link {background-position: 0 -450px;}
img.subcategory-archive_gtar, .filetype-gtar a.icon-link {background-position: 0 -360px;}
img.subcategory-interactive_swf, .filetype-swf a.icon-link  {background-position: 0 -270px;}
img.subcategory-audio_wav, .filetype-wav a.icon-link {background-position: 0 -180px;}
img.subcategory-audio_mp3, .filetype-mp3 a.icon-link {background-position: 0 -90px;}
img.subcategory-external_url, .filetype-www a.icon-link {background-position: 0 0;}
img.subcategory-unknown_unknown {background-position: 0 -4770px;}

