/** ICONOGRAPHY **/

li#info-basic-ict li, li.crs-rating-crs3, li.crs-rating-crs2, li.crs-rating-crs1, li.crs-rating-crsp, #asset-rating a.icon-link, li.crs-rating-crs3-star, li.crs-rating-crs2-star, li.crs-rating-crs1-star, li.crs-rating-crsp-star, ul.asset-info-ict li, td.table-col-ict img, #mycurriki-collections .frame-inset-ict img, img.ict-icon {
        background-image: url(images/sprite_crs_ict_group.gif);
        background-repeat: no-repeat;
}

.assettype-icon { width: 17px; height: 17px; background-repeat:no-repeat; }
.assettype-icon + .asset-title { padding-left: 5px; }
ul.crs-rating li.crs-rating-crs3, ul.crs-rating li.crs-rating-crs2, ul.crs-rating li.crs-rating-crs1, ul.crs-rating li.crs-rating-crs3-star, ul.crs-rating li.crs-rating-crs2-star, ul.crs-rating li.crs-rating-crs1-star, ul.crs-rating li.crs-rating-crs1-star, ul.crs-rating li.crs-rating-crsp-star {padding: 0 0 10px 45px;}

li#info-basic-ict li, ul.asset-info-ict li {
        margin: 0;
        padding: 10px 0 10px 40px;
}

li#info-basic-ict li.ict-activity, .popup-info-rollover li.ict-activity, img.ict-activity {background-position: 0 -3330px;}
li#info-basic-ict li.ict-resource, .popup-info-rollover li.ict-resource, img.ict-resource {background-position: 0 -2880px;}
li#info-basic-ict li.ict-book, .popup-info-rollover li.ict-book, img.ict-book {background-position: 0 -2970px;}
li#info-basic-ict li.ict-curriculum, .popup-info-rollover li.ict-curriculum, img.ict-curriculum {background-position: 0 -3060px;}
li#info-basic-ict li.ict-other, .popup-info-rollover li.ict-other, img.ict-other {background-position: 0 -3150px;}
li#info-basic-ict li.ict-multiple, .popup-info-rollover li.ict-multiple, img.ict-multiple {background-position: 0 -3240px;}

.x-grid3-col-ict img.ict-icon, .ict-icon-combo-item img.ict-icon, #resource-toc img.ict-icon {
        background-position: 100px 100px !important;
        height: 20px !important;
        margin-right: 5px !important;
        width: 20px !important;
}

.ict-resource img.ict-icon, #resource-toc .ict-resource img.ict-icon {background-position:0 -3960px !important;}
.ict-book img.ict-icon, #resource-toc .ict-book img.ict-icon {background-position:0 -4050px !important;}
.ict-curriculum img.ict-icon, #resource-toc .ict-curriculum img.ict-icon {background-position:0 -4140px !important;}
.ict-other img.ict-icon, #resource-toc .ict-other img.ict-icon {background-position:0 -4230px !important;}
.ict-multiple img.ict-icon, #resource-toc .ict-multiple img.ict-icon {background-position:0 -4320px !important;}
.ict-activity img.ict-icon, #resource-toc .ict-activity img.ict-icon {background-position:0 -4410px !important;}
.popup-info-rollover li.ict-null, img.ict-null, #mycurriki-collections .frame-inset-ict img.ict-null, td.table-col-ict img.ict-null {background: none;}

li.crs-icon {
        margin: 0;
        padding: 5px 0 5px 40px;
}

li.crs-rating-crs3, #asset-rating a.crs-rating-crs3 {background-position: 0 -180px;}
li.crs-rating-crs2, #asset-rating a.crs-rating-crs2 {background-position: 0 -90px;}
li.crs-rating-crs1, #asset-rating a.crs-rating-crs1 {background-position: 0 0px;}
li.crs-rating-crsp, #asset-rating a.crs-rating-crsp {background-position: 0 -270px;}
li.crs-rating-crs3-star, #asset-rating a.crs-rating-crs3-star {background-position: 0 -900px;}
li.crs-rating-crs2-star, #asset-rating a.crs-rating-crs2-star {background-position: 0 -810px;}
li.crs-rating-crs1-star, #asset-rating a.crs-rating-crs1-star {background-position: 0 -720px;}
li.crs-rating-crsp-star, #asset-rating a.crs-rating-crsp-star {background-position: 0 -990px;}
#asset-rating a.crs-rating-unrated {background-position: 0 -5940px;}

.crs-icon { width:15px; height:15px; background-repeat:no-repeat; }
.crs_reviewimage a:hover { text-decoration: none; }

.crs-icon { width:15px; height:15px; background-repeat:no-repeat; }
.crs-icon + .crs-text { padding-left: 5px; }

.crs-100 img.crs-icon, #search-panel-resource .crs-100 img.crs-icon {background: none;}
.crs-200 img.crs-icon, #search-panel-resource .crs-200 img.crs-icon {background-position: 0 -1710px;}
.crs-400 img.crs-icon, #search-panel-resource .crs-400 img.crs-icon {background-position: 0 -1440px;}
.crs-300 img.crs-icon, #search-panel-resource .crs-300 img.crs-icon {background-position: 0 -2160px;}
.crs-600 img.crs-icon, #search-panel-resource .crs-600 img.crs-icon {background-position: 0 -1530px;}
.crs-500 img.crs-icon, #search-panel-resource .crs-500 img.crs-icon {background-position: 0 -2250px;}
.crs-800 img.crs-icon, #search-panel-resource .crs-800 img.crs-icon {background-position: 0 -1620px;}
.crs-700 img.crs-icon, #search-panel-resource .crs-700 img.crs-icon {background-position: 0 -2340px;}

