
body#body {
	margin-top: 25px;
}

#header div {
	height: auto;
	padding: 0;
}

#header {
	height: 90px;	
	padding: 0;
}

#breadcrumb {
	display: none;
}

#asset-attribution, #asset-rating, ul#asset-tabs, ul#asset-links, ul#function-tabs, #left-panel, .expanded #left-panel, .rve-rating-wrapper #member-rating {
	display: none;
}

#asset-wrapper-inner {
	padding-top: 10px;
}

.expanded #right-panel, #right-panel {
	margin: 0;
	padding-left: 0;
	width: 100% !important;
}

#header #print-meta h4 {
	font-size: 17px;
	line-height: 1em;
}

#header #print-meta {
	color: #669;
	width: 75%;
}

#header #print-meta p {
	margin: 5px 0;
	padding: 0;
	line-height: 1em;
}

#header #print-meta-inner, #header #print-close-inner {
	height: auto;
	width: auto;
}

#header #print-meta-inner {
	padding: 15px 0 7px 35px;
}

#header #print-close-inner {
	padding: 45px 0 0 15px;
}

#header #print-banner-wrapper {
	background: #E3E4F6;
	float: right;
	height: 90px;
	width: 70%;
}

#header #print-close {
	float: right;
	width: 25%;
}

#header #header-logo {
	width: 230px !important;	
}

#footerglobal {
	background: none;
}

.footer-right, .footer-left {
	display:none;
}


/** CLEAR FIX PANELS **/

div#panels:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#panels {display: inline-block;}  /* for IE/Mac */

div#panels {
    zoom: 1;     /* triggers hasLayout */
    display: block;     /* resets display for IE/Win */
}