URRICULUM SEARCH */
#groups-curriculum #searchElement table table.search-selector-bottom { width: 593px; }
#groups-curriculum #searchElement .gwt-ListBox { font-size: 11px; }
#searchElement { position: relative; }

#searchElement table table.search-selector-bottom {
        position: absolute;
        left: 0px;
        margin: 0;
        width: 615px;
}

#curriki-search-field-container {
        background-color:#FB2F00;
        border-color:#FFBF00 #FF7F00 #FF7F00 #FFBF00;
        border-style:solid;
        border-width:1px;
        padding: 1px;
}

#curriki-search-field {
        background-color:#FF7F00;
        border-color:#FF7F00 #FFBF00 #FFBF00 #FF7F00;
        border-style:solid;
        border-width:1px;
        margin:0;
}

.search-top-titlebar .gwt-HTML { padding-left: 10px; }
.search-selector table td { padding-left: 10px; }
.search-selector table td td { padding-left: 0; }
#searchElement table table.search-selector-bottom { width: 620px; }
#searchElement .gwt-ListBox { margin-bottom: 20px; }
.search-selector-main { margin: 10px 0 5px; }

#search-div {margin-top:10px;}
.x-panel-body {background:transparent;}
.x-form-element {padding-left:25px;}
#searchResultsGrid .x-grid3-cell-inner {white-space: normal;}
.x-fieldset legend { display: block; }

/*** SEARCH ***/
#search-div {margin-top:10px;}
.search-box button#searchbtn:hover {text-decoration: underline !important;}
.x-panel-body {background:transparent;}
.x-form-element {padding-left:25px;}
#searchResultsGrid .x-grid3-cell-inner {white-space: normal;}
.x-fieldset legend { display: block; }
#content ul.x-tab-strip>li { list-style-type: none; margin-left:0; padding-left:0; }

.ict-icon-combo-icon {
        background-repeat: no-repeat;
        background-position: 0 50%;
        width: 16px;
        height: 16px;
}

input[type="text"] .ict-icon-combo-input {padding-left: 21px;}

.x-form-field-wrap .ict-icon-combo-icon {
        top: 3px;
        left: 5px;
}

.ict-icon-combo-item {
        background-repeat: no-repeat ! important;
        background-position: 3px 50% ! important;
}

.crs-icon { width:15px; height:15px; background-repeat:no-repeat; }
.crs-icon + .crs-text { padding-left: 5px; }

/*** SEARCH OVERRIDES ***/

.x-btn-center, .x-btn-left, .x-btn-right {background-image:none;}
#search-filterPanel-resource, #search-filterPanel-group, #search-filterPanel-member, #search-filterPanel-blog, #search-filterPanel-curriki, .x-panel, .x-tab-panel-body, ul.x-tab-strip-top {border:none;}
.x-panel-body-noheader, .x-panel-mc, .x-panel-body {border:none;}
.x-tab-panel-header {z-index:100;}
.x-tab-panel-bwrap {margin-top:-1px;}

#content ul.x-tab-strip { margin:0 0 0 10px; padding:0; }
#content ul.x-tab-strip > li { list-style-type: none; margin-right:3px; }


#search-filterPanel-resource, #search-filterPanel-group, #search-filterPanel-member, #search-filterPanel-blog, #search-filterPanel-curriki {border-top:none;}

#search-filterPanel-resource, #search-filterPanel-group, #search-filterPanel-member, #search-filterPanel-blog, #search-filterPanel-curriki {
        padding:10px;
        background:#f2f2f2;
        border:1px solid #e5e5e5;
        border-bottom:none;
        border-top:none;
        clear:both;
}

#search-results-member .x-grid3-header, #search-results-blog .x-grid3-header, #search-results-group
.x-grid3-header {background:#069;}
#search-results-curriki .x-grid3-header  {background:#669;}

td.x-grid3-hd-over .x-grid3-hd-contributions .x-grid3-hd-btn {background:none!important;}
#search-results-member .x-grid3-hd-btn, #search-results-blog .x-grid3-hd-btn, #search-results-group .x-grid3-hd-btn {background:#069 url($xwiki.getSkinFile("images/grid3-hd-btn-blue.gif")) no-repeat left center;}
#search-results-member td.x-grid3-hd-over .x-grid3-hd-inner, #search-results-member td.sort-desc .x-grid3-hd-inner, #search-results-member td.sort-asc .x-grid3-hd-inner, #search-results-member td.x-grid3-hd-menu-open .x-grid3-hd-inner, #search-results-blog td.x-grid3-hd-over .x-grid3-hd-inner, #search-results-blog td.sort-desc .x-grid3-hd-inner, #search-results-blog td.sort-asc .x-grid3-hd-inner, #search-results-blog td.x-grid3-hd-menu-open .x-grid3-hd-inner, #search-results-group td.x-grid3-hd-over .x-grid3-hd-inner, #search-results-group td.sort-desc .x-grid3-hd-inner, #search-results-group td.sort-asc .x-grid3-hd-inner, #search-results-group td.x-grid3-hd-menu-open .x-grid3-hd-inner {background-color:#069;}
#search-results-curriki .x-grid3-hd-btn {background:#669 url($xwiki.getSkinFile("images/grid3-hd-btn-purple.gif")) no-repeat left center;}
#search-results-curriki td.x-grid3-hd-over .x-grid3-hd-inner, #search-results-curriki td.sort-desc .x-grid3-hd-inner, #search-results-curriki td.sort-asc .x-grid3-hd-inner, #search-results-curriki td.x-grid3-hd-menu-open .x-grid3-hd-inner {background-color:#669;}
.x-grid3-row-over {background:#ffffcf;}

#search-pager-resource, #search-pager-blog, #search-pager-member, #search-pager-curriki, #search-pager-group {
        border:none;
        overflow:hidden;
        padding:2px;
}
#search-pager-resource, #search-pager-blog, #search-pager-member, #search-pager-curriki, #search-pager-group {
        background:none;
        border:none;
        display:block;
        padding:2px;
        position:relative;
        text-align:center;
}
#search-pager-resource table, #search-pager-blog table, #search-pager-member table, #search-pager-curriki table, #search-pager-group table {
        margin:35px auto 0 auto;
        text-align:center;
}

#search-pager-resource table button, #search-pager-blog table button, #search-pager-member table button, #search-pager-curriki table button, #search-pager-group table button {
        background:transparent;
        border:none;
        height:auto;
        color: #1963aa;
    font-size:10px;
    padding:10px 0;
}

#search-pager-resource table td table, #search-pager-blog table td table, #search-pager-member table td table, #search-pager-curriki table td table, #search-pager-group table td table {margin:0;}
#search-pager-resource table td span#ext-gen119, #search-pager-blog table td span#ext-gen119, #search-pager-member table td span#ext-gen119, #search-pager-curriki table td span#ext-gen119, #search-pager-group table td span#ext-gen119 {margin:0 10px;}

.x-panel-bbar .x-to

#search-termPanel-resource, #search-termPanel-group, #search-termPanel-member, #search-termPanel-blog, #search-termPanel-curriki {
        background:#5051a3;
        padding:10px;
}
#search-termPanel-resource a, #search-termPanel-group a, #search-termPanel-member a, #search-termPanel-blog a, #search-termPanel-curriki a {
        color:#fff;
}
fieldset#search-advanced-group, fieldset#search-advanced-resource, fieldset#search-advanced-member, fieldset#search-advanced-blog, fieldset#search-advanced-curriki {
        border:none;
        background:#5051a3;
        margin:-10px 0 0 0;
        overflow: visible;
        padding:10px 0 10px 10px;
}

fieldset#search-advanced-group .x-panel-bwrap, fieldset#search-advanced-group .x-panel-bwrap .x-panel-body, fieldset#search-advanced-group .x-column-inner .x-panel, fieldset#search-advanced-resource .x-panel-bwrap, fieldset#search-advanced-resource .x-panel-bwrap .x-panel-body, fieldset#search-advanced-resource .x-column-inner .x-panel, fieldset#search-advanced-member .x-panel-bwrap, fieldset#search-advanced-member .x-panel-bwrap .x-panel-body, fieldset#search-advanced-member .x-column-inner .x-panel, fieldset#search-advanced-blog .x-panel-bwrap, fieldset#search-advanced-blog .x-panel-bwrap .x-panel-body, fieldset#search-advanced-blog .x-column-inner .x-panel, fieldset#search-advanced-curriki .x-panel-bwrap, fieldset#search-advanced-curriki .x-panel-bwrap .x-panel-body, fieldset#search-advanced-curriki .x-column-inner .x-panel {
overflow:hidden;
}

#search-results-resource, #search-results-member, #search-results-blog, #search-results-curriki, #search-results-group {
        padding:0;
        background:#f2f2f2;
        border:none;
        clear:both;
}

#search-tabPanel .x-grid-panel .x-panel-body {
    padding:0 10px 10px;
    border:1px solid #e5e5e5;
    border-top:none;
    border-bottom:none;
    margin-bottom:-10px;
}

#search-tabPanel .x-panel-bbar {
    background:#fff;
    margin:10px 0 0 0;
    padding: 0;
    border-top:1px solid #e5e5e5;
    width:100%;
        text-align:center;
}

.search-termPanel-tips {
    display:block;
    padding-left:35px;
}

input#search-termPanel-resource-terms, input#search-termPanel-group-terms, input#search-termPanel-member-terms, input#search-termPanel-blog-terms, input#search-termPanel-curriki-terms {width:280px;}
.x-combo-list-item {font-family:arial,helvetica,sans-serif;}

#search-tabPanel td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open {
        border-left:1px solid #fff;
        border-right:1px solid #fff;
}

#search-tabPanel .x-grid3-hd-row td {
        line-height: 1.4 !important;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
}

#search-tabPanel .x-grid3-hd-inner {
        overflow:visible;
        white-space:normal;
}

#search-tabPanel .x-window .ux-mselect-selected, #search-tabPanel .x-combo-list .x-combo-list-inner .x-combo-selected {
        background-color:#e5e5e5;
        color:#000;
}

#search-tabPanel .x-form-label-top .x-form-item {
        margin-top:-4px;
        padding-bottom:0;
}

#search-tabPanel .x-grid3-cell-inner {white-space: normal;}
#search-tabPanel .x-grid3-body .x-grid3-td-expander {background:transparent none repeat scroll 0 0;}

#search-tabPanel .x-tbar-page-prev, #search-tabPanel .x-tbar-page-next, #search-tabPanel .x-tbar-page-first, #search-tabPanel .x-tbar-page-last, #search-tabPanel .x-item-disabled .x-tbar-page-prev, #search-tabPanel .x-item-disabled .x-tbar-page-next, #search-tabPanel .x-item-disabled .x-tbar-page-first, #search-tabPanel .x-item-disabled .x-tbar-page-last {
    background-image:none!important;
    cursor:pointer;
        color: #1963aa;
        font-size:10px;
}

#search-tabPanel .x-panel-collapsed .x-tool-toggle, #search-div .x-panel-collapsed .x-tool-toggle {background-position:0 0;}
#search-tabPanel .x-tool-toggle, #search-div .x-tool-toggle {background-position:0 -14px;}

#search-tabPanel .x-tool, #search-div .x-tool {
        background-image: url($xwiki.getSkinFile("images/adv-search-sprite.gifi"));
        height:14px;
        width:14px;
}
#search-tabPanel .x-grid3-row-collapsed .x-grid3-row-expander, #search-div .x-grid3-row-collapsed .x-grid3-row-expander {background-position:3px 2px;}
#search-tabPanel .x-grid3-row-expanded .x-grid3-row-expander, #search-div .x-grid3-row-expanded .x-grid3-row-expander {background-position:3px -14px;}

#search-tabPanel .x-grid3-row-expander, #search-div .x-grid3-row-expander {
        background-image:url($xwiki.getSkinFile("images/adv-search-expand-sprite.gif"));
        background-position:3px 2px;
        height:16px;
        width:100%;
}

#search-tabPanel .sort-desc .x-grid3-sort-icon, #search-div .sort-desc .x-grid3-sort-icon {background-image:url($xwiki.getSkinFile("images/adv-search-sort-sprite.gif"));}

#search-tabPanel .sort-asc .x-grid3-sort-icon, #search-div .sort-asc .x-grid3-sort-icon {
        background-image:url($xwiki.getSkinFile("images/adv-search-sort-sprite.gif"));
        background-position:0 -13px;
        display:inline;
}
#search-tabPanel .x-grid3-sort-icon, #search-div .x-grid3-sort-icon {
        background-repeat:no-repeat;
        height:13px;
        padding-bottom:1px;
}

#search-advanced-resource input#combo-subject-resource, #search-advanced-resource input#combo-level-resource,  #search-advanced-resource input#combo-language-resource, #search-advanced-resource input#combo-review-resource, #search-advanced-resource input#combo-special-resource  {width: 127px !important}


#search-advanced-resource input#combo-subICT-resource, #search-advanced-resource input#combo-subsubject-resource {width: 127px !important;}

