#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="response" type="javax.servlet.http.HttpServletResponse" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset" *# ##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="item" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
## @vtlvariable name="embeddedDoc" type="org.curriki.xwiki.plugin.asset.Asset"
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#if(!$asset.hasAccessLevel("view"))
#asset_collectionemptyornorights()
#else
<div class="sub-asset-wrapper category-${embeddedDoc.categoryClass}">
<div class="sub-asset-wrapper-inner">
    #set($collectionsList=$asset.getObjects("CurrikiCode.SubAssetClass"))
        #if($collectionsList.size() >0)<!-- now listing collections' children --><ul>
        #foreach ($itemObject in $collectionsList)
        ## #asset_displaycollection($collectionsList.get($index))
            #set($itemFullname=$itemObject.getProperty("assetpage").getValue())##
            #set($item=$xwiki.curriki.fetchAsset($itemFullname))
            #if($item)
                <li class="toc-asset-list-category-$item.getCategory()"><a href="$item.getURL()">$item.displayTitle</a></li>
                #else<!-- missing item $itemFullname  -->
            #end
        #end</ul>
    #else
        <p>No content in this collection.</p>
    #end

    <div class="collection-view-description">
    $asset.display("description","view",true)
    </div>
</div></div>
## The subAssetList property has already been prepared
 ## in asset_tabs so that we can determine if we need an organize link
#*
    #if(!$subAssetList)
#set($subAssetList = $util.arrayList)
#asset_preparesubassetlist($asset $subAssetList)
#end
#if($subAssetList.size()!=0)
#set($counter = 0)
#foreach($assetPage in $subAssetList)
#set($counter = $counter + 1)
#set($embeddedDoc = $xwiki.getDocument($assetPage))
#if($embeddedDoc.getObject("CurrikiCode.CompositeAssetClass"))
<div class="sub-asset-wrapper category-${embeddedDoc.categoryClass}">
    <div class="sub-asset-wrapper-inner">
        #asset_beginsection($embeddedDoc false)
        #asset_endsection()
    </div>
</div>
#else
<div class="sub-asset-wrapper category-${embeddedDoc.categoryClass}">
    <div class="sub-asset-wrapper-inner filetype-${embeddedDoc.filetypeClass}">
        #asset_beginsection($embeddedDoc true)
        $embeddedDoc.displayAsset("view")
        #asset_endsection()
    </div>
</div>
#end ## composite or source
  #end ## foreach
#else
#asset_collectionemptyornorights()
*#
#end
