##
##
##
## Groups Macros ## {
##
##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="csm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="sm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="as" type="org.curriki.plugin.activitystream.plugin.CurrikiActivityStreamPluginApi" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#* @vtlvariable name="event" type="com.xpn.xwiki.plugin.activitystream.plugin.ActivityEvent" *# ##

#macro(groupsajaxjs)
  <script type="text/javascript" src="$xwiki.getSkinFile('groups/groups.js', true)"></script>
  ##set ($discard = $xwiki.jsfx.use('groups/groups.js'))
#end

## groups shared macros
#macro(groupinit)
#groupsinit()
#end

#macro(groupsinit)
#set($sm = $xwiki.csm)
#set($spaceName = $doc.space)
#if(!$spaceName.startsWith("Group_"))
#set($pos = 1 + $spaceName.indexOf("_"))
#set($spaceName = $spaceName.substring($pos))
#end
#set($s = $sm.getSpace($spaceName))
#set($isGroupAdmin = $sm.isAdmin($spaceName, $context.getUser()))
#set($isGroupMember = ($isGroupAdmin || $sm.isMember($spaceName, $context.getUser())))
#set($isGroupAdmin = $isGroupAdmin || $hasGlobalAdmin)
#end

##
## page: all pages in the groups space
## Groups tab macro
#macro(groupstabs $curtab) ## {
#set($tabs = ["home","messages", "curriculum", "members", "documentation"])
<ul id="groups-tabs" class="tabs">
#foreach($tab in $tabs) ## {
	<li#if($curtab==$tab) class="current"#end>
#set($tabpage = $msg.get("groups_${tab}_page"))
#set($url=$xwiki.getURL("${spaceName}.${tabpage}", "view"))
#if(!$hasGlobalAdmin && !$isGroupMember && ($s.policy=="closed") && ($tab=="messages" || $tab=="members" || $tab=="documentation"))
		<a href="javascript:void()" onclick="alert('$msg.get("groups_onlyaccessibletomembers")'); return false;">$msg.get("groups_${tab}_tabname")</a>
#else
		<a href="$url">$msg.get("groups_${tab}_tabname")</a>
#end
	</li>
#end ## foreach ## }
</ul>
#end ## macro ## }
##
##
## page: all pages in the groups space
## Groups header
##
#macro(groupsheader $curtab) ## {
<h1 class="groupsTitle">#verbatim($s.getDisplayTitle())</h1>
<div id="groups-$curtab" class="groups groups-$curtab">
#groupstabs($curtab)
<div id="groups-${curtab}-main" class="form-wrp tab-container">
#end ## macro ## }
##
##
## page: all pages in the groups space in the documentation tab
## There should be no {pre} because we call it from the skin
## Groups header
##
#macro(groupsheaderdoc $curtab) ## {
<h1 class="groupsTitle">$s.getDisplayTitle()</h1>
<div id="groups-$curtab" class="groups groups-$curtab">
#groupstabs($curtab)
<div id="groups-${curtab}-main" class="form-wrp tab-container">
#end ## macro ## }
##
## page: all pages in the groups space
## Groups header
##
#macro(groupsheader2 $curtab) ## {
<div id="groups-$curtab" class="groups groups-$curtab">
#groupstabs($curtab)
<div id="groups-${curtab}-main" class="form-wrp tab-container">
#end ## macro ## }
##
##
## page: all pages in the groups space
## Groups footer
##
#macro(groupsfooter) ## {
</div>
</div>
#end ## macro ## }


## Groups Welcome blocks including AJAX editing

#**
  * PAGE: Groups pages
  * Macro to display the welcome block and allow editing it
  *#
#macro(groupsdisplaywelcome $title $spaceName $pageName $isGroupAdmin)
  #groupsdisplaywelcomecolour($title $spaceName $pageName "blue" $isGroupAdmin)
#end
##
#macro(groupsdisplaywelcomecolour $title $spaceName $pageName $colour $isGroupAdmin)
  #if($isGroupAdmin)
    #groupsajaxjs()
    <script src="$xwiki.getSkinFile("Pork.Iframe.js")" type="text/javascript"></script>
    #set($wdoc = $xwiki.getDocument($spaceName, $pageName))
    #if($wdoc.syntaxId == "xwiki/1.0")
    <script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/wysiwyg/tinymce/tiny_mce/tiny_mce.js")"></script>
    <script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/wysiwyg/tinymce/wiki_editor/wiki_editor.js")"></script>
    <script type="text/javascript">
      wikiEditor.init({
        elements : "",
        language: "en",
        mode: "exact",
        content_css: "$xwiki.getSkinFile("style.css", true)",
        debug : false,
        remove_linebreaks : false,
        plugins: 'table, contextmenu, paste, searchreplace',
        wiki_use_style: 'true',
        wiki_plugins: 'core,attachments',
        wiki_images_path : '/xwiki/bin/download/${spaceName}/${pageName}/',
        wiki_attach_path : '/xwiki/bin/view/${spaceName}/${pageName}'
        });
    </script>
    #elseif($services.wysiwyg.isSyntaxSupported($wdoc.syntax.toIdString()))
      ## Import the JavaScript files required by the WYSIWYG editor (lazy=false).
      #wysiwyg_import(false)
      ## Store the WYSIWYG editor configuration in a JavaScript variable which will be used later to create the editor.
      ##wysiwyg_storeConfig("welcomeWysiwygConfig" $wdoc "XWiki.CurrikiWelcomeBlockClass_0_content" false)
    #end
    #begingroupsection($title,"$msg.groups_home_welcome_link","javascript:editWelcomeBlock('$spaceName','$pageName','groups-members-welcomeblock')", $colour, true)
    <div id="groups-members-welcomeblock">
    #groupsdisplaywelcomeblock($doc)
    </div>
    #endgroupsection()
  #elseif($doc.name=="WebHome")
    #set($ok = $doc.use("XWiki.CurrikiWelcomeBlockClass"))
    ## Hack CURRIKI-3338 Fix paragraph carriage return issues in wiki rendered content
    #set($welcomeContent = $!doc.display("content").replaceAll("<br/><p/>","<br/>&nbsp;<p/>"))
    #if($welcomeContent!="")
      #begingroupsection($title,"","", $colour, false)
      <div id="groups-members-welcomeblock">$welcomeContent</div>
      #endgroupsection()
    #end
  #else
    #begingroupsection($title,"","", $colour, false)
    <div id="groups-members-welcomeblock">
    #groupsdisplaywelcomeblock($doc)
    </div>
    #endgroupsection()
  #end
#end
##
#macro(groupsdisplaywelcomeblock $wdoc)
  #set($wobj = $wdoc.getObject("XWiki.CurrikiWelcomeBlockClass"))
  ## Hack CURRIKI-3338 Fix paragraph carriage return issues in wiki rendered content
  #set($welcomeContent = $!wobj.display("content", "view").replaceAll("<br/><p/>","<br/>&nbsp;<p/>"))
  ##set($wContent = $!wobj.getProperty('content').getValue().replaceAll("\\s+", ""))
  #if("$!welcomeContent" == "")
    ## Hack CURRIKI-3338 Fix paragraph carriage return issues in wiki rendered content
    <div class="xwikicontent">
    $xwiki.getDocument("Groups.${wdoc.name}Welcome").getRenderedContent().replaceAll("<br/><p/>","<br/>&nbsp;<p/>")
    </div>
  #else
    $welcomeContent
  #end
#end
##
#macro(groupsdisplayeditwelcome $spaceName $pageName $divid)
  $msg.get("groups_home_editwelcome_direction")
  <br />
  #set($wdoc = $xwiki.getDocument("${spaceName}.${pageName}"))
  #if(!$wdoc.getObject("XWiki.CurrikiWelcomeBlockClass"))
    #set($ok = $wdoc.newObject("XWiki.CurrikiWelcomeBlockClass"))
  #end
  #set($ok = $doc.use("XWiki.CurrikiWelcomeBlockClass"))
  <form id="wblockform" action="$xwiki.getURL("Groups.SaveWelcomeBlockService")" method="post" onsubmit="new iframe(this,{onComplete:function(t){afterSubmitEditWelcomeBlock(t,'${divid}')}}); return false;">
  <p>
    <input type="hidden" name="xpage" value="plain" />
    <input type="hidden" name="space" value="$spaceName" />
    <input type="hidden" name="page" value="$pageName" />
    $wdoc.display("content", "edit")
    <br />
  #if($services.wysiwyg.isSyntaxSupported($wdoc.syntax.toIdString()))
    #verbatim_start
    <script type="text/javascript">
    #wysiwyg_jsx_editProperty($wdoc, "XWiki.CurrikiWelcomeBlockClass_0_content", $wdoc.syntax.toIdString(), false)
    </script>
    #verbatim_end
  #end
    <div class="right mgn-vrt-15">
      <input type="button" class="button button-cancel mgn-rt" value="$msg.get("groups_home_editwelcome_cancel_btt")" onclick="cancelEditWelcomeBlock('${spaceName}','${pageName}','${divid}');" />
      <input type="submit" class="button button-confirm" value="$msg.get("groups_home_editwelcome_submit_btt")" onclick="beforeSubmitEditWelcomeBlock();" />
    </div>
  </p>
  </form>
#end


#**
  * Groups View Welcome Block Service
  * This handles the call to show a welcome block in view mode
  *#
#macro(groups_viewwelcomeblock_service)
#set($adoc = $xwiki.getDocument("${request.space}.${request.page}"))
#groupsdisplaywelcomeblock($adoc)
#end



#**
  * Groups Save Welcome block service
  * This handles the call to save a welcome block
  *#
#macro(groups_savewelcomeblock_service)
#set($spaceName = $request.space)
#set($pageName = $request.page)
#set($wdoc = $xwiki.getDocument("${spaceName}.${pageName}"))
#set($ok = $wdoc.updateObjectFromRequest("XWiki.CurrikiWelcomeBlockClass"))
#set($ok = $wdoc.save())
#groupsdisplaywelcomeblock($wdoc)
#end

## Macros for begin and end section

#macro(begingroupsection $title $righttitle $link $color) ##{
#begingroupsection($title "" "" $color false)
#end ##}

## Macro for the sections with information int the group pages
#macro(begingroupsection $title $righttitle $link $color $isGroupAdmin) ##{
  ## this is the autoincrement value used to create unique ids
  #if(!$counter)
    #set($counter = 1)
  #else
    #set($counter = $counter + 1)
  #end
  ##normalizing link
  #normalizelink($link)
  ##if the right title is too big we truncate it
  #set($righttitletrunc = $righttitle)
  #if ($righttitletrunc.length() > 35)
    #set($righttitletrunc = $righttitle.substring(0, 34))
    #set($righttitletrunc = "${righttitletrunc}...")
  #end
  <div class="frame" id="section_${counter}">
     #if($isGroupAdmin)
     #curriki_titlebar($title $righttitle $link $color)
     #else
     #curriki_titlebar($title "" "" $color)
	 #end
     <div class="frame-content" id="section${counter}content">
#end ##}

## ending macro for begingroupsection
#macro(endgroupsection) ##{
<div class="clearfloats"></div>
     </div>
  </div>
#end ##}

## Tools

## login box
#macro(loginbox $logredir)
<div class="main layoutsubsection">
<form id="loginForm" action="$xwiki.getURL("XWiki.XWikiLogin","loginsubmit")" method="post">
<div class="hidden">
<input type="hidden" name="xredirect" value="$logredir" />
<input type="hidden" name="srid" value="$!request.srid"/>
</div>
#xwikimessageboxstart($msg.get("login") "")
#set($message = $msg.get($xwiki.parseMessage()))
#if($message)
## errors for the previous login
#error($message)
#end
<table class="xwikilogintable" summary="$msg.get("loginform")">
<tr><th><label for="j_username" class="sectitle">$msg.get("username"):</label></th>
<td><input type="text" id="j_username" name="j_username" value=""/></td></tr>
<tr><th><label for="j_password" class="sectitle">$msg.get("password"):</label></th>
<td><input type="password" id="j_password" name="j_password" value=""/></td></tr>
<tr><td colspan="2" style="text-align: left;"><input id="rememberme" type="checkbox" name="j_rememberme" value="true"/><label for="rememberme">$msg.get("remembermeonthiscomp")</label></td></tr>
</table>
<div id="loginbuttons" class="buttons">
<input type="submit" class="button" value="$msg.get("login")"/>
</div>
#xwikimessageboxend()
</form>
</div>
<br />
<br />
<div id="whyjoin">
$xwiki.getDocument("Main.WhyJoin").getTranslatedDocument().getRenderedContent()
</div>
#end
## Macro to display a form field tooltip
##
#macro(tooltip $name $txt) ##{
	<img class="tooltip" alt="" src="/xwiki/skins/curriki8/icons/exclamation.png" ext:qtip="$txt" />
#end ##}
##


#macro(validateGroup $key $msgok $msgerr) ##{
#if( $context.validation.get($key) )
  <div class="validation-error" style="background-color:red; color: white;">
    $msgerr
  </div>
#else
   ##msgok
#end
#end ##}



## Groups browse

#*
 * Groups Browse Subject Card: displays a box for one subject
 * @param $subject Subject for which to display the card
 * @param $count number of groups for this subject
 *#
#macro(groups_browse_subjectcard $subject $count)
#set($sdoc = $xwiki.getDocument($subject))
#set($searchpage = $xwiki.getURL("Search.WebHome"))
#set($topiclink = "${searchpage}#o%3As%3Ds%253Agroup%5Et%3Ds%253Asearch-group-tab%5Ea%3Do%253Agroup%253Do%25253Aa%25253Db%2525253A1%5Ef%3Do%253Agroup%253Do%25253Asubjectparent%25253Ds%2525253A${subject}")
<div class="subject-card">
  <div class="subject-link">
    <a href="$topiclink">
      <span class="subject-title">
        $sdoc.title
      </span>
      <span class="subject-title-count">
       (#if($count)$count#{else}0#end)
      </span>
    </a>
  </div>
  <div class="subject-image">
    <a href="$topiclink">
      <img src="${msg.get("browse.subject.image.$subject")}" alt="$sdoc.title")" title="$sdoc.title" />
    </a>
  </div>
  <div class="subject-desc">
   #if(${msg.get("browse.subject.description.$subject")} != "-")
     ${msg.get("browse.subject.description.$subject")}
   #end
  </div>
</div>
#end

#*
 * Groups Browse Custom Subject Card: displays a custom box
 * @param $title Title of the box
 * @param $link Link to point to
 * @param $image Image to show in the custom box
 * @param $description Text to show in the custom box
 *#
#macro(groups_browse_customsubjectcard $title $link $image $description)
<div class="subject-card custom-subject-card">
  <div class="subject-link">
    <a href="$link">
      <span class="subject-title">
        $title
      </span>
    </a>
  </div>
  <div class="subject-image">
    <a href="$link">
      <img src="$image" alt="$title")" title="$title" />
    </a>
  </div>
  <div class="subject-desc">
   $description
  </div>
</div>
#end

#*
 * SHOW GROUPS IN A SUBJECT CATEGORY
 * This macro is not used anymore, replaced by AJAX search
 * @param $subject Subject to display groups for ("all" for all groups)
 * @param $ipp number of items
 * @param $startIndex start index
 *#
#macro(groups_browse_showsubject $subject $ipp $startIndex)
#if($subject == "all")
#set($headerTitle = $msg.get("browse.subject.title.All_Groups"))
#else ## not all groups
#set($sdoc = $xwiki.getDocument($subject))
#set($headerTitle = "$sdoc.title $msg.get('browseGroups.groups')")
#end
<div id="browsegroups-header-title" class="heading-1">
$headerTitle
</div>
<div class="form-wrp tab-container" id="tab-container-browsegroups">
#set($itemsPerPage = 5)
#if( $ipp )
  #set($itemsPerPage = $xwiki.parseInt($ipp))
#end
#set($startItem = 0)
#if($startIndex)
  #set($startItem = $xwiki.parseInt($startIndex))
#end
#if( $subject == "all" ) ##all groups
  #set( $groups = $sm.getSpaces( $itemsPerPage, $startItem, "order by doc.creationDate desc"  ) )
  #set( $allgroups = $sm.getSpaceNames( 0, 0 ) )
  #set( $totalcount = $allgroups.size() )
#else ## not all groups
  #set($groups=$sm.getSpacesByTopic( $subject,$itemsPerPage,$startItem))
  #set($cnt = $sm.countSpacesByTopic("FW_masterFramework.WebHome"))
  #set($totalcount = 0)
  #foreach($subj in $cnt)
    #set($i = 0)
    #set($k = "")
    #set($v = 0)
    #foreach($item in $subj)
      #if($i==0)
        #set($k = $item)
      #elseif($i==1)
        #set($v = $item)
      #end
      #set($i=$i+1)
    #end
    #if( $k == $request.subject)
      #set( $totalcount = $v )
    #end
  #end
#end ##not all groups
#if($groups)
  #if( $groups.size()>0 )
    #foreach($group in $groups)
      <div class="group-by-subject">
      #groups_groupinfo($group.spaceName "")
      </div>
    #end
  #else
    $msg.get("browseGroups.noGroups")
  #end
  #set($args = "subject=" + $xwiki.getURLEncoded($request.subject))
  #if($totalcount.class.name == "java.lang.Long")
    #set($totalcount = $totalcount.intValue())
  #end
  #curriki_paginatorargs( "" $startItem $itemsPerPage $totalcount $args  )
#else
bad request
#end
</div>
#end ## end groups_browse_showgroups macro

#*
 * SHOW ALL MAIN SUBJECTS
 *
 * @param $sm Space Manager
 *#
#macro(groups_browse_showsubjects)
## Getting the count of all spaces where their topic is main topic
#set($cnt = $sm.countSpacesByTopic("FW_masterFramework.WebHome"))
## Initializes the map that will store the counts
#set($countmap = {"init":0})
#foreach($subj in $cnt)
  #set($i = 0)
  #set($k = "")
  #set($v = 0)
  #foreach($item in $subj)
    #if($i==0)
      #set($k = $item)
    #elseif($i==1)
      #set($v = $item)
    #end
    #set($i=$i+1)
  #end
  #set($t = $countmap.put($k,$v))
#end
#set( $allgroups = $sm.getSpaceNames( 0, 0 ) )
#set( $all= $allgroups.size() )
#set($query = "where doc.web='FW_masterFramework' and doc.parent='FW_masterFramework.WebHome' order by doc.title")
#set($topics = $xwiki.searchDocuments($query))
#set($cells = $topics.size()+2) ## We have 2 "Promo" cards
#set($perpage = 4)
#set($rows=$cells/$perpage)
#set($rest=$cells%$perpage)
#if($rest>0)
  #set($rows=$rows+1)
#end
#curriki_titlebar( $msg.get("browseGroups.titlebar") "" "" "red" )
<div class="browse-groups-info">
$msg.get("browseGroups.info")
</div>
#set($cell=0)
#set($row=0)
<table border="0">
#foreach($topic in $topics)
  #if($cell%$perpage==0)
    #if($cell>0)
      </tr>
    #end
  <tr>
  #set($row=$row+1)
  #end
  #if($row==$rows && $cell%$perpage==0)
    <td>
    $msg.get("browseGroups.promo_card_1")
    #set($cell=$cell+1)
    </td>
  #end
  <td>
  #groups_browse_subjectcard($topic,$countmap.get($topic))
  </td>
   #set($cell=$cell+1)
#end
#if($cell%$perpage==0)
  </tr><tr>
#end
<td>
$msg.get("browseGroups.promo_card_2")
#set($cell=$cell+1)
</td>
#set($total = $perpage*$rows)
#set($rest = $total - $cells)
#if($rest>0)
   <td colspan="$rest">&nbsp;</td>
#end
</tr>
</table>
<div class="all-subjects">
    #set($searchpage = $xwiki.getURL("Search.WebHome"))
    #set($topiclink = "${searchpage}#o%3As%3Ds%253Agroup%5Et%3Ds%253Asearch-group-tab%5Ea%3Do%253Agroup%253Do%25253Aa%25253Db%2525253A1%5Ef%3Do%253Agroup%253Do%25253Asubjectparent%25253Ds%2525253A")
    <a href="$topiclink">
    <span class="subject-title">
       $msg.get("browse.subject.title.All_Groups")
    </span>
    <span class="subject-title-count">
       ($all)
    </span>
    </a>
</div>
#end ## end macro groups_browse_showsubjects

## Groups create new group

#**
  * Create New Group Form
  *
  *#
#macro(groups_createnewgroupform)
#set($sm = $xwiki.csm)
#if($context.user=="XWiki.XWikiGuest")
#set($url = $xwiki.getURL("XWiki.XWikiLogin","login","xredirect=$logredir"))
$msg.get("groups_creategroup_needaccount", [$url])
#else
## check if the user email is validated and if not goto validation page
##Creating a fake space
#set($valid = 0)
#if($request.method=="POST")
  #set($newspace = $sm.createSpaceFromRequest("Groups_TemplateSpace"))
  #if($newspace)
    ##$response.sendRedirect($xwiki.getURL("${newspace.space}.WebHome", "view", "firsttime=1"))
    #includeInContext("Groups.CreateNewGroupDone")
    #set($valid = 1)
  #else
    #if( $context.validation )
       #set( $valid = 0 )
    #else
      space creation error
    #end
  #end
#end
#if( $valid == 0 )
  #set($newspace = $sm.getSpace(""))
  #set($ok = $sm.updateSpaceFromRequest($newspace))
  #if(!($request.method=="POST"))
    #set($ok = $context.validation.clear())
    $newspace.setPolicy("open")
    $newspace.set("accessprivileges", "open")
  #end
  ##Show the inputs for form
  <form action="CreateNewGroup" class="CreateNewGroup" method="post">
  <h1>$msg.get("groups_creategroup_pagename")</h1>
  #titlebar($msg.get("groups_creategroup_about_title"), "", "", "blue")
  <p>
    $msg.get("groups_creategroup_about_infotxt")
  </p>  ##endp
  #titlebar($msg.get("groups_creategroup_namedescribe_title"), "", "", "blue")
  <p>
    <span id="label-group-name">$msg.get("groups_creategroup_namedescribe_groupname"):</span> <br />
    $newspace.display("displayTitle","edit")
    #tooltip("group-name",$msg.get("groups_creategroup_namedescribe_groupname_tooltip"))
    #validateGroup( "title-exists" "" $msg.groups_validation_title_exists)
    #validateGroup( "title-short" "" $msg.groups_validation_title_short)
    #validateGroup("title-long"  "" $msg.groups_validation_title_long)
    #validateGroup("title-invalid"  "" $msg.groups_validation_title_invalid)
    #validateGroup( "space-exists" "" $msg.groups_validation_space_exists)
    <span id="label-group-description">$msg.get("groups_creategroup_namedescribe_groupdescription")</span> <br />
     <div id="form-info-top">
    $newspace.display("description","edit")
    #tooltip("group-description",$msg.groups_creategroup_namedescribe_groupdescription_tooltip)
    #validateGroup( "desc-short" "" $msg.groups_validation_desc_short)
    #validateGroup( "desc-long" "" $msg.groups_validation_desc_long)
    </div>
    <span id="label-group-webaddress">$msg.get("groups_creategroup_namedescribe_webaddress_instruction")</span> <br />
    http:&#47;&#47; $newspace.display("urlshortcut","edit") #groups_groupsuffixurl()
    #validateGroup( "url-short" "" $msg.groups_validation_url_short)
    #validateGroup( "url-long" "" $msg.groups_validation_url_long)
    #validateGroup( "url-exists" "" $msg.groups_validation_url_exists)
    #validateGroup( "url-invalid" "" $msg.groups_validation_url_invalid)
  </p> ##endp
  #titlebar($msg.groups_creategroup_member_policy_title,"","","blue")
  <div class="section">
    $newspace.display("policy","edit")
    ##validateGroup( "policy-required" "" $msg.groups_validation_policy_required)
  </div> ##endsection
  #titlebar($msg.get("groups_creategroup_select_subjectlevel_title"),"","","blue")
  <p>
    <table border="0" width="100%">
    <thead>
    <tr>
    <th width="50%">$msg.groups_creategroup_select_subjectlevel_subject_title #tooltip("subject-level",$msg.groups_creategroup_select_subjectlevel_subject_tooltip)</th>
    <th width="50%">$msg.groups_creategroup_select_subjectlevel_level_title
#tooltip("educational-level",$msg.groups_creategroup_select_subjectlevel_level_tooltip)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td width="50%">
    $newspace.display("topic","edit")
    <input type="hidden" name="XWiki.CurrikiSpaceClass_0_topic" value="FW_masterFramework.WebHome" id="XWiki.CurrikiSpaceClass_0_topic"/>
    </td>
    <td width="50%">
	        $newspace.display("educationLevel","edit")
    </td>
    </tr>
    </tbody>
    </table>
    ##validateGroup( "subject-required" "" $msg.groups_validation_subject_required)
    ##validateGroup( "education-required" "" $msg.groups_validation_education_required)
  </p> ##endp
  #titlebar($msg.get("groups_creategroup_select_language_title"),"","","blue")
  <p>
    $newspace.display("language","edit")
#tooltip("language",$msg.get("groups_creategroup_select_language_infotxt"))
  </p> ##endp
  #titlebar($msg.get("groups_creategroup_select_license_title"),"","","blue")
  <p>
  $msg.get("groups_creategroup_select_license_infotxt")
  $newspace.display("licence","edit")
    #validateGroup( "licence-long" "" $msg.groups_validation_licence_required)
  </p> ##endp
  #titlebar($msg.get("groups_creategroup_select_access_title"),"","","blue")
  <p>
      $msg.groups_creategroup_select_access_infotxt
  </p>
  <p>
    $newspace.display("accessprivileges","edit")
    #validateGroup( "privacy-required" "" $msg.groups_validation_privacy)
  </p>  ##endp
  #titlebar($msg.get("groups_creategroup_create_title"),"","","blue")
  <p>
    $msg.get("groups_creategroup_create_infotxt")
  <br /><br />
  <table align="center">
  <tbody>
  <tr>
  <td><input type="submit" class="button-orange" value="$msg.get("groups_creategroup_create_btt")" /></td>
  <td>#set($homelink=$xwiki.getURL("Main.WebHome"))
  #button(  "$msg.groups_creategroup_cancel_btt"  "grey"  "reset"  ""  "if(confirm('$msg.groups_creategroup_cancel_confirm')) window.location='$homelink';" )</td>
  </tr>
  </tbody>
  </table>
  </p>
  </form>
#end
#end
<div class="tooltips">
$xwiki.addTooltipJS()
</div>
#end


## Groups Home Page

#**
  * Groups Home Page
  * @programming
  * @internalapi
  *#
#macro(groups_homepage)
#groupinit()
#groupsajaxjs()
#groupsheader("home")
#groups_homepage_aftercreate()
#set($action = $request.get("action"))
#if($action=="editmasthead")
 #if($isGroupAdmin)
  #groups_homepage_editmasthead()
 #else
  #curriki_noaccess()
 #end
#elseif($action=="editinfo")
 ## this call requires programming rights
 #if($isGroupAdmin)
  #groups_homepage_editinfo()
 #else
  #curriki_noaccess()
 #end
#else
 #groups_homepage_viewinfo()
 #groupsdisplaywelcome($msg.groups_home_welcome $spaceName $doc.name $isGroupAdmin)
 #groups_homepage_activitystream()
 #groups_homepage_details()
 #groups_homepage_contributions()
 #groupsmembershipinfo($spaceName)
#end
#groupsfooter()
<br clear="all"/>
#end

#**
  * Groups Home Page After Create Popup
  *
  *#
#macro(groups_homepage_aftercreate)
#if($request.firsttime=="1")
<div id="groups_firsttimewelcome">
<div id="groups_firsttimewelcome_title">
$msg.get("groups_home_firsttimewelcome_title")
</div>
##<div id="groups_firsttimewelcome_closebutton">
##<a href="javascript:void()" onclick="$('groups_firsttimewelcome').style.display='none'; return false;">$msg.groups_firsttimewelcome_close</a>
##</div>
#includeInContext("Groups.CreateNewGroupDone")
</div>
#end
#end

#**
  * Groups Home Page Edit Masthead Block
  *
  *#
#macro(groups_homepage_editmasthead)
#set($spaceName = $doc.space)
#set($s = $sm.getSpace($spaceName))
#if($request.method=="POST")
  #set($fileupload = $xwiki.fileupload)
  #set($filename = $fileupload.getFileName("filepath"))
  #set($filedata = $fileupload.getFileItemData("filepath"))
  #set($ok = $sm.updateSpaceFromRequest($s))
#end
#if($ok)
  ## CURRIKI-6078 need to ignore if no filename as otherwise 
  ## you cannot update the title and desc without uploading a new logo
  ##if($!filename != "" && $filedata)
    #set ($spaceHome = $xwiki.getDocument("${spaceName}.WebHome"))
    #set($attach = $spaceHome.addAttachment($filename, $filedata))
    #if($attach)
      $s.set("logo", $attach.filename)
      #set($filename = $attach.filename)
    #end
      $spaceHome.save()
      $s.save()
      $response.sendRedirect($s.getHomeURL())
  ##end
#else
<div class="frame">
<form class="CreateNewGroup" action="#" enctype="multipart/form-data" method="post" onsubmit="if (!checkFileExtension()) return false; else return true;">
<input type="hidden" name="action" value="editmasthead" />
#curriki_titlebar($msg.get("groups_home_editmasthead_title"), "", "", "blue")
<div class="frame-content">
<div class="section">
<br />
$s.display("displayTitle","edit")
#tooltip("group-title" $msg.groups_home_editmasthead_groupname_tooltip)
#validateGroup( "title-exists" "" $msg.groups_validation_title_exists)
#validateGroup( "title-short" "" $msg.groups_validation_title_short)
#validateGroup("title-long"  "" $msg.groups_validation_title_long)
#validateGroup("title-invalid"  "" $msg.groups_validation_title_invalid)
#validateGroup( "space-exists" "" $msg.groups_validation_space_exists)
<div id="form-info-top">
$s.display("description","edit")
#tooltip("group-description" $msg.groups_home_editmasthead_groupdescription_tooltip)
</div>
#validateGroup( "desc-short" "" $msg.groups_validation_desc_short)
#validateGroup( "desc-long" "" $msg.groups_validation_desc_long)
</div>
#set($logofilename = $xwiki.getDocument("${doc.space}.WebPreferences").display("logo"))
#set($logoattach = $doc.getAttachment($logofilename))
#if(!$logoattach)
#set($logofilename = "")
#end
<div class="section">
<div class="frame-inset-logo">
#groups_grouplogo($s)
</div>
<div class="frame-inset-description">
<p>
#if($logofilename&&$logoattach)
#set($redirect = $xwiki.requestURL)
#set($url = $doc.getAttachmentURL($logofilename, "delattachment", "xredirect=${redirect}"))
#verbatim($msg.get("groups_home_editmasthead_logo_infotxt_withlogo", [$url]))
#else
#verbatim($msg.groups_home_editmasthead_logo_infotxt_withoutlogo)
#end
</p>
</div>
</div> ## end section
<div class="section">
<input id="xwikiuploadname" type="hidden" name="filename" value="" />
<div><input id="xwikiuploadfile" type="file" name="filepath" value="" size="40"/></div>
</div>
</div>
</div>
<div class="button-center button-masthead"><input class="button-orange" type="submit" value="$msg.groups_home_editmasthead_submit_btt" />#button(  "$msg.groups_home_editinformation_cancel_btt"  "grey"  "reset"  ""  "if(confirm('$msg.groups_home_editmasthead_cancel_confirm')) window.location='$s.getHomeURL()';" )</div>
</form>
#end
<div class="tooltips">
$xwiki.addTooltipJS()
</div>
#end

#**
  * Group suffix URL. Built from hostname
  *#
#macro(groups_groupsuffixurl)
#set($serverURL=$xwiki.curriki.getPublicCurrikiConfig('hostname', 'curriki.org'))
#set($serverURL=$serverURL.replaceAll("www.", ""))
#set($groupURL=".groups."+$serverURL)
${groupURL}#end

#**
  * Groups Home Page Edit Info Block
  * @programming
  * @internalapi
  *#
#macro(groups_homepage_editinfo)
#set($spaceName = $doc.space)
#set($s = $sm.getSpace($spaceName))
#if($request.method=="POST")
  #set($oldPolicy = $s.getValue("policy"))
  #set($ok = $sm.updateSpaceFromRequest($s))
#end
#if($ok)
  $s.save($xwiki.getContext())
  #if($oldPolicy!=$s.getValue("policy"))
    ## we need to update the rights
    $sm.updateSpaceRights($s, $oldPolicy, $s.getValue("policy"))
  #end
  $response.sendRedirect($s.getHomeURL())
#else
<form class="CreateNewGroup" action="#" method="post">
############# membership policy ################
<div class="frame">
#curriki_titlebar($msg.groups_home_editinformation_member_policy_title,"","","blue")
<div class="section frame-content">
$s.display("policy","edit")
</div>
</div>
############# subject - level #################
<div class="frame">
#curriki_titlebar($msg.groups_home_editinformation_subjectlevel_title,"","","blue")
<div class="section frame-content">
<table border="0">
<tr>
<th>$msg.groups_home_editinformation_subject_title</th>
<th>$msg.groups_home_editinformation_level_title</th>
</tr>
<tr>
<td width="50%"> $s.display("topic","edit") </td>
<td width="50%"> $s.display("educationLevel","edit") </td>
</tr></table>
   #validateGroup( "subject-required" "" $msg.groups_validation_subject_required)
   #validateGroup( "education-required" "" $msg.groups_validation_education_required)
</div>
</div>
############### language ###################
<div class="frame">
#curriki_titlebar($msg.groups_home_editinformation_language_title,"","","blue")
<div class="section frame-content">
$s.display("language","edit")
</div>
</div>
############## licence ##############
<div class="frame">
#curriki_titlebar($msg.groups_home_editinformation_license_title,"","","blue")
<div class="section frame-content">
$s.display("licence","edit")
#validateGroup( "licence-required" "" $msg.groups_validation_licence_required)
</div>
</div>
################ information access #####
<div class="frame">
#curriki_titlebar($msg.groups_home_editinformation_access_title,"","","blue")
<div class="section frame-content">
$s.display("accessprivileges","edit")
</div>
</div>
############## webadress ###########
<div class="frame">
#curriki_titlebar($msg.groups_home_editinformation_webaddress_title,"","","blue")
<div class="section frame-content">
$msg.groups_home_editinformation_webaddress_instruction <br />
http:&#47;&#47; $s.display("urlshortcut","edit") #groups_groupsuffixurl()
#validateGroup( "url-short" "" $msg.groups_validation_url_short)
#validateGroup( "url-long" "" $msg.groups_validation_url_long)
#validateGroup( "url-exists" "" $msg.groups_validation_url_exists)
#validateGroup( "url-invalid" "" $msg.groups_validation_url_invalid)
</div>
</div>
<div class="button-center"><input class="button-orange" type="submit" value="$msg.groups_home_editinformation_submit_btt" /> #button(  "$msg.groups_home_editinformation_cancel_btt"  "grey"  "reset"  ""  "if(confirm('$msg.groups_home_editinformation_cancel_confirm')) window.location='$s.getHomeURL()';" )</div>
</form>
#end
<div class="tooltips">
$xwiki.addTooltipJS()
</div>
#end

#**
  * Groups Home Page Info block
  *
  *#
#macro(groups_homepage_viewinfo)
<div class="head">
#if($isGroupAdmin)
#groups_groupinfo($s.spaceName "edit")
#else
#groups_groupinfo($s.spaceName "view")
#end
</div>
#end

#**
  * Groups Home Page Activity Stream block
  *
  *#
#macro(groups_homepage_activitystream)
#set($showFeed = false)
#if($isGroupMember || $s.policy=="open")
#set($showFeed = true)
##set($feedURL = $xwiki.getDocument("Groups.Feed").getExternalURL("view", $util.escapeURL("space=${spaceName}&xpage=plain")))
#set($feedURL = $xwiki.getDocument("Groups.Feed").getURL("view", "space=${escapetool.url($spaceName)}&xpage=plain"))
#begingroupsection($msg.groups_home_activity_title $msg.groups_home_activity_feed $feedURL "blue" $showFeed)
#set($as = $xwiki.activitystream)
#set($streamName = $as.getStreamName($spaceName))
#set($events = $as.getEvents($streamName, true, 5, 0))
#foreach($event in $events)
  #set($cls = "spacedoc")
  #if($velocityCount == 1)
    #set($cls = "spacedoc-first")
  #end
  #set($displayBody = "")
  #set($displayBody = $!event.displayBody)
<div class="${cls}">
  <span class="spacedoc-date">$xwiki.formatDate($event.date, $msg.get("mycurriki.datetimeFormat"))</span>
  <span class="spacedoc-title">$displayBody</span>
##  <span class="spacedoc-editor">$xwiki.getUserName($event.user)</span>
</div>
#end
#endgroupsection()
#end
#end

#**
  * Groups Home Page Details block
  *
  *#
#macro(groups_homepage_details)
############# informations ##################
#set($editlink = $s.getHomeURL()+"?action=editinfo")
#if($isGroupAdmin&&$request.ajax=="1")
<script type="text/javascript">
function editGroupInfo(spaceName,divid) {
  var pars = "space=" + spaceName + "&divid=" + divid + "&xpage=plain";
  $(divid).innerHTML = "<p>${msg.groups_loadinginprogress}</p>";
  // call url to get the edit html to edit the profile
  var myAjax = new Ajax.XWikiRequest( "Groups", "EditGroupInfoService", {method: 'get', parameters: pars, onComplete: editGroupInfoCallback, divid: divid });
}
function editGroupInfoCallback(ajaxreq) {
 var divid = ajaxreq.options.divid;
 $(divid).innerHTML = ajaxreq.transport.responseText;
}
function cancelEditGroupInfo(spaceName,divid) {
  if (confirm('$msg.groups_welcomeblock_confirmcancel')) {
   var pars = "space=" + spaceName + "&divid=" + divid + "&xpage=plain";
   $(divid).innerHTML = "<p>${msg.groups_loadinginprogress}</p>";
   // call url to get the edit html to edit the profile
   var myAjax = new Ajax.XWikiRequest( "Groups", "ViewGroupInfoService", {method: 'get', parameters: pars, onComplete: cancelEditGroupInfoCallback, divid: divid });
  }
}
function cancelEditGroupInfoCallback(ajaxreq) {
 var divid = ajaxreq.options.divid;
 $(divid).innerHTML = ajaxreq.transport.responseText;
}
</script>
#begingroupsection($msg.groups_home_information_title, $msg.groups_home_information_link, "javascript:editGroupInfo('${spaceName}','group-info')", "blue" $isGroupAdmin)
#else
#begingroupsection($msg.groups_home_information_title, $msg.groups_home_information_link, "$editlink", "blue" $isGroupAdmin)
#end
<div id="group-info">
<div class="group-membership-policy">
<strong class="caption">$msg.get("groups_home_information_member_policy")</strong> $s.display("policy","view")
</div>
<div class="group-licence">
<strong class="caption">$msg.get("groups_home_information_license")</strong>
$s.display("licence","view")
</div>
<div class="group-language">
<strong class="caption">$msg.get("groups_home_information_language")</strong>
$s.display("language","view")
</div>
<div class="group-access-policy">
<strong class="caption">$msg.get("groups_home_information_access")</strong>
$s.display("accessprivileges","view")
</div>
<div class="group-creation-date">
<strong class="caption">$msg.get("groups_home_information_creationdate")</strong> $xwiki.formatDate($s.getCreationDate(), $msg.get("mycurriki.dateFormat"))
</div>
<div class="group-url">
<strong class="caption">$msg.get("groups_home_information_webaddress")</strong>
http:&#47;&#47;$s.display("urlshortcut","view")#groups_groupsuffixurl()
</div>
<div class="group-subject-education-level">
<table width="100%" border="0">
<tr>
<th width="50%" class="caption">$msg.get("groups_home_information_subject")</th>
<th width="50%" class="caption">$msg.get("groups_home_information_level")</th>
</tr>
<tr>
<td>
    #if($context.action == "view")
     #set($subjects = $s.getValue("topic"))
     #foreach($subject in $subjects)
       #if($subject!="FW_masterFramework.WebHome")
       #set($parentSubject = $xwiki.getDocument($subject).parent)
       #if($parentSubject != "FW_masterFramework.WebHome")
        #set($ps = $msg.get("CurrikiCode.AssetClass_fw_items_${parentSubject}"))
        #set($ps = "${ps} &gt; ")
       #else
        #set($ps = "")
       #end
       $ps$msg.get("CurrikiCode.AssetClass_fw_items_${subject}")<br />
      #end
     #end
     ##set($needle = $msg.groups_home_information_subject_index + "  &gt; ")
     ## For now we need to hardcode this part because the FWs are not translated
     ## therefore we need to look for the english version of the text
     ##set($needle = "Subject Index  &gt; ")
     ##set($correctTopic = $s.get("topic").replaceAll($needle,""))
     ##$correctTopic
    #else
     $s.display("topic")
    #end
</td>
<td> $s.display("educationLevel","view").replaceAll("#--#","<br />") </td>
</tr></table>
</div>
</div>
#endgroupsection()
#end

#**
  * Groups Home Page Contributions block
  *
  *#
#macro(groups_homepage_contributions)
<div class="groups-curriculum">
<div id="groups-search" class="frame">
#curriki_titlebar($msg.get("groups_home_contributions_title") "" "" "red")
<div class="frame-content">
##
#if($context.action == "view" && ($isGroupMember || $hasGlobalAdmin))##{
#verbatim_start
  <a class="button-orange" id="groupcontribution-rightbutton" onclick="Curriki.module.addpath.startPath('O', {publishSpace:'Coll_${doc.space}'});" title="$msg.get('groups.curriculum.contributions.addButton_tooltip')">$msg.get('groups.curriculum.contributions.addButton')</a>
#verbatim_end
#end ##}
$msg.get("groups.curriculum.contributions.about")
	<div style="clear:both;">
  #verbatim_start
	<form id="groupsearch" name="groupsearch" method="post"
		onsubmit="if (document.groupsearch.brsqry.value!='' && document.groupsearch.brsqry.value!='${msg.groups_home_contributions_searchfieldtxt}') {document.groupsearch.action=document.groupsearch.action+'#o%3As%3Ds%253Aresource%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+escape(escape(escape(escape(document.groupsearch.brsqry.value))));}; document.location.href=document.groupsearch.action; return false;"
	action="/xwiki/bin/view/${spaceName}/ContributionsSearch">
		<div class="groupcontribution-leftbutton">
			<a class="button-orange" href="/xwiki/bin/view/${spaceName}/Contributions" alt="$msg.get("groups.curriculum.contributions.viewAll")" title="$msg.get("groups.curriculum.contributions.viewAll")">$msg.get("groups.curriculum.contributions.viewAll")</a>
			$msg.get('groups.curriculum.contributions.viewORsearch')
		</div>
		<div id="curriki-search-field-container">
			<div class="curriki-search-a" id="curriki-search-field">
				<input type="hidden" value="" name="area" class="hidden"/>
				<input type="text" value="$msg.groups_home_contributions_searchfieldtxt" id="curriki-searchbox" name="brsqry" onfocus="if(this.value=='$msg.groups_home_contributions_searchfieldtxt') this.value='';" onblur="if(this.value=='') this.value='$msg.groups_home_contributions_searchfieldtxt';" />
				<button name="btn" type="submit" id="searchbtn">$msg.get("groups.curriculum.contributions.go")</button>
			</div>
		</div>
	</form>
	#verbatim_end
</div>
</div>
</div>
</div>
#end

#**
  * Displays the feed of a group
  *
  *#
#macro(groups_feed)
#set($spaceName = $request.space)
#if(!$spaceName)
#set($spaceName = "Group_ludotest")
#end
#set($as = $xwiki.activitystream)
#set($list = $as.getEvents($spaceName, true, 50, 0))
##foreach($event in $list)
##$event.date $event.page: $event.displayTitle <br />
###end
#if($request.type)
#set($type = $request.type)
#else
#set($type = "atom_0.3")
#end
#verbatim($as.getFeedOutput($list, "Curriki", "Curriki Group Feed", "Curriki Group Feed", "Copyright", $xwiki.encoding, "http://www.curriki.org/", $type))
#end

#**
  * Finds group from server url
  *#
#macro(groups_findgroup)
#if($request.serverName.indexOf(".groups.")!=-1)
#set($i1 = $request.serverName.indexOf("."))
#set($groupurl = $request.serverName.substring(0, $i1))
#else
#set($groupurl = $request.groupurl)
#end
#set($spaces = $xwiki.csm.searchSpaces(", StringProperty as urlprop", " and obj.id=urlprop.id.id and urlprop.id.name='urlshortcut' and urlprop.value='${groupurl}'", 0, 0))
#if($spaces&&($spaces.size()>0))
#set($space = $spaces.get(0))
#if($space)
$response.sendRedirect("http://$xwiki.curriki.getPublicCurrikiConfig('hostname', 'www.curriki.org')${space.homeURL}")
#end
#end
#if(!$space)
$msg.groups_countnotfindgroupbygroupurl
#end
#end


#**
 * Service for showing the group info edit form
 *#
#macro(groups_editinfoform)
#set($sm = $xwiki.csm)
#set($spaceName = $request.space)
#set($divid = $request.divid)
#set($s = $sm.getSpace($spaceName))
#set($isGroupAdmin = $sm.isAdmin($spaceName, $context.getUser()))
#if(!$isGroupAdmin)
$msg.groups_needsadminrights
#else
<form id="wblockform" action="$xwiki.getURL("Groups.SaveGroupInfoService")" method="post" onsubmit="new iframe(this,{update:'${divid}'}); return false;">
<input type="hidden" name="divid" value="$request.divid" />
<input type="hidden" name="space" value="$request.space" />
############# membership policy ################
#begingroupsection($msg.groups_home_editinformation_member_policy_title,"","","blue", false)
$s.display("policy","edit")
#endgroupsection()
############# subject - level #################
#begingroupsection($msg.groups_home_editinformation_subjectlevel_title,"","","blue", false)
<table border="0">
<tr>
<th>$msg.groups_home_editinformation_subject_title</th>
<th>$msg.groups_home_editinformation_level_title</th>
</tr>
<tr>
<td width="50%"> $s.display("topic","edit") </td>
<td width="50%"> $s.display("educationLevel","edit") </td>
</tr></table>
#endgroupsection()
############### language ###################
#begingroupsection($msg.groups_home_editinformation_language_title,"","","blue", false)
$s.display("language","edit")
#endgroupsection()
############## licence ##############
#begingroupsection($msg.groups_home_editinformation_license_title,"","","blue", false)
$s.display("licence","edit")
#endgroupsection()
################ information access #####
#begingroupsection($msg.groups_home_editinformation_access_title,"","","blue", false)
$s.display("accessprivileges","edit")
#endgroupsection()
############## webadress ###########
#begingroupsection($msg.groups_home_editinformation_webaddress_title,"","","blue", false)
$msg.groups_home_editinformation_webaddress_instruction <br />
http:&#47;&#47; $s.display("urlshortcut","edit") #groups_groupsuffixurl()
#endgroupsection()
<table><tr>
<td><input type="submit" value="$msg.groups_home_editinformation_submit_btt" /></td>
<td>#button(  "$msg.groups_home_editinformation_cancel_btt"  "grey"  "reset"  ""  "if(confirm('$msg.groups_home_editinformation_cancel_confirm')) window.location='$s.getHomeURL()';" )</td>
</tr></table>
</form>
<div class="tooltips">
$xwiki.addTooltipJS()
</div>
#end
#end

## End of Groups Macros ## }
