##
##
## My Curriki Groups Macros
##
##

#**
  * Displays the group list of the user in mycurriki
  *
  * @param $userdoc Document of the user
  * @param $userobj Object of the user
  *#
#macro(groups_mycurriki_grouplist $userdoc $userobj)
##
#set($nbToDisplay = 5)
##
#set($sm = $xwiki.csm)
#set($spaceList = $sm.getSpaceNames($userdoc.fullName, $xwiki.null))
#set($startIndex = 0)
#set($Integer = 0)
#if($request.startIndex)
 #set($startIndex = $Integer.parseInt($request.getParameter("startIndex")))
#end
#if($startIndex > ($spaceList.size() - 1))
 #set($startIndex = $spaceList.size() - 1)
#end
#set($endIndex = $startIndex - 1 + $nbToDisplay)
#if($endIndex > ($spaceList.size() - 1))
 #set($endIndex = $spaceList.size() - 1)
#end
##
#set($first_frame_done = "yes")
#set($showcount = 0)
#foreach($space in $spaceList) ## {
#set($showcount = 1 + $showcount)
#if(($showcount > $startIndex) && ($showcount < ($endIndex + 2))) ## {
#groups_groupinfomessages($space "")
#end ## }
#end ## }
#if($showcount != 0) ## {
#set($sortArgs = "")
<div class="frame">
#curriki_paginatorargs($msg.get("mycurriki.tab.groups.label") $startIndex $nbToDisplay $spaceList.size() $sortArgs)
#end ## }
#end ## macro ## }

#**
  * Display a Group logo for a space
  *
  * @param $space Space/Group to display the logo of
  * @author dward@curriki.org
  *#
#macro(groups_grouplogo $space)
  #set($logofilename = $space.display("logo","view"))
  #set($attachLogo = "")
  #if($logofilename != "")
   #set($spacehome = $space.getSpaceName()+".WebHome")
   #set($srcdoc = $xwiki.getDocument($spacehome))
   #set($attachLogo = $srcdoc.getAttachment($logofilename))
  #end
  #if(($logofilename != "")&&$attachLogo&&($attachLogo!=""))
    #set($m_logo = $srcdoc.getAttachmentURL($logofilename))
    #set($logowidth = $xwiki.image.getWidth($srcdoc.fullName,$logofilename))
    #set($logoheight = $xwiki.image.getHeight($srcdoc.fullName,$logofilename))
  #else
    #set($m_logo = $xwiki.getSkinFile("groups_default_logo.gif"))
	#set($logowidth = 82)
	#set($logoheight = 50)
  #end
#set( $image_resize = "" )
#if($logowidth > 120 || $logoheight > 82)
  ## find out wich dimmension overflows the most and computes scaled sizes
  #set( $ratiox = $logowidth / 120)
  #set( $ratioy = $logoheight / 82)
  #if($ratiox>$ratioy)
    #set($width = 120)
    #set($height = $width * $logoheight /  $logowidth)
    #set( $image_resize = "?width=120")
  #else
    #set($height = 82)
    #set($width = $height * $logowidth / $logoheight)
    #set( $image_resize = "?height=82")
  #end
#else
  #set($height = $logoheight)
  #set($width = $logowidth)
#end
  ##display logo
  <div class="frame-inset-logo">
    <a href="$space.getHomeURL()" title="{pre}$xwiki.escapeText($space.getDisplayTitle()){/pre}" alt="{pre}$xwiki.escapeText($space.getDisplayTitle()){/pre}">
      <img src="${m_logo}${image_resize}" width="$width" height="$height" title="{pre}$xwiki.escapeText(${space.getDisplayTitle()}){/pre}" alt="{pre}$xwiki.escapeText(${space.getDisplayTitle()}){/pre}" />
    </a>
  </div>
#end

#**
  * Group masthead showing the group information for my curriki
  *
  * @param m_groupName group name to display messages for
  * @param displayType display in view or edit mode
  * @author dward@curriki.org
  *#
#macro(groups_groupinfo $m_groupName $displayType) ## {
#if(!$g_rowCount) ## {
#set($g_rowCount = 0)
#end ## }
#set($g_rowCount = $g_rowCount + 1)
#set($m_sm = $xwiki.csm)
#set($s = $m_sm.getSpace($m_groupName))
#if("$!first_frame_done" == "") ## {
<div class="frame">
#else ## } {
#set($first_frame_done = "")
#end ## }
<div class="frame-inset-titlebar">
#if($displayType == "edit")
  #set($editmastheadurl = $s.getHomeURL()+"?action=editmasthead")
  #curriki_titlebar("{pre}$xwiki.escapeText($s.getDisplayTitle()){/pre}" $msg.get('groups_home_masthead_link') $editmastheadurl "blue")
#elseif($displayType == "view")
  #curriki_titlebar("{pre}$xwiki.escapeText($s.getDisplayTitle()){/pre}" "" "" "blue")
#else
  #curriki_titlebar("{pre}$xwiki.escapeText($s.getDisplayTitle()){/pre}" $msg.get('mycurriki.groups.visit') $s.getHomeURL() "blue")
#end
</div>
#groups_grouplogo( $s )
<div class="frame-inset-description">
<p>
$s.getDescription()
</p>
</div>
</div>
#end ## }



#**
  * Group masthead showing messages viewable by the user for my curriki
  *
  * @param m_groupName group name to display messages for
  * @param displayType display in view or edit mode
  * @author dward@curriki.org
  *#
#macro(groups_groupinfomessages $m_groupName $displayType) ## {
#if(!$g_rowCount) ## {
#set($g_rowCount = 0)
#end ## }
#set($g_rowCount = $g_rowCount + 1)
#set($m_sm = $xwiki.csm)
#set($s = $m_sm.getSpace($m_groupName))
#if("$!first_frame_done" == "") ## {
<div class="frame">
#else ## } {
#set($first_frame_done = "")
#end ## }
<div class="frame-inset-titlebar">
#if($displayType == "edit")
  #set($editmastheadurl = $s.getHomeURL()+"?action=editmasthead")
  #curriki_titlebar("{pre}$xwiki.escapeText($s.getDisplayTitle()){/pre}" $msg.get('groups_home_masthead_link') $editmastheadurl "blue")
#elseif($displayType == "view")
  #curriki_titlebar("{pre}$xwiki.escapeText($s.getDisplayTitle()){/pre}" "" "" "blue")
#else
  #curriki_titlebar("{pre}$xwiki.escapeText($s.getDisplayTitle()){/pre}" $msg.get('mycurriki.groups.visit') $s.getHomeURL() "blue")
#end
</div>
#groups_grouplogo( $s )
<div class="frame-inset-description">
<p>
$s.getDescription()
</p>
</div>
#if("$context.user" == "$!userdoc.fullName" ) ## {
## Get last 5 messages
#set($sql = ", BaseObject as obj where obj.name=doc.fullName and obj.className='XWiki.ArticleClass' and doc.web='Messages_${m_groupName}' order by doc.creationDate desc")
#set($messages = $xwiki.searchDocuments($sql, 100, 0))
#if($messages.size() > 0) ## {
<div id="mycurriki-groups-message-container">
## Show messages
<div id="mycurriki-group-mymessages-${m_groupName}" class="lefttext xwikicomment">
<div class="righttext floatright">
<a href="$xwiki.getURL("${m_groupName}.Messages", "view")">$msg.get("mycurriki.groups.viewmessages")</a>
</div>
<b>$msg.get("mycurriki.groups.mymessages")</b>
</div>
#set($showCount = 0)
#foreach($messageName in $messages) ## {
#if($showCount < 3) ## {
#if($xwiki.hasAccessLevel("view", $context.user, $messageName)) ## {
#set($showCount = 1 + $showCount)
#set($message = $xwiki.getDocument($messageName))
#set($msgContent = $message.getObject("XWiki.ArticleClass"))
<div id="mycurriki-group-mymessages-${message.fullName}" class="lefttext xwikicomment">
<div class="righttext floatright">
$xwiki.formatDate($message.creationDate, $msg.get("mycurriki.datetimeFormat"))
$msg.get("mycurriki.groups.message.by") <a href="$xwiki.getURL("${message.creator}", "view")">$xwiki.getUserName($message.creator)</a>
</div>
#set($showTitle = $msgContent.title)
#if($showTitle.length() > 32) ## {
#set($showTitle = $showTitle.substring(0, 32)+"...")
#end ## }
<a href="$xwiki.getURL($message.fullName, "view")"><b>$showTitle</b></a>
</div>
#end ## }
#end ## }
#end ## }
</div>
#end ## }
#end ## }
</div>
#end ## }