<h1 style="color:#666699">Education Is Hope. Make a Difference.</h1><h3>Help a teacher teach, help a student learn, donate today!</h3>
<br>
<img src="/xwiki/bin/download/Main/Donate/classroom1.jpg" alt="Make a Difference. Donate to Curriki." style="height="150" width="630"><br>


\\
<a name="paypal"></a> #titlebar("Donating is Easy" "" "" "purple" )

You can donate online through PayPal's secure website in two ways:<br>
<ul>
<li>Credit Card: directly from your Visa, American Express, MasterCard or Discover Card (no PayPal account needed)</li>
<li>PayPal account</li>
</ul>
Please select a donation amount:
<br>

<table width="630" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="hidden" name="amount" value="25.00"/>
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate2500.gif" border="0" name="submit" alt="Thank you for your donation!">
      </form>
      <img src="/xwiki/bin/download/Main/Donate/donate0s.gif">
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="hidden" name="amount" value="75.00"/>
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>      <input type="image" src="/xwiki/bin/download/Main/Donate/donate75.gif" border="0" name="submit" alt="Thank you for your donation!">
      </form>
      <img src="/xwiki/bin/download/Main/Donate/donate0s.gif">
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="hidden" name="amount" value="150.00" />
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>      <input type="image" src="/xwiki/bin/download/Main/Donate/donate150.gif" border="0" name="submit" alt="Thank you for your donation!">
      </form>
      <div class="form">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="inline">
      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <!-- Specify a Subscribe button. -->
      <input type="hidden" name="cmd" value="_xclick-subscriptions">
      <!-- Identify the subscription. -->
      <input type="hidden" name="item_name" value="Donation to Curriki">
      <input type="hidden" name="item_number" value="No Item Number">
      <!-- Set the terms of the regular subscription. -->
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="a3" value="12.50">
      <input type="hidden" name="p3" value="12">
      <input type="hidden" name="t3" value="M">
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <!-- Display the payment button. -->
      <input type="image" name="submit" border="0" src="/xwiki/bin/download/Main/Donate/donate150s.gif" alt="Thank you for your donation!">
      </form>
      </div>
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <input type="hidden" name="amount" value="300.00"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate300.gif" border="0" name="submit" alt="Thank you for your donation!">
      </form>
      <div class="form">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="inline">
      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <!-- Specify a Subscribe button. -->
      <input type="hidden" name="cmd" value="_xclick-subscriptions">
      <!-- Identify the subscription. -->
      <input type="hidden" name="item_name" value="Donation to Curriki">
      <input type="hidden" name="item_number" value="No Item Number">
      <!-- Set the terms of the regular subscription. -->
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="a3" value="25.00">
      <input type="hidden" name="p3" value="12">
      <input type="hidden" name="t3" value="M">
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <!-- Display the payment button. -->
      <input type="image" name="submit" border="0" src="/xwiki/bin/download/Main/Donate/donate300s.gif" alt="Thank you for your donation!">
      </form>
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <input type="hidden" name="amount" value="1000.00"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate1000.gif" border="0" name="submit" alt="Thank you for your donation!">
      </form>
      <div class="form">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="inline">
      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <!-- Specify a Subscribe button. -->
      <input type="hidden" name="cmd" value="_xclick-subscriptions">
      <!-- Identify the subscription. -->
      <input type="hidden" name="item_name" value="Donation to Curriki">
      <input type="hidden" name="item_number" value="No Item Number">
      <!-- Set the terms of the regular subscription. -->
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="a3" value="83.37">
      <input type="hidden" name="p3" value="12">
      <input type="hidden" name="t3" value="M">
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <!-- Display the payment button. -->
      <input type="image" name="submit" border="0" src="/xwiki/bin/download/Main/Donate/donate1000s.gif" alt="Thank you for your donation!">
      </form>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="4"><div align="right">You may also choose the amount you wish to donate.</div></td>
    <td width="126" height="49">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="hidden" name="image_url" value="https://www.curriki.org/xwiki/skins/curriki8/images/curriki%2Dlogo.gif"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donateonly.gif" border="0" name="submit"  alt="Thank you for your donation!">
      </form>
    </td>
  </tr>
</table>



#subtitlebar("Donate by Mail" "" "" "purple")

To make a donation by mail, please make your check or money order payable to "Curriki" and send to:

<address>
Curriki<br/>
20660 Stevens Creek Boulevard<br/>
#332<br/>
Cupertino, CA 95014 <br/>
</address>
<br>
Curriki is a 501(c)(3) not-for-profit organization; contributions are tax deductible. Thank you for supporting Curriki!

#titlebar("Take Action" "" "" "purple")

By donating to Curriki, you are supporting the global community of teachers, students, administrators and parents with free, high-quality curricula and learning resources. Help eliminate the Education Divide with a tax-deductible donation today and help us continue growing the repository of resources and content available to everyone.

Beyond donations, there are many ways you can help Curriki...
<br>
<br>

<table width="630" border="0" cellspacing="10" cellpadding="0">
  <tr>
     <td width="126" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/Donate/mediatypesall.gif" title="Contribute content" alt="Contribute content" />
     </td>
     <td width="126" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/Donate/5stars.gif" title="Rate and comment" alt="Rate and comment" />
     </td>
     <td width="126" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/BrowseImages/groupssmall.gif" title="Start a group" alt="Start a group" />
     </td>
     <td width="126" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/Link/currikilink.gif" title="Link to us" alt="Link to us" />
     </td>
     <td width="126" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/Donate/share35x35.gif" title="Share a resource" alt="Share a resource" />
     </td>
  </tr>
  <tr>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p><a href="http://www.curriki.org/xwiki/bin/view/Main/AboutContributing" title="About Contributing">Contribute</a> your own educational materials to the Curriki community</p></div>
     </td>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p>Help to improve the content repository by <a href="http://www.curriki.org/xwiki/bin/view/Main/AboutMemberRating" title="About Member Rating">commenting and rating</a></p></div>
     </td>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p><a href="http://www.curriki.org/xwiki/bin/view/Groups/AboutCreatingGroups/" title="About Creating Groups">Start a group</a> and invite your fellow educators to join</p></div>
     </td>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p><a href="http://www.curriki.org/xwiki/bin/view/Main/Link" title="Link to Us">Link to Curriki</a> from your website or blog</p></div>
     </td>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p><a href="http://www.curriki.org/xwiki/bin/view/Coll_curriki/Email" title="Send to a Friend">Share a resource</a> you find on Curriki with a friend or colleague</p></div>
     </td>
   </tr>
</table>



<table width="630" border="0" cellspacing="10" cellpadding="0">
  <tr>
     <td width="210" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/CurrikiStories/currikistoriesmorocco.gif" title="Curriki Stories - Morocco" alt="Curriki Stories - Morocco" />
     </td>
     <td width="210" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/CurrikiStories/currikistoriesuae.gif" title="Curriki Stories - UAE" alt="Curriki Stories - UAE" />
     </td>
     <td width="210" valign="middle" align="center">
        <img src="/xwiki/bin/download/Main/CurrikiStories/currikistoriescalifornia.gif" title="Curriki Stories - San Jose" alt="Curriki Stories - San Jose" />
     </td>
  </tr>
  <tr>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p>"As I plan my lessons, I think about what it would be like if I was a student in my classroom. I want my lessons to be as interesting and engaging as possible. Curriki is my starting point in the lesson creation process."</p></div>
     </td>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p>"By utilizing open source content, such as the units on Curriki, schools can reallocate resources towards activities that truly build teacher skills and effectiveness in the classroom."</p></div>
     </td>
     <td valign="top"><div style="margin: 5px 5px 5px 5px;">
        <p>"We are using Curriki in San Jose Unified School District to maximize the impact of individual teachers' lessons, ideas and teaching resources. Curriki has been a wonderful partner in these efforts and we look forward to expanding our program with them next year to continue enhancing teaching and learning across our district."</p></div>
     </td>
   </tr>
<tr>
    <td colspan="3"><div align="left"><a href="http://www.curriki.org/xwiki/bin/view/Main/CurrikiStories">Learn more</a> about what other<a href="http://www.curriki.org/xwiki/bin/view/Main/CurrikiStories"> Voices of the Curriki Community</a> are saying!</div>
    </td>
  </tr>
</table>