<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <style type="text/css">
        body { min-width: 0; margin-right:1em; width:650px}
        #container{ padding: 20px; font: normal 14px/16px arial, helvetica, sans-serif;color:#666; background-color: inherit;text-align: left; width:580px; }
        h2 {color:#3968B7; margin:0 0 20px 0}
        .h2graysspan{color: #666;}
        #box-wrapper{ margin: 10px auto; padding: 0; width: 580px;}
        .box  {border:  16px solid #999; ;margin: 7px; font-size:20px; padding: 6px 10px 0px 3px; text-align: center;  float:left;   background-color: white; height:130px; width:130px; line-height:20px; white-space: normal;}
        a {text-decoration: none;}
        .dollar_sign{ font-size: 14px; vertical-align: top; padding-left:10px;}
        p {margin-bottom:10px}
    </style>
<!--    #if($user)#else#set($user=$request.user)#end ##
    #if($user)#else#set($user=$request.xwikiname)#end ##
    #if($user)#else#set($user=$context.user)#end user is $user
    #if($user=="XWiki.XWikiGuest")Warning: no user, donation will be to 'guest'.#end
    #set($baseUrlNext="/xwiki/bin/view/GCheckout/CheckoutNow?xpage=popup&type=donation&keepQuiet=true&user=$user&amount=")##
    #set($baseUrlPopup="/xwiki/bin/view/GCheckout/CheckoutNow?xpage=popup&type=donation&redirectNow=true&user=$user&amount=")##
    -->
    {pre}
    <script type="text/javascript">

        //Check if a number was entered to the text field
        //if yes it must be a whole number and the radio buttons need to be reset.
        function validateDonateForm(){
            amountInput = document.getElementById("donateAmount");
            amount = amountInput.value;

            if(amount.length > 0){
                disableRadioButtonsIfNumberInput();
            }

            if(amount % 1 != 0) {
                alert("Please enter a whole number for donation");
                return false;
            } else {
                return true;
            }
        }

        //If the user entered a number no other radio button should be active
        function disableRadioButtonsIfNumberInput(){
            inputs = document.getElementById("donationForm").getElementsByTagName("input");

            for(i = 0; i < inputs.length; i++){
                inputs[i].checked = false;
            }
        }

    </script>
    {/pre}
</head>
<body>
<form id="donationForm" action="/xwiki/bin/view/GCheckout/CheckoutNow" target="curriki-donations" onsubmit="validateDonateForm();">##
    <input type="hidden" name="xpage" value="popup"/>##
    <input type="hidden" name="type"  value="donation"/>##
    <input type="hidden" name="redirectNow" value="true"/>##
    <input type="hidden" name="user" value="$user"/>##


    <label><input type="radio" name="amount" value="25" checked />&#36;25</label>
    #set($values=[50,100,250,500,1000])##
    #foreach($value in $values)
        <label><input type="radio" name="amount" value="${value}"/>&#36;${value}</label> - ##
    #end ##
    other: &#36;<input id="donateAmount" type="text" name="amount" value="" size="5"/>##
    <input type="image" name="image" style="height:43px; width:100px; vertical-align:-23px"
           src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=910568156269958&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en"/>

    <!--
    ##https://checkout.google.com/buttons/donateNow.gif?merchant_id=910568156269958amp;w=115&h=50&style=white&variant=text&loc=en
    ##https://checkout.google.com/buttons/donateNow.gif?merchant_id=910568156269958&w=115&h=50&style=white&variant=text&loc=en
      https://checkout.google.com/buttons/donateNow.gif?merchant_id=910568156269958&w=115&h=50&style=white&variant=text&loc=en
    -->
</form>
</body>
</html>
