#**
 * Join Curriki Page
 * @programming
 *#
#includeMacros("Registration.FormMacros")
#tryregister()
#if(!$result) ##{
#registrationinit('register')
#registrationinfo()
#startregistrationform()
#registrationaccountinfo()
#registrationprivacysettings()
#registrationinterests()
#registrationterms()
#endregistrationform()
#else ##}{ Registration succeeded -- go to email sent page
#set($userdoc=$reg.userdoc)
#set($userobj=$userdoc.getObject("XWiki.XWikiUsers"))
    #if($userobj.getProperty("member_type").value=="corporation" || $userobj.getProperty("member_type").value=="nonprofit")
        $response.sendRedirect($xwiki.getURL('Registration.EmailSentCorporations'))
    #else
        $response.sendRedirect($xwiki.getURL('Registration.EmailSent'))
    #end
#end ##}
