## Classroom Groups Macros
##
##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="csm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="sm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="as" type="org.curriki.plugin.activitystream.plugin.CurrikiActivityStreamPluginApi" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#* @vtlvariable name="event" type="com.xpn.xwiki.plugin.activitystream.plugin.ActivityEvent" *# ##
#* @vtlvariable name="newspace" type="org.curriki.plugin.spacemanager.impl.CurrikiSpace" *# ##


#**
 * Create New Class Group Form
 *
 *#
#macro(classrooms_createnewgroupform)
    #set($sm = $xwiki.csm)
    #if($context.user=="XWiki.XWikiGuest")
        #set($url = $xwiki.getURL("XWiki.XWikiLogin","login","xredirect=$logredir"))
        $msg.get("classrooms_creategroup_needaccount", [$url])
    #else
    ## check if the user email is validated and if not goto validation page
    ##Creating a fake space
        #set($valid = 0)
        #if($request.method=="POST")
            #set($newspace = $sm.createSpaceFromRequest("ClassroomTemplateSpace"))
            #if($newspace)
            ##$response.sendRedirect($xwiki.getURL("${newspace.space}.WebHome", "view", "firsttime=1"))
                #includeInContext("Groups.CreateNewClassGroupDone")
                #set($valid = 1)
            #else
                #if( $context.validation )
                    #set( $valid = 0 )
                #else
                space creation error
                #end
            #end
        #end
        #if( $valid == 0 )
            #set($newspace = $sm.getSpace(""))
            #set($ok = $sm.updateSpaceFromRequest($newspace))
            #if(!($request.method=="POST"))
                #set($ok = $context.validation.clear())
                $newspace.setPolicy("closed")
                $newspace.set("accessprivileges", "private")
                $newspace.set("topic",[
                    "FW_masterFramework.WebHome", "FW_masterFramework.Mathematics", "FW_masterFramework.Geometry"])
                ## getObject("XWiki.CurrikiSpaceClass").getProperty("topic").
                $newspace.set("educationLevel",["gr-6-8", "gr-9-10", "gr-11-12"])## getObject("XWiki.CurrikiSpaceClass").getProperty
            #end
        ##Show the inputs for form
        {{html clean="false"}}
        <form action="CreateNewGroup" class="CreateNewGroup" method="post">
            <h1>$msg.get("classrooms_creategroup_pagename")</h1>
            #titlebar($msg.get("classrooms_creategroup_about_title"), "", "", "blue")
            <p>
                $msg.get("classrooms_creategroup_about_infotxt")
            </p>  ##endp
            #titlebar($msg.get("classrooms_creategroup_namedescribe_title"), "", "", "blue")
            <p>
                <span id="label-group-name">$msg.get("classrooms_creategroup_namedescribe_groupname"):</span> <br />
                {{/html}}
                $newspace.display("displayTitle","edit")
                {{html clean="false"}}
                #tooltip("group-name",$msg.get("classrooms_creategroup_namedescribe_groupname_tooltip"))
                #validateGroup( "title-exists" "" $msg.classrooms_validation_title_exists)
                #validateGroup( "title-short" "" $msg.classrooms_validation_title_short)
                #validateGroup("title-long"  "" $msg.classrooms_validation_title_long)
                #validateGroup("title-invalid"  "" $msg.classrooms_validation_title_invalid)
                #validateGroup( "space-exists" "" $msg.classrooms_validation_space_exists)
                <span id="label-group-description">$msg.get("classrooms_creategroup_namedescribe_groupdescription")</span> <br />
            <div id="form-info-top">
            {{/html}}
                $newspace.display("description","edit")
            {{html clean="false"}}
    #tooltip("group-description",$msg.classrooms_creategroup_namedescribe_groupdescription_tooltip)
    #validateGroup( "desc-short" "" $msg.classrooms_validation_desc_short)
    #validateGroup( "desc-long" "" $msg.classrooms_validation_desc_long)
            </div>
            <span id="label-group-webaddress">$msg.get("classrooms_creategroup_namedescribe_webaddress_instruction")</span> <br />
            http:&#47;&#47;
            {{/html}}$newspace.display("urlshortcut","edit") #groups_groupsuffixurl(){{html clean="false"}}
            #validateGroup( "url-short" "" $msg.classrooms_validation_url_short)
            #validateGroup( "url-long" "" $msg.classrooms_validation_url_long)
            #validateGroup( "url-exists" "" $msg.classrooms_validation_url_exists)
            #validateGroup( "url-invalid" "" $msg.classrooms_validation_url_invalid)
            </p> ##endp


            </p> ##endp
                $msg.get("classrooms_creategroup_select_license_infotxt")
            {{/html}}
                $newspace.display("licence","edit")
            {{html clean="false"}}
                #validateGroup( "licence-long" "" $msg.groups_validation_licence_required)
            </p> ##endp
        ##
            #titlebar($msg.get("classrooms_creategroup_create_title"),"","","blue")
            <p>
                $msg.get("classrooms_creategroup_create_infotxt")
            </p>
                <br /><br />
            <table align="center">
                <tbody>
                <tr>
                    <td><input type="submit" class="button-orange" value="$msg.get("classrooms_creategroup_create_btt")" /></td>
                    <td>#set($homelink=$xwiki.getURL("Main.WebHome"))
                        #button(  "$msg.classrooms_creategroup_cancel_btt"  "grey"  "reset"  ""  "if(confirm('$msg.classrooms_creategroup_cancel_confirm')) window.location='$homelink';" )</td>
                </tr>
                </tbody>
            </table>
        </form>
        {{/html}}
        #end
    #end
{{html clean="false"}}
<div class="tooltips">
    <!-- Jorge: here to add something about tooltips? -->
    $xwiki.addTooltipJS()
</div>
    {{/html}}
#end
#classrooms_createnewgroupform()


##
##
## ================= copied from groupsmembers.vm ===========================================================
##
##
#**
 * Group Members
 * -- for use in all Members pages
 *#
#macro(ru_groups_members)
    <!-- init -->
    #groupinit()
    <!-- header -->
    #groupsheader("members")
    #if(!$isGroupMember && ($s.policy=="closed") && !$hasGlobalAdmin)
        $msg.get("classrooms_members_onlyaccessibletomembers")
    #else
        #set($im = $xwiki.invitationmanager)
        #set($spacePolicy = $s.policy)
        <!-- displaywelcome -->
        ## #groupsdisplaywelcome($msg.get("classrooms_members_about_title") $spaceName $doc.name $isGroupAdmin)
        <!-- membershipinfo -->
        #classroomsmembershipinfo($spaceName)
        #* #if(!$xwiki.exists("${spaceName}.ManageRoles")) ## {
            #set($discard = $xwiki.copyDocument("Groups_TemplateSpace.ManageRoles", "${spaceName}.ManageRoles"))
        #end *# ## }
        <!-- groupsection -->
        #begingroupsection($msg.get("classrooms_members_list_title"),$msg.get("classrooms_members_manage_roles"), $xwiki.getURL("${spaceName}.ManageRoles", "view"), "blue", $isGroupAdmin)
        #if(!$request.type)
            #set($type = "0")
        #else
            #set($type = $request.type)
        #end
        #if(!$isGroupAdmin)
        <div id="groups-members-list-$type" class="groups-members-list">
            <!-- groupsdisplaymembers -->
            #groupsdisplaymembers($spaceName)
        </div>
        #else
        <!-- groupsdisplaymembersfilters -->
            #groupsdisplaymembersfilters($type)
        <div id="groups-members-list-$type" class="groups-members-list">
        ## show members
        #if($type=="0")
        <!-- groupsdisplaymembers-->
        #groupsdisplaymembers($spaceName)
        ## show membershiprequests
        #elseif($type=="1")
            <!-- groupsdisplayopenmembershiprequests -->
            #groupsdisplayopenmembershiprequests($spaceName)
        ## show denied membershiprequests
        #elseif($type=="2")
            <!-- groupsdisplaydeniedmembershiprequests -->
            #groupsdisplaydeniedmembershiprequests($spaceName)
        #elseif($type=="3")
            <!-- groupsdisplayinvitations -->
            #groupsdisplayinvitations($spaceName)
        #end
##
        </div>
        #end
        #endgroupsection()
    #end
    #groupsfooter()
#end


##
##
## PAGE: Groups.MembersSheet
## Macro to display the members lists
##
#macro(groupsdisplaymembers $spaceName)
## <script src="$xwiki.getSkinFile("Pork.Iframe.js")" type="text/javascript"></script>
    <!-- fixme: groupsdisplayeditmemberjs was here -->## #groupsdisplayeditmemberjs()
    #set($members = $sm.getMembers($spaceName))
    ## pagination parameters
    #set($itemsPerPage=10)
    #if($request.ipp)
        #set($itemsPerPage=$xwiki.parseInt($request.ipp))
    #end
    #set($startIndex=0)
    #if($request.startIndex)
        #set($startIndex=$xwiki.parseInt($request.startIndex))
    #end
    #set($totalCount=$members.size())
## end pagination parameters
    #if($members.size()==0)
        $msg.get("classrooms_members_admin_current_members_nomembers")
    #else
        $msg.get("classrooms_members_admin_current_members_infotxt")
        #set($endIndex = $startIndex + $itemsPerPage - 1)
        #if($endIndex >= $totalCount)
            #set($endIndex = $totalCount - 1)
        #end
        #foreach($mid in [$startIndex..$endIndex])
            #groupsdisplaymember($members.get($mid) $spaceName $mid)
        #end ## foreach
    #end ## if
    #curriki_paginatorargs($msg.get("classrooms_members_page"),$startIndex,$itemsPerPage,$totalCount,"type=0")
#end



###
###
### ---------- Members ------------------------------------------------
###
###
###
#**
 * Group Members
 * -- for use in all Members pages
 *#
#macro(ru_groups_members)
{{html clean=false}}<!-- init -->
    #groupinit()
<!-- header -->
<h1>Classroom Members for $s.displayTitle</h1>
<!-- end header -->
    #if(!$isGroupMember && ($s.policy=="closed") && !$hasGlobalAdmin)
        $msg.get("classroom_members_onlyaccessibletomembers")
    #else
    <!-- membershipinfo -->
    ## was: #groupsmembershipinfo($spaceName)
        #begingroupsection($msg.get("classrooms_home_membership_title"),"","", "blue", false)
        #if($isGroupAdmin)
            $msg.get("classrooms_home_membership_group_infotxt")
        <div id="groups-members-invite-button" class="groups-members-button">
            <a href="$xwiki.getURL("${spaceName}.InviteMembers")" class="button-orange"##
                    >$msg.get("classrooms_home_membership_group_btt")</a>
        </div>
        #else
            #set($gpolicy = $sm.getSpace($spaceName).policy)
            #if($gpolicy=="open")
                $msg.get("classrooms_home_membership_open_visitor_infotxt")
            <div id="groups-members-join-button" class="groups-members-button">
                <a href="$xwiki.getURL("${spaceName}.JoinGroup")" class="button-orange">$msg.get("classrooms_home_membership_open_visitor_btt")</a>
            </div>
            #else
                $msg.get("classrooms_home_membership_closed_visitor_infotxt")
            <div id="groups-members-request-button" class="groups-members-button">
                <a href="$xwiki.getURL("${spaceName}.RequestMembership")" class="button-orange">$msg.get("classrooms_home_membership_closed_visitor_btt")</a>
            </div>
            #end
        #end
        #endgroupsection()

    #* #if(!$xwiki.exists("${spaceName}.ManageRoles")) ## {
       #set($discard = $xwiki.copyDocument("Groups_TemplateSpace.ManageRoles", "${spaceName}.ManageRoles"))
   #end *# ## }
    <!-- groupsection -->
        #begingroupsection($msg.get("classroom_members_list_title"),$msg.get("classroom_members_manage_roles"), $xwiki.getURL("${spaceName}.ManageRoles", "view"), "blue", $isGroupAdmin)
        #if(!$request.type)
            #set($type = "0")
        #else
            #set($type = $request.type)
        #end
        #if(!$isGroupAdmin)
        <div id="groups-members-list-$type" class="groups-members-list">
            <!-- groupsdisplaymembers -->
            #classroomsdisplaymembers($spaceName)
        </div>
        #else
        <!-- groupsdisplaymembersfilters -->
            #classroomsdisplaymembersfilters ($type)
        <div id="groups-members-list-$type" class="groups-members-list">
        ## show members
            #if($type=="0")
                <!-- groupsdisplaymembers-->
                #classroomsdisplaymembers($spaceName)
            ## show membershiprequests
            #elseif($type=="1")
                <!-- groupsdisplayopenmembershiprequests -->
                #groupsdisplayopenmembershiprequests($spaceName)
            ## show denied membershiprequests
            #elseif($type=="2")
                <!-- groupsdisplaydeniedmembershiprequests -->
                #groupsdisplaydeniedmembershiprequests($spaceName)
            #elseif($type=="3")
                <!-- groupsdisplayinvitations -->
                #groupsdisplayinvitations($spaceName)
            #end
        ##
        </div>
        #end
        #endgroupsection()
    #end
    #groupsfooter()
{{/html}}
#end

##
##
## Macro to display the members lists
##
#macro(classroomsdisplaymembers $spaceName)
## <script src="$xwiki.getSkinFile("Pork.Iframe.js")" type="text/javascript"></script>
<!-- fixme: groupsdisplayeditmemberjs was here -->## #groupsdisplayeditmemberjs()
    #set($members = $sm.getMembers($spaceName))
## pagination parameters
    #set($itemsPerPage=10)
    #if($request.ipp)
        #set($itemsPerPage=$xwiki.parseInt($request.ipp))
    #end
    #set($startIndex=0)
    #if($request.startIndex)
        #set($startIndex=$xwiki.parseInt($request.startIndex))
    #end
    #set($totalCount=$members.size())
## end pagination parameters
    #if($members.size()==0)
        $msg.get("classroom_members_admin_current_members_nomembers")
    #else
        $msg.get("classroom_members_admin_current_members_infotxt")
        #set($endIndex = $startIndex + $itemsPerPage - 1)
        #if($endIndex >= $totalCount)
            #set($endIndex = $totalCount - 1)
        #end
        #foreach($mid in [$startIndex..$endIndex])
            #classroomdisplaymember($members.get($mid) $spaceName $mid)
        #end ## foreach
    #end ## if
    #curriki_paginatorargs($msg.get("classroom_members_page"),$startIndex,$itemsPerPage,$totalCount,"type=0")
#end


##
#macro(classroomsdisplaymembersfilters $type)
<div id="groups-members-filter">
    $msg.get("classroom_members_admin_list_instruction")
    <form action="">
<span><input type="radio" name="type" value="0" #if($type=="0") checked #end onclick="this.form.submit()" />
    $msg.get("classroom_members_admin_list_togglecurrent")</span>
        #if($spacePolicy=="closed")
            #set($mreqs = $im.getMembershipRequests($spaceName, 2))
            #set($nbmreqs = $!mreqs.size())
            <span><input type="radio" name="type" value="1" #if($type=="1") checked #end onclick="this.form.submit()" />
                $msg.get("classroom_members_admin_list_togglepending", [ "$!nbmreqs" ])</span>
<span><input type="radio" name="type" value="2" #if($type=="2") checked #end onclick="this.form.submit()" />
    $msg.get("classrooms_members_admin_list_toggledenied")</span>
        #end
        <span><input type="radio" name="type" value="3" #if($type=="3") checked #end onclick="this.form.submit()" />
            $msg.get("classrooms_members_admin_list_toggleinvitations")</span>
    </form>
</div>
#end


##
##
## PAGE: Groups.MembersSheet
## Macro to display a member block in the members list
##
#macro(classroomdisplaymember $memberName $spaceName $divid)
    #set($mdoc = $xwiki.getDocument($memberName))
    #if(!$mdoc.isNew())
    <div class="groups-members-member">
        <div id="groups-members-memberinfo-$divid" class="groups-members-memberinfo">
            #classroomdisplaymemberinfo("$memberName" "$spaceName" "groups-members-memberinfo-$divid")
        </div>
    #else
        $msg.get("classroom_members_admin_current_membersettings_error")
    #end
</div>
#end



#macro(classroomdisplaymemberinfo $memberName $spaceName $divid) ## {
    #set($mdoc = $xwiki.getDocument($memberName))
    #if(!$mdoc.isNew())
    <div class="groups-members-memberpic userpic">
        #if($mdoc.attachmentList.size()==0)
            <img src="$xwiki.getSkinFile("noavatar.png")" width="80" />
        #else
            #foreach ($attach in $mdoc.attachmentList)
                <a href="$mdoc.getURL("view")" >
                    <img src="$mdoc.getAttachmentURL($attach.filename,"download")?width=80" width="80" /></a>
            #end
        #end
    </div>
    #end
    #set($uprofile = $sm.getSpaceUserProfile($spaceName,$memberName))
    #if($isGroupAdmin||$memberName==$context.user)
    <div class="groups-members-membereditlink">
        <a href="javascript:void()" onclick="editProfile('$memberName','$spaceName','$divid'); return false;">$msg.get("classroom_members_admin_current_members_editsettings_link")</a>
    </div>
    #end
    #set($memberIsAdmin = $sm.isAdmin($spaceName, $memberName))
    #if($isGroupAdmin)
        #set($adminCount = $sm.getAdmins($spaceName).size())
        #if($memberIsAdmin)
            #if($adminCount>1)
            <div class="groups-members-addadmin">
                <a href="javascript:void()" onclick="if (window.confirm('$msg.get("classrooms_admin_current_membersettings_removeadmin_confirm")')) {removeAdmin('$memberName','$spaceName');};return false;">$msg.get("classroom_members_admin_current_membersettings_removeadmin_link")</a>
            </div>
            #end
        #else
        <div class="groups-members-addadmin">
            <a href="javascript:void()" onclick="if (window.confirm('$msg.get("classrooms_members_admin_current_membersettings_addadmin_confirm")')) {addAdmin('$memberName','$spaceName');};return false;">$msg.get("classroom_members_admin_current_membersettings_addadmin_link")</a>
        </div>
        #end
        #if((!$memberIsAdmin) || ($memberIsAdmin &&  $adminCount>1))
        <div class="groups-members-remove">
            <a href="javascript:void()" onclick="if (window.confirm('$msg.get("classrooms_members_admin_current_membersettings_remove_confirm")')) {removeMember('$memberName','$spaceName');};return false;">$msg.get("classroom_members_admin_current_membersettings_remove_link")</a>
        </div>
        #end
    #else
        #if((!$memberIsAdmin) || ($memberIsAdmin &&  $adminCount>1))
            #if($memberName==$context.user)
            <div class="groups-members-remove">
                <a href="javascript:void()" onclick="if (window.confirm('$msg.get("classrooms_members_admin_current_membersettings_remove_confirm")')) {removeMember('$memberName','$spaceName');};return false;">$msg.get("classroom_members_admin_current_membersettings_remove_link")</a>
            </div>
            #end
        #end
    #end
<div class="groups-members-membername">
    <a href="$uprofile.userURL">$!uprofile.firstName $!uprofile.lastName</a>
</div>
<div class="groups-members-memberprofile">
    #set($profile = $uprofile.profile)
#if($profile)
    $profile
#end
</div>
#end
##

