{{velocity}}
##
##
##
## Class Groups Macros
##
##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="csm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="sm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="as" type="org.curriki.plugin.activitystream.plugin.CurrikiActivityStreamPluginApi" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#* @vtlvariable name="event" type="com.xpn.xwiki.plugin.activitystream.plugin.ActivityEvent" *# ##
#* @vtlvariable name="newspace" type="org.curriki.plugin.spacemanager.impl.CurrikiSpace" *# ##


#**
 * Create New Class Group Form
 *
 *#
#macro(classrooms_createnewgroupform)
    #set($sm = $xwiki.csm)
    #if($context.user=="XWiki.XWikiGuest")
        #set($url = $xwiki.getURL("XWiki.XWikiLogin","login","xredirect=$logredir"))
        $msg.get("classrooms_creategroup_needaccount", [$url])
    #else
    ## check if the user email is validated and if not goto validation page
    ##Creating a fake space
        #set($valid = 0)
        #if($request.method=="POST")
            #set($newspace = $sm.createSpaceFromRequest("ClassroomTemplateSpace"))
            #if($newspace)
            ##$response.sendRedirect($xwiki.getURL("${newspace.space}.WebHome", "view", "firsttime=1"))
                #includeInContext("Groups.CreateNewClassGroupDone")
                #set($valid = 1)
            #else
                #if( $context.validation )
                    #set( $valid = 0 )
                #else
                space creation error
                #end
            #end
        #end
        #if( $valid == 0 )
            #set($newspace = $sm.getSpace(""))
            #set($ok = $sm.updateSpaceFromRequest($newspace))
            #if(!($request.method=="POST"))
                #set($ok = $context.validation.clear())
                $newspace.setPolicy("closed")
                $newspace.set("accessprivileges", "private")
                $newspace.set("topic",[
                    "FW_masterFramework.WebHome", "FW_masterFramework.Mathematics", "FW_masterFramework.Geometry"])
                ## getObject("XWiki.CurrikiSpaceClass").getProperty("topic").
                $newspace.set("educationLevel",["gr-6-8", "gr-9-10", "gr-11-12"])## getObject("XWiki.CurrikiSpaceClass").getProperty
            #end
        ##Show the inputs for form
        {{html clean="false"}}
        <form action="CreateNewGroup" class="CreateNewGroup" method="post">
            <h1>$msg.get("classrooms_creategroup_pagename")</h1>
            #titlebar($msg.get("classrooms_creategroup_about_title"), "", "", "blue")
            <p>
                $msg.get("classrooms_creategroup_about_infotxt")
            </p>  ##endp
            #titlebar($msg.get("classrooms_creategroup_namedescribe_title"), "", "", "blue")
            <p>
                <span id="label-group-name">$msg.get("classrooms_creategroup_namedescribe_groupname"):</span> <br />
                {{/html}}
                $newspace.display("displayTitle","edit")
                {{html clean="false"}}
                #tooltip("group-name",$msg.get("classrooms_creategroup_namedescribe_groupname_tooltip"))
                #validateGroup( "title-exists" "" $msg.classrooms_validation_title_exists)
                #validateGroup( "title-short" "" $msg.classrooms_validation_title_short)
                #validateGroup("title-long"  "" $msg.classrooms_validation_title_long)
                #validateGroup("title-invalid"  "" $msg.classrooms_validation_title_invalid)
                #validateGroup( "space-exists" "" $msg.classrooms_validation_space_exists)
                <span id="label-group-description">$msg.get("classrooms_creategroup_namedescribe_groupdescription")</span> <br />
            <div id="form-info-top">
            {{/html}}
                $newspace.display("description","edit")
            {{html clean="false"}}
    #tooltip("group-description",$msg.classrooms_creategroup_namedescribe_groupdescription_tooltip)
    #validateGroup( "desc-short" "" $msg.classrooms_validation_desc_short)
    #validateGroup( "desc-long" "" $msg.classrooms_validation_desc_long)
            </div>
            <span id="label-group-webaddress">$msg.get("classrooms_creategroup_namedescribe_webaddress_instruction")</span> <br />
            http:&#47;&#47;
            {{/html}}$newspace.display("urlshortcut","edit") #groups_groupsuffixurl(){{html clean="false"}}
            #validateGroup( "url-short" "" $msg.classrooms_validation_url_short)
            #validateGroup( "url-long" "" $msg.classrooms_validation_url_long)
            #validateGroup( "url-exists" "" $msg.classrooms_validation_url_exists)
            #validateGroup( "url-invalid" "" $msg.classrooms_validation_url_invalid)
            </p> ##endp


            </p> ##endp
                $msg.get("classrooms_creategroup_select_license_infotxt")
            {{/html}}
                $newspace.display("licence","edit")
            {{html clean="false"}}
                #validateGroup( "licence-long" "" $msg.groups_validation_licence_required)
            </p> ##endp
        ##
            #titlebar($msg.get("classrooms_creategroup_create_title"),"","","blue")
            <p>
                $msg.get("classrooms_creategroup_create_infotxt")
            </p>
                <br /><br />
            <table align="center">
                <tbody>
                <tr>
                    <td><input type="submit" class="button-orange" value="$msg.get("classrooms_creategroup_create_btt")" /></td>
                    <td>#set($homelink=$xwiki.getURL("Main.WebHome"))
                        #button(  "$msg.classrooms_creategroup_cancel_btt"  "grey"  "reset"  ""  "if(confirm('$msg.classrooms_creategroup_cancel_confirm')) window.location='$homelink';" )</td>
                </tr>
                </tbody>
            </table>
        </form>
        {{/html}}
        #end
    #end
{{html clean="false"}}
<div class="tooltips">
    <!-- Jorge: here to add something about tooltips? -->
    $xwiki.addTooltipJS()
</div>
    {{/html}}
#end
#classrooms_createnewgroupform()


##
##
## ================= copied from groupsmembers.vm ===========================================================
##
##
#**
 * Group Members
 * -- for use in all Members pages
 *#
#macro(ru_groups_members)
    <!-- init -->
    #groupinit()
    <!-- header -->
    #groupsheader("members")
    #if(!$isGroupMember && ($s.policy=="closed") && !$hasGlobalAdmin)
        $msg.get("classrooms_members_onlyaccessibletomembers")
    #else
        #set($im = $xwiki.invitationmanager)
        #set($spacePolicy = $s.policy)
        <!-- displaywelcome -->
        ## #groupsdisplaywelcome($msg.get("classrooms_members_about_title") $spaceName $doc.name $isGroupAdmin)
        <!-- membershipinfo -->
        #classroomsmembershipinfo($spaceName)
        #* #if(!$xwiki.exists("${spaceName}.ManageRoles")) ## {
            #set($discard = $xwiki.copyDocument("Groups_TemplateSpace.ManageRoles", "${spaceName}.ManageRoles"))
        #end *# ## }
        <!-- groupsection -->
        #begingroupsection($msg.get("classrooms_members_list_title"),$msg.get("classrooms_members_manage_roles"), $xwiki.getURL("${spaceName}.ManageRoles", "view"), "blue", $isGroupAdmin)
        #if(!$request.type)
            #set($type = "0")
        #else
            #set($type = $request.type)
        #end
        #if(!$isGroupAdmin)
        <div id="groups-members-list-$type" class="groups-members-list">
            <!-- groupsdisplaymembers -->
            #groupsdisplaymembers($spaceName)
        </div>
        #else
        <!-- groupsdisplaymembersfilters -->
            #groupsdisplaymembersfilters($type)
        <div id="groups-members-list-$type" class="groups-members-list">
        ## show members
        #if($type=="0")
        <!-- groupsdisplaymembers-->
        #groupsdisplaymembers($spaceName)
        ## show membershiprequests
        #elseif($type=="1")
            <!-- groupsdisplayopenmembershiprequests -->
            #groupsdisplayopenmembershiprequests($spaceName)
        ## show denied membershiprequests
        #elseif($type=="2")
            <!-- groupsdisplaydeniedmembershiprequests -->
            #groupsdisplaydeniedmembershiprequests($spaceName)
        #elseif($type=="3")
            <!-- groupsdisplayinvitations -->
            #groupsdisplayinvitations($spaceName)
        #end
##
        </div>
        #end
        #endgroupsection()
    #end
    #groupsfooter()
#end


##
##
## PAGE: Groups.MembersSheet
## Macro to display the members lists
##
#macro(groupsdisplaymembers $spaceName)
## <script src="$xwiki.getSkinFile("Pork.Iframe.js")" type="text/javascript"></script>
    <!-- fixme: groupsdisplayeditmemberjs was here -->## #groupsdisplayeditmemberjs()
    #set($members = $sm.getMembers($spaceName))
    ## pagination parameters
    #set($itemsPerPage=10)
    #if($request.ipp)
        #set($itemsPerPage=$xwiki.parseInt($request.ipp))
    #end
    #set($startIndex=0)
    #if($request.startIndex)
        #set($startIndex=$xwiki.parseInt($request.startIndex))
    #end
    #set($totalCount=$members.size())
## end pagination parameters
    #if($members.size()==0)
        $msg.get("classrooms_members_admin_current_members_nomembers")
    #else
        $msg.get("classrooms_members_admin_current_members_infotxt")
        #set($endIndex = $startIndex + $itemsPerPage - 1)
        #if($endIndex >= $totalCount)
            #set($endIndex = $totalCount - 1)
        #end
        #foreach($mid in [$startIndex..$endIndex])
            #groupsdisplaymember($members.get($mid) $spaceName $mid)
        #end ## foreach
    #end ## if
    #curriki_paginatorargs($msg.get("classrooms_members_page"),$startIndex,$itemsPerPage,$totalCount,"type=0")
#end
















{{/velocity}}


