#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
1 Users That Have Donated

{table}
#set($list = $xwiki.searchDocuments(",BaseObject as obj where doc.fullName=obj.name and obj.className='Registration.DonationTrack'"))

$list.size() donations.

Photo | First Name | Last Name | eMail | View Profile | total 
#foreach($user in $list)
#set($userdoc = $xwiki.getDocument($user)) $userdoc.use("XWiki.XWikiUsers")##
#if($userdoc.attachmentList.size()>0) #set($attach = $userdoc.attachmentList.get(0)) <img src="$userdoc.getAttachmentURL($attach.filename,"download", "height=50")" height="50"/> #end##
| $userdoc.first_name | $userdoc.last_name | #if($xwiki.hasAdminRights()) $userdoc.email #else not shown #end | [View Profile>$userdoc.fullName] | ##
$userdoc.use("Registration.DonationTrack")##
<a href="/xwiki/bin/view/Admin/OldOrders?user=$userdoc">$userdoc.totalDonated</a>
#end
{table}
