1 iContact Updater

#set($tool=$xwiki.parseGroovyFromPage("Admin.iContactUpdateTool"))
$tool.init($xwiki,$context)
#macro(outputReports)
    #set($reports=$tool.reports)

    #foreach($m in $reports)
*  $m

    #end
#end
#*
1.1 Subjects
List of the subjects names derived from the Curriki topic names.
#foreach($name in $tool.listTopicsCustomNames())
* $name
#end
*#

1.1 Refresh Custom Fields
#if($request.refreshCustomFields)

<!-- $tool.refreshCustomFieldNames() -->
#outputReports()
#else
    <a href="$doc.name?refreshCustomFields=true">click here to refresh custom fields</a>
#end

1.1 Update a user

#if($request.userName)
$tool.updateUserToiContact($request.userName)
    #outputReports()
#else
<form action="$doc.name" method="GET"><input name="userName" type="text"> </form>
#end


1.1 Update users of a group

#if($request.groupName)
    $tool.updateGroupsUsersToiContact($request.groupName)
    #outputReports()
#else
Indicate the name of the group, e.g. XWiki.EditorGroup

If a Curriki group X, please use Group_X.Members.
<form action="$doc.name" method="GET"><input name="groupName" type="text"> </form>
#end


1.1 Update users that have been updated at...

#if($request.fromDate)
    $tool.updateByDate($request.fromDate,$request.toDate)
    #outputReports()
#else
Indicate the start date and end date. Beware that there's generally a 1000 users a day... so that it may be slow
and would still work even though the UI says it times out.
Note: current listing script may be slow.

<form action="$doc.name" method="GET">
From: <input name="fromDate" type="text" value="$tool.defaultStartDate">
    
To:   <input name="toDate" type="text" value="$tool.defaultEndDate">

<input type="submit" value="go">
</form>
#end
