1 Old Orders List

#if($request.archive)#info($xwiki.googleCheckout.archiveOrder($request.archive))#end

List of current orders #if($request.user) for user [$request.user].
<br/><a href="$doc.name">list all orders</a>#end.

<table border="1" cellpadding="5" cellspacing="1" style=" ">
<thead><td>serial</td><td>user</td><td>date</td><td>type</td><td>amount</td><td>financial</td></thead>
#foreach($obj in $xwiki.getDocument("GCheckout.OldOrders").getObjects("GCheckout.GChOrder"))
#if($request.user && $obj.get("user").indexOf($request.user)<0)
    #else
    <tr>
        <td>$obj.get("serialNumber")</td>
        <td>#set($u=$obj.get("user"))#if($u.startsWith("XWiki."))#else#set($u="XWiki.$u")#end[$u]</td>
        <td>$obj.get("date")</td>
        <td>$obj.get("orderType")</td>
        <td>$obj.get("amount")</td>
        <td>$obj.get("financialState")</td>
    </tr>
#end#end
</table>