#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#if($targets)#else#set($targets=$xwiki.parseGroovyFromPage("Registration.TargetsGroovy"))##
#set($junk=$targets.init($request,$xwiki))##
#end##
#if($targets=="groovy_missingrights")#warn("warning, missing rights, expect malfunction.")#end##
#set($success=$targets.cleanLogout($request,$response))##
#if($success)#else$response.sendRedirect("/xwiki/bin/logout/XWiki/XWikiLogout?xredirect=$escapetool.url($request.getParameter($xredirect))")#end##
##DEBUG: #if($success)#else$response.sendRedirect("/xwiki/bin/view/Registration/SessionAttributes")#end##