## this page is a simple page to contain the Complete page within a dialog.
<script type="text/javascript">
    Curriki.ui.login.displayLoginDialog("Complete?xpage=popup&tempskin=curriki8&$request.getQueryString()");
</script>
<p>Opening the <a href="Complete?$request.getQueryString()">validation</a> dialog.</p>