<h3>$msg.get('join.complete.title')</h3>


<p>$msg.get('join.complete.text')</p>

$msg.get('join.complete.corporate.header')

<button class="button-confirm" type="submit">$msg.get('join.complet.corporate.later_button')</button>




$xwiki.includeForm("Registration.DonateCorp")##

## ===================================================================
<p align="center">
    <button class="button-grey" type="submit"
            #if($redir)onclick="window.top.location='$redir'; return false;"#end
            >$msg.get('join.complete.later_button')</button></p>


<script type="text/javascript">
    try {
        window.top.Ext.get("loginIframe").setTitle("$escapetool.javascript($msg.get('join.complete.header'))");
    } catch(e) { if(console) console.log(e);}
</script>
