We are happy to count your company among Curriki's corporate members!

Registration is almost complete.

Please copy and paste this validation key

<p align="center">                     $tool.validKey</p>

into the form in your browser which you obtain by logging in on <a href="http://$hostname">$hostname</a>.


Alternatively, please click this link to complete registration:

<p align="center">    <a href="http://$hostname/xwiki/bin/view/Registration/CompleteCaller?xwikiname=$tool.username&validkey=$tool.validKey">http://$hostname/xwiki/bin/view/Registration/CompleteCaller?xwikiname=$tool.username&validkey=$tool.validKey</a></p>

If the link does not open your browser, please cut and paste the link into your browser.

The Curriki Community

