<%
println "Thank you."
System.out.println("Deauthorized received: ");
System.out.println("signed_request: " + response.getParameter("signed_request"));
// TODO: follow http://developers.facebook.com/docs/authentication/signed_request/
// TODO: remove SocialLogin object
%>