#if(!$skin)
    #template("javascripts.vm")
#end
##
<script type="text/javascript">
    Ext.onReady(function() {
        Curriki.ui.login.displayLoginDialog("/xwiki/bin/view/Registration/LoginOrRegister?xpage=popup&framed=true&$!{request.getQueryString()}");
    });
</script>
<p>Displaying login screen.</p>