#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
## this page is included by XWiki.SocialLogin, itself included by login.vm ##
## it provides the content of the dialogs following a successful authentication
## and authorization at an identity provider to request the little bit more.
## -- this page is displayed within a dialog -- no panel or anything such
## ----------------
#if($request.method=="POST")##
    #set($tool=$xwiki.parseGroovyFromPage("Registration.SocialLoginToolGroovy"))##
    #set($targets=$xwiki.parseGroovyFromPage("Registration.TargetsGroovy"))##
    #set($junk=$targets.init($request,$xwiki))##
    #set($junk=$tool.init($xwiki,$context,$request,$msg,$targets))##
    $request.session.setAttribute("SocialLoginTool",$tool)##
    $tool.echoToConsole("Post bit")##
    #if($tool.readAndValidateQueryParams())##
        $success=$tool.createUser()##
        $response.sendRedirect("http://$hostname/xwiki/bin/view/Registration/EmailSentValidationLink?xwikiname=$tool.username&xpage=popup")##
    #else
        $response.sendRedirect("http://$hostname/xwiki/bin/view/Registration/DirectRegistration?xpage=popup")##
    #end ##
#else
{pre}
#if(!$skin)## we did not pass initialization already
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$msg.get("join.login.title")</title>
    #template("xwikivars.vm")
    #template("javascripts.vm")
    #template("stylesheets.vm")
    ## #template("analytics.vm")
<body style="background-color:white" class="iframeInside">##
#elseif("popup"==$request.xpage)
    #template("xwikivars.vm")
    #template("javascripts.vm")
    <script type="text/javascript">
    document.body.className = document.body.className + " iframeInside";
    </script>
#end
#if($request.session)#set($oldTool=$request.session.getAttribute("SocialLoginTool"))#end##
#if($tool)#else#set($tool=$xwiki.parseGroovyFromPage("Registration.SocialLoginToolGroovy"))#end##
#set($targets=$xwiki.parseGroovyFromPage("Registration.TargetsGroovy"))##
#set($junk=$targets.init($request,$xwiki))##
#if($oldTool)##
 $tool.grabFrom($oldTool)##
 $request.session.removeAttribute("SocialLoginTool")##
#end##
#if($targets)#else##
#set($targets=$xwiki.parseGroovyFromPage("Registration.TargetsGroovy"))##
#set($junk=$targets.init($request,$xwiki))##
#end
$tool.init($xwiki,$context,$request,$msg,$targets)##
$tool.echoToConsole("Last bit ")##
$xwiki.includeForm("Registration.RegistrationBootstrap",false)
<script type="text/javascript">##
    Curriki.ui.login.makeSureWeAreFramed("DirectRegistration?xpage=popup&framed=true");
    //alert("Would reframe.");
</script>
{/pre}
#end
