1 Documentation for the Registration process

1.1 Pages

1.1.1 View Pages

- [LoginOrRegister]: the page, called by login.vm, displayed to the users that need to login
- [RegistrationBootstrap]: the page, called by [SocialLogin], called to complement the registration

to be completed