
##set($from = $msg.get('registration.email'))
#set($from = $xwiki.getXWikiPreference("admin_email"))
The first step in becoming a Curriki member is now complete.

To complete your registration, check your email inbox for message from $from.  

If you do not see the email, it may be because of a SPAM filter. Check your SPAM folder and be sure to add Curriki $from to your "safe senders" list or address book. 

*If you have not received an email within 10 minutes, please contact Curriki by using the [Email Not Received>EmailNotReceived] form.*

<!-- Google Code for Registration Email Sent Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1066533164;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "uQs3CMK_ShCsgsj8Aw";
//-->
</script>
<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1066533164/?label=uQs3CMK_ShCsgsj8Aw&amp;script=0"/>
</noscript>

<img src="https://cts.vresp.com/s.gif?h=d6487b16dd" height="1" width="1"/>

<hr>
<h3>While waiting for your validation e-mail, please take a moment to donate!</h3>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<table width="630" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate2500.gif" border="0" name="amount" value="25.00" alt="Thank you for your donation!">
      </form>
      <img src="/xwiki/bin/download/Main/Donate/donate0s.gif">
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate75.gif" border="0" name="amount" value="75.00" alt="Thank you for your donation!">
      </form>
      <img src="/xwiki/bin/download/Main/Donate/donate0s.gif">
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate150.gif" border="0" name="amount" value="150.00" alt="Thank you for your donation!">
      </form>
      <div class="form">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="inline">  
      <!-- Identify your business so that you can collect the payments. -->  
      <input type="hidden" name="business" value="khallstein@curriki.org"/>  
      <!-- Specify a Subscribe button. -->  
      <input type="hidden" name="cmd" value="_xclick-subscriptions">  
      <!-- Identify the subscription. -->  
      <input type="hidden" name="item_name" value="Donation to Curriki">  
      <input type="hidden" name="item_number" value="No Item Number">  
      <!-- Set the terms of the regular subscription. -->  
      <input type="hidden" name="currency_code" value="USD">  
      <input type="hidden" name="a3" value="12.50">  
      <input type="hidden" name="p3" value="12">  
      <input type="hidden" name="t3" value="M">  
      <!-- Display the payment button. -->  
      <input type="image" name="submit" border="0" src="/xwiki/bin/download/Main/Donate/donate150s.gif" alt="Thank you for your donation!">
      </form>
      </div>
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate300.gif" border="0" name="amount" value="300.00" alt="Thank you for your donation!">
      </form>
      <div class="form">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="inline">  
      <!-- Identify your business so that you can collect the payments. -->  
      <input type="hidden" name="business" value="khallstein@curriki.org"/>  
      <!-- Specify a Subscribe button. -->  
      <input type="hidden" name="cmd" value="_xclick-subscriptions">  
      <!-- Identify the subscription. -->  
      <input type="hidden" name="item_name" value="Donation to Curriki">  
      <input type="hidden" name="item_number" value="No Item Number">  
      <!-- Set the terms of the regular subscription. -->  
      <input type="hidden" name="currency_code" value="USD">  
      <input type="hidden" name="a3" value="25.00">  
      <input type="hidden" name="p3" value="12">  
      <input type="hidden" name="t3" value="M">  
      <!-- Display the payment button. -->  
      <input type="image" name="submit" border="0" src="/xwiki/bin/download/Main/Donate/donate300s.gif" alt="Thank you for your donation!">
      </form>
    </td>
    <td valign="top" width="126" height="126" background="/xwiki/bin/download/Main/Donate/donatebuttonbackground.gif">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donate1000.gif" border="0" name="amount" value="1000.00" alt="Thank you for your donation!">
      </form>
      <div class="form">
      <form style="margin-top: 0; margin-bottom: 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="inline">  
      <!-- Identify your business so that you can collect the payments. -->  
      <input type="hidden" name="business" value="khallstein@curriki.org"/>  
      <!-- Specify a Subscribe button. -->  
      <input type="hidden" name="cmd" value="_xclick-subscriptions">  
      <!-- Identify the subscription. -->  
      <input type="hidden" name="item_name" value="Donation to Curriki">  
      <input type="hidden" name="item_number" value="No Item Number">  
      <!-- Set the terms of the regular subscription. -->  
      <input type="hidden" name="currency_code" value="USD">  
      <input type="hidden" name="a3" value="83.37">  
      <input type="hidden" name="p3" value="12">  
      <input type="hidden" name="t3" value="M">  
      <!-- Display the payment button. -->  
      <input type="image" name="submit" border="0" src="/xwiki/bin/download/Main/Donate/donate1000s.gif" alt="Thank you for your donation!">
      </form>
      </div>
    </td>
  </tr>
  <tr> 
    <td colspan="4"><div align="right">You may also choose the amount you wish to donate.</div></td>
    <td width="126" height="49">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick"/>
      <input type="hidden" name="business" value="khallstein@curriki.org"/>
      <input type="hidden" name="item_name" value="Donation to Curriki"/>
      <input type="hidden" name="no_shipping" value="1"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="ah" value="0"/>
      <input type="hidden" name="tax" value="0"/>
      <input type="image" src="/xwiki/bin/download/Main/Donate/donateonly.gif" border="0" name="submit" value="0.00" alt="Thank you for your donation!">
      </form>
    </td>
  </tr>
</table>
