##
## This page is included by other pages when a delivery on top
## of the useful windows is needed instead of a framed or popped-up one.
##
## it needs one variable or parameter to be defined: redir
{pre}#if($redir)#else#set($redir=$request.redir)#end##
#if($targets)#else#set($targets=$xwiki.parseGroovyFromPage("Registration.TargetsGroovy"))##
#set($junk=$targets.init($request,$xwiki))#end<!-- targets is $targets  -->#if($targets=="groovy_missingrights")#warn("warning, missing rights, expect malfunction.")#end ##
#* #if($redir)#else#set($redir=$request.redir)#end##
#if($redir.startsWith("%2"))#set($redir=$redir.replaceAll("%2F","/"))#end
#if($redir.contains("Registration/JumpToTop"))#set($redir="/")#end *#
#set($hasDownload=$targets.isDownloadLink($redir))<!-- hasDownload: $hasDownload -->##
#set($nextStep=$redir)##
#if($hasDownload)##
    $targets.storeFileToDownload()##
    #set($nextStep=$targets.fromDownloadToResourceOrSelf($redir)) ##
#end    <!-- nextStep now is $nextStep -->
#if($redir)#else#set($redir=$targets.afterLogin)#end##
#if($redir)#else#set($redir="/")#end##
#if($redir.contains("Registration/JumpToTop"))#set($redir="/")#end
#if($hasDownload)##
    $targets.storeFileToDownload()##
    #set($nextStep=$targets.fromDownloadToResource($redir)) ##
    <!-- nextStep now is $nextStep -->
#end ##
<html><head><title>Redirection</title></head><body>##
#if($context.user!="XWiki.XWikiGuest" && $request.getHeader("User-Agent").contains(" Chrome"))
    #set($redir="http://$hostname$nextStep")##
    $xwiki.includeForm("Registration.LoginSuccessful",false)##
#else
<p style="width:100%; height:100%; text-align: center; line-height:2em; background-color: white;"
        ><a <a style="text-decoration: none; color: #4E83C7; font-size: 12px; font-family: arial, helvetica, sans-serif; line-height:10em" ##
          id="followMeLink" href="${redir}" target="_top">$msg.get("registration.jump.proceeding")</a>##
    ##<img src="/xwiki/skins/curriki8/icons/spinner.gif"/>
        </p>##

<script type="text/javascript">
    if($hasDownload && console) console.log("Has download.");
    var w = window;
    try {
        if (w.name == 'curriki-identity-dialog-popup'
                && w.opener && w.opener.name == 'curriki-identity-dialog') {
            w = window.opener;
            if (!(w.name)) w.name = "curriki-parent-window";
            window.links[0].target = w.name;
        }
    } catch(e) {
        if(console) console.log("Can't check for parent.",e);
    }
    w.moveOnTask = null;
    function moveOn() {
        window.clearInterval(w.moveOnTask);
        var targ = "${nextStep}";
        w.moveOnTask = null;
        if("undefined"!==typeof(console)) {console.log("Jumping to target: " + targ);}
        w.top.location.replace(targ);
        //alert("would go to " + targ);
    }
    w.moveOnTask = window.setInterval(moveOn,50);</script>
</body></html>##
#end
{/pre}