## This page is only shown in browsers that do not accept automatic
## transition from an https post to an http get.
## Currently this is Google Chrome
<div style="height:15em; vertical-align: middle">
<h3 align="center">Login Successful</h3>
<p>&nbsp;</p>
<p align="center"><button class="button" onclick="window.top.location.href='$redir';">Continue</button></p>
</div>
