#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapeTool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
###
### Login page
### (is delivered as full page except if framed=true is in the request)
###
#if($request.framed=='true')##
<html xmlns="http://www.w3.org/1999/xhtml">
<head ><title>Curriki Login</title>
</head><body>
#else##
#template("startpage.vm")
#end
<div class="main layoutsubsection" xmlns:fb="http://www.facebook.com/2008/fbml">
<div id="mainContentArea">
<div id="fb-root"></div>
<form id="loginForm" action="$doc.getURL('loginsubmit')" method="post">
#set($xredirect=$!request.xredirect)
#if($xredirect && $xredirect.contains("/login") && $xredirect.contains("XWikiLogin"))#set($xredirect="/")#end
#if($xredirect.startsWith("%2"))#set($xredirect=$xredirect.replaceAll("%2F","/"))#end
#if($xredirect && $xredirect!="" && $xredirect!="/")##
    $request.session.setAttribute("xredirect",$xredirect)##
#else##
    #if($request.session.getAttribute("xredirect"))#set($xredirect=$request.session.getAttribute("xredirect"))#end##
#end##
<!-- xredirect is $xredirect -->
<!-- session's xredirect is $request.session.getAttribute("xredirect") -->
<!-- this document is from Registration.LoginOrRegister -->
<div class="hidden">##
<input type="hidden" name="xredirect" value="$xredirect"/>
<input type="hidden" name="framed" value="true"/>## keep framed until a correct password is provided
#if("$!request.srid" != '')
  <input type="hidden" name="srid" value="$!escapetool.xml($request.srid)"/>
#end
</div>
#set($hasSocialLogin = false)
#if($xwiki.exists('XWiki.SocialLoginConfiguration'))
  #set($socialLoginConfigurationDocument = $xwiki.getDocument('XWiki.SocialLoginConfiguration'))
    <!-- socialLoginConfigurationDocument  = "$socialLoginConfigurationDocument" , xwiki is $xwiki -->
  #set($socialLoginConfiguration = $socialLoginConfigurationDocument.getObject('XWiki.SocialLoginConfigurationClass'))
  #set($providersAsString = $socialLoginConfiguration.getProperty('providers').value)
  #set($providers = [])
  #if("$!providersAsString" != '')
    #set($providersA = $providersAsString.split('\n'))
    #set($providers = $xwiki.getArrayList())
    #foreach($p in $providersA)#set($junk=$providers.add($p.trim()))#end
  #end
  #if($providers.size() > 0)
    #set($hasSocialLogin = true)
  #end
#end
    <!-- hasSocialLogin ? $hasSocialLogin -->
#if($hasSocialLogin)
##<div class="column half">
<table width="100%"><tr><td>
#end
<h3>Login if you are a member of Curriki.</h3>
## #xwikimessageboxstart($msg.get('login') '')
#set($message = $msg.get($xwiki.parseMessage()))
#if($message)
  <!-- previous login errors -->
  #error($message)
#end
## #xwikimessageboxend()
<table class="xwikilogintable" summary="$msg.get('loginform')">
  <tr>
    <th><label for="j_username">$msg.get('username'):</label></th>
    <td><input type="text" id="j_username" name="j_username" value=""/></td>
  </tr>
  <tr>
    <th><label for="j_password">$msg.get('password'):</label></th>
    <td><input type="password" id="j_password" name="j_password" value=""/></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: left;">
      <input id="rememberme" type="checkbox" name="j_rememberme" value="true"/>
      <label for="rememberme">$msg.get('remembermeonthiscomp')</label>
    </td>
  </tr>
</table>
<div class="buttons"><span class="buttonwrapper"><input type="submit" class="button" value="$msg.get('login')"/></span></div>
<div style="font-size: 70%; margin-top: 2em;"##
 ><a href="/xwiki/bin/view/Registration/ForgotLogin?xpage=popup">Forgot your login or password</a>?</div>
#if($hasSocialLogin)
#set($socialLoginTool=$xwiki.parseGroovyFromPage("Registration.SocialLoginToolGroovy"))
#set($junk=$socialLoginTool.init($xwiki, $context, $request, $response, $msg))
</td><td valign="top" align="left">
##</div>
##<div class="column half socialLoginProviders">
<div class="provider" style="background: #EEEEEE">
  <a href="https://${xwiki.xWiki.Param('curriki.system.hostname', 'broken-url')}/xwiki/bin/view/Main/JoinCurriki" target="_top" title="$msg.get('xwiki.socialLogin.signInWith.Curriki')">
  <img align="middle" src="/xwiki/skins/curriki8/LogoStandalone-globeOnly.png" height="22" />
  Create a new account on Curriki</a>
</div>
<hr/>
    #foreach($provider in $providers)
    <div class="provider"  id="identifyWith${provider}">
      <!-- provider is "$provider" of class $provider.getClass(), socialLoginConfigurationDocument = $socialLoginConfigurationDocument -->
      #set($link = $xwiki.getURL('XWiki.SocialLogin', 'view', "provider=${provider.toLowerCase()}&xredirect=$xredirect"))
      <a target="_top" href="${link}" title="$msg.get('xwiki.socialLogin.signInWith', [$provider])"
              onclick="window.top.location.replace('${link}')">
	  #if($socialLoginConfigurationDocument.getAttachment("${provider.toLowerCase()}-logo.png"))
	    <img src="$socialLoginConfigurationDocument.getAttachmentURL("${provider.toLowerCase()}-logo.png")" />
	  #end
          $msg.get('xwiki.socialLogin.signInWith', [$provider])##
	  </a>
    </div>
    #if("Facebook"==$provider)<div id="fbFriends" class="provider"><fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button></div>#end
    <hr/>
  #end
</td></tr></table>
<div class="clearfloats"></div>
#end
</form>
</div>## mainContentArea
## Ensure that the username field of the login form has the focus to make it easy for users to log in quickly
<script type="text/javascript">
//<![CDATA[
  document.forms.loginForm.j_username.focus();
//]]>
</script>
{pre}
<script type="text/javascript">
    var fbAppId='${socialLoginTool.getApplicationApiKey("facebook")}';
    if(fbAppId) {
        window.fbReady = false;
        window.fbAsyncInit = function() {
          console.log("fbAsyncInit start.");
          // below is the script when it's hooked
          FB.init({appId: fbAppId, status: true, cookie: true,
                   xfbml: true});
          FB.Event.subscribe('auth.login', function(response) {
              window.loginHasHappened(response);
          });
          window.loginHasHappened = function(response) {
                // logged in and connected user, someone you know
                // we now adjust the link to sign-up with Facebook
                console.log("Is FB logged in: "); console.log(response.session);
                var fbLink = document.getElementById("identifyWithFacebook").children[0];
                fbLink.target="_self";
                fbLink.onclick="";
          };
          FB.getLoginStatus(function() {
              window.fbReady = true;
              if (response.session) {
                  window.loginHasHappened(response);
              } else {
                  console.log("Not FB logged in and authorized: will simply proceed with a log-in on user-request.");
              }
          });
        };
        // hook the FB script
        (function() {
          var e = document.createElement('script'); e.async = true;
          e.src = document.location.protocol +
            '//connect.facebook.net/${language}_US}/all.js'; // TODO: language
          document.getElementById('fb-root').appendChild(e);
        }());
        console.log("fbAsyncInit finished.")
    }
</script>
{/pre}
</div>## main
#if($request.framed=='true')
</body></html>
#else
#template("endpage.vm")
## TODO: move the div of id 'mainContentArea' into an Ext window
## TODO: remove the login or register header!
#end
