#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
###
### Login page
### (is delivered as full page except if framed=true is in the request)
###
<!-- THIS IS LoginOrRegister -->##
#if($request.framed=='true')#set($framed="true")##
#if(!$skin)## we did not pass initialization already
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$msg.get("join.login.title")</title>
{pre}
    #template("xwikivars.vm")
    #template("javascripts.vm")
    #template("stylesheets.vm")
    ## #template("analytics.vm")
{/pre}
<body style="background-color:white" class="iframeInside">##
#else
    #template("javascripts.vm")
<script type="text/javascript">
    document.body.className = document.body.className + " iframeInside";
</script>
#end#else#set($framed="false")##
{pre}#template("startpage.vm"){/pre}##
#end
<script type="text/javascript">##
    Curriki.ui.login.makeSureWeAreFramed(null);
</script>
<div class="main layoutsubsection" xmlns:fb="http://www.facebook.com/2008/fbml">
<div id="mainContentArea">
<div id="fb-root"></div>
<form id="loginForm" target="_top" action="https://${xwiki.xWiki.Param('curriki.system.hostname', 'broken-url')}/xwiki/bin/loginsubmit/XWiki/XWikiLogin?$!request.getQueryString()" method="post">
#set($xredirect=$!request.xredirect)
#if($xredirect && $xredirect.contains("/login") && $xredirect.contains("XWikiLogin"))#set($xredirect="/")#end
#if($xredirect.startsWith("%2"))#set($xredirect=$xredirect.replaceAll("%2F","/"))#end
#if($xredirect && $xredirect!="" && $xredirect!="/")##
    $request.session.setAttribute("xredirect",$xredirect)##
#else##
    #if($request.session.getAttribute("xredirect"))#set($xredirect=$request.session.getAttribute("xredirect"))#end##
#end##
<!-- xredirect is $xredirect -->
<!-- session's xredirect is $request.session.getAttribute("xredirect") -->
<!-- this document is from Registration.LoginOrRegister -->
<div class="hidden">##
<input type="hidden" name="xredirect" value="/xwiki/bin/view/Registration/JumpToTop?xpage=plain&redir=$escapetool.url($xredirect)"/>
<input type="hidden" name="framed" value="true"/>## keep framed until a correct password is provided
#if("$!request.srid" != '')
  <input type="hidden" name="srid" value="$!escapetool.xml($request.srid)"/>
#end
</div>
#set($hasSocialLogin = false)
#if($xwiki.exists('XWiki.SocialLoginConfiguration'))
  #set($socialLoginConfigurationDocument = $xwiki.getDocument('XWiki.SocialLoginConfiguration'))
    <!-- socialLoginConfigurationDocument  = "$socialLoginConfigurationDocument" , xwiki is $xwiki -->
  #set($socialLoginConfiguration = $socialLoginConfigurationDocument.getObject('XWiki.SocialLoginConfigurationClass'))
  #set($providersAsString = $socialLoginConfiguration.getProperty('providers').value)
  #set($providers = [])
  #if("$!providersAsString" != '')
    #set($providersA = $providersAsString.split('\n'))
    #set($providers = $xwiki.getArrayList())
    #foreach($p in $providersA)#set($junk=$providers.add($p.trim()))#end
  #end
  #if($providers.size() > 0)
    #set($hasSocialLogin = true)
  #end
#end
    <!-- hasSocialLogin ? $hasSocialLogin -->
#if($hasSocialLogin)
##<div class="column half">
<table width="100%"><tr><td>
#end
<h3>$msg.get("join.login.header")</h3><!-- session's message: $!request.session.getAttribute("messagesForNextLoginRequest") -->
    #set($message=$!request.session.getAttribute("messagesForNextLoginRequest"))
    #set($userName=$!request.j_username)
    #if($message)
        $request.session.removeAttribute("messagesForNextLoginRequest")
    #end
    #if($!message.length()==0)#set($message = $xwiki.parseMessage())#end##
    #if($!message.length()==0 && ("$!request.j_username" == "$msg.get('header.login_username')" || "$!request.j_username" == "") && ("$!request.j_password" == "")) ##{
        #set($message = 'redirect.error.no_info')##
        #set($userName=$msg.get('header.login_username'))
    #end ##}
    #if($message)
      <!-- previous login errors -->
      #error($msg.get("$message"))
    #end
<table class="xwikilogintable" summary="$msg.get('join.login.header')">
  <tr>
    <th><label for="j_username">$msg.get('join.login.username')</label></th>
    <td><input type="text" id="j_username" name="j_username" value="$escapetool.html("$!userName")"/></td>
  </tr>
  <tr>
    <th><label for="j_password">$msg.get('join.login.password')</label></th>
    <td><input type="password" id="j_password" name="j_password" value=""/></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: left;">
      <input id="rememberme" type="checkbox" name="j_rememberme" value="true"/>
      <label for="rememberme">$msg.get('join.login.remember_me')</label>
    </td>
  </tr>
</table>
<div class="buttons">##
    <span class="buttonwrapper"><input type="submit" class="button" value="$msg.get('join.login.button')"/></span>
    <span class="buttonwrapper"><input type="button" class="button-grey" value="$msg.get('join.login.cancel')" onclick="window.open('$xredirect','_top')"/></span>
</div>
#if($hasSocialLogin)
#set($socialLoginTool=$xwiki.parseGroovyFromPage("Registration.SocialLoginToolGroovy"))
#set($junk=$socialLoginTool.init($xwiki, $context, $request, $msg))
</td><td valign="top" align="left">
##</div>
##<div class="column half socialLoginProviders">
    <h3>$msg.get('join.login.social_header')</h3>## or login with...
    #foreach($provider in $providers)
    <div class="provider"  id="identifyWith${provider}" style="display:inline">
      <!-- provider is "$provider" of class $provider.getClass(), socialLoginConfigurationDocument = $socialLoginConfigurationDocument -->
      #set($link = "/xwiki/bin/view/Registration/SocialLogin?provider=${provider.toLowerCase()}&xredirect=$xredirect#if($framed)&xpage=popup#end")
      <a target="_top" href="${link}" title="$msg.get("join.login.social.login-with-${provider}.tooltip")"##
              onclick="Curriki.ui.login.popupIdentityAuthorization('${link}'); return false">##
      <img src="/xwiki/skins/curriki8/registration/${provider.toLowerCase()}-logo.png"
           title="$escapetool.xml($msg.get("join.login.social.login-with-${provider}.tooltip"))" />
	  ###if($socialLoginConfigurationDocument.getAttachment("${provider.toLowerCase()}-logo.png"))##
	  ##  <img src="$socialLoginConfigurationDocument.getAttachmentURL("${provider.toLowerCase()}-logo.png")" width="100"/>##
      ###else##
      ##  $msg.get("join.login.social.login-with-${provider}.tooltip")##
	  ###end##
	  </a>
    </div>
    ## #if("Facebook"==$provider)<div id="fbFriends" class="provider"><fb:login-button show-faces="true" width="120" max-rows="1"></fb:login-button></div>#end
    ##<hr/>
  #end
</td></tr></table>
<div class="clearfloats"></div>
#end
</form>
<div style="font-size: 70%; margin-top: 2em;">##
   <a href="/xwiki/bin/view/Main/JoinCurriki" target="_top" title="$msg.get('join.login.join_curriki')">##
    $msg.get('join.login.join_curriki')</a>
   <a href="/xwiki/bin/view/Registration/ForgotLogin?xpage=popup">$msg.get('join.login.forgot')</a>?##
</div>
</div>## mainContentArea
## Ensure that the username field of the login form has the focus to make it easy for users to log in quickly
<script type="text/javascript">
//<![CDATA[
  document.forms.loginForm.j_username.focus();
//]]>
</script>
{pre}
<script type="text/javascript">
    var fbAppId='${socialLoginTool.getApplicationApiKey("facebook")}';
    if(fbAppId) {
        window.fbReady = false;
        window.fbAsyncInit = function() {
          console.log("fbAsyncInit start.");
          // below is the script when it's hooked
          FB.init({appId: fbAppId, status: true, cookie: true,
                   xfbml: true});
          FB.Event.subscribe('auth.login', function(response) {
              window.loginHasHappened(response);
          });
          window.loginHasHappened = function(response) {
                // logged in and connected user, someone you know
                // we now adjust the link to sign-up with Facebook
                console.log("Is FB logged in: "); console.log(response.session);
                var fbLink = document.getElementById("identifyWithFacebook").children[0];
                fbLink.target="_self";
                fbLink.onclick="";
          };
          FB.getLoginStatus(function(response) {
              window.fbReady = true;
              if (response.session) {
                  window.loginHasHappened(response);
              } else {
                  console.log("Not FB logged in and authorized: will simply proceed with a log-in on user-request.");
              }
          });
        };
        // hook the FB script
        (function() {
          var lang = "$context.language";
          ## built from http://www.facebook.com/translations/FacebookLocales.xml
          var country = {"en":"US", "fr":"FR", "ru":"RU", "hi": "IN", "es": "LA", "id": "ID", "si": "SI", "ta":"IN", "eo":"EO", "pl":"PL"}[lang];
          if(typeof(country)!="string") { lang="en"; country="US";}
          var e = document.createElement('script'); e.async = true;
          e.src = document.location.protocol +
            '//connect.facebook.net/'+lang+'_' + country +'/all.js';
          document.getElementById('fb-root').appendChild(e);
        }());
        console.log("fbAsyncInit finished.")
    }
</script>
{/pre}
</div>## main
#if($request.framed=='true')
</body></html>
#else
{pre}#template("endpage.vm"){/pre}##
<script type="text/javascript">
    Ext.onReady(function() {Ext.select("j_username").dom.focus();});
</script>
#end