
Thank you for becoming a Curriki member!

We are happy to have you as a members.

Registration is almost complete.

Please copy and paste this validation number $tool.validKey into the form in your browser which you obtain by logging in on $hostname.

Alternative, please click this link to complete registration:

    http://$hostname/xwiki/bin/view/Registration/Complete?xwikiname=$tool.username&validkey=$tool.validKey

If the link does not open your browser, please cut and paste the link into your browser.

The Curriki Community.
