#set($hostname=${xwiki.xWiki.Param('curriki.system.hostname', 'broken-url')})
#set($username=$tool.username)

<h3>THANK YOU FOR JOINING CURRIKI!</h3>

You have selected $username as your member login.

Welcome to Curriki! While I know you just set up your account, I just wanted to send you a quick note to welcome you to the Curriki community and give you some guidance on how to make the most of your Curriki experience. <P>
You have selected $username as your member login.
Login page: http://$hostname/xwiki/bin/view/Registration/DirectLogin


<h3>START ENJOYING CURRIKI TODAY</h3>

<B>- Log In</B><br>
Go to http://$hostname/xwiki/bin/view/Registration/DirectLogin to enter your member login and password, and then click the orange "Submit" button.
If you forget your password, click “Forgot Username or Password?”

<B>- Edit Your Profile</B><br>
Once logged in, add a photo or image and a bio to your profile.

<B>- Find Resources</B><br>
On the homepage, enter your keywords into the search box to begin accessing and collecting resources.

<B>- Share Resources</B><br>
On the homepage, under Resources & Curricula, click Publish Resources  to share your own teaching and learning materials.

<B>- Collaborate with Educators</B><br>
On the homepage, click Collaborate to join or create a group.

It is through your participation that Curriki is able to offer thousands of free lessons, units, educational videos, and professional networking resources. As a member, you can use tools for building or posting your own curricula to share with teachers and students around the globe -- many from schools that would not be able to afford these resources otherwise.

Thanks again for joining. Enjoy Curriki!<br>

Sincerely,<br><P>
Janet Pinto<br><P>
CAO, Curriki 
 