#set($hostname=${xwiki.xWiki.Param('curriki.system.hostname', 'broken-url')})
#set($username=$tool.username)
#set($password=$tool.password)

<h3>Welcome to Curriki</h3>

If you registered using Facebook or Google+ please click on the appropriate icon at http://$hostname to log in.

If you have an existing Curriki account visit http://$hostname to enter your member login and password, then click the orange "Go" button.

Your log in name is: <b>$username</b>

Your password is: <b>$password</b>

Please click this link to edit your profile: http://www.curriki.org/xwiki/bin/view/MyCurriki/Profile

Curriki is rich full of free open source resources that you can access 24 hours a day.

We look forward to your participation in one of the worlds largest and fastest growing education repositories.

Sincerely,

Janet Pinto, Development Director