
<h3>Thank you for becoming a Curriki member!</h3>

We are happy to have you as a members.

Registration is almost complete.

Please copy and paste this validation key

<p align="center" style="font-family: serif">                     $tool.validKey</p>

into the form in your browser which you obtain by logging in on $hostname.

Alternatively, please click this link to complete registration:

<p align="center">    <a href="http://$hostname/xwiki/bin/view/Registration/CompleteCaller?xwikiname=$tool.username&validkey=$tool.validKey">http://$hostname/xwiki/bin/view/Registration/CompleteCaller?xwikiname=$tool.username&validkey=$tool.validKey</a></p>

If the link does not open your browser, please cut and paste the link into your browser.

The Curriki Community.
