<h3>$msg.get('join.complete.title')</h3>


<p>$msg.get('join.complete.text')</p>

<script type="text/javascript">
    try {
        window.top.Ext.get("loginIframe").setTitle("$escapetool.javascript($msg.get('join.complete.header'))");
    } catch(e) { if(console) console.log(e);}
</script>

<p>$msg.get("join.complete.canPay")</p>

$xwiki.includeForm("Registration.DonateNonCorp",false)##

<p align="center">
    #if($redir)#else#if($targets)#else #set($targets=$xwiki.parseGroovyFromPage("Registration.Targets"))#end #set($redirs=$targets.afterLogin)#end
    <button class="button-grey" type="submit"
            #if($redir)onclick="window.top.location='$redir'; return false;"#else onclick="window.top.location='/xwiki/bin/view/MyCurriki/';"#end
            >$msg.get('join.complete.later_button')</button>
</p>

