#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
## this page is included by XWiki.SocialLogin, itself included by login.vm ##
## it provides the content of the dialogs following a successful authentication
## and authorization at an identity provider to request the little bit more.
## -- this page is displayed within a dialog -- no panel or anything such
## ----------------
## prepare variables
##
#set($warningFields=$tool.warningFields)##
#set($okFields=$tool.okFields)##
#if($targets)#else##
#set($targets=$xwiki.parseGroovyFromPage("Registration.TargetsGroovy"))##
#set($junk=$targets.init($request,$xwiki))##
#end
<!-- warningFields: $warningFields -->
<!-- okFields : $okFields -->
## ----------------
<style type="text/css">
    .disabledLook p input {background-color: lightgray; border: lightgray 0px; }
    .registrationTable { width:80%; text-align:left; }
    .registrationTable p {padding-right: 20px; padding-top: 3px; padding-bottom:6px; padding-left: 10px; height:2em;}
    .registrationTable p.textfield label b {float: left; vertical-align: middle; width: 10em;}
    .registrationTable p.textfield input|select  {float: right; width: 35em;}
    body { min-width: 0; margin-right:1em; width:90%}
    .warningField {
        border: solid red;
        background: transparent url(/xwiki/skins/curriki8/warning.png) no-repeat center right;
    }
    .okField {
        border: none;
        background: transparent url(/xwiki/skins/curriki8/ok.png) no-repeat center right;
    }
    .waiting {
        border: none;
        background: transparent url(/xwiki/skins/curriki8/icons/spinner.gif) no-repeat center right;
    }
    fieldset {
        margin: 2em;
    }
    .warning { text-align:left; }
</style>
<!-- begin javascripts -->##
#set($globalDebug=true)##
{pre}
#template("javascripts.vm")##
{/pre}
## note: we do not run CurrikiApp.init()
<!-- end javascripts -->
<!-- socialLoginTool is $tool with request of method $tool.request.method, while our request's method is $request.method
    #set($provider = $tool.providerId)-->
## ----------------
{pre}
<form class="xform" action="https://$hostname/xwiki/bin/view/$doc.space/${doc.name}?#if($request.xpage)xpage=$request.xpage#end" method="post" id="createUsernameForm"##
    onsubmit="console.log('loading.'); Curriki.showLoading(_('loading.loading_msg')); return true;">
  <div class="centered">
      <fieldset>
          <h3>$msg.get("join.member.title")</h3>
          <p align="left"><!-- providerId: "$tool.providerId" -->
              #if($tool.providerId)$msg.get("join.member.social_instructions",["$tool.providerId"])#else##
                  $msg.get("join.member.curriki_instructions")##
              #end</p>
          <p id="currikiRegistrationAdvice" align="left">&nbsp;</p>
          #if($tool.errors)
              <ul class="warning">#foreach($m in $tool.errors)<li>$msg.get($m)</li> #end</ul>
          #end
      <input type="hidden" name="xaction" value="createProfile" >
      <input type="hidden" name="city"  value="$!tool.city">
      <input type="hidden" name="country" value="$!tool.country">

        #macro(computeTrClasses $f)##
            #if($okFields.contains($f)) okField #end #if($warningFields.contains($f)) warningField #end #end##
            #if($provider && $providerFields.contains($f)) disabledLook #end## && $provider is validated
      <div class="registrationTable">
          ##
          #set($f="username")
          <p class="textfield #computeTrClasses($f)" onmouseover="Curriki.ui.login.displayInstruction('join.member_name_instructions');">
              <label for="${f}_input"><b>$msg.get("join.member_name")</b></label>
              <input id="${f}_input" name="${f}" value="$!{tool.username}"##
                autocomplete="off">
          </p>
          ##
          ##
          #set($f="password")
          <p class="textfield #computeTrClasses($f)" onmouseover="Curriki.ui.login.displayInstruction('join.member_password_instructions');">
              <label for="${f}_input"><b>$msg.get("join.member_password")</b></label>
              <input id="${f}_input" name="${f}" value="$!{tool.password}" type="password" ###
                autocomplete="off">
          </p>
          ##
          ##
          #set($f="firstName")
          <p class="textfield #computeTrClasses($f)"
                onmouseover="#if($tool.providerId)Curriki.ui.login.displayInstruction('join.member_social_prefilled_tooltip',['${tool.providerId}']);#else Curriki.ui.login.displayInstruction(''); #end">
              <label for="${f}_input"><b>$msg.get("join.member_first_name")</b></label>
              <input id="${f}_input" name="${f}" value="$!{tool.firstName}"##
                     #if($provider)disabled="disabled" #end##
                autocomplete="off">
          </p>
          ##
          ##
          #set($f="lastName")
          <p class="textfield #computeTrClasses($f)"
                 onmouseover="#if($tool.providerId)Curriki.ui.login.displayInstruction('join.member_social_prefilled_tooltip',['${tool.providerId}']);#else Curriki.ui.login.displayInstruction(''); #end">
              <label for="${f}_input"><b>$msg.get("join.member_last_name")</b></label>
              <input id="${f}_input" name="${f}" value="$!{tool.lastName}" ##
                     #if($provider)disabled="disabled" #end##
                autocomplete="off">
          </p>
          ##
          ##
          #set($f="email")
          <p class="textfield #computeTrClasses($f)"
                 onmouseover="#if($tool.providerId)Curriki.ui.login.displayInstruction('join.member_social_prefilled_tooltip',['${tool.providerId}']);#else Curriki.ui.login.displayInstruction(''); #end">
              <label for="${f}_input"><b>$msg.get("join.member_email")</b></label>
              <input id="${f}_input" name="${f}" value="$!{tool.email}" ##
                     #if($provider)disabled="disabled" #end##
              >
          </p>
          ##
          ##
          #set($f="memberType")
          <p class="#computeTrClasses($f)" onmouseover="Curriki.ui.login.displayInstruction('join.member_type_instructions');">
              <label for="${f}_input"><b>$msg.get("join.member_type")</b></label>
              #set($propVals=$xwiki.getClass("XWiki.XWikiUsers").get("member_type").getPropertyClass().getList($context.context))
              <select name="member_type" id="${f}_input" onchange="Curriki.ui.login.memberTypeChanged()">##
                  #set($val="-")##
                  <option value="$val" #if($val==$!tool.memberType)selected="selected"#end>$msg.get("join.member_type_instructions")</option>##
                  #foreach($val in $propVals)#if($val!="0")##
                  <option value="$val" #if($val==$!tool.memberType)selected="selected"#end>$msg.get("XWiki.XWikiUsers_member_type_${val}")</option>##
                  #end#end
              </select>
          </p>
          <p class="warning" id="memberTypeNotice">&nbsp;</p>
          ##
          ##
          #set($f="agree")
          <p class="#computeTrClasses($f) fullwidth" onmouseover="Curriki.ui.login.displayInstruction('join.member_agreement_instructions');">
                  <label style="float: none; width:100%">
                      <input type="checkbox" name="agree"##
                              #if($request.agree)checked #end >##
                      $msg.get("join.member_agreement").replaceFirst("_","<a target='curriki-terms' href='$msg.get('join.member_privacy_policy_url')'>").replaceFirst("_","</a>").replaceFirst("_","<a target='curriki-terms' href='$msg.get('join.member_terms_service_url')'>").replaceFirst("_","</a>")
                  </label>
          </p>
          <p align="right">
              <input type="submit" value="$msg.get("join.member.save_button")" class="button-orange">
              <input type="button" value="$msg.get("join.member.cancel_button")"  class="button-grey" onclick="window.open('$targets.noLogin','_top')">### TODO: warning in case of cancel
          </p>
      ##</fieldset>
  </div>
</form>
<script type="text/javascript">
    Ext.onReady(function() {
                Curriki.ui.login.liveValidation.activate(["username_input", "email_input","firstName_input","lastName_input","password_input"]); },
                    Curriki.ui.login.liveValidation);
    Ext.onReady(function() {
        // adjust dialog height
        if(window.innerHeight < document.height) {
            if(window.parent && window.parent.Ext && window.parent.Ext.get('loginIframe')) {
                h = document.height;
                if(window.parent.innerHeight < h) h = window.parent.innerHeight;
                window.parent.Ext.get('loginIframe').dom.height = 20 + h;
            }
        }

        //
        Curriki.ui.login.memberTypeChanged = function () {
            try {
                var p = Ext.get("memberTypeNotice");
                var s = Ext.get("memberType_input");
                if(!p || !s) {
                    console.log("Can't find elements. Stopping.");
                    return;
                }
                var text = ' ';
                if(s && s.dom.value &&
                        ("corporation"==s.dom.value || "nonprofit"==s.dom.value)) {
                    text = _('join.member_type_coporate_instructions');
                }
                console.log("memberTypeNotice: " + text);
                Ext.get("memberTypeNotice").dom.textContent = text;
            } catch(e) { if(console) console.log(e); }
        };
        // do it after load: the warning must be displayed in case
        Curriki.ui.login.memberTypeChanged();

        Curriki.ui.login.displayInstruction = function(key,params) {
            try {
                var text;
                if(params) text = _(key,params);
                    else text = _(key)
                if(!text || text=="") text=" "; // warning nbsp in this quote
                Ext.get("currikiRegistrationAdvice").dom.textContent = text;
            } catch(e) { if(console) console.log(e); }
        };


    })


</script>
{/pre}
