#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
## this page is included by XWiki.SocialLogin, itself included by login.vm ##
## it provides the content of the dialogs following a successful authentication
## and authorization at an identity provider to request the little bit more.
## -- this page is displayed within a dialog -- no panel or anything such
## ----------------
## prepare variables
##
#set($warningFields=$tool.warningFields)
#set($okFields=$tool.okFields)
<!-- warningFields: $warningFields -->
<!-- okFields : $okFields -->
## ----------------
<style type="text/css">
    .disabledLook p input {background-color: lightgray; border: lightgray 0px; }
    .registrationTable { width:99%; text-align:left; }
    .registrationTable p {padding-right: 40px; padding-top: 3px; padding-bottom:6px; padding-left: 10px; height:2em}
    .registrationTable p label b {float: left; vertical-align: middle; width: 10em;}
    .registrationTable p input  {float: right; width: 25em;}
    .warningField {
        border: solid red;
        background: transparent url(/xwiki/skins/curriki8/warning.png) no-repeat center right;
    }
    .okField {}
</style>
## ----------------
<form class="xform" action=${doc.getURL('view')} method="post" id="createUsernameForm">
  <div class="centered">
      <fieldset class="xwikimessage">
          <h3>$msg.get("join.member.title")</h3>
          <p align="left">
              #if($tool.providerId)$msg.get("",[${tool.providerId}])#else##
                  $msg.get("join.member.curriki_instructions")##
              #end..</p>
          <ul class="errors">
          #foreach($m in $tool.errors)
              <li>$m</li>
          #end
          </ul>
      <input type="hidden" name="xaction" value="createProfile" >
      <input type="hidden" name="city"  value="$tool.city">
      <input type="hidden" name="country" value="$tool.country">

        #macro(computeTrClasses $f)##
            #if($okFields.contains($f)) okField #end #if($warningFields.contains($f)) warningField #end #end##
            #if($provider && $providerFields.contains($f)) disabledLook #end## && $provider is validated
      <div class="registrationTable">
          ##
          #set($f="username")
          <p class="#computeTrClasses($f)">
              <label for="${f}_input"><b>$msg.get("join.member_name")</b></label>
              <input id="${f}_input" name="${f}" value="${tool.username}"##
                title="$msg.get("join.member_name_instructions")">
          </p>
          ##
          ##
          #set($f="password")
          <p class="#computeTrClasses($f)">
              <label for="${f}_input"><b>$msg.get("join.member_password")</b></label>
              <input id="${f}_input" name="${f}" value="$!{tool.password}" type="password" ###
                      title="$msg.get("join.member_password_instructions")">
          </p>
          ##
          ##
          #set($f="firstName")
          <p class="#computeTrClasses($f)">
              <label for="${f}_input"><b>$msg.get("join.member_first_name")</b></label>
              <input id="${f}_input" name="${f}" value="${tool.firstName}" disabled="disabled"##
                      title="$msg.get('join.member_social_prefilled_tooltip')">
          </p>
          ##
          ##
          #set($f="lastName")
          <p class="#computeTrClasses($f)">
              <label for="${f}_input"><b>$msg.get("join.member_last_name")</b></label>
              <input id="${f}_input" name="${f}" value="${tool.lastName}" disabled="disabled"##
                      title="$msg.get('join.member_social_prefilled_tooltip')">
          </p>
          ##
          ##
          #set($f="email")
          <p class="#computeTrClasses($f)">
              <label for="${f}_input"><b>$msg.get("join.member_email")</b></label>
              <input id="${f}_input" name="${f}" value="${tool.email}" disabled="disabled"##
                      title="$msg.get('join.member_social_prefilled_tooltip')">
          </p>
          ##
          ##
          #set($f="memberType")
          <p class="#computeTrClasses($f)">
              <label for="${f}_input"><b>$msg.get("join.member_type")</b></label>
              #set($propVals=$xwiki.getClass("XWiki.XWikiUsers").get("member_type").getPropertyClass().getList($context.context))
              <select name="member_type" id="${f}_input">##
                  #set($val="-")
                  <option value="$val" #if($tool.memberType==$val)check="checked"#end></option>##
                  #foreach($val in $propVals)#if($val!="0")##
                  <option value="$val" #if($tool.memberType==$val)check="checked"#end>$msg.get("XWiki.XWikiUsers_member_type_${val}")</option>##
                  #end#end
              </select>
          </p>
          ##
          ##
          #set($f="agree")
          <p class="#computeTrClasses($f)">
                  <label style="float: none; width:100%">
                      <input type="checkbox" name="agree"##
                              #if($request.agree)checked #end >##
                      $msg.get("join.member_agreement").replaceFirst("_","<a href='$msg.get('join.member_privacy_policy_url')'>").replaceFirst("_","</a>").replaceFirst("_","<a href='$msg.get('join.member_terms_service_url')'>").replaceFirst("_","</a>")
                  </label>
          </p>
          <p align="right">
              <input type="submit" value="$msg.get("join.member.save_button")">
              <input type="button" value="$msg.get("join.member.cancel_button")"  onclick="window.open('$tool.getRedirectTarget()','_top')">### TODO: warning in case of cancel
          </p>
      </fieldset>


  </div>
</form>