<!--begin search form fields-->
<form id="chpAdvSearchForm" name="chpAdvSearchForm" method="GET" action="/xwiki/bin/view/Search/SearchWidgetJump">
    <table>
        <tr>
            <td colspan="2"><h3>Teacher resources by grade + subject</h3></td>
        </tr>
        <tr><td><!-- WARNING: after each input is a non-break-space, the equivalent of &nbsp;, as a real character -->
            <h4>grade range/age range: </h4>
            <label><input name="level" type="radio" value="" checked="checked"/> any</label><br/>
            <label><input name="level" type="radio" value="gr-k-2" /> K-2</label><br/>
            <label><input name="level" type="radio" value="gr-3-5" /> 3-5</label><br/>
            <label><input name="level" type="radio" value="gr-6-8" /> 6-8</label><br/>
            <label><input name="level" type="radio" value="gr-9-10" /> 9-10</label><br/>
            <label><input name="level" type="radio" value="gr-11-12"/> 11-12</label><br/>
        </td><td>
            <h4>subject:</h4>
            <label><input name="subject" type="radio" value="" checked="checked"/> any</label><br/>
            <label><input name="subject" type="radio" value="FW_masterFramework.LanguageArts" /> language arts</label><br/>
            <label><input name="subject" type="radio" value="FW_masterFramework.Mathematics" /> mathematics</label><br/>
            <label><input name="subject" type="radio" value="FW_masterFramework.Science" /> science</label><br/>
            <label><input name="subject" type="radio" value="FW_masterFramework.SocialStudies" /> social studies</label><br/>
            <label><input name="subject" type="radio" value="FW_masterFramework.ForeignLanguages"/> world languages</label><br/>
        </td>
        </tr>
        <tr>
            <td colspan="2"><h3>Teacher resources by type</h3></td>
        </tr>
        <tr><td>
            <h4>type of resource: </h4>
            <label><input name="mediatype" type="radio" value=""  checked="checked"/> any</label><br/>
            <label><input name="mediatype" type="radio" value="interactive" /> interactive</label><br/>
            <label><input name="mediatype" type="radio" value="video" /> video</label><br/>
            <label><input name="mediatype" type="radio" value="audio" /> podcast</label><br/>
            <!-- <input name="text" type="text" id="curriki-searchbox" size="20"><br> -->
        </td><td>
            <h4>type of usage:</h4>
            <label><input name="ict" type="radio" value="" checked="checked"/> any</label><br/>
            <label><input name="ict" type="radio" value="activity_exercise" /> exercise</label><br/>
            <label><input name="ict" type="radio" value="curriculum_unit" /> unit</label><br/>
            <label><input name="ict" type="radio" value="curriculum_lp" /> lesson plan</label><br/>
            <label><input name="ict" type="radio" value="activity_game"/> games</label><br/>
        </td></tr>
        <tr>
            <td>
        </td>
            <td class="adv_search_go_align" >
              <a href="javascript:document.getElementById('chpAdvSearchForm').submit();">go&raquo;</a>
            </td>
        </tr>
   <tr><td colspan="2" style="height:3ex">
     <!-- <a onclick="this.href='/xwiki/bin/view/Search/#o%3Aa%3Do%253Aresource%253Do%25253Aa%25253Db%2525253A1%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'; return true;" href="/xwiki/bin/view/Search/">Advanced Search</a> -->
    </td></tr></table>
</form>
<!--end search form fields-->
