## - (1) checks to see if account is active:
##   - if logged in: display thanks (short) and goto target
##   - if not logged-in: go to log-in with message: "account active, now log-in"
## - if not active
##   - go to activation request EmailSentValidationLink.vm
##   - go to activation request
## - checks to see if there's an opener that's a login-dialog, opens itself there then
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
<!-- THIS IS BackFromGCheckout -->
{pre}
<script type="text/javascript">
    function closer() {
        if(window.frames["currikiMainWindow"])
            window.frames["currikiMainWindow"].focus();
        window.close();
    }
    window.setInterval(closer,50);
</script>
<p>Thank you for your transaction.</p>
<p>You can now close this window.</p>
{/pre}