#set($redirectURL=$xwiki.googleCheckout.processCartCheckout($request))##
#if($redirectURL.startsWith("errors:"))
1 Google Checkout Jump

Sorry, please correct the errors:
#foreach($error in $redirectURL.substring(7).split(" "))
* $error
#end#else
<a href="$redirectURL" target="gcheckout">please checkout</a> (will be a redirect)
#end


