This is the Order class of the GCheckout flow.

Please see:

* [the active orders|Orders]
* [the past orders|OldOrders]

or <a href="/xwiki/bin/edit/$doc.space/$doc.name?editor=class">edit class</a>.

