/* 
    Document   : app
    Created on : 22-08-2013, 05:49:34 PM
    Author     : jorch
    Description:
        Purpose of the stylesheet follows.
*/
#main-nav{
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 0px;
}
#main-nav li{
    float: left;
    width: 25%;
}
#main-nav a{
    background-color: #29a3ce;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: 1px #fff solid;
    padding: 12% 0%;
    position: relative;
    border-right: none;
}
#main-nav a:hover{
    text-decoration: none;
}
#main-nav a.current{
    border-bottom: 1px solid #29a3ce;
}
#main-nav a span{
    background-color: #19647F;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
    top: 7px;
}
#the-content{
    /*background-color: #29a3ce;
    padding-top: 15px;*/
}
#the-breadcrumb{
    position: relative;
    background-color: #29a3ce;
    padding-top: 5px;
    padding-bottom: 5px;
}
#dropable-toc{
    position: absolute;
    display: none;
    top: 40px;
    left: 0px;
    z-index: 100;
}
#the-breadcrumb .breadcrumb{
    background: none;
    border:none;
    margin-bottom: 0px;
}
#the-breadcrumb .breadcrumb li a{
    color: #fff;
    text-decoration: underline;
}
#the-breadcrumb .breadcrumb li a:hover{
    text-decoration: none;
}
#the-breadcrumb .breadcrumb > .active{
    color: #fff;
    font-weight: bold;
}

#the-breadcrumb .breadcrumb > li + li:before {
    color: #fff;
    content: "> ";
}
#breadcrumb-icon{
    float: left;
    padding-top: 8px;
    text-align: right;
}
#breadcrumb-icon .icon-list-ul:before{
    color: #fff;
}
#breadcrumb-wrapper{
    float: left;
}
#main-content{
    background-color: #fff;
}
#inner-content{
    padding-top: 10px;
}

#sidebar a{
    color: #fff;
}
#main-logo img{
    height: 50px;
}
#wrapper-toc{
    background-color: #399abd;
}
#wrapper-toc ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#wrapper-toc ul li{
    border-bottom: 1px #3698bb solid;
}
#wrapper-toc ul li a{
    color: #aad3e3;
    padding: 10px 15px;
    display: block;
}
#wrapper-toc ul li a.current{
    color: #fff;
    font-weight: bold;
}
#wrapper-toc ul li a i{
    float: right;
}
#wrapper-toc ul ul{
    background-color: #50a5c4;

}
#wrapper-toc ul ul li{
    border-bottom: 1px #3698bb solid;
}
#dropable-toc{
    background-color: #399abd;
}
#dropable-toc ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#dropable-toc ul li{
    border-bottom: 1px #3698bb solid;
}
#dropable-toc ul li a{
    color: #aad3e3;
    padding: 10px 15px;
    display: block;
}
#dropable-toc ul li a.current{
    color: #fff;
    font-weight: bold;
}
#dropable-toc ul li a i{
    float: right;
}
#dropable-toc ul ul{
    background-color: #50a5c4;

}
#dropable-toc ul ul li{
    border-bottom: 1px #3698bb solid;
}
.dialog-login{}
.dialog-login .ui-dialog-titlebar{
    display: none;
}
#loginPopup{
    overflow: hidden;
}

/* temporary hide the toc */
#sidebar #wrapper-toc{
    display: none;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#my-modal .modal-dialog{
    width: 660px;/* your width */
}