/* 
    Document   : app
    Created on : 22-08-2013, 05:49:34 PM
    Author     : jorch
    Description:
        Purpose of the stylesheet follows.
*/
ul.navbar-nav li.dropdown{
    display: block !important;
}
.navbar{
    margin-bottom: 10px;
}
#headerglobal{

}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background: none;
    font-weight: bold;
    color: #000;
    border: 1px solid #DDDDDD;
}
.panel-primary > .panel-heading{
    text-transform: uppercase;
}
#btn-search{
    padding-top: 8px;
    padding-bottom: 8px;
}

#sub-options .btn-group{
    display: inline-block !important;
}
#contentcolumn #contentmenu{
    margin-bottom: 15px;
}
#editmenu{
    margin-bottom: 15px;
}
.bottombuttons .buttons{
    margin-top: 15px;
}
.separator-line{
    color: #5bc0de;
    background-color: #5bc0de;
    height: 3px;
}
.add-clearing{
    clear: both;
}
.tab-content{
    border: solid 1px #dddddd;
    padding: 10px;
    border-top: none;
    margin-bottom: 15px;
}