/* 
    Document   : app
    Created on : 22-08-2013, 05:49:34 PM
    Author     : jorch
    Description:
        Purpose of the stylesheet follows.
*/

/*
==================================================================================================
  0400 | Main Navigation
================================================================================================== 
*/
#main-nav{
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 0px;
}
#main-nav li{
    float: left;
    width: 25%;
}
#main-nav a{
    background-color: #29a3ce;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: 1px #fff solid;
    padding: 12% 0%;
    position: relative;
    border-right: none;
}
#main-nav a:hover{
    text-decoration: none;
}
#main-nav a.current{
    border-bottom: 1px solid #29a3ce;
}
#main-nav a span{
    background-color: #19647F;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
    top: 7px;
}
#the-content{}

/*
Breadcrumbs
--------------------------------------------------------------------------------------------------
*/
#the-breadcrumb{
    position: relative;
    background-color: #29a3ce;
    padding-top: 5px;
    padding-bottom: 5px;
}
#dropable-toc{
    position: absolute;
    display: none;
    top: 40px;
    left: 0px;
    z-index: 100;
}
#the-breadcrumb .breadcrumb{
    background: none;
    border:none;
    margin-bottom: 0px;
}
#the-breadcrumb .breadcrumb li a{
    color: #fff;
    text-decoration: underline;
}
#the-breadcrumb .breadcrumb li a:hover{
    text-decoration: none;
}
#the-breadcrumb .breadcrumb > .active{
    color: #fff;
    font-weight: bold;
}

#the-breadcrumb .breadcrumb > li + li:before {
    color: #fff;
    content: "> ";
}
#breadcrumb-icon{
    float: left;
    padding-top: 8px;
    text-align: right;
}
#breadcrumb-icon .icon-list-ul:before{
    color: #fff;
}
#breadcrumb-wrapper{
    float: left;
}
/*
Content
--------------------------------------------------------------------------------------------------
*/
#main-content{
    background-color: #fff;
}
#inner-content{
    padding-top: 10px;
}

#sidebar a{
    color: #fff;
}
#main-logo img{
    height: 50px;
}
#dropable-toc{
    background-color: #399abd;
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    z-index: 100;
}
#dropable-toc ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#dropable-toc ul li{
    border-bottom: 1px #3698bb solid;
}
#dropable-toc ul li p.main-item{
    float: left;
    width: 100%;
}
#dropable-toc ul li a{
    outline: none;
}
#dropable-toc ul li a.item-link{
    color: #aad3e3;
    padding: 10px 15px;
    display: block;
    float: left;
}
#dropable-toc ul li a.icon-large{
    float: right;
    padding: 10px 15px;
    color: #aad3e3;
}
#dropable-toc ul li a.current{
    color: #fff;
    font-weight: bold;
}
#dropable-toc ul li a:hover{
    text-decoration: none;
    color: #c9e2b3;
}
#dropable-toc ul li a:focus{
    text-decoration: none;
}
#dropable-toc ul ul{
    background-color: #50a5c4;
    display: none;
    clear: left;
}
#dropable-toc ul ul li{
    border-bottom: 1px #3698bb solid;
}
#dropable-toc ul li ul a {
    color: #AAD3E3;
    display: block;
    padding: 10px 15px;
}
.dialog-login{}
.dialog-login .ui-dialog-titlebar{
    display: none;
}
#loginPopup{
    overflow: hidden;
}

/* temporary hide the toc */
#sidebar #wrapper-toc{
    display: none;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#my-modal .modal-dialog{
    width: 660px;/* your width */
}
#wrapper-account{
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
}
#wrapper-account li{
    list-style: none;
    display: block;
    text-align: center;
}
#wrapper-account li a{
    color: #797979;
    font-weight: bold;
}

#asset-wrapper-inner{
    clear: left;
}
.item-type-Text{
    
}

/* single asset */

.panel-heading #function-tabs{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.panel-heading #function-tabs li{
    /*float: left;
    margin-right: 10px;*/
}
.panel-heading #function-tabs li:last-child{
    margin-right: 0px;
}
.panel-heading #function-tabs li a{
    color: #62983a;
    text-decoration: none;
}
.panel-heading #function-tabs li a:hover{
    text-decoration: none;
}
.panel-heading #asset-header .panel-title{
    margin-top: 0px;
    font-weight: bold;
}
#asset-links{
    margin-top: 5px;
    list-style: none;
}
#member-rating{
    margin-top: 5px;
}
.popover-content{
    display: none;
}
/*
==================================================================================================
  8000 | CUSTOM JIRAS
================================================================================================== 
*/

/*
==================================================================================================
  9000 | QUICK FIXES 
         
         If you are in a hurry drop your fix here but please document it with a short comment
================================================================================================== 
*/