/* 
    Document   : app
    Created on : 22-08-2013, 05:49:34 PM
    Author     : jorch
    Description:
        Purpose of the stylesheet follows.
*/
ul.navbar-nav li.dropdown{
    display: block !important;
}
.navbar{
    margin-bottom: 10px;
}
#headerglobal{
    
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background: none;
    font-weight: bold;
    color: #000;
    border: 1px solid #DDDDDD;
}
.panel-primary > .panel-heading{
    text-transform: uppercase;
}