
/* Groups */

#groups-curriculum #groups-main-header .button {float: right;}
.subject-card {margin: 5px; }

.subject-card {
	width: 132px;
	height: 200px;
	text-align: center;
	border: 1px solid #000;
	padding: 10px 5px;
	font-size: 12px;
}

.subject-card:hover {
	background-color:#F6F8C9;
	border-color:#FF4100;
}

.browse-subject-table-row .subject-link {
	padding: 0 0 5px 0;
	height: 2.5em;
}

.subject-link a, .subject-card a {
	color: #1963AA;
	text-decoration: none;
}
.browse-subject-table-row .subject-link a span {
	padding: 0;
	font-size: 12px;
}

.subject-link a span.subject-title-count {color: #FF4100;}

.subject-card-promo {
	background-color: #E3E4F6;
	font-weight: bold;
}

.subject-link {
	text-align: center;
	padding: 20px 0 80px;
 	font-weight: bold;
}
.subject-link a span { font-size: 15px;}
.subject-desc {
 	width: 120px;
 	overflow: hidden;
 	font-size: 12px;
}

/* Group */
.groups-home .head { position: relative; }
.groups-home .head .frame-inset-logo {position: absolute; top: 30px; left: 10px;  height: 72px; overflow: hidden; width: 120px; }
.groups-home .head .frame-inset-logo img { float: left; }
.groups-home .head .frame-inset-description { margin-left: 140px; padding-right: 10px; padding-top: 10px; height: auto  !important; height: 100px; min-height: 100px; }
.groups-home #section3content p.paragraph { padding-top: 5px; }
.groups-home .group-subject-education-level { padding-top: 10px; }

.groups-home .group-subject-education-level td { 
	vertical-align: top; 
	padding: 10px;
	border: 1px solid #eee;
	border-left-color: #CCC;
	border-top-color: #CCC;
}

.groups form#inline .fields p.paragraph { margin-top: 5px; }
.groups form#inline .fields .mceEditorContainer, form#wblockform .mceEditorContainer, form#editform .mceEditorContainer { padding: 0px; }
.groups-home #group-info strong.caption { display:block; padding: 10px 0 1px; }
.groups-home #group-info .group-membership-policy strong.caption { display:block; padding: 0 0 1px; }
#wblockform .mceEditorIframe { width: 100% !important; }
/* End of group*/

/* EDIT MASTHEAD */
.CreateNewGroup .frame-inset-logo { float: left; margin: 0 10px 10px 0; }
.CreateNewGroup .frame-inset-description { padding-bottom: 20px; }
.CreateNewGroup .frame-content #XWiki\.SpaceClass_0_displayTitle,  .CreateNewGroup .frame-content #XWiki\.SpaceClass_0_description { width: 536px; }
.CreateNewGroup .frame-content #form-info-top { margin-top: 15px; }
.button-masthead { padding: 0 0 15px; }
.CreateNewGroup  .button-masthead input.button-confirm { font-weight: normal; margin: 0 7px; }
.CreateNewGroup .button-masthead button.button-cancel,  { margin: 0 7px; }

/* VIEW MESSAGES */ 
.comments { border-bottom: 1px dotted #B3B3B3; padding: 10px; }
.comments .comments-content { margin-left: 70px; position: relative; height: auto  !important; height: 60px; min-height: 60px; }
.comments .comments-content .right { position: absolute; right: 0; }
.comments-add {  border: 1px solid #E0E0E0; margin-top: 20px; padding: 10px 10px 0; }
.comments-add textarea { height: 60px; width: 99%; }
.comments-add button { display: inline; }
.attachments { border-bottom: 1px dotted #B3B3B3; padding: 10px 0; position: relative; zoom: 1; }
.attachments .right { position: absolute; right: 0; }
.attachments-add { padding-bottom: 10px; position: relative; zoom: 1; }
.attachments-add button { position: absolute; right: 10px; }
.groups-messages .blog-comment { border-bottom: 1px dotted #B3B3B3;  height: auto !important; height: 60px; min-height: 60px; padding: 10px 65px; position: relative; zoom: 1; }
.groups-messages .blog-comment .blog-comment-avatar { float: none !important; position: absolute; left: 8px; height: 55px; overflow: hidden; }
.groups-messages .blog-comment .right { position: absolute; right: 5px; }
.groups-messages hr.my-curriki-hr  { display: none; }
.groups-messages .odd-row { background-color: #F1F1F1; }

/* GROUP MESSAGES */ 
.add-message { padding: 10px; }
.add-message-content { margin-left: 110px; position: relative; height: auto  !important; height: 90px; min-height: 90px; }
.messages-radio { padding: 5px 0 0; position: relative; zoom: 1; }
.messages-radio input { margin: 0 5px 0 15px; }
.messages-radio input.messages-radio-left { margin: 0 5px 0 0; }
.messages-radio button { display: inline; position: absolute; right: 0; bottom: 0; }
.groups-messages #section3content { padding-top: 0; }
.messages-content { padding: 0; }
.messages-content .frame-inset { position: relative; margin: 10px 0 0; }
.messages-content .frame-inset .button-links { position: absolute; right: 10px; top: 10px; }
.messages-title { padding: 5px 0; }
.messages-title a { font-weight: bold; }
.messages-content .date { padding: 15px 0; }
.messages-content .table-results { margin-top: 15px; }
.messages-content .table-results-navigation-pagination { padding: 0 10px; }
.groups-edit-message form#inline { padding: 10px 0; }

/* EDIT MESSAGES */
.messages-edit label { display: block; font-weight: bold; padding: 0 0 5px; }
.messages-edit fieldset { border: none; padding: 0 0 20px; }
.messages-edit .input, .groups-edit-message input, .groups-messages #commentform textarea { width: 99%; }
.messages-edit .checkbox { margin: 0;padding: 0; border: none; }
.messages-edit .send-to th { background-color: transparent; font-weight: normal; }
.messages-edit .send-to td { height: 30px; padding: 0 10px 0 0; vertical-align: bottom; } 
.groups-edit-message .righttext { height: 40px; }
.groups-edit-message .righttext input { width: auto; }
.groups-edit-message .mceEditorIframe, #groups-message-edit .mceEditorIframe { width: 100% !important; }
.groups-messages #attachmentscontent { background-color: transparent !important; margin: 0; padding: 10px 0 0; }
.groups-messages #commentscontent { margin: 10px 0 0; }
#groups-message-edit .mceToolbar img { width: auto; height: auto; }
#groups-messages-main #section_3 .attachments .date { color: #8C8C8C; }

/* Create new group */
#groups-create #groups-create-nextbutton  { padding: 10px 0 30px; }
#groups-create a { cursor: pointer; text-decoration: none; }
#groups-create a:hover { text-decoration: underline; }
#groups-create a img { margin: 0 10px 0 0; }
#groups-create input.button { font-weight: normal; }
#groups-create ul li { padding-bottom: 10px; }
#groups-create ul.minus { padding: 0px 50px; margin: 0; }
#groups-create ul.minus li { list-style-type: circle; }
#groups-create .groups-create-minus ul li { padding: 0; }
#groups-create .groups-create-minus ul.minus li { padding-bottom: 5px; }
.CreateNewGroup .section { padding-bottom: 10px; }
.CreateNewGroup th { background-color: transparent; }
.CreateNewGroup td { vertical-align: top; }
.CreateNewGroup .ygtvitem { padding-right: 20px; }
.CreateNewGroup span.xwiki-form-listclass { display: block; }
.CreateNewGroup span.xwiki-form-listclass input { margin-left: 0; }
.CreateNewGroup #XWiki.SpaceClass_0_displayTitle { width: 90%; }
.CreateNewGroup #XWiki.SpaceClass_0_description { width: 90%; }
.CreateNewGroup #form-info-top { position: relative; }
.CreateNewGroup #XWiki\.SpaceClass_0_urlshortcut { width: 160px !important; }
.CreateNewGroup #XWiki\.SpaceClass_0_displayTitle, #XWiki\.SpaceClass_0_description { width: 580px; }
.CreateNewGroup .validation-error { color: #FF4100 !important; background-color: #FFF !important; }

/* End of Create new group */

/* GROUP CREATE CONFIRM */
.create-done-page {padding-left: 40px;}
.create-done-page h1, .create-done-page div, .create-done-page ul, .create-done-page p {margin-left: -40px;}
.create-done-page form { text-align: center;}

.create-done-page input { 
	color: #FFF;
	font-weight: normal;
	padding: 5px;
	font-size: 11px;
	line-height: 12px; 
	background-color: #FC7A0C;
	border: 1px solid #FF4D02;
}

/* GROUP MEMBERS */
#groups-members-main #section3content { position: relative; height: 100%; }
.groups-members #groups-members-filter form { padding: 5px 0; }
.groups-members #groups-members-filter span { padding-right: 15px; }
.groups-members #groups-members-filter span input { margin: 0; }
.groups-members .groups-members-list { padding-top: 10px; }

.groups-members .groups-members-list .groups-members-member { 
	border-color: #CCCCCC rgb(229, 229, 229) rgb(229, 229, 229) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	margin: 10px 0 0;
	padding: 10px;
}

.groups-members .groups-members-list .groups-members-member .userpic { position:absolute; height: 100px; overflow: hidden; }
.groups-members-member .groups-members-membereditlink { position:absolute; right: 10px; }
.groups-members-member { position: relative;  zoom: 1; }
.groups-members-member .groups-members-membername, .groups-members-member  .groups-members-memberprofile, .groups-members-member .groups-members { padding: 0 130px 0 90px; }
.groups-members-member .groups-members-remove { position: absolute; right:10px; top: 25px; }
.groups-members-member .groups-members-addadmin { position: absolute; right: 10px; top: 40px; }
.groups-members-member .groups-members-membername a { font-weight: bold; }

.groups-members-member .groups-members-memberprofile { 
	padding: 0 130px 0 90px; 
	height: auto  !important; 
	height: 90px; 
	min-height: 90px;
}

.groups-members .group-members-edited { background: #FFFFCD; }
.groups-members-memberinfo form textarea, .groups-members form textarea { width: 99%; } 
.groups-members-member-buttons { padding-bottom: 15px; text-align: right; }
.groups-members-member-buttons input.button { border: none; background-color: transparent; color: #336699; display: inline; margin: 3px 0 0 0; padding: 0 4px; width: auto !important; }
.groups-members-member-buttons input.button-cancel { border-right: 1px solid #cccccc; }
.groups-members-request .groups-members-request-links { top: 10px; }
.groups-members .group-members-edited .userpic { display: block; }
.groups-members .group-members-edited .groups-members-member-buttons { position: absolute; right: 3px; top: 5px; }
.group-members-edited .groups-members-member-buttons input.button { cursor: pointer; }
.groups-members .group-members-edited form { padding-top: 90px; }

.groups-members-list .groups-members-request, .groups-members-invitee { 
	border-color: #CCCCCC rgb(229, 229, 229) rgb(229, 229, 229) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	margin: 10px 0 0;
	padding: 10px;
	position: relative;
}

.groups-members-request, .groups-members-invitee {  height: auto  !important; height: 90px; min-height: 90px; }
.groups-members-list .groups-members-request .userpic, .groups-members-invitee .userpic { position:absolute; height: 100px; overflow: hidden; }
.groups-members-request .groups-members-request-links { position:absolute; right: 10px; padding: 0 5px; }
.groups-members-request-name, .groups-members-request-date, .groups-members-request-status, .groups-members-request-message, .groups-members-request-info p { padding: 0 90px; }
.groups-members-request .groups-members-request-name a { font-weight: bold; }
.groups-members-member  .groups-members-request-message, .groups-members-inviteeinfo { padding: 0 90px; }
.group-members-request-confirm { background-color: #FFFFCD; }
.group-members-request-confirm .groups-members-request-info form { padding-top: 90px; }
.group-members-request-confirm form .button-right { position: absolute; top: 10px; right: 3px; padding: 0; }
.group-members-request-confirm form .button-right input.button { background-color: transparent; border: none; color: #336699; font-size: 12px; text-decoration:none; margin: 0; padding: 0 3px;  }
.group-members-request-confirm form .button-right input.button-cancel { border-right: 1px solid #ccc; } 
.groups-members-request-confirm-box p { padding: 5px 0; }
.groups-members-request-date { font-style:italic }
.groups-members-request-status { padding-top: 10px; }
.groups-members-request-message-label { font-weight: bold; padding-top: 10px; }

/* CURRICULUM SEARCH */ 
#groups-curriculum #searchElement table table.search-selector-bottom { width: 593px; }
#groups-curriculum #searchElement .gwt-ListBox { font-size: 11px; }

/* CURRICULUM */
.groups-curriculum #groupsearch { padding: 10px 0 5px; position: relative; }
.groups-curriculum #groupsearch .groupcontribution-leftbutton { position: absolute; top: 9px; padding: 8px 0 8px; }
.groups-curriculum #groupsearch .groupcontribution-leftbutton a.button { display: inline; }
.groups-curriculum #groupsearch #curriki-search-field-container { float: none; margin: 2px 0 0 90px; width: 83%; }
.groups-curriculum #curriki-searchbox{ width:175px; font-size:10px; color: #666; font-size: 12px; border: none; padding: 0px 3px; background: #fff url(black-textareabgw.png) top left no-repeat; }
.groups-curriculum #groupsearch #curriki-search-field { 
	height:19px;
	padding:3px 0 0 5px;
}

* html .groups-curriculum #curriki-searchbox{ width: 180px; }
.groups-curriculum #groupsearch #curriki-search-field-container #curriki-searchbox { width: 85%; margin: 0; float: left;  }
.groups-curriculum #groupsearch #curriki-search-field { height: 19px; padding: 3px 0 0 5px; }
.groups-curriculum #groupsearch #curriki-search-field-container #searchbtn { color: #FFD; text-align: center; background-color: transparent;border: none; font-size: 12px !important; padding: 0px 4px; width: 50px; line-height: 12px; height: 14px; float: left; }
.groups-curriculum .frame-inset { margin:10px 0 0; }
#groups-members-welcomeblock .button { display: inline; }
.groups-curriculum #groups-collections-instructional { position: relative; padding-bottom: 15px; zoom: 1; }
.groups-curriculum #groups-collections-instructional .button-confirm { position: absolute; right: 0px; }

/* DOCUMENTATION */
.groups-documentation form { padding-bottom: 10px; position: relative; zoom: 1; }
.groups-documentation form input { width: 80%; }
.groups-documentation form button { position: absolute; bottom: 7px; right: 0; }
.document-content { margin: 0 0 10px;  }
.document-content .headlines { height: 50px; position: relative; zoom: 1; }
.document-content .document-icon { float: left; width: 80px; text-align: center; }
.document-content .headlines .button-link { position: absolute; right: 0; top: 0; }
.groups-documentation p.paragraph { display: inline; padding: 0; margin: 0; }
#groups-documentation-main #xwikiuploadfile { width: 300px !important; }
#groups-documentation-main #section_1 label { display: block; }
.groups-documentation form input.button { width: auto; }
.groups-documentation .mceEditorContainer { padding: 0; }
.groups-documentation .doctext { display: block; padding: 15px 0 4px; }
.groups-documentation table.mceEditor { width: 570px !important; }
.groups-documentation table.mceEditor .mceEditorIframe { width: 560px !important; }
#groups-documentation-main #section_1  { border-top: none; }
.groups-documentation .edit-history { padding-left: 340px; height: 15px; }
.groups-documentation .inactive-link { background-color: #006699; color: #fff; float: left; padding: 5px; }
.groups-documentation .edit-history a { float: left; padding: 5px; text-decoration: none; }
.groups-documentation table.xwikidatatable { border: none; margin: 0; border-collapse: collapse; }
.groups-documentation table.xwikidatatable th { border-bottom: 1px solid #E0E0E0; margin: 0; }
.groups-documentation #history table.xwikidatatable td { padding: 10px 0; }
.groups-messages .righttext { overflow: auto; }

/* JIRA  1584 */
.groups-edit-message #inline div div { padding: 5px 0; }
.groups-edit-message #inline div div div { padding: 0; }

/* JIRA 1564 */
#groups-manage-role-line-Role_AffiliateGroup .lefttext { float: none; padding: 5px 0; }
#groups-main-content-frame input[type="text"], #groups-manage-roles-edit-Role_AffiliateGroup input[type="text"] { width: 60%; }
#groups-main-content-frame .frame-inset  .button  { display: inline; margin: 0 0 0 15px;  }
#groups-main-content-frame .frame-inset  .button-cancel { color: #000; }
#groups-main-content-frame .lefttext { float: none; padding: 6px 0; }
#groups-main-content-frame #groups-manage-roles-add-button { padding: 10px 0 50px; }
#groups-main-content-frame .frame-inset { margin: 0; }
.floatright a { cursor: pointer; }
#groups-main-content-frame #groups-manage-roles-add-form { margin: -30px 0 20px; }
#groups-manage-roles-return a { color: #2264A1; text-decoration: none; }
#groups-manage-roles-return a:hover { color: #336; text-decoration: underline; }
#groups-members-main #groups-manage-roles-return { margin: -10px 0 10px; }

/* JIRA 1645 */
.groups-create-messages .strong { font-weight: bold; }
.groups-create-messages table { border-collapse: collapse; }
.groups-create-messages table td { padding: 0 10px 10px 0; height: 20px; }
.groups-create-messages input#toRole, .groups-create-messages input#toMember { margin-top: 0; padding-top: 0; }

/* JIRA 1642 */
#groups-home-main .spacedoc { border-top:1px dotted #CCCCCC; padding: 10px 0; }
#groups-home-main .spacedoc-date { color: #8C8C8C; }

/* JIRA 1639 */
#mycurriki-groups .xwikicomment .righttext { color: #8C8C8C; }

/* JIRA 1629 */
#groups-messages .messages-content { padding-top: 10px; }

/* JIRA  */
.featured-groups-intro a, .CreateNewGroup a { text-decoration: none; }

/* JIRA 1612 */
#groups-message-edit { font-size-adjust:none; font-style:normal; line-height:normal; }
.messages-content { font-size-adjust:none; line-height:normal; }

/* JIRA 1643 */
#groups-members-main .select-roles { font-weight: bold; padding-top: 10px; }
#groups-members-main .instruction { font-size: 10px; }

.groups-create-messages input { padding: 0; border: none; margin-bottom: 0 !important; }

/* Moved from XWiki.style after initial move for 1.5.1 */

/* JIRA 1643 */
#groups-members-main .groups-members-memberinfo form select { margin-bottom: 15px; }

/* JIRA 1669 */
.create-done-page a { text-decoration :none; }

/* JIRA 1682 */
#groups-documentation-main #section1content p.paragraph { display: block; padding-bottom: 4px; }

/* CURRIKI-1725 */
#groups-main-content-frame .floatright {position: relative;}

/* JIRA  1613 */
.messages-content { overflow: auto; }
#groups-message-edit { overflow: auto; }
.groups-message-edit br { line-height:normal; }
.groups-message-edit p { display: block; }
#currikimaincontainer { position: relative; }
#staf { position: absolute; left: 100px; top: 100px; width: 600px; z-index: 100;}
#washout { display: none; position: absolute; top: 0%; left: 0%; z-index: 10; width: 100%; height: 100%; background-color: black; -moz-opacity: 0.2; opacity:.20; filter: alpha(opacity=20);}

/* JIRA 1863 */
#groups-documentation-main #section4content .button-link { padding-right: 10px; }
.frame-content .button-link p { display: inline; }
.frame-content .button-link p a { color: #fff; }

#groups-home-main .frame { zoom: 0; }

/* GROUPS */
#section4content div.headlines p a b { display: block; padding-right: 90px; }
#groups-curriculum-main .x-panel-noborder .x-panel-header-noborder {border:none;}

#groups-curriculum-main .x-panel-header {
	background:none;
	border:none;
	color:#000;
	font-family:arial,verdana,sans-serif;
	font-size:12px;
	padding:0;
}

#groups-curriculum-main #search-filterPanel-resource {
	padding:0;
	margin:10px 0;
}

#groups-curriculum-main #search-tabPanel .x-grid-panel .x-panel-body {
	padding:0;
	border:0;
}

#groups-curriculum-main #search-tabPanel .x-panel-bbar {
    margin:20px -11px -1px -11px;
    width:105%;
}

#groups-curriculum-main #search-termPanel-resource-terms {width:260px;}
.done-message li {list-style-type:disc;}
.x-panel-body .directions {width:75%;}
#nominateResourceForm, #nominateResourceForm textarea {margin:10px 0;}
#nominate-resource-dialogue .x-window-tl, #nominate-resource-dialogue .x-window-tl {background-color:#ff4100;}

/** GROUPS **/
.groups-home .group-subject-education-level th {background: #fff; font-size: 13px; font-weight:bold;}

