#**
  * Start HTML of main entry points
  * @author Curriki dev team
  *#
<?xml version="1.0" encoding="$xwiki.encoding" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
#if($!request.getHeader("User-Agent").contains("MSIE 9"))
    <meta http-equiv="X-UA-Compatible" content="IE=8">
#end
<title>#pageTitle()</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- analytics -->#template("analytics.vm")<!-- /analytics -->
#template("stylesheets.vm")
<meta http-equiv="imagetoolbar" content="no" />

    #if($doc.space.startsWith("Coll_"))
        ## an asset
        #set($assetObj=$!doc.getObject("CurrikiCode.AssetClass"))##
        #set($description="Curriki resource: $!{assetObj.description}")##
        #if($description.length()>400)#set($description="${description.substring(0,397)}...")#end##
        <meta name="description" content="$escapetool.xml($description.replaceAll('<[^>]+>','').replaceAll('\n',' '))" />
        <meta name="author" content="$xwiki.getUserName($doc.creator,false).toString()" />
    #else
        <meta name="description" content="Curriki, the online education community, is building the first website to offer free, open-source instructional materials for K-12. We have thousands of free worksheets, lesson plans, exams, project ideas and activities for English language arts, math, science, social studies, technology integration and other subjects. All of our educational material is contributed by teachers and partners and is free and open source." />
        <meta name="author" content="The Curriki team and community" />
    #end
    <meta name="language" content="$context.language" />

    $xwiki.parseContent($!xwiki.getSpacePreference("meta"))
#*
    <meta name="keywords" content="education, curriculum, curricula, open-source, worksheets, lesson plans, exams, project ideas, activities, English language arts, Math, Science, Social Studies, educational, instructional materials, teachers, educators, teaching" />
    <meta name="distribution" content="GLOBAL" />
    <meta name="rating" content="General" />
    *#
##    <meta name="copyright" content="you need to choose your copyright" />
##    <meta http-equiv="reply-to" content="" />
    <meta name="revisit-after" content="7 days" />

    <link rel="alternate" type="application/rss+xml" title="Wiki RSS Feed" href="/xwiki/bin/view/Main/WebRss?xpage=rdf" />
    <link rel="image_src" href="/xwiki/skins/neagps/images/nea-gps-logo.jpg"/>
    <link rel="icon" type="image/ico" href="/xwiki/skins/neagps/images/favicon.ico"/>
    #set($headerfile="html")
#template("javascripts.vm")
#template("ie.vm")
#template("onloadunloadjs.vm")
#set($clsPageName = 'p-'+$doc.getFullName().replaceAll('\.', '-'))
</head>
<body $!onloadunload id="body" class='curriki#if($globalDebug) debug#end#if($hasGlobalAdmin) admin#end $clsPageName'>
#if(!($viewer.startsWith("embed")))
<div id="main">
	<div id="shadow-right">
#end
