{{velocity}}
#**
  * Displays the create message form
  *
  * @type sheet
  * @refactored ludovic
  *#
{{html clean=false wiki=true}}
#activatefullscreen()
#groups_message_create()
{{/html}}
{{/velocity}}
