#set($notificationMailSender=$xwiki.parseGroovyFromPage("Groups.GroupMessageNotificationMailSender"))
$notificationMailSender.init($request, $xwiki, $context)
$request.setAttribute("notify","true")
$request.setAttribute("toMember","true")
$request.setAttribute("selectedMembersList","XWiki.adminPolx")
$notificationMailSender.messageSendNotificationMail("Group_MyTestGroup1")
##groupmessages.vm 257