#**
  * Asset MP3 Displayer in View mode
  *
  *#
#asset_displaycontentheader("text-align:center;")
<div class="asset-display-media">
<div class="asset-display-media-inner">
    #set($caption = "")
    #set($ok = $asset.use("CurrikiCode.AttachmentAssetClass"))
    #set($caption = $!asset.caption_text)
    #set($ok = $asset.use("CurrikiCode.AssetClass"))
    #if($!caption == "")
    #set($caption = $!asset.description)
    #end
      <p>
        $caption
    </p>
#foreach ($attach in $asset.attachmentList)
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/
pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" id="mini_player_mp3" align="middle" height="25" width="331">
<param name="allowScriptAccess" value="sameDomain">
#set($playerUrl = $xwiki.getDocument("MimeType.audio_mp3").getAttachmentURL("mini_player_mp3.swf"))
#set($mp3Url = $asset.getAttachmentURL($attach.filename))
<param name="movie" value="${playerUrl}?my_mp3=${mp3Url}&my_text=$attach.filename">
<param name="quality" value="high">
<param name="bgcolor" value="#ffffff">
<param name="wmode" value="transparent">
<embed src="$playerUrl?my_mp3=${mp3Url}&my_text=$attach.filename" wmode="transparent" quality="high" bgcolor="#ffffff" name="mini_player_mp3" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" height="25" width="331">
</object>
#end
</div></div>
#asset_attachments($asset)
#asset_displaycontentfooter()
