#asset_displaycontentheader("")
<div class="asset-display-edit">
    <div class="asset-display-edit-inner">
        <form name="text" action="$xwiki.getURL("CurrikiCode.AssetSaveService", "view")" onsubmit="return beforeAssetSubmit(this);" method="post" >
            #set($xredirect = $xwiki.getFormEncoded($asset.getURL('view', $!request.queryString.replaceAll("viewer=assetedit", ""))))
            <input  type="hidden" name="page" value="$asset.fullName" />
            <input  type="hidden" name="xredirect" value="$xredirect" />
            <fieldset>
                <ul>
                    $asset.use("CurrikiCode.TextAssetClass")
                    #set($syntax = $asset.getValue("syntax"))
                    #if($syntax=="xwiki/1.0")
                    #set($useWikiMode = $asset.isAdvancedContent() && !$request.forcewysiwyg)
                    <li class="input-textarea">
                        #if($useWikiMode)
                        ## are not setting up the wysiwyg but instead stay in wiki mode adding a message and a button to switch
                        <p>$msg.get("rve.content.edit.text.instruction_text.wiki_text")</p>
                        #else
                        <p>$msg.get("rve.content.edit.text.instruction_text.wiki_wysiwyg")</p>
                        #end
                        <div id="input-wiki-wysiwyg">
                          $asset.getTextArea()
                        </div>
                    </li>
                    #if(!$useWikiMode)
                    <script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/wysiwyg/tinymce/tiny_mce/tiny_mce.js")"></script>
                    <script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/wysiwyg/tinymce/wiki_editor/wiki_editor.js")"></script>
                    <script language="javascript" type="text/javascript">
                            if ( browser.isIE || browser.isMozilla || browser.isGecko) {
                                // NLLP Icon
                                var nortelIconHtmlSrc = '<img src="' + '$msg.get("nortel.lesson.plan.output.heading.icon.url")' + '" alt="" width="' + '$msg.get("nortel.lesson.plan.output.heading.icon.width")' + '" height="' + '$msg.get("nortel.lesson.plan.output.heading.icon.height")' + '" />';
                                wikiEditor.addExternalProcessor((/\u0023currikiNortelIcon\(\)/g), nortelIconHtmlSrc);
                                var reg = new RegExp(nortelIconHtmlSrc.replace('/xwiki/bin/', '../../').replace('/', '\/'),"g");
                                wikiEditor.addInternalProcessor(reg, '\u0023currikiNortelIcon()');
                                // ACELP Icon
                                var aceIconHtmlSrc = '<img src="' + '$msg.get("ace.lesson.plan.output.heading.icon.url")' + '" alt="" width="' + '$msg.get("ace.lesson.plan.output.heading.icon.width")' + '" height="' + '$msg.get("ace.lesson.plan.output.heading.icon.height")' + '" />';  
                                wikiEditor.addExternalProcessor((/\u0023currikiACELPIcon\(\)/g), aceIconHtmlSrc);
                                var aceReg = new RegExp(aceIconHtmlSrc.replace('/xwiki/bin/', '../../').replace('/', '\/'),"g");
                                wikiEditor.addInternalProcessor(aceReg, '\u0023currikiACELPIcon()');
                                // EfSLP Icon
                                var efsIconHtmlSrc = '<img src="' + '$msg.get("efs.title.learn.link4.thumbnail")' + '" alt="" width="68" height="64" align="middle" />';  
                                wikiEditor.addExternalProcessor((/\u0023currikiEfSLPIcon\(\)/g), efsIconHtmlSrc);
                                var efsReg = new RegExp(efsIconHtmlSrc.replace('/xwiki/bin/', '../../').replace('/', '\/'),"g");
                                wikiEditor.addInternalProcessor(efsReg, '\u0023currikiEfSLPIcon()');
                                // wiki editor init
                                wikiEditor.init({
                                    language: "en",
                                    elements : "content",
                                    mode: "exact",
                                    content_css: "$xwiki.getSkinFile("style.css", true)",
                                    debug : false,
                                    remove_linebreaks : false,
                                    plugins: 'table, contextmenu, paste, searchreplace',
                                    wiki_images_path : '${request.contextPath}/bin/download/$asset.web/$asset.name/',
                                    wiki_attach_path : '${request.contextPath}/bin/view/$asset.web/$asset.name',
                                    wiki_macro_path : '${request.contextPath}/bin/view/$asset.web/$asset.name',
                                    wiki_plugins: 'core,attachments'
                                });
                            } else {
                                alert("$msg.get('browsernoncompatible')");
                            }
                      </script>
                      #end
                      #elseif($syntax=="xwiki/2.0")
                        <li class="input-textarea">
                          <p>$msg.get("rve.content.edit.text.instruction_text.wiki_wysiwyg")</p>
                          <div id="input-wiki-wysiwyg">
                            $asset.getTextArea()
                          </div>
                          #wysiwyg_editProperty($asset "content" true)
                        </li>
                      #elseif($syntax=="xhtml/1.0")
                    <li class="input-textarea">
                        <p>$msg.get("rve.content.edit.text.instruction_text.html_wysiwyg")</p>
                        <div id="input-html-wysiwyg">
                          $asset.getTextArea()
                        </div>
                    </li>
                    <script type="text/javascript" src="${request.contextPath}/tiny_mce32/tiny_mce.js"></script>
                    <script type="text/javascript">
                        tinyMCE.init({
                            // General options
                            language: "en",
                            mode : "exact",
                            elements : "content",
                            theme : "advanced",
                            plugins : "safari,table,save,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,media,searchreplace,print,contextmenu,paste,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",

                            // Theme options
                            theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect,forecolor,backcolor",
                            theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,image,media,cleanup,help,code",
                            theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,fullscreen",
                            theme_advanced_toolbar_location : "top",
                            theme_advanced_toolbar_align : "left",
                            theme_advanced_statusbar_location : "",
                            theme_advanced_resizing : true

                        });
                    </script>
                    #else
                    <li class="input-textarea">
                        <div id="input-text-wysiwyg">
                          $asset.getTextArea()
                        </div>
                    </li>
                    #end
                    #asset_edit_revision()
                </ul>
            </fieldset>
            <hr>
            #asset_edit_buttons($asset true)
        </form>
        ## this allows to check for changes
        #curriki_clickawayjs("text" $xwiki.curriki.escapeForJS($msg.get("rve.content.edit.warning.message_text")))        
    </div>
</div>
#asset_displaycontentfooter()
