        </div>## main
        <div class="clearfloats"></div>
        </div>## mainContentArea
    </div>## contentcolumn
        #template("leftpanels.vm")
    </div>## leftsidecolumns
    #template("rightpanels.vm")
    
</div> ##end the-content

#template("footer.vm")
#template("htmlfooter.vm")
