###
### Global header
###
### The uppermost area of each page
### Contains the company logo, links to global actions and the search facility
###
        <div class="container" id="the-header">
    #if($isInServletMode) ## Visible only in a page
        #template("top_nav.vm")
        <!-- doc.space: $doc.space of class $doc.space.getClass() -->
        #if($doc.space.startsWith("Group_"))
            #set($groupName=$doc.space.substring(6))<!-- Group_  -->##
        #elseif($doc.space.startsWith("Coll_Group_"))
            #set($groupName=$doc.space.substring(11))<!-- Coll_Group $doc.space.substring(10) -->##
        #elseif($doc.space.startsWith("Discussions_Group_"))<!-- Discussions_Group_ -->##
            #set($groupName=$doc.space.substring(18))##
        #elseif($doc.space.startsWith("Messages_Group_"))<!-- Messages_Group_ -->
            #set($groupName=$doc.space.substring(14))##
        #else
            #set($groupName="")<!-- no group recognized -->
        #end
        <nav class="navbar navbar-default row" id="curriki-primary-menu" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#curriki-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">Menu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="curriki-navbar-collapse-1">
                <ul id="main-nav" class="nav nav-pills nav-justified">
                    #if($groupName!="")
                        <li><a href="../Group_${groupName}/" ##
                            #if($doc.name=="WebHome" && $doc.space=="Group_${groupName}") class="current" #end##
                                >Home</a></li>
                        <li><a href="../Coll_Group_${groupName}/Main"
                            #if($doc.space.startsWith("Coll_")) class="current" #end##
                                >Course</a></li>
                        <li><a href="#" class="link-green">Resources</a></li>
                        <li><a href="../Group_${groupName}/Discussions"
                            #if($doc.fullName=="Group_${groupName}.Discussions" || $doc.space=="Discussions_Group_${groupName}") class="current" #end##
                                >Discussions</a></li>
                        <li><a href="#">Projects</a></li>
                        <li id="menu-item-user" class="dropdown">#ru_loginLogout()</li>
                    #else
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Course</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Dicussions</a></li>
                        <li><a href="#">Projects</a></li>
                        <li id="menu-item-user" class="dropdown">#ru_loginLogout()</li>
                    #end
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    #end
    ### TODO: Format the header for pdf output
</div>