###
### Global header
###
### The uppermost area of each page
### Contains the company logo, links to global actions and the search facility
###
<div class="container" id="the-header">
    #if($isInServletMode) ## Visible only in a page
        <div class="row">
            <div class="col-md-3 col-xs-2" onmouseover="jQuery(jQuery('#menuview')[0]).show();"
                 onmouseout="if(window.hider){window.clearInterval(window.hider);}; window.hider = window.setTimeout('jQuery(jQuery(\'#menuview\')[0]).hide();', 3000);">
                <a href="$!xwiki.getURL('Main.WebHome')" title="Home" rel="home" id="main-logo">
                    #if("$!{themeDocFullName}" == '')
                        #set($themeDocFullName = "$!xwiki.getUserPreference('colorTheme')")
                    #end
                    #if($themeDocFullName == '')
                        #set($themeDocFullName = 'ColorThemes.DefaultColorTheme')
                    #end
                    #set($themeDoc = $xwiki.getDocument($themeDocFullName))
                    #set($themeObj = $themeDoc.getObject('ColorThemes.ColorThemeClass'))
                    #set($logoname = $themeObj.getProperty('logoImage').value)
                    #if("$!{logoname}" != '')
                        #set($logourl = $themeDoc.getAttachmentURL($logoname))
                        #else
                            #set($logoname = $xwiki.getSkinPreference('logo', 'logo.png'))
                            #set($logo = $!prefdoc.getAttachment($logoname))
                        #if(!$logo)
                            #set($logourl = $xwiki.getSkinFile($logoname))
                        #else
                            #set($logourl = $prefdoc.getAttachmentURL($logo.filename))
                        #end
                    #end
                    <img src="$!logourl" alt="Wiki Logo"/>
                </a>
            </div>
            <div class="col-md-8 col-xs-9">
                <ul id="main-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="current">Course</a></li>
                    <li><a href="#">Discussions</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </div>
            <div class="cold-md-1 col-xs-1">
                Icon
            </div>
        </div>
    #end
    ### TODO: Format the header for pdf output
</div>