###
### Global header
###
### The uppermost area of each page
### Contains the company logo, links to global actions and the search facility
###

## compute if we are in resources or courses
#set($inCourses=false)#set($inResources=false)##
#set($inTeacher=false)<!-- bcLocal: $bcLocal -->
#foreach($b in $bcLocal.split(";"))
    #if($b=="Coll_Group_CurrikiGeometry.CourseTeacherView")
        #set($inCourses=true)#set($inTeacher=true)
    #elseif($b=="Coll_CurrikiGeometryStudents.CourseView")
        #set($inCourses=true)
    #elseif($b=="Coll_Group_CurrikiGeometry.TeacherPBLMaterial")
        #set($inResources=true)#set($inTeacher=true)
    #elseif($b=="Coll_CurrikiGeometryStudents.PBLMaterials")
        #set($inResources=true)
    #end
#end
<!-- inCourses? $inCourses inResources? $inResources inTeacher? $inTeacher -->

    <div class="container" id="the-header">
        #if($isInServletMode) ## Visible only in a page
            #ru_modal_for_login()
            <!-- doc.space: $doc.space of class $doc.space.getClass() -->
            <div class="row">
            <nav class="navbar navbar-default" id="curriki-primary-menu" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#curriki-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="$xwiki.curriki.getPublicCurrikiConfig('geometryHome', 'http://geometry.dev.curriki.org')">## -missing-curriki.system.geometryHome-
                        <img src="${cdn}/xwiki/skins/respurriki/img/logo-curriki-orange.png" alt="Curriki Logo" id="show-admin-menu"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="curriki-navbar-collapse-1">
                    <ul id="main-nav" class="nav navbar-nav">
                       #if($inTeacher)
                            <li><a href="/xwiki/bin/view/Coll_Group_CurrikiGeometry/CourseTeacherView" ##
                                #if($inCourses) class="active" #end>Course</a></li>
                            <li><a href="/xwiki/bin/view/Coll_Group_CurrikiGeometry/TeacherPBLMaterial" ##
                                #if($inResources) class="active" #end>Resources</a></li>
                        #else
                            <li><a href="/xwiki/bin/view/Coll_CurrikiGeometryStudents/CourseView" ##
                                #if($inCourses) class="active" #end>Course</a></li>
                            <li><a href="/xwiki/bin/view/Coll_CurrikiGeometryStudents/PBLMaterials" ##
                                #if($inResources) class="active" #end>Resources</a></li>
                        #end
                    </ul>
                    #ru_loginLogout()
                </div><!-- /.navbar-collapse -->
            </nav>
            </div>
        #end
        ### TODO: Format the header for pdf output
    </div>