##
## CSS files related to JS libraries.
##
<script type="text/javascript" src="$xwiki.getSkinFile("js/jquery-2.0.3.min.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/bootstrap.min.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/app.js")"></script>
