##
## CSS files related to JS libraries.
##
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/jquery-ui/js/jquery-ui.min.js")"></script>
##some condition to load the rate it script only if we are on asset page its required
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/rateit/jquery.rateit.min.js"></script>
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/app.js"></script>
##
## determine language
##
#if("$!request.lang" != "")##{
    #set($lang = $request.lang)
#else##}{
    #set($lang = $xwiki.getLanguagePreference())
#end##}
#if("$!lang" == "")##{
    #set($lang = "en")
#end##}
##
## translation messages
## ======================
## The xwiki translation files are converted for use with javascript
## and loaded via the /xwiki/gen/js/0/lang_${lang}.js URL using an apache rewrite rule
##
## If using xwiki standalone you need to uncomment the line
##<script src="/xwiki/bin/view/Util/JSTrans?xpage=plain&language=${lang}"></script>
## and comment the next one out instead
<script src="/xwiki/gen/js/${gVersion}/lang_${lang}.js"></script>
<script src="/xwiki/skins/respurriki/${gVersion}/js/i18n.js"></script>
##
## wiki editor
## ============
#if($request.viewer=="assetedit" || $request.viewer && $request.viewer.startsWith("conversations"))
## <script type="text/javascript" src="/xwiki/skins/curriki8/livetable.js"></script>
<script src="/xwiki/resources/js/prototype/prototype.js" type="text/javascript"></script>
<script type='text/javascript' src='/xwiki/bin/skin/resources/uicomponents/widgets/fullScreen.js?defer=false'></script>
<script type='text/javascript' src='/xwiki/bin/skin/resources/js/smartclient/initsc.js?defer=false'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/modules/ISC_Core.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/overwritesc.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/modules/ISC_Foundation.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/modules/ISC_Containers.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/modules/ISC_Grids.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/modules/ISC_Forms.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/modules/ISC_DataBinding.js'></script>
<script type='text/javascript' src='/xwiki/resources/js/smartclient/skins/Enterprise/load_skin.js'></script>
<script type='text/javascript' src='/xwiki/bin/skin/resources/js/xwiki/xwikiexplorer/xwikiexplorer.js?defer=false'></script>
<script type='text/javascript' src='/xwiki/bin/skin/resources/js/xwiki/wysiwyg/xwe/XWikiWysiwyg.js?lazy=false&amp;defer=false'></script>
#end

