##
## CSS files related to JS libraries.
##
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/jquery-ui/js/jquery-ui.min.js")"></script>
<script type="text/javascript" src="/xwiki/skins/respurriki/${gVersion}/js/app.js"></script>
##
## determine language
##
#if("$!request.lang" != "")##{
    #set($lang = $request.lang)
#else##}{
    #set($lang = $xwiki.getLanguagePreference())
#end##}
#if("$!lang" == "")##{
    #set($lang = "en")
#end##}
##
## translation messages
## ======================
## The xwiki translation files are converted for use with javascript
## and loaded via the /xwiki/gen/js/0/lang_${lang}.js URL using an apache rewrite rule
##
## If using xwiki standalone you need to uncomment the line
##<script src="/xwiki/bin/view/Util/JSTrans?xpage=plain&language=${lang}"></script>
## and comment the next one out instead
<script src="/xwiki/gen/js/${gVersion}/lang_${lang}.js"></script>
<script src="/xwiki/skins/respurriki/${gVersion}/js/i18n.js"></script>
