<!-- Panels would be here -->
<!--
    <div class="col-md-3 col-md-pull-9" id="sidebar">
        #foreach($panel in $leftPanels)
            #if($panel!="Panels.Navigation" && $panel!="Panels.Watch Curriki Grow")
                #displaypanel($panel.trim())
            #end
        #end
    </div>
-->