#if($showLeftPanels == "1" || $request.getParameter("forceLeftPanels"))
    <div class="col-md-3 col-md-pull-9">
        #foreach($panel in $leftPanels)
            #displaypanel($panel.trim())
        #end
    </div>
#end