#**
 * Print entry point. It is called from view.vm
 * It allows nice printing of the site and of assets
 *#
#asset_findtitle($doc)
#template("ru_xwikivars.vm")
#template("layoutvars.vm")
<div class="container" id="print-wrapper">
    #template("printheader.vm")
    #ru_asset_display($doc "view")
    #template("htmlfooter.vm")
</div>
