#**
 *  Special header for print
 *#
<!-- logo -->
#set($altinfo = $msg.get("header.altinfo"))
#set($logourl = $xwiki.getSkinFile("logo.gif"))
<div class="row" id="print-header">
    <div class="col-sm-3">
        <a href="$xwiki.getURL("Main.WebHome", "view")" title="$altinfo">
            <img src="${cdn}/xwiki/skins/respurriki/img/logo-curriki-orange.png" title="$altinfo" alt="$altinfo" />
        </a>
    </div>
    <div class="col-sm-9" id="print-sub-header">
        <div class="row">
            <div class="col-sm-7">
                <h4>$msg.get("mode.print.header_title")</h4>
                <p>$msg.get("mode.print.header_txt", [$doc.displayTitle])</p>
            </div>
            <div class="col-sm-5">
                <p>
                    <br />
                    <a href="$doc.getURL("view", "bc=$!{request.bc}")" class="btn btn-info">$msg.get("mode.print.header.view_link")</a>
                    <button class="btn btn-default" onclick="window.close();">$msg.get("mode.print.header.close_button")</button>
                    <button class="btn btn-warning" onclick="document.getElementById('print-sub-header').style.display='none'; window.print(); ">$msg.get("mode.print.header.print_button")</button>
                </p>
            </div>
        </div>
    </div>
</div>



