#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#if($displayMainMenu)
  <div id="menuview">
    #template("menuview.vm")
  </div>
#end
#template("header.vm")
<div class="content#if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end" id="contentcontainer">
<div id="contentcontainerinner" class="container">
<div class="leftsidecolumns row">
#if($hidecolumns && ($!hidecolumns == 1))
  <div id="contentcolumn" class="contenthidelefthideright">
#else
  <div id="contentcolumn" class="col-md-9 col-md-push-3"> ## class="content#if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end">
#end