#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#if($displayMainMenu)
    #template("menuview.vm")
#end
#if($viewer)
    <!-- dedicated viewer: $viewer -->
#else
    #template("header.vm")
<div class="container" id="the-content">
    <div class="row" id="the-breadcrumb">
        <div class="col-md-12">
            #ru_breadcrumb()
            #ru_getTOC()
            <div id="dropable-toc">
            </div>
        </div>
    </div>
<div class="row">
<div class="col-md-12" id="main-content">
#end
