<link href="/xwiki/skins/respurriki/${gVersion}/css/bootstrap.min.css" rel="stylesheet" />
<link href="/xwiki/skins/respurriki/${gVersion}/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="/xwiki/skins/respurriki/${gVersion}/css/app.css" rel="stylesheet" />
##<link href="/xwiki/skins/respurriki/${gVersion}/js/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
##some condition to load the rate it script only if we are on asset page its required

