/*
**************************************************
                  CURRIKI GWF
  ----------------------------------------------
  Authors: 
  Ionut Maxim | ionut.maxim@xwiki.com
  Jorge Fernando Cortez | jorge@curriki.org
  Last Update: 2013
**************************************************
*/
/*
  Colors Index
=================================================
  Blue ------- #29A3CE
  Green ------ #7FC04C
  Grey ------- #7A7A7A
  --------------------
  Dark Blue -- #1E7B98
  Dark Green - #5D8D39
  Light Grey - #CFCFCF
=================================================
*/
/*
  CONTENT MAP - use Ctrl+F to reach your destination ;)
==================================================================================================
  0100 | Reset
  0200 | General styles
  0300 | Layout
  0400 | Navigation

  1000 | Homepage
  2000 | Course
  3000 | Discussions
  4000 | Projects
  5000 | Administration
 
  8000 | Custom JIRAs
 
  9000 | Quick Fixes
==================================================================================================
*/
/*
==================================================================================================
  9999 | DEMO
================================================================================================== 
*/
/*
--------------------------------------------------------------------------------------------------
  9999 | DEMO SUBLEVEL 1
--------------------------------------------------------------------------------------------------
*/
/*
  DEMO SUBLEVEL 2
--------------------------------------------------------------------------------------------------
*/
@import "css/bootstrap.min.css";
@import "css/app.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,700italic);
/*
==================================================================================================
  0200 | General styles
================================================================================================== 
*/
html, body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/*
==================================================================================================
  0300 | LAYOUT
================================================================================================== 
*/
/*
--------------------------------------------------------------------------------------------------
  0330 | HEADER
--------------------------------------------------------------------------------------------------
*/
#header-member {
	float: right;
	width: 10em;
}
#header-member a.logout {
	font-size: .6em;
	font-weight: bold;
	text-transform: uppercase;
}
/*
--------------------------------------------------------------------------------------------------
  0360 | FOOTER
--------------------------------------------------------------------------------------------------
*/

/*
==================================================================================================
  4000 | PROJECTS
================================================================================================== 
*/

#projects {}
.project {
	height: 300px;
	border-radius: 4px;
	box-shadow: 0 0 4px #AAA;
	padding: 1em;
}
.projectCategory {
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.5);
}
.projectTitle {
	color: white;
	text-shadow: 0 2px 1px #AAA;
	font-size: 1.3em;
}
.projectAuthors {
	background: white;

}
.projectMainAuthor {}
.projectAuthor {display:block;}
.projectAuthorAvatar {
	max-height: 20px;
	max-width: 20px;
	margin-right: 4px;
}
.projectAuthor a {
	text-decoration: none;
	color: grey;
}
.projectVoteUp {}
.projectGrade {}