<link href="$xwiki.getSkinFile('css/bootstrap.min.css', true)" rel="stylesheet" />
<link href="$xwiki.getSkinFile('font-awesome/css/font-awesome.min.css', true)" rel="stylesheet" />
<link href="$xwiki.getSkinFile('css/app.css', true)" rel="stylesheet" />
<link href="$xwiki.getSkinFile('js/jquery-ui/themes/base/jquery-ui.min.css', true)" rel="stylesheet" />

