/* 
    Document   : style
    Created on : 22-08-2013, 05:52:19 PM
    Author     : jorch
    Description:
        Purpose of the stylesheet follows.
*/

@import "css/bootstrap.min.css";
@import "css/app.css";
