## i have to add this new macro here to load just the html for the modal to prevent
## overlap of the gray background of the mmodal
#ru_modal_for_login()

###
### top nav for curriki logo and jump dropdown classes
###
<div class="row" id="top-header">
    <div class="col-xs-3" id="wrapper-logo" onmouseover="jQuery(jQuery('#menuview')[0]).show();"
                 onmouseout="if(window.hider){window.clearInterval(window.hider);}; window.hider = window.setTimeout('jQuery(jQuery(\'#menuview\')[0]).hide();', 3000);">
        <a href="$!xwiki.getURL('Main.WebHome')" title="Home" rel="home" id="main-logo">
            #if("$!{themeDocFullName}" == '')
                #set($themeDocFullName = "$!xwiki.getUserPreference('colorTheme')")
            #end
            #if($themeDocFullName == '')
                #set($themeDocFullName = 'ColorThemes.DefaultColorTheme')
            #end
            #set($themeDoc = $xwiki.getDocument($themeDocFullName))
            #set($themeObj = $themeDoc.getObject('ColorThemes.ColorThemeClass'))
            #set($logoname = $themeObj.getProperty('logoImage').value)
            #if("$!{logoname}" != '')
                #set($logourl = $themeDoc.getAttachmentURL($logoname))
                #else
                    #set($logoname = $xwiki.getSkinPreference('logo', 'logo.png'))
                    #set($logo = $!prefdoc.getAttachment($logoname))
                #if(!$logo)
                    #set($logourl = $xwiki.getSkinFile($logoname))
                #else
                    #set($logourl = $prefdoc.getAttachmentURL($logo.filename))
                #end
            #end
            ##<img src="$!logourl" alt="Wiki Logo"/>
            <img src="/xwiki/skins/respurriki/img/logo-curriki-orange.png" alt="Wiki Logo"/>
        </a>
        
    </div>
    <div class="col-xs-3">
        <h2 id="course-title">Geometry</h2>
    </div>
    <div class="col-xs-6">
        <div class="btn-group" id="select-class">
            <a data-toggle="dropdown" id="anchor-align">Select a class here</a>
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-sort-down icon-large"></i>
            </a>
            #if("$!whofor" == "")
                #if("$!request.user" != "")
                    #set ($whofor = $util.null)#setVariable ("$whofor" $request.user)#set($whofor=$request.user)
                    #htmlcomment("<!-- setting whofor to $request.user ; $whofor is now $whofor -->")
                #else
                    #if($doc.space.startsWith("Blog_"))
                        #set ($whofor = $util.null)#setVariable ("$whofor" $doc.space.substring(5))#set($whofor=$doc.space.substring(5))
                    #else
                        #if("$!whofor" == "")
                            #set ($whofor = $util.null)#setVariable ("$whofor" $context.user)#set($whofor=$context.user)
                        #end
                    #end
                #end
            #end
            #if(!$whofor.startsWith("XWiki."))
                #set ($whofor = $util.null)
                #setVariable ("$whofor" "XWiki.$whofor")
                #set($whofor="XWiki.$whofor")
            #end
            ## Now know whofor
            #set($userdoc = $xwiki.getDocument($whofor))##
            #set($userobj = $userdoc.getObject("XWiki.XWikiUsers"))
            #ru_groups_mycurriki_grouplist($userdoc $userobj)
            #*
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">First Class Name</a></li>
                <li class="divider"></li>
                <li><a href="#">Second Class Name</a></li>
                <li class="divider"></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
            *#
        </div>
    </div>
        
</div>