#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#set($tool=$xwiki.parseGroovyFromPage("XWiki.SocialLoginToolGroovy"))##
$tool.init($xwiki,$context,$request,$response,$msg)##
#set($view=$tool.action())##
#macro(render $view)
    #if($view=="creationForm")$xwiki.includeInContext("XWiki.RegistrationBootstrap",false)
    #elseif($view=="bounceToProvider")#set($view=$tool.bounceToProvider())
    #elseif($view=="processAuthReturn")#set($view=$tool.processAuthReturn())
    #elseif($view=="createNewProfile")#set($view=$tool.createNewProfile())
    #elseif($view=="loginSucceeded")#set($view=$tool.acceptLoginAndRedirect())
    #elseif($view=="redirectInHtml")## rather JS-redirect so that we get frame=_top
<html><head><title>Redirection</title></head><body>##
<a href=="${redir}" target="_top">follow me</a>##
<script type="text/javascript">window.top.location.href = "${redir}";</script>##
</body></html>##
    #elseif($view=="error")#error($tool.error)
    #elseif($view=="nothing")##nothing
    #else<!-- ${msg.get('xwiki.socialLogin.nothingToDo')} -->
    #end##
#end##
#render($view)##
## the little extra in case
#if($view)#render($view)#end##
