#set($len=$request.getParameter("len"))
#if (!$len || $len!="long")
#set($len="short")
#end
#if ($len=="short")
$xwiki.getXWikiPreference("languages").replaceAll(","," ")
#else
#set($lib=$xwiki.parseGroovyFromPage('XWiki.libProxyki'))
#set($con=$lib.load("XObj"))
$con.connect($xwiki,$context)
#set($langs=$xwiki.getXWikiPreference("languages").split(","))
#set($res="")
#foreach($lang in $langs)
#set($res="$res${con.getLanguageId($lang,true)} ")
#end
$res
#end