#template('colorThemeInit.vm')
#mycurriki-blog h2 {
	color: #000;
	font-size: 16px;
	margin-top: 30px;	
}

#mycurriki-blog h1 {
	font-size: 16px;
	margin-top: 25px;
}

.mycurriki h2 {margin-bottom: 20px;}

/** TABS **/

.mycurriki .tab-container {
	background-color: $theme.panelBackgroundColor;
	border: 1px solid #ababab;
        position:relative;
        top:-1px;
}

.mycurriki ul.tabs a {border-color: #C9C9C9 #C9C9C9 #ABABAB;}

.mycurriki ul.tabs li.current a {
	background: $theme.panelBackgroundColor;
	border-color: #ABABAB #ABABAB #F2F2F2
}

.mycurriki ul.tabs {clear: left; padding-top: 10px;}

/* MY CURRIKI GROUPS ** BROWSE GROUPS */
.mycurriki-groups .frame-inset-logo, .group-by-subject .frame-inset-logo { position: absolute; left: 10px; margin-top: 10px; height: 83px; overflow: hidden; width: 121px; }
.mycurriki-groups .frame-inset-logo img, .group-by-subject .frame-inset-logo img {float: left;}

.mycurriki-groups .frame-inset-description, .group-by-subject .frame-inset-description { 
	height:auto !important;
	height: 100px;
	margin-left: 150px;
	padding: 10px;
	min-height: 100px;
}
.subject-card { margin-bottom: 1em; padding: 5px; }

.subject-link { padding: 0pt 0pt 5px; }
.subject-link a span { font-size: 12px; }
.all-subjects  { text-align: center; }
.all-subjects a { font-size: 15px; font-weight: bold; text-decoration: none; }
.all-subjects a .subject-title-count { color: #FF4100; }
.custom-subject-card { background-color: #E3E4F5; }
.browse-groups-info { padding-top: 10px; }
/* end of MYcurriki GROUPS + BROWSE GROUPS */
.browse-all { float:left;margin-right:1em;margin-bottom:1em;}
.browse-subject h1 {padding-bottom:0.2em;}
.browse-subject h1 img { margin-right:0.5em;vertical-align:middle;}
.browse-by {width:100%;margin-top:0 !important;}
.browse-by td {vertical-align:top;border:solid 1px #0198AB !important;padding:0 !important;}
.browse-by td.spacer {width:2%;border:none !important;}

.browse-topics {}
.browse-edlevels {}
.browse-topics .caption-text {background-color:#0198AB;font-weight:700;font-size:1em;color:#fff;padding: 4px 6px;text-transform:uppercase;margin-bottom:0.5em;}
.topic-link {padding: 4px 6px;}
.browse-edlevels .caption-text {background-color:#0198AB;font-weight:700;font-size:1em;color:#fff;padding: 4px 6px;text-transform:uppercase;margin-bottom:0.5em;}
.browse-topics .column {float:left;width:50%;}
.edlevel-link {padding: 4px 6px;}

#mycurriki-main-content textarea { width: 99%; }
#mycurriki-main-content .edit-blog textarea { width: 100% !important; width: 559px; }
#mycurriki-main-content .righttext { height: 40px; }
#mycurriki-main-content .centertext{ padding: 5px 0; }
#mycurriki-blog .cd-article { padding: 10px 10px 0 10px; }
#mycurriki-blog .frame hr { height: 0px; border: none; border-top: 1px solid #CDCDCD; margin: 0 10px 0 10px; }
#mycurriki-blog .frame hr.my-curriki-solid-hr { margin: 10px 0; }
#mycurriki-blog .frame img { margin: 20px 5px -10px 10px; }
#mycurriki-blog .frame .mceToolbar img { margin: 0; }
#mycurriki-blog .frame .cd-article img { margin: 0 5px 0 0; }
#commentAddForm #commentform button.button { display: inline; }
#commentAddForm #commentform button.button-cancel { margin-left: 15px; }
#mycurriki-blog .edit-blog { width: auto; padding-right: 10px; }

#mycurriki-blog .blog-comment {
	padding: 10px 0;
	margin: 10px 0;
}

#mycurriki-contributions-table .table-col-title { overflow: hidden; }

/* JIRA  1584 */
#mycurriki-groups-message-container { padding-top: 10px; }
#mycurriki-groups-message-container .xwikicomment { float: none; margin: 0 10px; padding: 5px; }
#mycurriki-main-content .xwikicomment .floatright { height: auto; }

/* JIRA 1639 */
#mycurriki-groups .xwikicomment .righttext { color: #8C8C8C; }

#mycurriki-collections .button-links p { display: inline; }
#mycurriki-main-header {font-size:87.5%;}
#mycurriki-main-header-subtitle { width: 75%; }

 
/* MY CURRIKI*/
#mycurriki-main-content form table table td strong { display: block; padding-top: 5px; }
#mycurriki-main-header .button-confirm {float:right;}
#mycurriki-main-header {padding-bottom: 10px;}
#mycurriki-main-content {clear: both;}
#mycurriki-main-content #XWiki\.XWikiUsers_0_comment { overflow: auto; width: 420px !important;  }
#mycurriki-main-content .button-right { padding-right: 10px; }

/** MY CURRIKI - PROFILE **/
.edit-profile .userpic, #mycurriki-main-content form td .userpic { margin-right: 15px; }
.edit-profile table table td { padding-bottom: 5px; }

.edit-profile {padding: 10px !important;}
.edit-profile .userpic, form#inline .userpic {
	width: 115px;
	border: 1px solid #D2D2D2;
	padding: 5px;
	text-align: center;
}
.edit-profile .userpic img {
	width: 88px;
	align: center;
	border: 0px;
}

.edit-profile table table td {overflow: hidden;}

.edit-profile input.button {
-moz-border-radius-bottomleft:0;
-moz-border-radius-bottomright:0;
-moz-border-radius-topleft:0;
-moz-border-radius-topright:0;
}

/** TITLES **/

#mycurriki-collections .frame-inset-title a, #mycurriki-collections .frame-inset-title a:hover,#groups-collections .frame-inset-title a, #groups-collections .frame-inset-title a:hover {color: #369;}
#mycurriki-collections .frame-inset-ict img.ict-null,  td.table-col-ict img.ict-null {background: none !important;}

/** MY COLLECTIONS LINK PIPES **/

.mycurriki-collections a.button-link, #groups-collections a.button-link {border-left: 1px solid #7c7c7c;}
.mycurriki-collections a.first-item, #groups-collections a.first-item {border: 0;}


/** MY CURRIKI **/

#mycurriki-main-header .button-right {
	float:right;
	padding: 0 0 10px 10px;
}
#mycurriki-main-header .profile-push {
	font-weight:normal;
	font-size:1.1em;
	padding-bottom:10px 0;
}

