#**
 * Join Curriki Page
 * @programming
 *#
#includeMacros("Registration.FormMacros")
#tryregister()
#if(!$result) ##{
#macro(registrationinfo) ##{
<div>## id="intro-register"
	<h1>$msg.get('register.curriki_intro.title')</h1> 
	<p>$msg.get('register.curriki_intro.description')</p>
        <p>$msg.get("register.curriki_intro.commercial")
    ##  <p>$msg.get('register.curriki_intro.description.findout'): <a href="$msg.get('register.curriki_intro.link1_url')" target="_blank" ## 
    ##       ext:qtip="$msg.get('register.curriki_intro.link1_rollover')">$msg.get('register.curriki_intro.link1_text')</a> |
	##	<a href="$msg.get('register.curriki_intro.link2_url')" target="_blank" ##
    ##       ext:qtip="$msg.get('register.curriki_intro.link2_rollover')">$msg.get('register.curriki_intro.link2_text')</a>
    ##</p>
	<p>$msg.get('register.curriki_intro.note')</p>
	<p>$msg.get('register.curriki_intro.required_fields_instruction', [$g_RegReq])</p>
</div>
#end ##}
#registrationinit('register')
#registrationinfo()
#startregistrationform()
#registrationaccountinfo()
#registrationprivacysettings()
#registrationinterests()
#registrationterms()
#endregistrationform()
#else ##}{ Registration succeeded -- go to email sent page
#set($userdoc=$reg.userdoc)
#set($userobj=$userdoc.getObject("XWiki.XWikiUsers"))
    #if($userobj.getProperty("member_type").value=="corporation" || $userobj.getProperty("member_type").value=="nonprofit")
        $response.sendRedirect($xwiki.getURL('Registration.EmailSentCorporations'))
    #else
        $response.sendRedirect($xwiki.getURL('Registration.EmailSent'))
    #end
#end ##}
