$context.setCacheDuration(1200)##
#set($targetURL="/xwiki/bin/view/Registration/DirectLogin")##
#set($anchorAtts="href='$targetURL' onclick='Curriki.ui.login.displayLoginDialog(&quot;/xwiki/bin/view/Registration/LoginOrRegister?xpage=popup&framed=true&quot;); return false;'")##
#set($numResources = $xwiki.curriki.countDocsSolrCatchAll("type:resource -name:MyCollection -name:WebHome -name:SpaceIndex -web:AssetTemp"))##
#set($numUsers =     $xwiki.curriki.countDocsSolrCatchAll("type:user"))##
#set($numGroups =    $xwiki.curriki.countDocsSolrCatchAll("type:group"))##
#if($numResources==-1 || $numUsers==-1 || $numGroups==-1)<!-- $xwiki.mailsender.sendTextMessage("polx@curriki.org","polx@curriki.org,tsherman@curriki.org,jwu@curriki.org,jmarks@curriki.org", "CurrikiSolr client error ($hostname)", "Curriki Solr in Watch Curriki Grow ($doc.name) returned: $numResources $numUsers $numGroups . The log would contain the detailed error.") -->#end##
<p>
    <span>$numbertool.format($numUsers) Members</span>##
    <span><a href="http://${xwiki.curriki.getPublicCurrikiConfig("hostname","broken")}/xwiki/bin/view/Main/Browse">$numbertool.format($numResources) Resources</a></span>
    <span><a href="http://${xwiki.curriki.getPublicCurrikiConfig("hostname","broken")}/xwiki/bin/view/Groups/Browse">$numbertool.format($numGroups) Groups</a></span>
</p>