$context.setCacheDuration(1200)
#set($targetURL="/xwiki/bin/view/Registration/DirectLogin")##
#set($anchorAtts="href='$targetURL' onclick='Curriki.ui.login.displayLoginDialog(&quot;/xwiki/bin/view/Registration/LoginOrRegister?xpage=popup&framed=true&quot;); return false;'")
#set($numResources = $xwiki.curriki.countDocsSolrCatchAll("type:resource -name:MyCollection -name:WebHome -name:SpaceIndex -web:AssetTemp"))
#set($numUsers =     $xwiki.curriki.countDocsSolrCatchAll("type:user"))
#set($numGroups =    $xwiki.curriki.countDocsSolrCatchAll("type:group"))
#if($numResources==-1 || $numUsers==-1 || $numGroups==-1)<!-- $xwiki.mailsender.sendTextMessage("paul@curriki.org,tsherman@curriki.org,jwu@curriki.org,jmarks@curriki.org", "polx@curriki.org", "CurrikiSolr client error ($hostname)", "Curriki Solr in Watch Curriki Grow ($doc.name) returned: $numResources $numUsers $numGroups") -->#end
<div id="watch-curriki-grow" class="shadow-outer"> ##{
  <div class="shadow-middle"> ##{
    <div class="shadow-inner information"> ##{
      <div class="headerbar">$msg.get("panel.watchgrow.title")</div>
         <div class="frame-content"> ##{
   	   	<table class="stats">
   	   	 <tbody>
   	   	  <tr>
   	   	   <td><a href="/xwiki/bin/view/Main/Browse">$msg.get("panel.watchgrow.resources")</a></td>
   	   	   <td><a href="/xwiki/bin/view/Main/Browse">$numResources</a></td>
   	   	  </tr>
   	   	  <tr>
   	   	   <td><a $anchorAtts>$msg.get("panel.watchgrow.members")</a></td>
           <td><a $anchorAtts>$numUsers</a></td>
   	   	  </tr>
   	   	  <tr>
   	   	   <td><a href="/xwiki/bin/view/Groups/Browse">$msg.get("panel.watchgrow.groups")</a></td>
   	   	   <td><a href="/xwiki/bin/view/Groups/Browse">$numGroups</a></td>
   	   	  </tr>
   	   	 </tbody>
   	   	</table>
   	   	<p class="links">##
    <a $anchorAtts>$msg.get("panel.watchgrow.join")</a>
</p>
      </div> ##}
    </div> ##}
  </div>##}
</div> ##}