<div id="logins">
  <div class="row">
    <div class="col-md-2">
      <a href="/xwiki/bin/view/Registration/SocialLogin?provider=facebook&xredirect=/xwiki/bin/view/MembershipDrive/LandingPage?xpage=plain&member_type=parent">
        <img id="facebook-logo" src="/xwiki/bin/download/MembershipDrive/LandingPage/facebook_logo_86x86.png"/>
      </a>
    </div>
    <div class="col-md-2">
      <a href="/xwiki/bin/view/Registration/SocialLogin?provider=google&xredirect=/xwiki/bin/view/MembershipDrive/LandingPage?xpage=plain&member_type=parent">
        <img id="google-logo" src="/xwiki/bin/download/MembershipDrive/LandingPage/google_logo_86x86.png"/>
      </a>
    </div>
    <div class="col-md-8"></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p id="call-to-action-curriki"><strong>Or use an existing Curriki account:</strong></p></div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <a data-toggle="modal" id="curriki-logo" class="btn btn-lg" href="#currikiLoginModal">Curriki</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>  By logging in and downloading you agree to Curriki's <a href="http://current.dev.curriki.org/xwiki/bin/view/Main/PrivacyPolicy">Privacy Policy</a> and <a href="http://current.dev.curriki.org/xwiki/bin/view/Main/TOS">Terms of Service</a>.</p>
    </div>
  </div>
</div>

#includeInContext("MembershipDrive.CurrikiLogin")