<div class="row">
  <div class="col-md-12">
    <a id="download-resource-button" class="btn btn-lg" href="/xwiki/bin/download/MembershipDrive/LandingPage/resource.pdf" onclick="Curriki.logView('/Download/attachment/MembershipDrive/LandingPage/resource.pdf');">Download Now!</a>
    <p id="logout" >
      Thank you! Don't forget to <a href="/xwiki/bin/view/Registration/CleanLogout?xredirect=/xwiki/bin/view/MembershipDrive/LandingPage?xpage=plain" >logout</a>.
    </p>
  </div>
</div>
