{pre}
html, body {
  /*height: 100%;*/
}

body {
  min-width: 320px;
}
#left-column, #mid-column, #right-column {
  /*height: 100%;*/
}

#header {
}


#left-column {
}
#mid-column {
}
#right-column {
}

#curriki-logo-header {
margin-top: 20px;
}

.jumbotron {
  margin-top: 10px
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  /*text-align: center;*/
}

.jumbotron h1 {
font-size: 36px;
}

#content {
}

#campaign-logo-container {
  text-align: center;
}

#call-to-action {
  text-align: left;
  border-radius: 5px;
  margin-top: 0px;
}

#call-to-action h1 {
  margin-top: 0px;
  font-size: 20px;
  color: #FF9900;
}

#call-to-action p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

#call-to-action #almost-there {
  margin-top: 60px;
}

#download-resource {
}

@media only screen and (min-width: 0px) and (max-width: 992px) {
  #call-to-action {
    margin-top: 10px;
    text-align: center;
  }
  #facebook-logo {
    margin-bottom: 5px;
  }
}



#facebook-logo {
width: 50px;
}

#google-logo {
width: 50px;
}

#google-logo:hover {
}

#curriki-logo, #download-resource-button {
  text-align: left;
  border-radius: 6px;
  background: #FF9900;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 150%;
}

#logout {
  display: block;
}

#call-to-action-curriki {

}

#curriki-login-frame {
  width:100%;
  height: 400px;
  border:none;
}

.addthis_toolbox {
  left: 35%;
  position: relative;
}

@media only screen and (min-width: 421px) and (max-width: 720px) {
  .addthis_toolbox {
    left: 30%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 420px) {
  .addthis_toolbox {
    left: 23%;
  }
}

.footer {
  text-align: center;
}
{/pre}