#**
  * History entry point. It is called from view.vm
  * It displays either a specific Asset view
  * or the standard XWiki view
  *#
#curriki_breadcrumb()
#set($asset = $doc)
#if($asset.getObject("CurrikiCode.AssetClass"))
#set($ok = $asset.use("CurrikiCode.AssetClass"))
<div id="asset-wrapper" class="view-${asset.categoryClass} mode-version mode-vesion-compare">
    #asset_resourcefunctions($asset)
    #asset_icontitle($asset)
    #asset_attribution($asset)
    #asset_rating($asset)
    #asset_tabs($asset "info")
    <div id="asset-wrapper-inner">
        <ul id="asset-links">
            <li class="last-item"><a href="$asset.getURL("view", "bc=$!{request.bc}&viewer=history")" title="$msg.get("rve.information.back_to_history_rollover")">$msg.get("rve.information.back_to_history_link")</a></li>
        </ul>
        <div class="clear-right"></div>
        <div class="sub-asset-wrapper">
            <h3>
                $msg.get("rve.information.compare.versions.header")
            </h3>
            <div class="sub-asset-wrapper-inner">
                #template("changesinline.vm")
            </div>
        </div>
    </div>
</div>
#else
<div id="content">
#set($showactions = 0)
<div id="changescontent" class="xwikiintracontent">
#set($rev1= $request.get("rev1"))
#set($rev2= $request.get("rev2"))
#if($request.get("type"))
#set($type= $request.get("type"))
#else
#set($type = "html")
#end
#if ($tdoc.realLanguage!="")
#set($lang = "&language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
#set($origdoc = $xwiki.getDocument($tdoc, $rev1))
#set($newdoc = $xwiki.getDocument($tdoc, $rev2))
#template("changesdoc2.vm")
<br /><br />
</div>
</div>
#end
