#**
  * Comments display. It is used for blogs and for assets
  *#
#if($context.user=="XWiki.XWikiGuest")
	#set($joinurl = $xwiki.getURL("Main.JoinCurriki"))
	#set($logredir = $doc.getURL("view"))
	#set($loginurl = $xwiki.getURL("XWiki.XWikiLogin", "login", "xredirect=$logredir"))
	$msg.get("comments.accessDenied", [$joinurl, $loginurl])
#else
	#if("$!request.xpage"!="commentsinline")
		#if(!$xwiki.hasAccessLevel("comment"))
			$msg.get("asset.commentNotAllowed")
		#end
	#end
	#if($doc.getObject("CurrikiCode.AssetClass"))
		#displayCRSReviews($doc)
	#end
###
### List document comments
###
	#if($xwiki.getWebPreferenceAsInt("commentsorder",1)==1)
		#set($comments = $doc.getComments())
	#else
		#set($comments = $doc.getComments(false))
	#end ## endif order pref
	#if($comments.size()>0 || $xwiki.hasAccessLevel("comment"))
## Only show comments area if there are comments or the user has the right to comment
##
		#if($xwiki.hasAccessLevel("comment") && ($comments.size()>2) )
<div class="righttext"><a class="button button-orange" onclick="toggleForm2(document.commentAddForm); return false;" href="" title="$msg.get("addcomment")">$msg.get("addcomment")</a></div>
		#end
<div id="commentscontent" class="xwikiintracontent">
		#if($comments.size()>0)
			#set($count=0)
			#foreach($comment in $comments)
				#if($count > 0)
	<hr class="my-curriki-hr"/>
				#end ## endif coutnt > 0
				#set($count=$count+1)
	<div id="xwikicomment_${count}" class="xwikicomment">
		<div class="commentavatar">
				#set($creatorDoc = $xwiki.getDocument($doc.display('author','view',$comment)))
				#if($creatorDoc.attachmentList.size()==0)
			<img src="$xwiki.getSkinFile("noavatar.png")"/>
				#else
					#foreach ($attach in $creatorDoc.attachmentList)
			<a href="$creatorDoc.getURL("view")" ><img src="$creatorDoc.getAttachmentURL($attach.filename,"download")" /></a>
					#end
				#end
	</div>
				#set($date = $!comment.getProperty("date").value)
	<div class="commentheader"><span class="commentauthor">$!xwiki.getUserName($doc.display('author','view',$comment))</span>
				#if($date!="") <span class="commentdate">$xwiki.formatDate($date,$msg.get("mycurriki.datetimeFormat"))</span>#end
				#set($delredir = $doc.getURL("view", "viewer=comments"))
## #if($hasedit) <span class="commentdelete"><a class="commentremove" href="$doc.getURL("objectremove" , "classname=XWiki.XWikiComments&amp;classid=${comment.number}&amp;xredirect=${delredir}")"
##    onclick="return confirm('$msg.get("confirmcommentremove")')">$msg.get("removethiscomment")</a></span>#end ## endif hasedit
	</div>## commentheader
	<div class="commentcontent">$doc.getRenderedContent($doc.display("comment","view",$comment))</div>## xwikicomment
</div>## commentscontent
			#end  ## end foreach 
		#end ## endif comments.size > 0
		#if($xwiki.hasAccessLevel("comment") && ("$!request.xpage"!="commentsinline") )
			#set($cclass = $xwiki.getDocument("XWiki.XWikiComments").getxWikiClass())
			#set($comment = $cclass.newObject())
			#set($afteradd = $doc.getURL("view", "bc=${bcLocal}"))
			#set($afteradd = "xredirect=${afteradd}")
<form name="commentAddForm" id="commentAddForm" action="$doc.getURL("commentadd", $afteradd)" method="post">
<hr class="my-curriki-hr"/>
<fieldset class="expanded" id="commentform">
	<input type="hidden" name="xredirect" value="${doc.getURL("view")}" />
	<input type="hidden" name="XWiki.XWikiComments_author" value="$context.user"/>
	<input type="hidden" name="XWiki.XWikiComments_date" value=""/>
	<div><textarea id='XWiki.XWikiComments_comment' rows='5' name='XWiki.XWikiComments_comment'></textarea></div>
	<div>
		#button($msg.get("caption.saveComment"), "button button-orange" "submit" "" "")
		#button($msg.get("cancel"), "grey" "reset" "" "hideForm2(this.form);")
	</div>
</fieldset>
</form>
<div class="righttext"><a class="button button-orange" onclick="toggleForm2(document.commentAddForm); return false;" href="" title="$msg.get("addcomment")">$msg.get("addcomment")</a></div>
		#end
</div>
	#end ## endif display anything about comments
#end
