#**
 *  Comments entry point. It is called from view.vm
 *  It calls commentsinline for non asset pages for compatibility
 *#
#curriki_breadcrumb()
#set($asset = $doc)
#if(!$asset.getObject("CurrikiCode.AssetClass"))
#template("commentsinline.vm")
#else
#set($assetCategory = $asset.getCategory())
<div id="asset-wrapper" class="category-$assetCategory mode-$!viewer">
    #asset_resourcefunctions($asset)
    #asset_icontitle($asset)
    #asset_attribution($asset)
    #asset_rating($asset)
    #asset_tabs($asset "comments")
    <div id="asset-wrapper-inner">
        <ul id="asset-links">
            #set($ok = $asset.use("CRS.CurrikiReviewStatusClass"))
            #set($status = $asset.getValue("status"))
            #if(!$status||($status!="200"))
             #if($xwiki.hasAccessLevel("view", "CRS.Reviews"))
             <li id="tab-review">
                <a href="$xwiki.getURL("CRS.Review", "view", "page=${asset.fullName}")" title="$msg.get("rve.comments.review.review_rollover")" target="_blank">$msg.get("rve.comments.review.review_link")</a>
             </li>
             #end
            #if(!$isguest)
             #set($assetHasNominate = $asset.canBeNominatedOrReviewed())
              #if($assetHasNominate)
              <li id="tab-nominate"><a href="javascript:void(0)" onclick="Curriki.module.nominate.nominateResource({assetName:'${asset.getJSFullName()}', assetTitle:'${asset.getJSTitle()}'}); return false;" title="$msg.get("rve.comments.review.nominate_rollover")">$msg.get("rve.comments.review.nominate_link")</a></li>
              #end
            #end
            #end
            #if($asset.hasAccessLevel("comment"))
            <li class="last-item"><a href="javascript:void(0)" onclick="document.getElementById('comment-submit-form').style.display = 'block' ; location = '#comment-submit-form'; return false;" title="$msg.get("rve.comments.comment.addcomment_rollover")">$msg.get("rve.comments.comment.addcomment_link")</a></li>
            #end
        </ul>
        <div class="clear-right"></div>
        #crs_display_reviews($asset)
        #asset_comments($asset)
    </div> ##asset-wrapper-inner
</div> ##asset-wrapper
#end





