#**
  * Displays document changes. It is used for groups wiki and for assets
  *#
#set($mode="compare")
#set($linkurl = $doc.getURL("view"))
#template("printheader.vm")
<div id="printcontainer_compare">
#set($showactions = 0)
<div id="changescontent" class="xwikiintracontent">
#set($rev1= $request.get("rev1"))
#set($rev2= $request.get("rev2"))
#if($request.get("type"))
#set($type= $request.get("type"))
#else
#set($type = "html")
#end
#if ($tdoc.realLanguage!="")
#set($lang = "&language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
#set($origdoc = $xwiki.getDocument($tdoc, $rev1))
#set($newdoc = $xwiki.getDocument($tdoc, $rev2))
#template("changesdoc.vm")
<br /><br />
</div>
  ##  <div class="clearfloats"></div>
</div>## printcontainer
