<div id="content">
#if($doc.space.startsWith("Documentation_") && $doc.name != "WebPreferences" && $doc.name != "WebHome" && $doc.name != "AboutDocumentation")
#groups_documentationview()
#else
$cdoc.getRenderedContent()
#end
</div>

