#**
  * View entry point. It is called from view.vm
  * It displays either a specific Asset view
  * or the standard XWiki view 
  *#
#curriki_breadcrumb()
#if($doc.space.startsWith("Documentation_") && $doc.name != "WebPreferences" && $doc.name != "WebHome" && $doc.name != "AboutDocumentation")
<div id="content">
#groups_documentationview()
</div>
#else
#if($doc.getObject("CurrikiCode.AssetClass"))
 #if($doc.getObject("CurrikiCode.CompositeAssetClass"))
  #if($doc.isRootCollection())
<div id="content">
   #compositeasset_display($doc)
</div>
  #else
   #asset_display($doc "view")
  #end
 #else
   #asset_display($doc "view")
 #end
#else
<div id="content">
 $cdoc.getRenderedContent()
</div>
#end
#end

