#**
  * View entry point. It is called from view.vm
  * It displays either a specific Asset view
  * or the standard XWiki view 
  *#
#curriki_breadcrumb()
#set($space=$doc.space)#set($name=$doc.name)
#if($space.startsWith("Documentation_") && $name != "WebPreferences" && $name != "WebHome" && $name != "AboutDocumentation")
<div id="content">
#groups_documentationview()
</div>
#elseif($doc.space.startsWith("Group_") && ($name=="WebHome" || $name=="Messages" || $name=="Curriculum" || $name=="Contributions" || $name=="Members" || $name=="Documentation"))
<div id="content"><!-- Within the groups triage -->
    #if($doc.name=="WebHome")
        #groups_homepage()
    #elseif($doc.name=="Messages")
        #groups_messages()
    #elseif($doc.name=="Curriculum")
        #groups_curriculum()
    #elseif($doc.name=="Contributions")
        #groups_contributions()
    #elseif($doc.name=="Members")
        #groups_members()
    #elseif($doc.name=="Documentation")
        #activatefullscreen()
        #groups_documentation_home()
    #end
</div>
#else
#if($doc.getObject("CurrikiCode.AssetClass"))
 #if($doc.getObject("CurrikiCode.CompositeAssetClass"))
  #if($doc.isRootCollection())
<div id="content">
   #compositeasset_display($doc)
</div>
  #else
   #asset_display($doc "view")
  #end
 #else
   #asset_display($doc "view")
 #end
#else
<div id="content"><!-- Within the default content renderer -->#set($outsideWikiSyntax=false)
 $cdoc.getRenderedContent()
#set($outsideWikiSyntax=true)
</div>
#end
#end

