## This file is part of the CurrikiAnalytics mechanisms.
## It is included by view.vm and so live in a high level of every request from every user
## In special it is responsible to inject and restore the instance of
## CurrikiAnalyticsSession/CurrikiAnalyticsSession in the session of each user
#set($trash = $xwiki.currikianalytics.logPageView($wiki, $context, $request, $response, $msg))