.x-panel-bwrap .x-panel-body {
    background: #f1f1f1;
}

.x-panel-bwrap .x-grid3-row-over {
    background: #eeeeee;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width: 0;
    border-bottom: 1px solid #bbb;
}

.x-panel-bwrap .x-grid3-hd-row {
    text-transform: capitalize;
}

.x-panel-bwrap .x-grid3-hd-row td {
    font-weight: bold;
}

/* Ext-all.css */

.x-panel-bwrap .x-grid3-hd-row td {
    font: normal bold 11px arial, tahoma, helvetica, sans-serif;
    -moz-outline: none;
    text-transform: capitalize;
    -moz-user-focus: normal;
}

.x-panel-bwrap .x-grid3-row td, .x-grid3-summary-row td {

}

.x-panel-bwrap td.x-grid3-hd-over .x-grid3-hd-inner, .x-panel-bwrap td.sort-desc
.x-grid3-hd-inner, .x-panel-bwrap td.sort-asc .x-grid3-hd-inner, .x-panel-bwrap
td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background: #ddd;
    color: #000
}

body .x-tip {
    font-family: arial, sans-serif;
    text-align: left;
    background: none;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 15px 0px #ddd;
    -moz-box-shadow: 0px 0px 15px 0px #ddd;
    -webkit-box-shadow: 0px 0px 15px 0px #ddd;
    -khtml-box-shadow: 0px 0px 15px 0px #ddd;
    border: 1px solid #d1d1d1;
    padding: 1px;
    font-size: 12px;
    padding: 10px;
    color: #000;
}

.x-panel-bwrap .x-panel-header {
    overflow: hidden;
    zoom: 1;
    color: #000;
    height: 42px;
    font: normal bold 20px/44px Helvetica, Arial;
    padding: 2px 3px 1px 9px;
    border: 1px solid #c9c9c9 !important;
    background: #fff url(http://teachhub.com/sites/all/themes/teachhub/images/header_gradient_curriki.png) left bottom repeat-x !important;
}

/* CSS that wasn't a part of a stylesheet */

.x-panel-bwrap fieldset#search-advanced-group, .x-panel-bwrap fieldset#search-advanced-resource, .x-panel-bwrap fieldset#search-advanced-member, .x-panel-bwrap fieldset#search-advanced-blog, .x-panel-bwrap fieldset#search-advanced-curriki {
    background: none repeat scroll 0 0 #f1f1f1;
    border: medium none;
    margin: -10px 0 0;
    overflow: visible;
    padding: 10px 0 10px 10px;
}

.x-panel-bwrap .search-termPanel-tips-resource a {
    color: #000;
}

.x-panel-bwrap .x-panel-header-text span.x-panel-header-text {
    color: #000;
}

.x-panel-bwrap .x-grid3-header {
    background: #f1f1f1 url(http://teachhub.com/sites/all/themes/teachhub/images/header_gradient_curriki.png) left top repeat-x !important;
    color: #000;
}

.x-panel-bwrap #search-termPanel-resource, .x-panel-bwrap #search-termPanel-group, .x-panel-bwrap #search-termPanel-member, .x-panel-bwrap #search-termPanel-blog, .x-panel-bwrap #search-termPanel-curriki {
    background: #f1f1f1;
}

.x-panel-bwrap td.x-grid3-hd-over {
    background: #ddd;

}

.x-panel-bwrap td.x-grid3-hd .x-grid3-hd-inner {
    height: 30px

}

.x-panel-bwrap #search-termPanel-resource a, .x-panel-bwrap #search-termPanel-group a, .x-panel-bwrap #search-termPanel-member a, .x-panel-bwrap #search-termPanel-blog a, .x-panel-bwrap #search-termPanel-curriki a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    display: inline-block;
}

.x-panel-bwrap .search-termPanel-button button {
    background: #c6da0a;
    border: 1px solid #9ba822;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 0px #def129;
}

.x-panel-bwrap .search-termPanel-button button:hover {
    background: #b4c605;
    color: #000;
    text-shadow: 1px 1px 0px #def129;
}

.x-panel-bwrap .x-grid3-hd-btn {
    background-image: url(http://teachhub.com/sites/all/themes/teachhub/images/arrows_dropdown_grey.png);
}

.x-panel-bwrap .x-grid3-header-offset {
    background: #f1f1f1;
}

.x-panel-bbar .x-paging-info {
    border-top: 2px solid transparent !important;
}