<!DOCTYPE html>
<html data-require="math graphie graphie-helpers">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Finding absolute values</title>
  <script src="/xwiki/js/curriki-khan-exercises/khan-exercise.js"></script>
</head>
<body>
  $asset.content
</body>
</html>