body {
    background-color: transparent;
}

#asset-wrapper {
    border: 10px solid #275b89;
    padding: 0;
    width: 580px;
}

.sub-asset-wrapper button.button-link, #print-banner-wrapper button.button-link {
    background-color: #f11920;
    border: 1px solid #FF0000;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica;
    font-size: 11px;
    height: auto;
    padding: 4px 10px 3px;
}

.sub-asset-wrapper button.button-link:hover, #print-banner-wrapper button.button-link-print:hover {
    background: #b24974;
    text-decoration: none;
}