    </div>## contentcolumn
#template("leftpanels.vm")
  <div class="clearfloats"></div>
  </div>## leftsidecolumns
#template("rightpanels.vm")
<div class="clearfloats"></div>
  </div>## contentcontainerinner
</div>## contentcontainer
#template("footer.vm")
#template("htmlfooter.vm")