#**
  * End page. This is a generic file called by many of the entry point templates
  * This template will include the footer and close all tags open by startpage.vm
  * @author XWiki
  *#
</div>## right-panel
#template("footer.vm")
#template("htmlfooter.vm")
</div> ## panels