#**
  * Footer: this will display the footer of Curriki
  * @author Curriki dev team
  *#
<div id="footerglobal">
<div class="footer-left">
<a href="$xwiki.getURL("Main.PrivacyPolicy")">Privacy Policy</a> |
<a href="$xwiki.getURL("Coll_curriki.CurrikiHelp")">Help</a> |
<a href="$xwiki.getURL("Main.Contact")">Contact Us</a> |
All content licensed <a href="http://creativecommons.org/about/licenses/meet-the-licenses">Creative Commons</a> | 
<a href="$xwiki.getURL("Main.TOS")">Terms of Use</a> |
<a href="$xwiki.getURL("Main.TOS")">Copyright</a>
</div>
<div class="footer-right">
<a href="/xwiki/bin/view/Main/WebRss?xpage=rdf"><img src="$xwiki.getSkinFile("ico_rss.gif")" alt="RSS"/></a>
<a href="#"><img src="$xwiki.getSkinFile("ico_xhtml_valid.gif")" alt="XHTML Valid"/></a>
<a href="#"><img src="$xwiki.getSkinFile("ico_css_valid.gif")" alt="RSS Valid"/></a>
<a href="http://www.xwiki.org"><img src="$xwiki.getSkinFile("ico_xwiki_powered.gif")" alt="XWiki Powered"/></a>
</div>
## TODO: check if we need this
## <span class="clr">&nbsp;aaa</span>
</div>
## Additionnal Curriki Staf Footer
#if("$!g_enable_STAF" != "" && $g_enable_STAF) ##{
#template('staf.vm')
#end ##}
## Load addthis.com code
#if("$!g_enable_ADDTHIS" != "" && $g_enable_ADDTHIS) ##{
#set($ADDTHIS_acct = $!xwiki.getXWiki().Param('curriki.system.addthis', '0'))
#if("$!ADDTHIS_acct" != "0" && "$!ADDTHIS_acct" != "") ## {
<script type="text/javascript">
var addthis_config = {
	username: "${ADDTHIS_acct}",
	ui_cobrand: 'Curriki',
	services_exclude: 'print',
	services_compact: 'email, digg, facebook, twitter, aim, delicious, google, linkedin, myspace, favorites, more',
	ui_header_color: "#ffffff",
	ui_header_background: "#4e83c7",
	ui_delay:200,
	ui_offset_top: 5,
	ui_offset_left: 5
}
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
#end ##}
#end ##}
