#**
  * Footer: this will display the footer of Curriki
  * @author Curriki dev team
  *#
$xwiki.getDocument("Panels.Footer").getTranslatedDocument().getRenderedContent()
#if($g_enable_ADDTHIS && ("$!ADDTHIS_acct" != "0") && ("$!ADDTHIS_acct" != "") ) ## {
<script type="text/javascript">
//<![CDATA[
var addthis_config = {
	username: "${ADDTHIS_acct}",
	ui_cobrand: 'Curriki',
	services_exclude: 'print, favorites',
	services_compact: '$msg.get("addThis.services_compact")',
	ui_header_color: "#ffffff",
	ui_header_background: "#4e83c7",
	ui_delay:200,
	ui_offset_top: 5,
	ui_offset_left: 5
}
var addthis_share = {
	templates: {
		twitter: '$msg.get("addThis.templates.twitter")'
	}
}
var addthis_curriki = document.createElement('script');
addthis_curriki.setAttribute('type', 'text/javascript');
document.getElementsByTagName('head')[0].appendChild(addthis_curriki);
addthis_curriki.setAttribute('src', document.location.protocol + "//s7.addthis.com/js/250/addthis_widget.js");
//]]>
</script>
#end ##}
