<!-- header -->
<div id="header"> ##{

<!-- logo -->
## TODO: Add translation for title and alt
#set($altinfo = "Curriki &#226;&#8364;&#8220; Global Education Learning Community")
<div id="header-logo"> ##{
  <a href="$xwiki.getURL("Main.WebHome", "view")" title="$altinfo">
    <img src="$xwiki.getSkinFile("logo.gif")" title="$altinfo" alt="$altinfo" />
  </a>
</div> ##}

<!-- member area -->
<div id="header-member"> ##{
#if($isguest) ##{
  #if ($request.xredirect) ##{
   #set($logredir = $request.xredirect)
  #else
   #set($logredir = $logredir)
  #end	  
<!-- login area -->
<form action="$xwiki.getURL("XWiki.XWikiLogin", "loginsubmit", "xredirect=$logredir")" method="post"> ##{

  <input class="input" id="j_loginname" tabindex="1" type="text" name="j_username" value="$msg.get("header.login_username")" onfocus="if (this.value=='$msg.get("header.login_username")'){this.value=''} else {this.select()};" onblur="if (this.value==''){this.value='$msg.get("header.login_username")';}"/>
  <input class="input password" id="j_loginpwd" tabindex="2" type="password" name="j_password" onfocus="if(window.ActiveXObject || this.type == 'password'){this.select();} else {this.type='$msg.get("header.login_password")'; this.value=''; this.focus();}" onblur="if ((!window.ActiveXObject) && this.value==''){this.value='$msg.get("header.login_password")'; this.type='text';}"/>

  <script type="text/javascript">
   if(!window.ActiveXObject){
     pwdInput = document.getElementById('j_loginpwd');
     if(pwdInput.value == '') {
       pwdInput.setAttribute('type', 'text');
       pwdInput.value = '$msg.get("header.login_password")';
     }
   }
  </script>
  
  <button type="submit" id="loginbtn" tabindex="4">$msg.get("header.login_go")</button>

  <!-- remember me -->
  <fieldset>
    <input tabindex="3" type="checkbox" class="checkbox" name="j_rememberme" value="true"/>$msg.get("header.login_rememberme")</label>
    <a href="$xwiki.getURL("Main.ForgotPassword")" title="">$msg.get("header.login_forgot")</a>
  </fieldset>
  <!-- end of remember me -->
  
  <!-- registration -->
  #set($regurl = $xwiki.getURL("Main.JoinCurriki"))
  <a href="$regurl" class="register"><span>$msg.get("header.becomemember_part1")</span> $msg.get("header.becomemember_part2")</a>
  <!-- end of registration -->
  
</form> ##}
<!-- end of login area -->

#else ## }{ ## is logged in
  ## crtUserDoc is set in fudocs.vm
  <span class="welcome"><a href='$crtUserDoc.getURL()'>$msg.get("header.welcome", ["${crtUserDoc.first_name}"])</a></span>
  #if($hasGlobalAdmin)
    <a href="$xwiki.getURL("Admin.WebHome","view")">$msg.get("header.admin")</a> #sep()
  #end
  #set($logredir = $xwiki.getURL("Main.WebHome"))
  #set($logouturl = $xwiki.getURL("XWiki.XWikiLogout","logout", "xredirect=$logredir"))
  <a href="$logouturl" class="logout">$msg.get("header.logout")</a>
  
#end ##}
	
</div> ##} ##header-member
<!-- end of member area -->

<!-- advanced search -->
<div id="header-search"> ##{
  <form id="searchform" name="searchform" class="search-box" action="$xwiki.getURL("Search.WebHome")" onsubmit="if ($('curriki-searchbox').value!=='search') {document.location.href=document.searchform.action+'#o%3As%3Ds%253Aresource%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+$('curriki-searchbox').value.replace(/%/g, '%2525');} return false;"> ##{
  
    <input type="hidden" class="hidden" name="area" value=""/>
    #set($brsqry = $request.brsqry)
    #if(!$brsqry || $brsqry == "")
      #set($brsqry = "search")
    #end
    <input type="text" id="curriki-searchbox" name="brsqry" class="input" value="$!brsqry" onfocus="if (this.value=='search') this.value=''; else this.select()" onblur="if (this.value=='') this.value='search'" />
    <button type="submit" id="searchbtn" name="btn">$msg.get("header.search_go")</button>
      
  </form> ##}
  <p> ##{
    <a href="$xwiki.getURL("Search.WebHome")" onclick="this.href='/xwiki/bin/view/Search/#o%3As%3Ds%253Aresource%5Ea%3Do%253Aresource%253Do%25253Aa%25253Db%2525253A1%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+$('curriki-searchbox').value.replace(/%/g, '%2525').replace(/^search$/, ''); return true;">$msg.get("header.advanced_search")</a> |
    <a href="$xwiki.getURL("Main.Browse")">$msg.get("header.browse_subjects")</a>
  </p> ##}
</div> ##} ##member-search
<!-- end of advanced search -->  

</div> ##} ##header
<!-- end of header -->
