#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#**
  * Displays the Curriki Header
  * @author Curriki dev team
  *#
<!-- header -->
<div id="header"> ##{
<!-- logo -->
#set($altinfo = $msg.get("header.altinfo"))
#set($logourl = $xwiki.getSkinFile("images/curriki-logo.gif"))
<div id="header-logo"> ##{
  <a href="$xwiki.getURL("Main.WebHome", "view")" title="$altinfo">
    <img src="$logourl" title="$escapetool.xml($altinfo)" alt="$escapetool.xml($altinfo)" />
  </a>
</div> ##}

<!-- member area -->
<div id="header-member"> ##{
#if($isguest) <!-- request.pathInfo is $request.pathInfo --> #if(!$request.pathInfo.startsWith('/login/'))
##{
	#if ($request.xredirect) ##{
		#set($logredir = $request.xredirect)
	#elseif($doc.web == "Registration") ##}{
		#set($logredir = $xwiki.getURL("MyCurriki.Profile"))
	#elseif($doc.fullName == "Main.WebHome") ##}{
		#set($logredir = $xwiki.getURL("MyCurriki.Profile"))
	#elseif($doc.fullName == "Main.JoinCurriki") ##}{
		#set($logredir = $xwiki.getURL("MyCurriki.Profile"))
	#elseif($logredir.contains("/login")) ##}{
		#set($logredir = "")
	#end ##}
	#if("$!logredir"!="") ##{
		#set($logredir = "xredirect=$logredir")
	#elseif($request.srid) ##}{
		#set($logredir = "srid=$request.srid")
	#end ##}
    #set($escapedURL=$escapetool.url($request.getRequestURI()))##
    #set($targetURL="/xwiki/bin/view/Registration/LoginOrRegister?xpage=popup&xredirect=$escapedURL")
    #set($anchorAtts="href='$targetURL' onclick='Curriki.ui.login.displayLoginDialog(&quot;$escapetool.xml($targetURL)&quot;); return false;'")
    <p style="margin-top: 1em; width:100%; text-align:left; font-size:130%; font-weight: bolder;">##
    <a $anchorAtts style="color: #FF5500; ">$msg.get('join.header.title.1') $msg.get("join.header.title.2")</a></p>
    ## join.header.title.1 = Login,
    ## join.header.title.2=Join Curriki,
    <p style="margin-top:-18pt; margin-bottom: 0; width:100%; text-align:right;">
    <!-- xwiki is $xwiki.getXWiki() xredirect is $xredirect -->
    ## join.header.title.3=orSign-in using
    $msg.get('join.header.title.3')##
    #foreach($provider in ["Facebook","Google"])
      <!-- provider is "$provider" of class $provider.getClass(), socialLoginConfigurationDocument = ${socialLoginConfigurationDocument} -->
        #set($xredirect="${request.getRequestURI()}")##
    <!-- xredirect is $xredirect -->
        #set($link = "/xwiki/bin/view/Registration/SocialLogin?provider=${provider.toLowerCase()}&xredirect=$escapetool.url($xredirect)#if($framed)&xpage=popup#end")
      <a target="_top" href="${link}" title="$escapetool.xml($msg.get("join.login.social.login-with-${provider.toLowerCase()}.tooltip"))" width="32" ##
              onclick="Curriki.ui.login.popupPopupAndIdentityAuthorization('${provider}','${link}','${xredirect}'); return false;">##
      <img src="/xwiki/skins/curriki8/registration/${provider.toLowerCase()}-logo.png" width="36"
           style="vertical-align: bottom; margin-left: 1em; margn-right:1em;" title="$escapetool.xml($msg.get("join.login.social.login-with-${provider.toLowerCase()}.tooltip"))" /></a>
      #end.</p>
    #end
#else ## }{ ## is logged in
	## crtUserDoc is set in fudocs.vm
	#set($fname = $crtUserDoc.display("first_name","view"))
	<span class="welcome"><a href='$crtUserDoc.getURL()'>$msg.get("header.welcome", ["$fname"])</a></span>
	#if($hasGlobalAdmin)
	<a href="$xwiki.getURL("Admin.WebHome","view")">$msg.get("header.admin")</a> #sep()
	#end
    #if("MyCurriki"=="$doc.space")
     #set($logredir = "/xwiki/bin/view/MyCurriki/${doc.name}?user=${crtUserDoc.fullName}")
    #elseif($xwiki.hasAccessLevel("view","XWiki.XWikiGuest","$doc.fullName"))
        #set($logredir = $request.getRequestURI())
    #else
        #set($logredir = $xwiki.getURL("Main.WebHome"))
    #end
	#set($logouturl = "/xwiki/bin/view/Registration/CleanLogout?xredirect=${escapetool.url($logredir)}")##
	<a href="$logouturl" class="logout" onclick="window.location.replace('$logouturl'); return false;">$msg.get("header.logout")</a>
#end ##}
#if($!request.session.getAttribute("header.message")=="logout-ok")##
    $request.session.removeAttribute("header.message")##
    <p align="left" style="font-size:smaller; margin-top: 0.3em">$msg.get("logout.ok-you-left")<!-- logout message here -->##
    #set($idProviderName=$request.session.getAttribute("header.idProviderName"))##
    #if($idProviderName)<!-- provider: "$idProviderName" -->##
        #if($idProviderName.equalsIgnoreCase("facebook"))
            <script type="text/javascript">
                var fbAppId='${socialLoginTool.getApplicationApiKey("facebook")}';
                if(fbAppId) {
                    window.fbReady = false;
                    window.fbAsyncInit = function() {
                      if(console) console.log("fbAsyncInit start.");
                      // below is the script when it's hooked
                      FB.init({appId: fbAppId, status: true, cookie: true,
                               xfbml: true});
                    };
                    // hook the FB script
                    (function() {
                      var lang = "$context.language";
                      ## built from http://www.facebook.com/translations/FacebookLocales.xml
                      var country = {"en":"US", "fr":"FR", "ru":"RU", "hi": "IN", "es": "LA", "id": "ID", "si": "SI", "ta":"IN", "eo":"EO", "pl":"PL"}[lang];
                      if(typeof(country)!="string") { lang="en"; country="US";}
                      var e = document.createElement('script'); e.async = true;
                      e.src = document.location.protocol +
                        '//connect.facebook.net/'+lang+'_' + country +'/all.js';
                      document.getElementById('fb-root').appendChild(e);
                    }());
                    if(console) console.log("fbAsyncInit finished.")
                }
            </script>
            <div id="fb-root"></div>
            <a href="http://www.facebook.com/logout.php"
               onclick="FB.Connect.logout(doOnUserLogout()); return(false);"
                    >$msg.get("logout.offer-logout.facebook")</a>
        #elseif($idProviderName.equalsIgnoreCase("google"))
            <a href="http://www.google.com/accounts/Logout?continue=$escapetool.url()"
               target="_google_logout_window"
                    >$msg.get("logout.offer-logout.google")</a>
        #end##
    #end##
    #if($idProviderLogoutUrl)<!-- idProviderLogoutUrl: $idProviderLogoutUrl -->
        <a href="$idProviderLogoutUrl">$msg.get("logout.offer-logout.${idProviderName}")</a>#end
    </p>
#end##
##
</div> ##} ##header-member
<!-- end of member area -->

<!-- advanced search -->
#set($defaultsearchtext = $msg.get("header.defaultsearchtext"))
#set($brsqry = $request.brsqry)
#if(!$brsqry || $brsqry == "")
	#set($brsqry = $defaultsearchtext)
#end
<div id="header-search"> ##{
	<form id="searchform" name="searchform" class="search-box" action="$xwiki.getURL("Search.WebHome")" onsubmit="CurrikiApp.searchbtnGo(); return false;"> ##{
		<input type="hidden" class="hidden" name="area" value=""/>
		<input type="text" id="curriki-searchbox" name="brsqry" class="input" value="$!brsqry" Curriki:defTxt="$defaultsearchtext" />
		<a href="" id="searchbtn" onclick="CurrikiApp.searchbtnGo(); return false;">$msg.get("header.search_go")</a>
	</form>
	<p>
		<a href="$xwiki.getURL("Search.WebHome")" onclick="this.href='/xwiki/bin/view/Search/#o%3Aa%3Do%253Aresource%253Do%25253Aa%25253Db%2525253A1%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+escape(escape(escape(escape($('curriki-searchbox').value.replace(/^$defaultsearchtext/, '').replace(/^\.\.\./, ''))))); return true;">$msg.get("header.advanced_search")</a> |
		<a href="$xwiki.getURL("Main.Browse")">$msg.get("header.browse_subjects")</a>
	</p>
</div> ##} ##member-search
<!-- end of advanced search -->  

</div> ##} ##header
<!-- end of header -->
