#**
 *  TODO: delete. This is the old help in CB.
 *#
<?xml version="1.0" encoding="$xwiki.encoding" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
#if(!$title)
#set( $title = $!xwiki.getWebPreference("title"))
#if ( $title != "")
$xwiki.parseContent($title)
#else
XWiki . $!doc.web . $!doc.displayTitle
#end
#else
$title
#end
</title>
<meta http-equiv="Content-Type" content="text/html; charset=$xwiki.encoding" />
$!xwiki.getWebPreference("meta")
#template("analytics.vm")
#template("stylesheets.vm")
<meta http-equiv="imagetoolbar" content="no" />

#set($headerfile="help")
#template("javascripts.vm")

#set($ua = $request.getHeader("user-agent"))
#if($ua.indexOf("MSIE")!=-1)
#if(($ua.indexOf("MSIE 6")!=-1)||($ua.indexOf("MSIE 5")!=-1))
<link href="$xwiki.getSkinFile("ie6.css", true)" rel="stylesheet" type="text/css" />
#end
#end
<link rel="stylesheet" href="/xwiki/bin/view/XWiki/style?xpage=plain" type="text/css" />
</head>
<body id="body" class="help">
<div id="dropshadow" class="help">
<div id="currikimaincontainer" class="help">
