#**
 *  TODO: delete. This is the old help in CB.
 *#
#template("xwikivars.vm")
#template("layoutvars.vm")
#set($showLeftPanels = "0")
#set($showRightPanels = "0")
#set($printss = true)
#template("helpheader.vm")
$context.setLinksQueryString("xpage=help")
<div id="contentcontainer" class="help">
 <div id="contentcontainerinner" class="contenthideright">
  <div class="leftsidecolumns">
    <div id="leftPanels" class="panels left help">
     #displaypanel("Panels.TableOfContents")
    </div>
    <div id="contentcolumn">
    <div class="main layoutsubsection">
     #template("contentview.vm")
     ## <div class="clearfloats"></div>
    </div>
   </div>
   ## <div class="clearfloats"></div>
 </div>
</div>
$context.unsetLinksQueryString()
</div>
</div>
</div>
</body>
</html>
