#**
 * Document history table
 *
 * Displays a paged list of document versions, with the possiblity to view a version, compare two
 * versions, delete one or a range of versions, restore a version as the current document.
 *
 *
 * Settings, compute what versions should be displayed.
 *#
#set($minorVersions = (!$xwiki.hasMinorEdit()) || ("$!request.showminor" != "false"))
## Revision criteria. The following requests for all versions, filtered by the minorVersions option.
  #set($criteria = $xwiki.criteriaService.revisionCriteriaFactory.createRevisionCriteria("", $minorVersions))
#set($totalVersions = $tdoc.getRevisions($criteria).size())
## This will fill in $startAt, $endAt and the variables needed later by #printPagedViewLinks
  #preparePagedViewParams($totalVersions, $xwiki.getXWikiPreferenceAsInt("web_history_versionsPerPage", 50))
## Since we're displaying revisions starting from the last one, we need to mirror the range inside
## the total versions range.
  #set($startAt = $totalVersions - $startAt)
#set($endAt = 0 - $itemsPerPage)
#set($range = $xwiki.criteriaService.rangeFactory.createRange($startAt, $endAt))
## Reuse the old object, just add the range.
  $criteria.setRange($range)
#if ($tdoc.realLanguage!="")
#set($lang = "&amp;language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
<form id="history" action="$doc.getURL("view", "viewer=changes&amp;$docvariant")" method="post">
    <fieldset>
        #set($formname="history")
      <table class="xwikidatatable">
        ## Print the table header
        <tr>
        #if ($totalVersions > 1)
        <th>$msg.get("rve.information.revision.list.from_title")</th>
        <th>$msg.get("rve.information.revision.list.to_title")</th>
        #end
        <th>$msg.get("rve.information.revision.list.version_title")</th>
        <th>$msg.get("rve.information.revision.list.author_title")</th>
          ## Might be disabled in certain wikis.
    #if($xwiki.hasEditComment())
          <th>$msg.get("rve.information.revision.list.note_title")</th>
          #end
        <th>$msg.get("rve.information.revision.list.datetime_title")</th>
        ## Editors see the Revert button.
  #if($hasEdit && !$hasAdmin)
        <th>$msg.get("rve.information.revision.list.action_title")</th>
        ## Admins see the Revert and Delete buttons.
  #elseif($hasAdmin)
        <th colspan="2">$msg.get("rve.information.revision.list.action_title")</th>
        #end
    </tr>
        ##
## Display, loop over the extracted revisions and print them in the table.
##
  #foreach ($version in $util.reverseList($tdoc.getRevisions($criteria)))
        #set($revinfo = $tdoc.getRevisionInfo($version))
        <tr class="row  #* #if($velocityCount % 2 == 0) even #else odd #end *#">
            #if ($totalVersions > 1)
            <td width="5%"><input type="radio" name="rev1" value="$version" #if ($velocityCount==2) checked="checked" #end/></td>
            <td width="5%"><input type="radio" name="rev2" value="$version" #if ($velocityCount==1) checked="checked" #end/></td>
            #end
            <td width="10%">
            #if(($asset.category=="collection")||(!$doc.hasAccessLevel("edit")))
                $version
            #else
                <a href="$doc.getURL("viewrev","rev=$version")" target="_blank">$version</a>
            #end
            </td>
            <td width="10%">$xwiki.getLocalUserName($revinfo.author)</td>
            #if($xwiki.hasEditComment())
            <td width="15%">$!{revinfo.comment}</td>
            #end
            <td width="30%">$xwiki.formatDate($revinfo.date, "dd/MM/yyyy HH:mm")</td>
            #if($hasEdit || $hasAdmin)
            <td width="15%"><button class="button-link" href="$tdoc.getURL("rollback","rev=$version$lang")" onclick="if (confirm('$xwiki.escapeText($msg.get("rve.information.revision.list.rollback_confirmation")) $version')){this.href += '&amp;confirm=1'; return true;} return false;">$msg.get("rve.information.revision.list.rollback_button")</button></td>
            #end
        </tr>
        #end ## foreach
      </table>
    </fieldset>
    <fieldset class="buttons">
        ## Print the page navigation links, if needed.
            #printPagedViewLinks($itemsPerPage $totalPages $currentPageNumber "viewer=history&amp;showminor=${minorVersions}" false)
        #if ($totalVersions > 1)
        <input class="button-save" type="submit" accesskey="c" value="$msg.get("rve.information.revision.list.compare_button")" />
        #end
    </fieldset>
    </form>