#**
  * History entry point. It is called from view.vm
  * It displays either a specific Asset view
  * or the standard XWiki view
  *#
#curriki_breadcrumb()
#set($asset = $doc)
#if($asset.getObject("CurrikiCode.AssetClass"))
#set($ok = $asset.use("CurrikiCode.AssetClass"))
<div id="asset-wrapper" class="view-${asset.categoryClass} mode-$!viewer mode-info">
    #asset_resourcefunctions($asset)
    #asset_icontitle($asset)
    #asset_attribution($asset)
    #asset_rating($asset)
    #asset_tabs($asset "info")
    <div id="asset-wrapper-inner">
        <ul id="asset-links">
            <li class="last-item"><a href="$asset.getURL("view", "bc=$!{request.bc}&viewer=info")" title="$msg.get("rve.information.back_to_information_rollover")">$msg.get("rve.information.back_to_information_link")</a></li>           
        </ul>
        <div class="clear-right"></div>
        <div class="sub-asset-wrapper">
            <h3>
                $msg.get("rve.information.history")
            </h3>
            <div class="sub-asset-wrapper-inner">
                #template("historyinline.vm")
            </div>
        </div>
    </div>
</div>
#else
<div id="content">
    <h2>$xwiki.parseMessage("viewhistorytitle")</h2>
    #template("historyinline.vm")
</div>
#end

