#if($context.getMode()==0)
#includeInContext("STAF.Dialog")
</div>## xwikimaincontainerinner
</div>## xwikimaincontainer
#if("$!footerJScript" != "")
<div id="footerjs" style="display: none;">$footerJScript</div>
#end
</body>
</html>
#end
