#if($context.getMode()==0)
#template('staf.vm')

    </div> ##currikimaincontainer
  </div> ## dropshadow
  
  ##</div>## xwikimaincontainerinnern ##from the old curriki8 skin
  ##</div>## xwikimaincontainer ##from the old curriki8 skin

#template('httpfooter.vm')
#end
