/*** Main design tweaks (Jeromy) ***/
#shadow-right { padding-right:8px; }
#footerglobal { width:850px; }
#header { width:840px; }
#breadcrumb { width:98%; }

.mycurriki-main, .mycurriki-main-content {
width:95%;
}

.wiki-table {
	width:95%;
}
.asset-contents .asset-metadatas {
	width:98%;
}
.asset-contents .asset-display {
	width:96%;
}

.collections-list .x-small-editor table {
    margin-top:10px;
}

/*** Search tweaks (Jeromy) ***/
.search-termPanel-form { width:280px; }
.search-termPanel-buttonColumn { width: 80px; }
#search-advanced-resource {width:597px;}
#search-termPanel-resource {padding-right:0; }
#search-filterPanel-resource {width:610px;}
.x-tab-panel-header-plain .x-tab-strip-spacer {
border:none;
border-top:1px solid #E5E5E5;
height:0;
margin:-1px 0;
width:620px;
}
.search-module .x-fieldset legend span.x-fieldset-header-text {
	float:left;
	width:100%;
}
.search-module .x-fieldset legend .x-tool-toggle {
	margin-left:5px;
}
.x-grid3-hd-inner {
	color:#fff;
}
table.dialog-addfile-text .gwt-HTML ul { margin-left:20px; }

/*** View tweaks ***/
#MetadataDialogueForm {
width:100%;
}
#MetadataDialogueForm .x-column-inner {
width:560px; 
}
#MetadataDialogueForm .x-panel, .x-panel-body {
width:250px;
}
#addDialoguePanel .x-panel, .x-panel-body {
width:100%;
}
/* IE6 method for menu */
#leftPanels.left {
  margin-left: -215px;
}
.contenthideright {
  border-left: 220px solid #ffffff;
  margin-right: 10px;
}
.contenthideright {
  margin-right: 0px;
  margin-left: auto;
}
/* end ie6 menu */

/* ie6 help */
.help #contentcolumn {
 padding-left: 0px;
 float: right;
 margin-left: 20px;
 margin-right: -5px;
}
.help #leftPanels.left {
  margin-left: 0px;
}
.help .contenthideright {
  border-left: 0px;
  margin-left: auto;
}
/* end ie6 help */

/* fixing buttons stylings: IE6 bugs and doesnt read the line  when it meets elements such as input[type=button] */
button, .x-btn button, .menu-add, #groups-create-nextbutton input.button-orange, #attachmentAddForm .button-orange{ background-color: #ff7f00; border-style: solid; border-width: 1px; border-color: #ff0000; color: #FFF; cursor: pointer; font-size: 11px; height: 23px; margin: 0; padding: 0 0.5em; overflow: visible; width: auto;  }
button:hover, .x-btn button:hover, .menu-add:hover, #groups-create-nextbutton input.button-orange:hover, #attachmentAddForm .button-orange:hover { background-color: #ffb808; color: #fff; }



/* View mode - fixing the floating assets issue */
.contenthideright {
  margin-right: 0px;
}
.contenthideright {
  margin-left: auto;
}
#contentcolumn {
 width: 615px !important;
 margin-left: 4px;
}
#contentcolumn .layoutsubsection {
 width: 615px !important;
}
.leftsidecolumns .asset-contents {
 margin-right: -20px;
}
.leftsidecolumns .asset-metadatas .titlebar {
 width:593px !important;
}
.leftsidecolumns .asset-metadatas {
 width: 585px !important;
 padding: 0;
 margin-right: -10px;
}
.leftsidecolumns .asset-contents .asset-content-body-composite-source, .leftsidecolumns .asset-contents .asset-content-body-composite-composite {
 width: 573px;
}
.leftsidecolumns .asset-metadatas-block .strong {
 font-size: 12px;
}
.dialog-next, .gwt-ButtonOrange {
 background: #FF7F00;
 border: 1px solid #FF4100;
 color: #FFFFFF;
}
.my-curriki-table .righttext {
 font-size: 12px;
}

/* Help fixing content width issues */
.help #contentcolumn, .help #contentcolumn .layoutsubsection, .leftsidecolumns .help .asset-metadatas, .leftsidecolumns .help .asset-metadatas, .leftsidecolumns .help .asset-metadatas .titlebar, .leftsidecolumns .help .asset-content-body-composite-source, .leftsidecolumns .help .asset-content-body-composite-composite {
 width: auto !important;
}
.help #contentcolumn {
 margin-right: -5px;
}
.leftsidecolumns .help .asset-metadatas {
 margin-right: 0px !important;
}
.help #contentcolumn {
 margin-left: 20px;
}

#mycurriki-favorites-content, #mycurriki-contributions-table {
 width: 591px;
}
.groups-home .group-subject-education-level table { width: 92%; }
.groups-curriculum #groupsearch #curriki-search-field { height: 25px; }

/* FIXING IE6 BEING TOO LARGE */
.minwidth, .minwidthb, .minwidthc { width: auto !important; }


/** SRI2 SHORT WIDTHS ISSUE **/

#MetadataDialogueWindow .x-panel-bwrap {width: 620px;}


/** IMAGE OVERFLOW **/

.sub-asset-wrapper  {
	overflow: visible;
	overflow-x: auto;
	overflow-y: hidden; 
	padding-bottom: 15px;
	width: 100%;
}

#asset-wrapper-inner {display: inline-block;}

#resource-toc .x-panel-bwrap {
	overflow: visible;
	overflow-x: auto;
	overflow-y: hidden; 
	padding-bottom: 15px;
	width: 100%;
	
}





#main {width: 860px !important;}

#asset-avatar img {width: expression(Math.min(parseInt(this.offsetWidth), 200 ) + "px");}
#asset-avatar img {height: expression(Math.min(parseInt(this.offsetHeight), 80 ) + "px");}
