/* IE6 method for menu */
#leftPanels.left {
  margin-left: -215px;
}
.contenthideright {
  border-left: 220px solid #ffffff;
  margin-right: 10px;
}
.contenthideright {
  margin-left: auto;
}
/* end ie6 menu */

/* ie6 help */
.help #contentcolumn {
 padding-left: 0px;
 float: right;
}
.help #leftPanels.left {
  margin-left: 0px;
}
.help .contenthideright {
  border-left: 0px;
  margin-left: auto;
}
/* end ie6 help */