#**
 *  Asset info tab view entry point. It is called from view.vm
 *#
#curriki_breadcrumb()
#if($doc.getObject("CurrikiCode.AssetClass"))
#asset_info($doc)
#else
$msg.get("rve.information.pageisnotanasset")
#end