#template("space.vm")
<div  id="content">
#if($doc.getObject("CurrikiCode.AssetClass"))
#**
 * Macro to display info tab
 *#
#macro(asset_info $asset)
#set($assetCategory = $asset.getCategory())
<div id="asset-wrapper" class="category-$assetCategory mode-$!viewer">
    #asset_resourcefunctions($asset)
    #asset_icontitle($asset)
    #asset_attribution($asset)
    #asset_rating($asset)
    #asset_tabs($asset "info")
    <div id="asset-wrapper-inner">
        <ul id="asset-links">
            <li><a href="$asset.getURL("view", "viewer=infoedit")">$msg.get("rve.information.edit_link")</a></li>
            <li class="last-item"><a href="$asset.getURL("view", "viewer=history")">$msg.get("rve.information.history")</a></li>
        </ul>
        $asset.use("CurrikiCode.AssetClass")
        <div class="sub-asset-wrapper">
            <h3>
                $msg.get("rve.information.header1")
            </h3>
            <div class="sub-asset-wrapper-inner">
                <ul>
                    <li class="info-basic-title">
                        <strong>$msg.get("rve.information.subject_title")</strong>
                        <p>$asset.getDisplayTitle()</p>
                    </li>

                    <li class="info-basic-description">
                        <strong>$msg.get("rve.information.description_title")</strong>
                        <p>$asset.display("description")</p>
                    </li>

                    <li class="info-basic-subject">
                        <strong>$msg.get("rve.information.subject_title")</strong>
                        <div>
                            <ul>
                                #set($subjects = $!asset.getValue("fw_items"))
                                <ul>
                                    #foreach($subject in $subjects)
                                    <li>$msg.get("CurrikiCode.AssetClass_fw_items_${subject}")</li>
                                    #end
                                </ul>

                            </ul>
                        </div>
                    </li>
                    <li class="info-basic-education">
                        <strong>$msg.get("rve.information.edlevel_title")</strong>
                        <div>
                            #set($educlevels = $!asset.getValue("educational_level"))
                            <ul>
                                #foreach($educlevel in $educlevels)
                                <li>$msg.get("CurrikiCode.AssetClass_educational_level_${educlevel}")</li>
                                #end
                            </ul>
                        </div>
                    </li>
                    <li class="info-basic-ict">
                        <strong>$msg.get("rve.information.ict_title")</strong>
                        #set($ict = $!asset.getValue("instructional_component"))
                        <ul>
                            #foreach($ictitem in $ict)
                            <li class="ict-${ictitem}">$msg.get("CurrikiCode.AssetClass_instructional_component_${ictitem}")</li>
                            #end
                        </ul>
                    </li>
                    <li class="info-basic-tags"><strong>$msg.get("rve.information.keywords_title")</strong>$!asset.display("keywords")</li>
                    <li class="info-basic-language"><strong>$msg.get("rve.information.language_title")</strong>$!asset.display("language")</li>
                </ul>
            </div>
        </div>
        <div class="sub-asset-wrapper">
            <h3>
                $msg.get("rve.information.header2")
            </h3>
            <div class="sub-asset-wrapper-inner">
                <ul>
                    <li class="info-rights-access">
                        <strong>$msg.get("rve.information.accessprivileges_title")</strong>
                        $!asset.display("rights")
                    </li>

                    <li class="info-rights-hidden">
                        <strong>$msg.get("rve.information.hidefromsearch_title")</strong>
                        $!asset.display("hidden_from_search")
                    </li>
                    $asset.use("CurrikiCode.AssetLicenseClass")
                    <li class="info-rights-holder">
                        <strong>$msg.get("rve.information.rightsholder_title")</strong>
                        $!asset.display("rightsHolder")
                    </li>

                    <li class="info-rights-license">
                        <strong>$msg.get("rve.information.licensedeed_title")</strong>
                        $!asset.display("licenseType")
                    </li>
                </ul>
            </div>
        </div>
    </div> ##asset-wrapper-inner
</div> ##asset-wrapper
#end
#asset_info($doc)
#else
$msg.get("rve.information.pageisnotanasset")
#end
</div>