#template("space.vm")
<div  id="content">
#if($doc.getObject("CurrikiCode.AssetClass"))
#**
 * Macro to display info tab
 *#
#macro(asset_info $asset)
#set($assetCategory = $asset.getCategory())
<div id="asset-wrapper" class="category-$assetCategory mode-info mode-info-edit">
#asset_resourcefunctions($asset)
#asset_icontitle($asset)
#asset_attribution($asset)
#asset_rating($asset)
#asset_tabs($asset "info")
<div id="asset-wrapper-inner">
<ul id="asset-links">
    <li><a href="#">Edit</a></li>
    <li class="last-item"><a href="$asset.getURL("view", "viewer=history")">Revision History</a></li>
</ul>
$asset.use("CurrikiCode.AssetClass")
<div class="sub-asset-wrapper">
<h3>
    $msg.get("rve.information.edit.header")
</h3>
<div class="sub-asset-wrapper-inner">
<form>
<fieldset class="buttons">
    <input type="submit" value="$msg.get("rve.information.edit.cancel_button")" name="cancel" class="button-cancel"/>
    <input type="submit" value="$msg.get("rve.information.edit.save_button")" name="save" class="button-save"/>
</fieldset>
<fieldset>
    <ul>
        $asset.use("CurrikiCode.AssetClass")
        <li class="info-edit-title field-important input-text">
            <span><em>!</em><label for="edit-title">$msg.get("rve.information.title.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.title.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.title.edit_txt")</p>
            <input id="edit-title" name="title" value="$xwiki.getFormEncoded($asset.getTitle())" type="text">
        </li>
        <li class="info-edit-description field-important input-textarea">
            <span><em>!</em><label for="edit-description">$msg.get("rve.information.description.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.description.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.description.edit_txt")</p>
            $asset.display("description", "edit", true)
        </li>
        <li class="info-edit-subject field-important input-tree">
            <span><em>!</em><label for="edit-subject">$msg.get("rve.information.subject.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.subject.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.subject.edit_txt")</p>
            $asset.display("fw_items", "edit", true)
        </li>
        <li class="info-edit-education field-important input-tree">
            <span><em>!</em><label for="edit-subject">$msg.get("rve.information.edlevel.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.edlevel.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.edlevel.edit_txt")</p>
            $asset.display("educational_level", "edit", true)
        </li>

        <li class="info-edit-ict field-important input-select">
            <span><em>!</em><label for="edit-ict">$msg.get("rve.information.ict.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.ict.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.ict.edit_txt")</p>
            $asset.display("instructional_component", "edit", true)
        </li>

        <li class="info-edit-tags input-text">
            <span><label for="edit-tags">$msg.get("rve.information.keywords.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.keywords.edit_tooltip")" src="images/px.gif" alt="" /></span>
            $asset.display("keywords", "edit", true)
        </li>

        <li class="info-edit-language input-select">
            <span><label for="edit-language">$msg.get("rve.information.language.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.language.edit_tooltip")" src="images/px.gif" alt="" /></span>
            $asset.display("language", "edit", true)
        </li>

        <li class="info-edit-hide input-checkbox">
            <span><label for="edit-hide">$msg.get("rve.information.hidefromsearch.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.hidefromsearch.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.hidefromsearch.edit_txt")</p>
            $asset.display("hidden_from_search", "edit", true) $msg.get("rve.information.hidefromsearch.edit_instruction")
        </li>
$asset.use("CurrikiCode.AssetLicenseClass")
        <li class="info-edit-rights field-important input-text">
            <span><em>!</em><label for="edit-rights">$msg.get("rve.information.rightsholder.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.rightsholder.edit_tooltip")" src="images/px.gif" alt="" /></span>
            $asset.display("rightsHolder", "edit", true)
        </li>
$asset.use("CurrikiCode.AssetClass")
        <li class="info-edit-access input-radio">
            <span><label for="edit-access">$msg.get("rve.information.accessprivileges.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.accessprivileges.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.accessprivileges.edit_txt")</p>
            $asset.display("rights", "edit", true)
        </li>
$asset.use("CurrikiCode.AssetLicenseClass")
        <li class="info-edit-license input-select">
            <span><label for="edit-license">$msg.get("rve.information.licensedeed.edit_title")</label><img class="tooltip" width="16" height="16" border="0" ext:qtip="$msg.get("rve.information.licensedeed.edit_tooltip")" src="images/px.gif" alt="" /></span>
            <p>$msg.get("rve.information.licensedeed.edit_txt")</p>
            $asset.display("licenseType", "edit", true)
       </li>
    </ul>
</fieldset>
<fieldset class="buttons">
    <input type="submit" value="$msg.get("rve.information.edit.cancel_button")" name="cancel" class="button-cancel"/>
    <input type="submit" value="$msg.get("rve.information.edit.save_button")" name="save" class="button-save"/>
</fieldset>
</form>
</div>
</div>
</div> ##asset-wrapper-inner
</div> ##asset-wrapper
#end
#asset_info($doc)
#else
$msg.get("rve.information.pageisnotanasset")
#end
</div>