#**
  * Setup the external Javascript files loaded for the curriki pages
  * @author Curriki dev team
  *#
#if($gVersion)#else#template("xwikivars.vm")#end##
<!-- start javascripts.vm -->
#set($hasScripts=true)##
#if($globalDebug)##{
    #set($debugging = "-debug")
#else##}{
    #set($debugging = "")
#end##}
<script type="text/javascript" src="$xwiki.getSkinFile('skin.js').replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>

#set($useCdns=false)
#if($useCdns)
<script type="text/javascript">
/* <![CDATA[ */
## ExtJS through CDNs
var ajProt = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + ajProt + "ajax.googleapis.com/ajax/libs/prototype/1.7/prototype.js' type='text/javascript'%3E%3C/script%3E"));
document.write(unescape("%3Cscript src='" + ajProt + "ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js?load=effects' type='text/javascript'%3E%3C/script%3E"));
var ejLoc = (("https:" == document.location.protocol) ? "https://"+document.location.host+"/xwiki/skins/curriki20/${gVersion}/ext-2.3.0/" : "http://extjs.cachefly.net/ext-2.3.0/");
document.write(unescape("%3Cscript src='" + ejLoc + "adapter/ext/ext-base.js' type='text/javascript'%3E%3C/script%3E"));
document.write(unescape("%3Cscript src='" + ejLoc + "ext-all${debugging}.js' type='text/javascript'%3E%3C/script%3E"));
/* ]]> */
</script>
#else
<script src="/xwiki/resources/js/prototype/prototype.js" type="text/javascript"></script>
<script src="/xwiki/resources/js/scriptaculous/scriptaculous.js?load=effects" type="text/javascript"></script>
<script src="/xwiki/skins/curriki20/extjs/adapter/ext/ext-base.js" type="text/javascript"></script>
<script src="/xwiki/skins/curriki20/extjs/ext-all${debugging}.js" type="text/javascript"></script>
#end

#if($doc.fullName != "Main.JoinCurriki" || $context.user != "XWiki.XWikiGuest")##{
	#if("$!request.lang" != "")##{
		#set($lang = $request.lang)
	#else##}{
		#set($lang = $xwiki.getLanguagePreference())
	#end##}
	#if("$!lang" == "")##{
		#set($lang = "en")
	#end##}
##
## The xwiki translation files are converted for use with javascript
## and loaded via the /xwiki/gen/js/0/lang_${lang}.js URL using an apache rewrite rule
##
## If using xwiki standalone you need to uncomment the line
##<script src="/xwiki/bin/view/Util/JSTrans?xpage=plain&language=${lang}"></script>
## and comment the next one out instead
<script src="/xwiki/gen/js/${gVersion}/lang_${lang}.js"></script>

## Similarily if using xwiki standalone you need to comment out the #if section and just use the #else section
	#if("$!debugging" == "")##{
<script src="/xwiki/js/${gVersion}/curriki-merged.js"></script>
	#else ##}{
<script src="/xwiki/js/${gVersion}/i18n.js"></script>
<script src="$xwiki.getSkinFile('js/viditalk_stub.js').replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
<script src="/xwiki/js/${gVersion}/curriki-main${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-addpath${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-organize${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-nominate${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-review${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-unnominate${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-partner${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-asterixReview${debugging}.js"></script>
<script src="/xwiki/js/${gVersion}/curriki-module-flag${debugging}.js"></script>
	#end ##}

	#if($!headerfile == "html")##{
        <!-- would embed accordion.js -->
## <script type="text/javascript" src="$xwiki.getSkinFile("accordion/accordion.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
	#end ## }
#end ##}

<script type="text/javascript" src="$xwiki.getSkinFile("swfobject.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>

<script type="text/javascript" src="$xwiki.getSkinFile("xwiki.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>

#if($doc.fullName != "Main.JoinCurriki" || $context.user != "XWiki.XWikiGuest")##{
<script type="text/javascript" src="$xwiki.getSkinFile("browserdetect.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
	#if($!headerfile == "http")##{
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
	#end ## }
	#if($!headerfile == "help")##{
<script defer type="text/javascript" src="$xwiki.getSkinFile("ajax/wzToolTip.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
	#end ## }
	#if($headerfile == "html")##{
<script defer type="text/javascript" src="$xwiki.getSkinFile("ajax/wzToolTip.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("scripts/shortcuts.js", true).replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
		#if($context.action=="admin")##{
<script type="text/javascript" src="$xwiki.getSkinFile("scripts/lightbox/lightbox.js",true).replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("usersandgroups.js", true).replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("suggest/ajaxSuggest.js").replaceAll('/curriki8/', "/curriki8/${gVersion}/")"></script>
		#end ##}
	#end ## }

#set($mediaHost="http://$xwiki.curriki.getPublicCurrikiConfig('mediahost','-missing-media-host-')")##
#if($mediaHost!='-missing-media-host-')
<script src="$mediaHost/media/jwplayer6/jwplayer.js"></script>
<script type="text/javascript">
    if(typeof(window.jwplayer)=="undefined") window.jwplayer = new Object();
    window.jwplayer.key="$xwiki.curriki.getPublicCurrikiConfig('mediajwplayerkey','-missing-media-mediajwplayerkey-')";
    window.videoPrefixToDownload = "http://$xwiki.curriki.getPublicCurrikiConfig('mediahost','-missing-media-host-')/media/deliver/";
</script>
#end##
<script type="text/javascript">
Ext.ns('Curriki.global');
Curriki.global.username = "$!{context.user}";
Curriki.global.fullname = "$!xwiki.getUserName($context.user, false).replaceAll('"', "\\u0022")";
Curriki.global.isAdmin = #if($hasGlobalAdmin)true#{else}false#{end};
</script>
#end ##}
#if($globalDebug)##{
    <script type="text/javascript">if(Curriki.console) { Curriki.console.log("Now in "+window.name+" on: " + window.location.href ); Curriki.console.log(" inside frame? " + (window.top!=window)); } </script>
#end##}
## Include the custom livetable.js which temporary, until the events are fixed
<script type="text/javascript" src="$xwiki.getSkinFile('livetable.js')"></script>
<!-- com.xpn.xwiki.plugin.skinx.JsSkinFileExtensionPlugin -->
## Use $xwiki.jsfx.use("jsfile.js", true)
<!-- com.xpn.xwiki.plugin.skinx.JsSkinExtensionPlugin -->
## the HTML comment there actually inserts it!
<!-- end javascripts.vm -->
