#**
  * Setup the external Javascript files loaded for the curriki pages
  * @author Curriki dev team
  *#
#if($globalDebug)##{
	#set($debugging = "-debug")
#else##}{
	#set($debugging = "")
#end##}
## <script type="text/javascript" src="$xwiki.getSkinFile('skin.js')"></script>
<script type="text/javascript">
//<![CDATA[
var ajProt = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + ajProt + "ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js' type='text/javascript'%3E%3C/script%3E"));
document.write(unescape("%3Cscript src='" + ajProt + "ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js?load=effects' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var ejLoc = (("https:" == document.location.protocol) ? "https://"+document.location.host+"/xwiki/skins/curriki8/extjs/" : "http://extjs.cachefly.net/ext-2.2/");
document.write(unescape("%3Cscript src='" + ejLoc + "adapter/ext/ext-base.js' type='text/javascript'%3E%3C/script%3E"));
document.write(unescape("%3Cscript src='" + ejLoc + "ext-all${debugging}.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>

#if($doc.fullName != "Main.JoinCurriki" || $context.user != "XWiki.XWikiGuest") ##{

#if("$!request.lang" != "")##{
#set($lang = $request.lang)
#else##}{
#set($lang = $xwiki.getLanguagePreference())
#end##}
#if("$!lang" == "")##{
#set($lang = "en")
#end##}
##
## The xwiki translation files are converted for use with javascript
## and loaded via the /js/0/lang_${lang}.js URL using an apache rewrite rule
##
## If not using xwiki standalone you need to comment the following line
<script src="/xwiki/bin/view/Util/JSTrans?xpage=plain&lang=${lang}"></script>
## and uncomment the next one out instead
##<script src="/js/1/lang_${lang}.js"></script>
<script src="/xwiki/js/i18n.js"></script>

<script src="$xwiki.getSkinFile('js/viditalk_stub.js')"></script>
<script src="$xwiki.getSkinFile('js/vidiembed_curiki.js')"></script>
<script src="/xwiki/js/curriki-main${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-addpath${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-organize${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-nominate${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-review${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-unnominate${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-partner${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-asterixReview${debugging}.js"></script>
<script src="/xwiki/js/curriki-module-flag${debugging}.js"></script>

#if($!headerfile == "html") ## {
<script type="text/javascript" src="$xwiki.getSkinFile("accordion/accordion.js")"></script>
#end ## }
#end ##}

$xwiki.jsfx.use('js/xwiki/widgets/modalPopup.js', true)
$xwiki.ssfx.use('js/xwiki/widgets/modalPopup.css', true)
$xwiki.jsfx.use('uicomponents/widgets/confirmationBox.js', true)
$xwiki.ssfx.use('uicomponents/widgets/confirmationBox.css', true)
$xwiki.jsfx.use('uicomponents/widgets/confirmedAjaxRequest.js', true)
$xwiki.jsfx.use('uicomponents/widgets/notification.js', true)
$xwiki.ssfx.use('uicomponents/widgets/notification.css', true)
<script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/xwiki.js", true)"></script>

#if($doc.fullName != "Main.JoinCurriki" || $context.user != "XWiki.XWikiGuest") ##{
#if($!headerfile == "http") ## {
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js")"></script>
#end ## }

#if($!headerfile == "help") ## {
<script defer type="text/javascript" src="$xwiki.getSkinFile("ajax/wzToolTip.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js")"></script>
#end ## }

#if($headerfile == "html") ##{
<script defer type="text/javascript" src="$xwiki.getSkinFile("ajax/wzToolTip.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("scripts/shortcuts.js", true)"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("swfobject.js")"></script>

#if($context.action=="admin") ##{
<script type="text/javascript" src="$xwiki.getSkinFile("scripts/lightbox/lightbox.js",true)"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("usersandgroups.js", true)"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("suggest/ajaxSuggest.js")"></script>
#end ##}
#end ## }

<script type="text/javascript">
/* <![CDATA[ */
Ext.ns('Curriki.global');
Curriki.global.username = "${context.user}";
Curriki.global.isAdmin = #if($hasGlobalAdmin)true#{else}false#{end};
/* ]]> */
</script>

#end ##}

## Hook for inserting JavaScript skin extensions
## Use $xwiki.jsfx.use("jsfile.js", true)
<!-- com.xpn.xwiki.plugin.skinx.JsSkinExtensionPlugin -->
<!-- com.xpn.xwiki.plugin.skinx.JsSkinFileExtensionPlugin -->
$xwiki.jsx.use("XWiki.WebDAV")
