<script type="text/javascript" src="$xwiki.getSkinFile('skin.js')"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("extjs/adapter/ext/ext-base.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("extjs/ext-all.js")"></script>

#if("$!request.lang" != "")##{
#set($lang = $request.lang)
#else##}{
#set($lang = $xwiki.getLanguagePreference())
#end##}
#if("$!lang" == "")##{
#set($lang = "en")
#end##}
##
## The xwiki translation files are converted for use with javascript
## and loaded via the /js/0/lang_${lang}.js URL using an apache rewrite rule
##
## If using xwiki standalone you need to uncomment the line
<script src="/xwiki/bin/view/Util/JSTrans?xpage=plain&lang=${lang}"></script>
## and comment the next one out instead
##<script src="/js/0/lang_${lang}.js"></script>
<script src="/xwiki/js/i18n.js"></script>

<script src="$xwiki.getSkinFile('js/viditalk_stub.js')"></script>
<script src="$xwiki.getSkinFile('js/vidiembed_curiki.js')"></script>

<script src="/xwiki/js/curriki-main.js"></script>
<script src="/xwiki/js/curriki-module-addpath.js"></script>
<script src="/xwiki/js/curriki-module-nominate.js"></script>



#if($!headerfile == "html") ## {
<script type="text/javascript" src="$xwiki.getSkinFile("accordion/accordion.js")"></script>
#end ## }
<script type="text/javascript" src="$xwiki.getSkinFile("xwiki.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("browserdetect.js")"></script>

#if($!headerfile == "http") ## {
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js")"></script>
#end ## }

#if($!headerfile == "help") ## {
<script type="text/javascript" src="$xwiki.getSkinFile("ajax/wzToolTip.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js")"></script>
#end ## }

#if($headerfile == "html") ##{
<script type="text/javascript" src="$xwiki.getSkinFile("ajax/wzToolTip.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/presentation.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("scripts/shortcuts.js", true)"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("swfobject.js")"></script>

#if($context.action=="admin") ##{
<script type="text/javascript" src="$xwiki.getSkinFile("usersandgroups.js", true)"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("suggest/ajaxSuggest.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("scripts/lightbox/lightbox.js")"></script>
#end ##}
#end ## }
