#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
## this is loaded when /xwiki/bin/login/X/Y is loaded
#set($targets=$xwiki.parseGroovyFromPage("Registration.Targets"))##
#set($junk=$targets.init($request,$xwiki))##
#if ($context.user != 'XWiki.XWikiGuest')##
##$response.sendRedirect($redir)##
## rather JS-redirect so that we get frame=_top
$xwiki.includeForm("Registration.JumpToTop")
#elseif($doc.fullName != 'XWiki.XWikiLogin')## still redirecting to myself
#set($qs = "$!{request.queryString}")##
#if(!$request.getParameter('xredirect'))##
    #set($qs = "xredirect=$escapetool.url($doc.getURL('view'))&${qs}")##
#end##
$response.sendRedirect($xwiki.getURL('XWiki.XWikiLogin', 'login', $qs))##
#elseif($request.method=="POST")##
  ## if we arrived here, login was unsuccessfully posted, there should be messages
  ## store them in session and take them for the next query on http
  $request.session.setAttribute("messagesForNextLoginRequest",$xwiki.parseMessage())##
  $request.session.setAttribute("lastUserName","$!request.j_username")##
  $response.sendRedirect("http://${xwiki.xWiki.Param('curriki.system.hostname', 'missing-curriki.system.hostname-property-in-config')}/xwiki/bin/login/XWiki/XWikiLogin?$!request.getQueryString()")##
#else## we're on the right place... display login or register
$xwiki.includeForm("Registration.LoginOrRegister",false)##
#end##
