#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
## this is loaded when /xwiki/bin/login/X/Y is loaded
## --- beware to end each line with ## at least until the first redirect
#if ($request.xredirect)##
#set($redir=$request.xredirect)##
#elseif ($request.session && $request.session.getAttribute("xredirect"))##
#set($redir=$request.session.getAttribute("xredirect"))##
#elseif($context.user)##
#set($redir='/xwiki/bin/view${xcontext.user.replaceAll("\\.","/")}')##
#else##
#set($redir="/")##
#end##
#if($redir.startsWith("%2"))#set($redir=$redir.replaceAll("%2F","/"))#end##
#if($redir && ! $redir.startsWith("/xwiki/bin/view/XWiki/SocialLogin") && ! $redir.startsWith("/xwiki/bin/view/XWiki/XWikiLogin"))
$request.session.setAttribute("xredirect",$redir)
#end
#if ($context.user != 'XWiki.XWikiGuest')##
##$response.sendRedirect($redir)##
## rather JS-redirect so that we get frame=_top
<html><head><title>Redirection</title></head><body>##
<a href="${redir}" target="_top">login in process</a>##
<script type="text/javascript">
    window.moveOnTask = null;
    function moveOn() {
        window.top.location.replace("${redir}");
        window.clearInterval(window.moveOnTask);
        window.moveOnTask = null;
    }
    window.moveOnTask = window.setInterval(moveOn,50);</script>##
</body></html>##
#elseif($doc.fullName != 'XWiki.XWikiLogin')## still redirecting to myself (e.g. missing rights)
#set($qs = "$!{request.queryString}")
#if(!$request.getParameter('xredirect'))##
    #set($qs = "xredirect=$escapetool.url($doc.getURL('view'))&${qs}")##
#end##
$response.sendRedirect($xwiki.getURL('XWiki.XWikiLogin', 'login', $qs))
#else## we're on the right place... display login or register
$xwiki.includeForm("XWiki.LoginOrRegister",false)
#end
