/*
**************************************************
                NEA GPS NETWORK
  ----------------------------------------------
  Author: Ionut Maxim | ionut.maxim@xwiki.com
  Last Update: 2013
**************************************************
*/

/*
  Colors Index
=================================================
  Red -------- #CE1126
  Yellow ----- #FCD116
  Orange ----- #F96302
  Green ------ #8CD600
  Blue ------- #0038A8
  --------------------
  Dark Blue -- #164891
  Light Blue - #777DBB
=================================================
*/
/*
  CONTENT MAP - use Ctrl+F to reach your destination ;)
==================================================================================================
  0100 | Reset
  0200 | General styles
  0300 | Layout
  0400 | Navigation

  0500 | Discussion Forums
  0510 | Forums View
  0520 | Topic View

  1000 | Panels
  1100 | Discussion Topics
 
  8000 | Custom JIRAs
 
  9000 | Quick Fixes
==================================================================================================
*/
/*
==================================================================================================
  9999 | DEMO
================================================================================================== 
*/
/*
--------------------------------------------------------------------------------------------------
  9999 | DEMO SUBLEVEL 1
--------------------------------------------------------------------------------------------------
*/
/*
  DEMO SUBLEVEL 2
--------------------------------------------------------------------------------------------------
*/

/*
==================================================================================================
  0200 | GENERAL STYLES
================================================================================================== 
*/
/* Use Open Sans font family from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,700italic);
/*
XWIKI STYLES          (notice the .curriki prefix)
--------------------------------------------------------------------------------------------------
*/
body.curriki#body { background: #DDDDDD !important; }
/* logo */
.curriki #header #header-logo img { max-height: 65px !important; }
/* search box */
.curriki #header-search .search-box { background-color: #164891 !important; border: none !important; }
/* left nav */
.curriki #navigation-inner a { color: white !important; }
.curriki #navigation-inner .titles { background-color: #164891 !important; }
.curriki #navigation-inner ul { background-color: #DDE9FB !important; }
.curriki #navigation-inner ul a { color: #164891 !important; }
/* buttons */
.curriki .button-orange { background-color: #FCD116 !important; border: 1px solid #F1C803 !important; color: black !important; }
.curriki .button-orange:hover { background-color: #F96302 !important; border: 1px solid #F1C803 !important; color: white !important; }
/* tables */
.table-header { background-color: #0038A8 !important; }
.table-results { border-top: 2px solid #0038A8 !important; }
.titleheader-red { background-color: #0038A8 !important; }
.titleheader-red .titleheader-right { background-color: #777DBB !important; }
/* profile sections */
.blue, .members .headerbar, .groups .headerbar, .form-wrp fieldset h3 { background: #164891 !important; }

.odd, .even {background-color: transparent !important;}
.none, .hidden { display: none !important; }
a {color: #0038A8 ;}
a:visited {color: #777DBB;}
:hover {
  -webkit-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  -moz-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  -o-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  -ms-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
}
/*
==================================================================================================
  500 | DISCUSSION FORUMS
================================================================================================== 
*/
/*
--------------------------------------------------------------------------------------------------
  510 | DISCUSSION FORUMS | FORUMS VIEW
--------------------------------------------------------------------------------------------------
*/
#forum-header { 
  position: relative; 
  margin: 20px 0 0 0; 
  display: block; 
  overflow: hidden; 
  height: auto;
  min-height: 50px
}
#forum-header h1 { font-size: 32px !important; font-weight: normal; display: inline; }
#forum-description { height: auto; display: block; padding: 10px; margin: 0; }

/* Sorting of topics
--------------------------------------------------------------------------------------------------
 */
 .forum-buttons {}
 .forum-buttons label {margin-right: 20px;}
.forum-sort-button-active,
.forum-sort-button-inactive {
  padding: 10px 20px 10px 10px; display: inline-block;
}
.forum-sort-button-desc { background: url("icons/black-arrow-ab.png") no-repeat scroll right center transparent; }
.forum-sort-button-asc { background: url("img/black-arrow-ba.png") no-repeat scroll right center transparent; }
.forum-sort-button-inactive.forum-sort-button-desc,
.forum-sort-button-inactive.forum-sort-button-asc {background: none;}

#forum-topic-nb {
  background: transparent url('img/forums.png') no-repeat 0px 0px !important;
  position: absolute; top: 0; right: 0;
  color: white;
  width: 30px !important; height: 20px !important;
  text-align: center !important;
  padding: 12px 2px 18px 18px;
  font-weight: bold;
}
#forum-buttons {
  clear: both; overflow: hidden;
  text-transform: uppercase;
  border-bottom: 1px solid #DDDDDD;
  padding: 0 !important;
}
#forum-buttons label { color: #AAAAAA; }
.addconversation-activator {
  padding: 10px 20px 10px 40px !important;
  background: #FFD801;
  border: none !important;
  font-weight: bold;
}

.topic {
  margin: 50px 0 20px 0 !important;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  clear:both !important; /* temp setting, remove once markup is fixed: topic inside topic atm */
  z-index: 100;
  min-width: 630px;
}
.topic .user-avatar img.photo {  
  background: #FFFFFF;
  float: left; display: inline-block;
  width: 80px !important;
  height: 80px !important;
  margin-right: 10px;

  -moz-box-shadow: inset 0px 0px 5px #DDDDDD;
  -webkit-box-shadow: inset 0px 0px 5px #DDDDDD;
  box-shadow: inset 0px 0px 5px #DDDDDD; 

  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}
h3.topic-title {
  float: right; clear: right; display: inline-block !important;
  padding: 10px !important;
  margin: 10px 65px 10px 10px !important;  
  border: 1px solid #DDDDDD !important;
  width: 70%;

  behavior: url(ie/PIE.htc);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
h3.topic-title a {color: #164891 !important; text-shadow: 1px 1px 1px #EEEEEE;}
.topic-comments {
  background: url("img/forums.png") no-repeat scroll -100px 5px transparent !important;
  color: white;
  font-size: 16px; font-weight: bold;
  height: 40px; width: 52px !important;
  padding: 14px 0 0;
  position: absolute; right: 30px; top: -30px;
  text-align: center;
}
.topic-comments a {color: white !important;}
.topic-comments:hover {
  background: url("img/forums.png") no-repeat scroll -100px -45px transparent !important;
}
/*
Topic Metadata
--------------------------------------------------------------------------------------------------
*/
.topic-metadata { clear: both; padding: 20px 0 !important; width: 100% !important; display: block !important; }
.topic-authortype,
.topic-metas {
  background: #F7F7F7;
  padding: 5px 10px 4px;
  color: #AAA;
  font-size: 10px; font-weight: bold !important;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  width: 90%;
  border: 1px solid white;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.topic-metas:hover {background: #FFF; border: 1px solid #F7F7F7;}
.topic-authortype {
  width: 60px;
  margin-right: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-align: center;
  width: 60px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.topic-date {
  background: transparent url('img/forums.png') no-repeat -700px 0px !important;
  padding: 0 0 0 20px; margin-left: 20px !important;
}
.topic-answers {
  background: transparent url('img/forums.png') no-repeat -600px -50px !important;
  padding: 0 0 0 20px; margin-left: 20px !important;
}
.topic-metas a { color: #AAA !important; }
.topic-vote {
  background: transparent url('img/forums.png') no-repeat -200px 0px !important;
  position: absolute; top: -20px !important; right: -25px !important;
  background: #DDDDDD;
  color:#C9C9C9;
  font-size: 14px !important; font-weight: bold;
  padding: 21px 0 0 0;
  width: 50px; height: 29px;
  text-align: center;
}
.topic-vote:hover {
  background: transparent url('img/forums.png') no-repeat -200px -50px !important;
  font-size: 0 !important;
}

/*
Topic Content / Description
--------------------------------------------------------------------------------------------------
*/
.topic-description {
  padding: 20px !important;
  border: 1px solid #DDDDDD;
  margin-right: 65px !important;
  position: relative;
  z-index: 102;
  background: white;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/*
Topic Actions
--------------------------------------------------------------------------------------------------
*/
.topic-actions {
  background: none repeat scroll 0 0 transparent;
  clear: both;
  font-size: 33px;
  height: 1em;
  margin-top: 20px !important;
  overflow: hidden;
}
.topic-actions .left {
  float: left; display: inline-block;
  width: 50% !important;
  overflow: hidden;
}
.topic-actions-flag,
.topic-actions-permalink {
  float: left; 
  display: inline-block;    
  height: 1em;
  line-height: 1em;
  margin-right: 10px;
}
.topic-actions-flag a {
  background: transparent url('img/forums.png') no-repeat -300px 0px !important;
  font-size: 0;  padding: 10px;
}
.topic-actions-flag a:hover {
  background: transparent url('img/forums.png') no-repeat -300px -100px !important;
}
.topic-actions-permalink a {
  background: transparent url('img/forums.png') no-repeat -700px -100px !important;
  font-size: 0;  padding: 10px;
}
.topic-actions-permalink a:hover {
  background: transparent url('img/forums.png') no-repeat -700px -150px !important;
}
/*
Permalink modal box
*/
.permalinkBox .xdialog-box {
  overflow: hidden;
  background-color: #DDDDDD;
  padding: 20px;
  filter: alpha(opacity=90); /* internet explorer */
  -khtml-opacity: 0.9;      /* khtml, old safari */
  -moz-opacity: 0.9;       /* mozilla, netscape */
  opacity: 0.9;           /* fx, safari, opera */ 

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
}
.permalinkBox .xdialog-box input.full {
  border: 1px solid #CCC;
  padding: 4px;
  width: 390px;
}
.permalinkBox .xdialog-box .buttons input.button {
  background: none !important;
  background-color: #FCD116 !important;
  border: 1px solid #F1C803 !important;
  color: black !important;
  display: inline !important;
}
.permalinkBox .xdialog-box .buttons input.button:hover {
  background: none !important;
  background-color: #F96302 !important;
  border: 1px solid #F1C803 !important;
  color: white !important;
  display: inline !important;
}
/*
Delete modal box
*/
.xdialog-modal-container .xdialog-box {
  overflow: hidden;
  background-color: #DDDDDD;
  padding: 20px;
  filter: alpha(opacity=90); /* internet explorer */
  -khtml-opacity: 0.9;      /* khtml, old safari */
  -moz-opacity: 0.9;       /* mozilla, netscape */
  opacity: 0.9;           /* fx, safari, opera */ 

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
}
.xdialog-modal-container .xdialog-box input.full {
  border: 1px solid #CCC;
  padding: 4px;
  width: 390px;
}
.xdialog-modal-container .xdialog-box .buttons input.button {
  background: none !important;
  background-color: #FCD116 !important;
  border: 1px solid #F1C803 !important;
  color: black !important;
  display: inline !important;
}
.xdialog-modal-container .xdialog-box .buttons input.button:hover {
  background: none !important;
  background-color: #F96302 !important;
  border: 1px solid #F1C803 !important;
  color: white !important;
  display: inline !important;
}

.topic-actions .center {
  background: transparent url('img/forums.png') no-repeat -400px 0px !important;
  display: inline-block;
  font-size: 0;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.topic-actions .center:hover {
  background: transparent url('img/forums.png') no-repeat -400px -50px !important;  
}
.topic-actions .right {
  float: right; display: inline-block;
  width: 40% !important;
  text-align: right;
}
.topic-addthis {
  color : #CCCCCC;
  float: right;
  margin-top: 15px !important;
}

#forum-more {}
#forum-more a {
  color: white !important;
  font-weight: bold;
  letter-spacing: 5px;
  display: block;
  text-align: center;
  padding: 7px 0px !important;
  background: #737373;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 65px !important;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#forum-more a:hover {
  text-decoration: none !important;
  background: orange;

}
/*
New Topic
--------------------------------------------------------------------------------------------------
*/
.addconversation-activator {
  background: #F2D42E url('img/forums.png') no-repeat 10px -140px !important;
}
.addconversation-activator:hover {
  background: orange url('img/forums.png') no-repeat 10px -140px !important;
}
/*
Moderator / Admin 
--------------------------------------------------------------------------------------------------
*/
.topic-moderation {
  float: right;
  clear: right;
  position: absolute; top: 175px; right: 40px; z-index: 101; 
}
.topic-edit,
.topic-delete {
  background: #60A35C url('img/forums.png') no-repeat 40px -93px !important;
  color: white !important;
  padding: 15px 30px !important;
  display: block;
  font-size: 0;
  width: 100%;
  position: absolute; top: 0; right: 0;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.topic-delete {
  background: #A25E5E url('img/forums.png') no-repeat -60px -93px !important;
  margin-top: 10px;
  top: 20px; right: 0;
}
.topic-edit:hover { position: absolute; right: -20px; background-color: green !important; }
.topic-delete:hover { position: absolute; right: -20px; background-color: red !important; }

/*
Topic View
--------------------------------------------------------------------------------------------------
*/
#conversation-topic {}
#document-title {
  margin-left: 0 !important;
}


/*
Comment Level
--------------------------------------------------------------------------------------------------
*/
.reply { padding: 0 !important; }
.reply .comments {display: none !important; }
.xwikicomment {
  background: #F8F8F8 !important;
  padding: 0 !important;
  border-bottom: 1px solid white !important;
  margin-left: 60px;
}
.commentavatar {
  margin: 0 !important; 
  padding: 10px !important;
}
.commentavatar img.photo {
  width: 30px;
  height: 30px;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; 
}
.commentheader {
  padding: 10px !important;
  text-transform: uppercase;
  color: #9A9A9A !important;
  border-bottom: none !important;
}
.commentheader a {
  color: #9A9A9A !important;
}
.commentcontent {}

/*
New Comment
--------------------------------------------------------------------------------------------------
*/
form.AddComment {
  border: none !important;
}
.commentform {
  border: none !important;
  padding: 10px !important;
  margin: 0;
}
/* 
Answers and Comments for a Topic
-------------------------------------------------------------------------------------------------- 
*/
.answer { 
  margin: 20px 0 !important; 
  padding: 20px 0 !important;
  display: block; 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; 
  border-bottom: 5px solid #EEE;
  border-top: 1px solid #EEE;
}
.answer:hover {}
.answer-layout { 
  position: relative;
  z-index: 200;
  display: block !important;
  overflow: hidden;
  clear: both !important;
}
.answer-layout .user-avatar,
.comment .user-avatar { overflow: hidden; width: 50px; height: 50px; float: left; clear: left; }
.user-avatar img { 
  border-radius: 50px; 
  margin-right: 20px; 
  width: 48px; 
  height: 48px; 
  behavior: url(ie/PIE.htc);
}
.answer-layout .user-avatar {
  margin-left: 17px;
}
.answer-reply { 
  border: 1px solid #DDDDDD; 
  border-radius: 8px; 
  margin: 0 65px 0 102px !important; 
  min-width: 460px; 
  position: relative; z-index: 202;
  background: white;
}
.answer-meta {
  background: #F7F7F7;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  color: #C9C9C9 !important;

  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.answer-meta:hover {background: #FFF;}

.answer-meta a {color: #868686 !important ;}

.answer-meta .time {
  background: transparent url('img/forums.png') no-repeat -700px 0px !important;
  padding: 0 0 0 20px; margin-left: 20px !important;
}
.answer-meta .comments {
  background: transparent url('img/forums.png') no-repeat -600px -50px !important;
  padding: 0 0 0 20px !important; margin-left: 20px !important;
}


.answer-content { 
  padding: 10px 10px 20px 10px !important; 
  overflow: hidden !important;
  font-family: Open Sans, sans-serif;
}

/* 
Limit content / make it responsive
--------------------------------------------------------------------------------------------------
*/
.answer-content img,
.answer-content object,
.answer-content p {
  max-width: 100% !important;
}
.answer-content p {
  line-height: 1.6em !important;

}

.answer-content .actions {
  float: left; display: inline-block;
  width: 50% !important;
}
.answer-content .actions .flag,
.answer-content .actions .conversation-permalink {
  float: left; 
  display: inline-block;    
  height: 1em;
  line-height: 1em;
  margin-right: 10px;
}
.answer-content .actions .flag a {
  background: transparent url('img/forums.png') no-repeat -300px 0px !important;
  font-size: 0;
  padding: 10px;
}
.answer-content .actions .flag a:hover {
  background: transparent url('img/forums.png') no-repeat -300px -100px !important;
}
.answer-content .actions .conversation-permalink a {
  background: transparent url('img/forums.png') no-repeat -700px -100px !important;
  font-size: 0;
  padding: 10px;
}
.answer-content .actions .conversation-permalink a:hover {
  background: transparent url('img/forums.png') no-repeat -700px -150px !important;
}

.answer-moderation { 
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 201;
  float: right; clear: right; 
}

/*
Moderator / Admin 
--------------------------------------------------------------------------------------------------
*/

.answer-moderation { float: right; clear: right; position: relative; margin: -70px 39px 0 0;}
.answer-moderation .edit,
.answer-moderation .delete {
  background: #60A35C url('img/forums.png') no-repeat 40px -93px !important;
  color: white !important;
  display: block;
  font-size: 0;
  width: 100%;
  padding: 15px 30px !important;
  position: absolute; top: 0; right: 0;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.answer-moderation .delete {
  background: #A25E5E url('img/forums.png') no-repeat -60px -93px !important;
  margin-top: 10px;
  top: 20px; 
  right: 0;
}
.answer-moderation .edit:hover { position: absolute; right: -20px; background-color: green !important; }
.answer-moderation .delete:hover { position: absolute; right: -20px; background-color: red !important; }

.comments { border-bottom: none !important; }
.answer > .comments {
  margin: 7px 4px 0 90px !important;
  padding: 0 2px 2px 2px !important;
  border: none !important;
  margin-top: 7px !important;
  clear: both !important;
  display: block;
  overflow: hidden;
}
.commentreplies .comment {
  overflow: hidden;
  border-top: 1px solid white;
  position: relative;
  z-index: 100;
  
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.comment.user .answer-layout {
  overflow: hidden;
  border-top: 1px solid white;
  position: relative;
  z-index: 100;
  
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.comment.odd .comment-layout {background: #F7F7F7;}
.comment.even .comment-layout {background: #DDDDDD;}

.comments p.noitems {
  padding: 10px;
  color: white;
  font-weight: bold;
  background: #CCC;
  margin-left: 10px;
  margin-right: 60px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}

.comment.user {
  background: #C9C9C9; 
  margin: 0 60px 0 10px;
  overflow: hidden;
  border-top: 1px solid white;
  
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.comment.user .answer-layout {
  border-top: none !important; 
  position: relative; 
  z-index: 102;
}

.comment .user-avatar {width: 30px; height: 30px;}
.comment .user-avatar img {width: 28px; height: 28px;}
.comment-reply {}
.comment-meta {padding: 7px 10px; display: inline-block; text-transform: uppercase; color: #777; font-size: 10px; margin-left:10px;}
.comment-meta:hover {background: #FFF;}
.commentreplies .comment-layout {
  border-top: none !important; 
  clear: both; 
  padding-left: 40px;
  margin: 0 60px 0 0;
  position: relative;
  z-index: 102;
  padding: 10px !important;
  overflow: hidden;
  
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.comment.user .comment-layout {
  border-top: none !important; 
  clear: both; 
  padding-left: 40px;
  margin: 0;
  padding: 10px !important;
  overflow: hidden;
  
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.comment.user .comment-content { padding: 0  !important; }
.comment-content .actions {
  float: left; display: block;
  width: auto !important;
  overflow: hidden;
}
.comment-content .actions .flag,
.comment-content .actions .commentreply,
.comment-content .actions .permalink {
  float: left; 
  display: inline-block;    
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 10px;
}
.comment-content .actions .flag a {
  background: transparent url('img/forums.png') no-repeat -300px 0px !important;
  font-size: 0;
  padding: 10px;
}
.comment-content .actions .flag a:hover {
  background: transparent url('img/forums.png') no-repeat -300px -100px !important;
}
.comment-content .actions .commentreply {display: none;}
/*
.comment-content .actions .commentreply a {
  background: transparent url('img/forums.png') no-repeat -800px -100px !important;
  font-size: 0;
  padding: 10px;
}
.comment-content .actions .commentreply a:hover {
  background: transparent url('img/forums.png') no-repeat -800px -150px !important;
}
*/
.comment-content .actions .permalink a {
  background: transparent url('img/forums.png') no-repeat -700px -100px !important;
  font-size: 0;
  padding: 10px;
}
.comment-content .actions .permalink a:hover {
  background: transparent url('img/forums.png') no-repeat -700px -150px !important;
}

/*
Moderator / Admin 
--------------------------------------------------------------------------------------------------
*/
.comment-moderation {
  float: right;
  clear: right;
  position: absolute; top: 0px; right: 33px; z-index: 101; 
}
.comment-moderation .edit,
.comment-moderation .delete {
  background: #60A35C url('img/forums.png') no-repeat 40px -93px !important;
  color: white !important;
  padding: 7px 30px !important;
  display: block;
  font-size: 0;
  width: 100%;
  position: absolute; top: 0; right: 0;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.comment-moderation .delete {
  background: #A25E5E url('img/forums.png') no-repeat -60px -93px !important;
  margin-top: 10px;
  top: 20px; right: 0;
}
.comment-moderation .edit:hover { position: absolute; right: -20px; background-color: green !important; }
.comment-moderation .delete:hover { position: absolute; right: -20px; background-color: red !important; }




/*
Panels
--------------------------------------------------------------------------------------------------
*/
/* 
Discussion Topics
--------------------------------------------------------------------------------------------------
*/
#discussionTopics {
  text-align: center;
  color: #AAA;
  font-size: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-weight: bold;
}
#discussionTopics h3 {
  background: #DDDDDD;
  line-height: 2em;
  margin-bottom: 5px !important;
  color: #333;
  text-transform: uppercase;

  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#discussionTopics > a { padding: 10px 4px !important; }
.tableScroll {}
#discussionTopicsTable {
  text-transform: none;
  font-size: 10px;
  width: 100%;
  font-weight: normal;
}
#discussionTopicsTable caption { font-size: 0; }
#discussionTopicsTable tr { border: 1px solid white; border-top: none; }
#discussionTopicsTable tr.odd { background: #FCFCFC ;}
#discussionTopicsTable tr.even { background: #FAFAFA; }
#discussionTopicsTable tr:hover { background: #FFFFD3 !important; }
#discussionTopicsTable tr:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#discussionTopicsTable th,
#discussionTopicsTable td { padding: 5px !important; font-size: 10px; text-shadow: 0 0 1px white; }
#discussionTopicsTable th { text-align: center !important; background: white; }
#discussionTopicsTable th.topics { 
  background: transparent url('img/forums.png') no-repeat -895px -46px !important;
  width: 70%; 
  text-align: left !important;
  padding-left: 30px !important;
  text-transform: uppercase;
}
#discussionTopicsTable th.votes { 
  background: transparent url('img/forums.png') no-repeat -893px -98px !important;
  width: 15%; 
  font-size: 0;
}
#discussionTopicsTable th.comments { 
  background: transparent url('img/forums.png') no-repeat -592px 4px !important;
  width: 15%; 
  font-size: 0;
}

#discussionTopicsTable td { text-align: left; }
#discussionTopicsTable td.topic { min-width: 0 !important; }
#discussionTopicsTable td.votes { min-width: 0 !important; text-align: center; }
#discussionTopicsTable td.comments { min-width: 0 !important; text-align: center; }
#discussionTopicsTable td a { display: block; }
/* Custom Sorting */
#discussionTopics > a.desc {
  background: url("icons/black-arrow-ab.png") no-repeat scroll right center transparent;
  padding: 10px 20px 10px 10px !important;
}

#discussionTopics > a.asc { 
  background: url("img/black-arrow-ba.png") no-repeat scroll right center transparent; 
  padding: 10px 20px 10px 10px !important;
}

/*
New Topic
--------------------------------------------------------------
*/
/*
.addconversation-container { overflow: hidden; display: inline-block; float: right; }
*/
.addconversation-container-button { overflow: hidden; display: inline-block; float: right; }
.addconversation-container { display: inline !important;}
.addconversation-container dt { line-height: 1.5em; margin: 10px 0 5px 0; }
.addconversation-container .buttons { text-align: right; }
.addconversation-container input[type="text"],
.addconversation-container textarea {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  box-shadow: inset 0 0 10px #DDDDDD;
  border: 1px solid white;
  width: 96%;
}
.addtopic-container-form {
  display: block;
  width: 100%;
  clear: both;
}
.addtopic-container-form form.addconversation {
  padding: 20px;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
  margin-bottom: 20px;
  display: block;
  clear: both;
}
form.addconversation input[type="text"] {
  width: 97%;
}
/*
New Answer
*/
.addanswer-container {
  display: block;
  border-bottom: 1px solid #DDDDDD;
  margin: 20px 65px 40px 0;
  width: 90%;
  overflow: hidden;
}
.addanswer-container dl dt {
  font-size: 2em;
  line-height: 2em;
}
.addanswer-container-form form.addconversation {
  padding: 0px 20px 20px;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
  margin-bottom: 20px;
  border-radius: 10px;
  
}

/*
==================================================================================================
  8000 | CUSTOM JIRAS
================================================================================================== 
*/
/* CURRIKI-6110 */
.titleheader.titleheader-red {background-color: #006699 !important ;}
/* CURRIKI-6207 */
#panels {
  overflow: hidden;
}
#left-panel {
  float: left;
  clear: left;
  display: inline-block;
  margin: 0; padding: 0;
}
#right-panel {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  width: 630px;
  margin-left: 0 !important;
  padding-left: 0 !important;
  overflow: auto !important;
}
/* CURRIKI-6156 */
.groups-home .head .frame-inset-logo img { max-width: 83px; }

/*
==================================================================================================
  9000 | QUICK FIXES 
         
         If you are in a hurry drop your fix here but please document it with a short comment
================================================================================================== 
*/
/*
Various Fixes
---------------------------------------------
*/
#navigation-inner .titles:hover span.collapsed, 
#navigation-inner span.collapsed, 
#navigation-inner span.expanded, 
#navigation-inner .titles:hover span.expanded, 
#navigation-inner .selected span.collapsed {
    background-image: url("img/sprite_general.png") !important;
}
.commentedit {
  display: inline-block;
  width: auto;  
}
/*
Fix discussion display on groups tabs
--------------------------------------------------------------------------------------------------
*/
#section_2 { border: none !important; }
#section2content { padding: 0 !important; }
#groups-discussions-main { background: none !important; }
#groups-discussions-main  #section_1 { border:none !important; }
#groups-discussions-main  #section1content { padding: 0 !important; }


#groups-discussions-main .answer-moderation {
  margin: -70px 19px 0 0;  
}

#groups-discussions-main #forum-header {
  position: inherit;
  float: none;
  display: inline;
  margin: 0;
  min-height: 0;
  overflow: visible;

}
#groups-discussions-main #forum-topic-nb {
  background: url("img/forums.png") no-repeat scroll 0 0 transparent !important;
  color: white;
  display: inline-block;
  float: right;
  font-weight: bold;
  padding: 12px 7px 17px 22px;
  text-align: center !important;
  position: relative;
  width: 21px !important;
  margin-top: -7px;
}
#groups-discussions-main #forum-description {display: none;}
#groups-discussions-main #forum-buttons {
  clear: none; 
  margin: 20px 60px 0 0 ;
}

#groups-discussions-main .addconversation-container {margin-right: 0 !important;}

