/*
Colors Index
=================================================
  Red -------- #CE1126
  Yellow ----- #FCD116
  Orange ----- #F96302
  Green ------ #8CD600
  Blue ------- #0038A8
  --------------------
  Dark Blue -- #164891
  Light Blue - #777DBB
=================================================
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,700italic);
/*
==================================================
WORDPRESS STYLES
==================================================
*/
/*
Header
--------------------------------------------------
*/

/* top bar */
body {
    border-top: 5px solid #8CD600 !important;
}
/* stats */
#members p span,
#members p span a {
    color: #8CD600 !important;
}
/* donate button */
#donate {display: none !important;}
/* hero area tabs */
#slider-nav ul li a {
    background: #FEEEA0 !important;
    color: #777 !important;
}
#slider-nav ul li a.ls-nav-active {
    background: #FCD116 !important;
    color: #333 !important;
}
/*section titles*/
#main .pod-title {
    background: #164891 !important;
    color: white !important;
}
/* sidebar TOC title */
#resource-toc .x-panel-header {
    background: #164891 !important;
}
/*
==================================================
XWIKI STYLES          (notice the .curriki prefix)
==================================================
*/
body.curriki#body {
    background: #EEE !important;
}
/* logo */
.curriki #header #header-logo img {
    max-height: 65px !important;
}
/* search box */
.curriki #header-search .search-box {
    background-color: #164891 !important;
    border: none !important;
}
/* left nav */
.curriki #navigation-inner a {
    color: white !important;
}
.curriki #navigation-inner .titles {
    background-color: #164891 !important;
}
.curriki #navigation-inner ul {
    background-color: #777DBB !important;
    background-color: #BCBFDE !important;
    background-color: #DDE9FB !important;
}
.curriki #navigation-inner ul a {
    color: #164891 !important;
}
/* buttons */
.curriki .button-orange {
    background-color: #FCD116 !important;
    border: 1px solid #F1C803 !important;
    color: black !important;
}
.curriki .button-orange:hover {
    background-color: #F96302 !important;
    border: 1px solid #F1C803 !important;
    color: white !important;
}
/* tables */
.table-header {
    background-color: #0038A8 !important;
}
.table-results {
    border-top: 2px solid #0038A8 !important;
}
.titleheader-red {
    background-color: #0038A8 !important;
}
.titleheader-red .titleheader-right {
    background-color: #777DBB !important;
}
/* profile sections */
.blue, .members .headerbar,
.groups .headerbar, .form-wrp fieldset h3 {
    background: #164891 !important;
}

/*
==========================================
JIRAs
==========================================
*/
/* CURRIKI-6110 */
.titleheader.titleheader-red {
  background-color: #006699 !important ;  
}


/*
============================================
FORUM VIEW
============================================
*/
#forum-header {
  position: relative;
}
#forum-header h1 {
  font-size: 32px !important;
  font-weight: normal;
}
#forum-topic-nb {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat 0px 0px !important;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 30px !important; 
  height: 20px !important;
  text-align: center !important;
  padding: 12px 22px 18px 18px;
  font-weight: bold;
}
#forum-buttons {
  clear: both; overflow: hidden;
  text-transform: uppercase;
  border-bottom: 1px solid #F0F0F0;
  padding: 0 !important;
}
#forum-buttons label {
  color: #C0C0C0;
}
.forum-sort-button-inactive {
  padding: 10px 20px !important;
  display: inline-block;
}
.addconversation-container {
  overflow: hidden;
  display: inline-block;
  float: right;
}
.addconversation-activator {
  padding: 10px 20px 10px 40px !important;
  background: #FFD801;
  border: none !important;
  font-weight: bold;
}

.topic {
  margin: 50px 0 40px 0 !important;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  clear:both !important; /* temp setting, remove once markup is fixed: topic inside topic atm */
  z-index: 100;
}
.topic .user-avatar .photo {  
  float: left; display: inline-block;
  width: 80px !important;
  height: 80px !important;
  border: 1px solid #F0F0F0;  
  margin-right: 10px;
  -moz-box-shadow: inset 0px 0px 5px #EEE;
  -webkit-box-shadow: inset 0px 0px 5px #EEE;
  box-shadow: inset 0px 0px 5px #EEE; 
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}
h3.topic-title {
  float: right; clear: right; display: inline-block !important;
  padding: 10px !important;
  margin: 10px 65px 10px 10px !important;  
  border: 1px solid #F0F0F0 !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 70%;
}
.topic-comments {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -100px 5px !important;
  position:absolute;
  top: -40px;
  right: 25px;
  padding: 10px 5px 0 0;
  width: 45px !important;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
/*
Topic Metadata
------------------------------------------------
*/
.topic-metadata {
  clear: both;
  padding: 20px 0 !important;
  width: 100% !important;
  display: block !important;
}
.topic-authortype,
.topic-metas {
  background: #C9C9C9;
  padding: 5px 10px 4px;
  text-transform: uppercase;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold !important;
  display: inline-block;
  position: relative;
  width: 74%;
}
.topic-authortype {
  width: 60px;
  margin-right: 20px;
  text-align: center;
}
.topic-date {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -700px 0px !important;
  padding: 0 0 0 20px;
  margin-left: 20px !important;
}
.topic-answers {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -600px -50px !important;
  padding: 0 0 0 20px;
  margin-left: 20px !important;
}

.topic-metas a {color: white !important;}
.topic-vote {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -200px 0px !important;
  position: absolute;
  top: -20px !important; right: -25px !important;
  background: #F0F0F0;
  color:#C9C9C9;
  font-size: 14px !important;
  font-weight: bold;
  padding: 21px 0 0 0;
  width: 50px;
  height: 29px;
  text-align: center;
}
/*
Topic Content / Description
------------------------------------------------
*/
.topic-description {
  padding: 20px !important;
  border: 1px solid #F0F0F0;  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 65px !important;
  position: relative;
  z-index: 102;
  background: white;
}
/*
Topic Actions
------------------------------------------------
*/
.topic-actions {
  clear: both;
  background: none;
  overflow: hidden;
  margin-top: 20px !important;
}
.topic-actions .left {
  float: left; display: inline-block;
  width: 50% !important;
}
.topic-actions-flag,
.topic-actions-permalink {
  float: left; display: inline;
}


.topic-actions-flag a {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -300px -50px !important;
  font-size: 0;
  padding: 10px;
}
.topic-actions-flag a:hover {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -300px -100px !important;
}

.topic-actions .center {
  background: transparent url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -400px 0px !important;
  display: inline-block;
  font-size: 0;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.topic-actions .right {
  float: right; display: inline-block;
  width: 40% !important;
  text-align: right;
}
.topic-addthis {
  color : #C0C0C0;
}

#forum-more {}
#forum-more a {
  color: white !important;
  font-weight: bold;
  letter-spacing: 5px;
  display: block;
  text-align: center;
  padding: 7px 0px !important;
  background: #737373;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 65px !important;
}

#forum-more a:hover {
  text-decoration: none !important;
  background: orange;

}
/*
New Topic
------------------------------------------------
*/
.addconversation-activator {
  background: #F2D42E url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat 10px -140px !important;
}
.addconversation-activator:hover {
  background: orange url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat 10px -140px !important;
}
/*
Moderator / Admin 
------------------------------------------------
*/
.topic-moderation {
  float: right;
  clear: right;
  position: absolute;
  top: 175px;
  right: 40px;
  z-index: 101;
}
.topic-edit,
.topic-delete {
  background: green url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat 40px -93px !important;
  color: white !important;
  padding: 15px 30px !important;
  display: block;
  font-size: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
  position: absolute;
  top: 0; 
  right: 0;
}
.topic-delete {
  background: red url('http://dev.gpsnetwork.org/xwiki/skins/curriki8/img/forums.png') no-repeat -60px -93px !important;
  margin-top: 10px;
  top: 20px; 
  right: 0;
}
.topic-edit:hover {
  position: absolute;
  right: -20px;
}
.topic-delete:hover {
  position: absolute;
  right: -20px;
}


/*
Various Fixes
---------------------------------------------
*/

#navigation-inner .titles:hover span.collapsed, 
#navigation-inner span.collapsed, 
#navigation-inner span.expanded, 
#navigation-inner .titles:hover span.expanded, 
#navigation-inner .selected span.collapsed {
    background-image: url("http://dev.gpsnetwork.org//xwiki/skins/curriki8/img/sprite_general.png") !important;
}