/*
**************************************************
                NEA GPS NETWORK
  ----------------------------------------------
  Author: Ionut Maxim | ionut.maxim@xwiki.com
  Last Update: 2013
**************************************************
*/

/*
  Colors Index
=================================================
  Red -------- #CE1126
  Yellow ----- #FCD116
  Orange ----- #F96302
  Green ------ #8CD600
  Blue ------- #0038A8
  --------------------
  Dark Blue -- #164891
  Light Blue - #777DBB
=================================================
*/
/*
  CONTENT MAP - use Ctrl+F to reach your destination ;)
==================================================================================================
  0100 | Reset
  0200 | General styles
  0300 | Layout
  0400 | Navigation

  0500 | Discussion Forums (moved to discussions.css)
  0510 | Forums View
  0520 | Topic View

  1000 | Panels
  1100 | Discussion Topics
 
  8000 | Custom JIRAs
 
  9000 | Quick Fixes
==================================================================================================
*/
/*
==================================================================================================
  9999 | DEMO
================================================================================================== 
*/
/*
--------------------------------------------------------------------------------------------------
  9999 | DEMO SUBLEVEL 1
--------------------------------------------------------------------------------------------------
*/
/*
  DEMO SUBLEVEL 2
--------------------------------------------------------------------------------------------------
*/

/*
==================================================================================================
  0200 | GENERAL STYLES
================================================================================================== 
*/
/* Use Open Sans font family from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,700italic);
/*
XWIKI STYLES          (notice the .curriki prefix)
--------------------------------------------------------------------------------------------------
*/
body.curriki#body { background: #DDDDDD !important; }
/* logo */
.curriki #header #header-logo img { max-height: 65px !important; }
/* search box */
.curriki #header-search .search-box { background-color: #164891 !important; border: none !important; }
/* left nav */
.curriki #navigation-inner a { color: white !important; }
.curriki #navigation-inner .titles { background-color: #164891 !important; }
.curriki #navigation-inner ul { background-color: #DDE9FB !important; }
.curriki #navigation-inner ul a { color: #164891 !important; }
/* buttons */
.curriki .button-orange { background-color: #FCD116 !important; border: 1px solid #F1C803 !important; color: black !important; }
.curriki .button-orange:hover { background-color: #F96302 !important; border: 1px solid #F1C803 !important; color: white !important; }
/* tables */
.table-header { background-color: #0038A8 !important; }
.table-results { border-top: 2px solid #0038A8 !important; }
.titleheader-red { background-color: #0038A8 !important; }
.titleheader-red .titleheader-right { background-color: #777DBB !important; }
/* profile sections */
.blue, .members .headerbar, .groups .headerbar, .form-wrp fieldset h3 { background: #164891 !important; }

.odd, .even {background-color: transparent !important;}
.none, .hidden { display: none !important; }
a {color: #0038A8 ;}
a:visited {color: #777DBB;}
:hover {
  -webkit-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  -moz-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  -o-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  -ms-transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
  transition: color 500ms, background-color 500ms, border 500ms, right 500ms;
}


/*
==================================================================================================
  8000 | CUSTOM JIRAS
================================================================================================== 
*/
/* CURRIKI-6110 */
.titleheader.titleheader-red {background-color: #006699 !important ;}
/* CURRIKI-6207 */
#panels {
  overflow: hidden;
}
#left-panel {
  float: left;
  clear: left;
  display: inline-block;
  margin: 0; padding: 0;
}
#right-panel {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  width: 630px;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
/* CURRIKI-6156 */
.groups-home .head .frame-inset-logo img { max-width: 83px; }
/* CURRIKI-6289 */
#cancelbutton, 
#nextbutton {  
  background: none !important; 
  border: none !important;
}
/*
==================================================================================================
  9000 | QUICK FIXES 
         
         If you are in a hurry drop your fix here but please document it with a short comment
================================================================================================== 
*/
/*
Various Fixes
---------------------------------------------
*/
#navigation-inner .titles:hover span.collapsed, 
#navigation-inner span.collapsed, 
#navigation-inner span.expanded, 
#navigation-inner .titles:hover span.expanded, 
#navigation-inner .selected span.collapsed {
    background-image: url("img/sprite_general.png") !important;
}
.commentedit {
  display: inline-block;
  width: auto;  
}
/*
Fix discussion display on groups tabs
--------------------------------------------------------------------------------------------------
*/
#section_2 { border: none !important; }
#section2content { padding: 0 !important; }
#groups-discussions-main { background: none !important; }
#groups-discussions-main  #section_1 { border:none !important; }
#groups-discussions-main  #section1content { padding: 0 !important; }


#groups-discussions-main .answer-moderation {
  margin: -70px 19px 0 0;  
}

#groups-discussions-main #forum-header {
  position: inherit;
  float: none;
  display: inline;
  margin: 0;
  min-height: 0;
  overflow: visible;

}
#groups-discussions-main #forum-topic-nb {
  background: url("img/forums.png") no-repeat scroll 0 0 transparent !important;
  color: white;
  display: inline-block;
  float: right;
  font-weight: bold;
  padding: 12px 7px 17px 22px;
  text-align: center !important;
  position: relative;
  width: 21px !important;
  margin-top: -7px;
}
#groups-discussions-main #forum-description {display: none;}
#groups-discussions-main #forum-buttons {
  clear: none; 
  margin: 20px 60px 0 0 ;
}

#groups-discussions-main .addconversation-container {margin-right: 0 !important;}

