#asset-header h2 a {
	background:none;
	padding-left:0
}

.sub-asset-wrapper .arrow-icon-wrapper a.icon-mini, .asset-display-download a.icon-link, .sub-asset-wrapper a.button-link, .sub-asset-wrapper a.button-link-download { 
	float:right;
}
.sub-asset-wrapper a.button-link, button.button-link, #print-banner-wrapper a.button-link, #asset-attribution, #asset-rating, ul#asset-tabs, ul#asset-links, ul#function-tabs, #left-panel, .expanded #left-panel, #header-member, #header-search, #breadcrumb, html > body #actionmenu, #print-banner-wrapper, .sub-asset-wrapper button.button-link, #print-banner-wrapper button.button-link, #footerglobal {
	display: none;
}

.arrow-icon-wrapper {
	width: 20px;
}

.sub-asset-wrapper h3, .asset-display-download, .asset-display-text {
	margin-left: 20px;
}

.expanded #right-panel, #right-panel {
	margin: 0;
	padding-left: 0;
	width: 100% !important;
}

