#asset-header h2 a {
	background:none;
	padding-left:0
}

.sub-asset-wrapper .arrow-icon-wrapper a.icon-mini, .asset-display-download a.icon-link, .sub-asset-wrapper a.button-link, .sub-asset-wrapper a.button-link-download { 
	float:right;
}
.sub-asset-wrapper a.button-link, button.button-link, #print-banner-wrapper a.button-link {
	display: none;
}

.arrow-icon-wrapper {
	width: 20px;
}

.sub-asset-wrapper h3, .asset-display-download, .asset-display-text {
	margin-left: 20px;
}

button {display: none;}