#**
 * Print entry point. It is called from view.vm
 * It allows nice printing of the site and of assets
 *#
#asset_findtitle($doc)
#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("printheader.vm")
<div id="panels" class="expanded">
   <div id="right-panel">
#asset_display($doc "view")
   </div>
</div>
##template("footer.vm")
#template("htmlfooter.vm")
