#**
  *  Special header for print
  *#
<!-- logo -->
#set($altinfo = $msg.get("header.altinfo"))
#set($logourl = $xwiki.getSkinFile("img/nea-gps-logo.jpg"))
<div id="header">
    <div id="header-logo">
        <a href="$xwiki.getURL("Main.WebHome", "view")" title="$altinfo">
            <img src="$logourl" title="$altinfo" alt="$altinfo" />
        </a>
    </div>
    <div id="print-banner-wrapper">
        <div id="print-meta">
            <div id="print-meta-inner">
                <h4>$msg.get("mode.print.header_title")</h4>
                <p>$msg.get("mode.print.header_txt", [$doc.displayTitle])</p>
                <a href="$doc.getURL("view", "bc=$!{request.bc}")">$msg.get("mode.print.header.view_link")</a>
            </div>
        </div>
        <div id="print-close">
            <div id="print-close-inner">
                <button class="button-link button-link-cancel" onclick="window.close();">$msg.get("mode.print.header.close_button")</button>
                <button class="button-link button-link-print" onclick="document.getElementById('print-banner-wrapper').style.display='none'; window.print(); ">$msg.get("mode.print.header.print_button")</button>
            </div>
        </div>
    </div>
</div>



