body#body {
  text-align: left;
  min-width: auto;
}

/* CURRIKI-6124 Wysiwyg 2.0 table styles */
table {
    background-color: #FFFFFF;
    border: 1px solid #A5A5A5;
    margin: 1px;
    width: 100%;
    empty-cells: show;
    font-size: 100%;
    text-align: left;
}

th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #C5C5C5 !important;
    font-size: 14px !important;
    padding: 5px 10px;
    text-align: left;
    font-weight: 100;
}

td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    font-size: 12px;
    padding: 5px 10px;
}
