/* macro styles from xwiki wysiwyg */
.macro-selected{background-color:AliceBlue;border:1px dotted #CCC;}
.macro-collapsed{border:1px dotted #CCC;padding:2px;}
.macro-block.macro-collapsed{margin-top:1px;}
.macro-collapsed .macro-placeholder{display:inline!important;}
.macro-collapsed .macro-output{display:none!important;}
.macro .macro-placeholder .macro-icon{background-image:url(../images/macro.gif);background-repeat:no-repeat;display:inline-block;height:16px;padding-right:2px;vertical-align:middle;width:16px;}
.main .macro .macro-placeholder{color:gray;display:none;font-family:monospace;white-space:nowrap;}
.xEmbeddedObject{background-image:url(../images/embed.gif);background-position:center center;background-repeat:no-repeat;border:1px solid #CCC;height:20px;width:40px;}

body#body {
  text-align: left;
  min-width: auto;
}

/* CURRIKI-6124 Wysiwyg 2.0 table styles */
table {
    background-color: #FFFFFF;
    border: 1px solid #A5A5A5;
    margin: 1px;
    width: 100%;
    empty-cells: show;
    font-size: 100%;
    text-align: left;
    width: 95%;
}

th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #C5C5C5 !important;
    font-size: 14px !important;
    padding: 5px 10px;
    text-align: left;
    font-weight: 100;
    border: 1px solid #A5A5A5;
}

td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #A5A5A5;
}

/* CURRIKI-6124 Bullets in wysiwyg 2.0 */
ul, ol {
  margin: 1em 0;
  padding-left: 30px;
}
ul ul {
    margin-left: 30px;
}
ul {
  font-family: Arial;
  list-style-type: disc;
}
