#if($context.getMode()==0) ## Visible only in a page
<div id="headerspace" class="layoutsection">
<div class="minwidth"></div>
<hr/>
  <div id="breadcrumbs">
 #currikiBreadcrumb($request.bc $doc)
  </div>
<hr/>
</div>
#end
