#**
  * TODO: remove and replace by a macro call
  * Breadcrumb added on top of pages
  *#
#if($context.getMode()==0) ## { ##Visible only in a page
  <div id="breadcrumb">
    #currikiBreadcrumb($request.bc $doc)
  </div>
#end ##}
