#**
 *  Asset standards tab view entry point. It is called from view.vm
 *#
#curriki_breadcrumb()
#if($doc.getObject("CurrikiCode.AssetClass"))
	#set($ok = $doc.use("CurrikiCode.AssetClass"))
<div id="asset-wrapper" class="view-${asset.categoryClass} mode-$!viewer">
	#asset_resourcefunctions($doc)
	#asset_icontitle($doc)
	#asset_attribution($doc)
	#asset_rating($doc)
	#asset_tabs($doc "standards")
	#asset_edit_isoriginalauthorjs($doc false)    
    <div id="asset-wrapper-inner">
		<iframe src="" name="abStandardsFrame" id="abStandardsFrame" frameborder="0"></iframe>
	</div> ##asset-wrapper-inner
</div> ##asset-wrapper
<script type="text/javascript">
var abStandardsFrame = document.getElementById('abStandardsFrame');
abStandardsFrame.src = document.location.protocol + "//" + document.location.host + "/ab/alignments/${doc.fullName}?ts=" + (new Date()).getMilliseconds();
var abStandardsCurrHeight;
function abStandardsHeight(docBody) {

	function setHeight() {
		if (docBody.scrollHeight != abStandardsCurrHeight) {
			abStandardsCurrHeight = docBody.scrollHeight;
			abStandardsFrame.style.height = jt_.valPx(abStandardsCurrHeight);
		}
	}

	setHeight();
	var timer = setInterval(setHeight, 50);
}
</script>
#else
	$msg.get("rve.information.pageisnotanasset")
#end
