#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("header.vm")

<div id="panels" class="expanded">

#template("leftpanels.vm")
#template("rightpanels.vm")
	
<div id="right-panel">