#**
  * Setup the external stylesheets loaded by the curriki pages used by the curriki pages
  * @author Curriki dev team
  *#
##<link href="$xwiki.getSkinFile('extjs/resources/css/ext-all.css')" rel="stylesheet" type="text/css" />
##<link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-2.2/resources/css/ext-all.css" />
<script type="text/javascript">
//<![CDATA[
var ejLoc = (("https:" == document.location.protocol) ? "https://"+document.location.host+"/xwiki/skins/curriki8/${gVersion}/extjs/" : "http://extjs.cachefly.net/ext-2.2/");
document.write(unescape("%3Clink rel='stylesheet' href='" + ejLoc + "resources/css/ext-all.css' type='text/css' /%3E"));
//]]>
</script>

<link href="/xwiki/js/$gVersion/curriki-js.css" type="text/css" rel="stylesheet" type="text/css" />
<link href="$xwiki.getSkinFile("stylebase.css", true).replaceAll('/curriki8/', "/curriki8/${gVersion}/") rel="stylesheet" type="text/css"  />
#if(!$request.style || $request.style=="1")
<link href="$xwiki.getSkinFile("style.css", true).replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css"  />
#end
##secondary (new) skin
#if(!$request.style || $request.style=="2")
<link href="$xwiki.getSkinFile("style2.css").replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css"  />
#if($doc.getObject("CurrikiCode.AssetClass"))
<link href="$xwiki.getSkinFile("views.css", false).replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css"  />
<link href="$xwiki.getSkinFile("print.css", false).replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css" media="print" />
#if("$!request.viewer"=="embed")
<link href="$xwiki.getSkinFile("embed.css", false).replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css"  />
#end
#end
#if("$!request.viewer"=="print")
<link href="$xwiki.getSkinFile("print_preview.css", false).replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css"  />
#end
#end
#set( $defaultstyle = $xwiki.getWebPreference("stylesheet"))
#set( $stylesheets = $xwiki.getWebPreference("stylesheets"))
## IE specific style sheet
#if($request.getHeader("user-agent").indexOf("MSIE")!=-1)
	<link href="$xwiki.getSkinFile("ie.css").replaceAll('/curriki8/', "/curriki8/${gVersion}/")" rel="stylesheet" type="text/css" title="default" />
#end
## Hook for inserting CSS skin extensions
<!-- com.xpn.xwiki.plugin.skinx.CssSkinExtensionPlugin -->	
