#**
  * Setup the external stylesheets loaded by the curriki pages used by the curriki pages
  * @author Curriki dev team
  *#
<script type="text/javascript">
//<![CDATA[
var ejcLoc = (("https:" == document.location.protocol) ? "https://"+document.location.host+"/xwiki/skins/curriki8/extjs/" : "http://extjs.cachefly.net/ext-2.2/");
document.write(unescape("%3Clink rel='stylesheet' type='text/css' href='" + ejcLoc + "resources/css/ext-all.css' /%3E"));
//]]>
</script>

<link href="/xwiki/js/curriki-js.css" type="text/css" rel="stylesheet" type="text/css" />
<link href="$xwiki.getSkinFile("stylebase.css", true)" rel="stylesheet" type="text/css"  />
<link href="$xwiki.getSkinFile("style2.css")" rel="stylesheet" type="text/css"  />
#if($doc.getObject("CurrikiCode.AssetClass"))
<link href="$xwiki.getSkinFile("views.css", false)" rel="stylesheet" type="text/css"  />
<link href="$xwiki.getSkinFile("print.css", false)" rel="stylesheet" type="text/css" media="print" />
#if("$!request.viewer"=="embed")
<link href="$xwiki.getSkinFile("embed.css", false)" rel="stylesheet" type="text/css"  />
#end
#end
#if("$!request.viewer"=="print")
<link href="$xwiki.getSkinFile("print_preview.css", false)" rel="stylesheet" type="text/css"  />
#end
#set( $defaultstyle = $xwiki.getWebPreference("stylesheet"))
#set( $stylesheets = $xwiki.getWebPreference("stylesheets"))
## IE specific style sheet
#if($request.getHeader("user-agent").indexOf("MSIE")!=-1)
	<link href="$xwiki.getSkinFile("ie.css")" rel="stylesheet" type="text/css" title="default" />
#end
## Hook for inserting CSS skin extensions
## Use $xwiki.ssfx.use("css-file.css", true)
<!-- com.xpn.xwiki.plugin.skinx.CssSkinExtensionPlugin -->	
<!-- com.xpn.xwiki.plugin.skinx.CssSkinFileExtensionPlugin -->
