#**
  *  Viewing an older revision of a page
  *  This is used for Assets and for Documentation pages in groups
  *  Also used by admins for other pages
  *#
#set($mode="viewrev")
#set($linkurl = $doc.getURL("view"))
#template("printheader.vm")
<div id="printcontainer">
#template("contentview.vm")
<div class="clearfloats"></div>
</div>## printcontainer
