#**
  *  Viewing an older revision of a page
  *  This is used for Assets and for Documentation pages in groups
  *  Also used by admins for other pages
  *#
#asset_findtitle($doc)
#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("printheader.vm")
#template("contentview.vm")
#template("footer.vm")
#template("htmlfooter.vm")
