
 
/** BEGIN Marvasti Additions **/
p {margin: 1em 0;}

#asset-wrapper { 
	padding: 8px 0;
	width: 100%;
}


a:hover {
	text-decoration: underline;
}

/** [BEGIN] FUNCTION TABS, ASSET HEADER, ASSET TABS, ASSET ATTRIBUTION **/

ul#function-tabs, ul#asset-attribution {
	margin: 0;
	padding: 0;
}

ul#function-tabs {
	float: right;
}

ul#function-tabs li {
	border-right: 1px solid #999;
	float: left;
	margin: 0;
	padding: 3px 8px 3px 8px;
}

ul#function-tabs li.last-item {
	border: 0;
}

ul#function-tabs li a {
	Padding: 3px 0 2px 25px;
}

li#tab-favorite a {
	background-position: 0 -5400px;
}

li#tab-email a {
	background-position: 0 -5490px;
}

li#tab-flag a {
	background-position: 0 -5580px;
}

li#tab-print a {
	background-position: 0 -5670px;
}

#asset-header {
	clear: right;
	margin-bottom: 7px;
}

#asset-header img {
	float: left;
	margin-right: 5px;
}

#asset-header h2 {
	font-size: 20px;
	line-height: 1.5em;
}

#asset-header h2 a {
	background-position: 0 0;
	display: block;
	padding: 3px 0 0 40px;
}

ul#asset-attribution {
	clear: left;
	float: left;
	font-size: 11px;
	margin-bottom: 10px;
	width: 55%;
}

ul#asset-attribution li {
	margin: 0;
	padding: 0;
}

ul#asset-attribution li#asset-avatar {
	float: left;
	margin-right: 5px;
}

#asset-rating {
	display: inline;
	float: right;
	margin: 0 5px 0 0;
}

#asset-rating a.icon-crs {
	float: left;
}

#asset-rating a.link-crs {
	line-height: 3em;
	margin: 0 0 0 5px;
}

ul#asset-links {
	float: right;
	margin: 7px 0;
	padding: 0;
}

ul#asset-links li {
	border-right: 1px solid #333;
	display: inline;
	margin: 0;
	padding: 0 5px 0 5px;
}

ul#asset-links li.last-item {
	border: 0;
	margin-right: 5px;
}


ul#asset-tabs {
	clear: both;
	display: inline;
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
 	width: 80%; 
}

ul#asset-tabs li {
	float: left;
	margin: 0 5px -1px 0;
	padding: 0;
}

ul#asset-tabs li a {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #000;
	color: #555;
	font-weight: bold;
	display: block;
	padding: 5px 10px;
	-moz-border-radius: 3px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
}

ul#asset-tabs li.current a {
	background: #FFFFCF;
	border: 1px solid #000;
	border-bottom-color: #ffffcf;
	color: #333;
	position: relative;
}

ul#asset-tabs li a:hover {
	text-decoration: underline;
}


/** [END] FUNCTION TABS, ASSET HEADER, ASSET TABS, ASSET ATTRIBUTION **/


/** [BEGIN] ASSET PAGE **/

.asset-page {
	clear: left;
}

.sub-asset-wrapper {
	background: #fff;
 	border: 1px solid #f5bd80;
	clear: right; 
	margin: 0 10px 8px 10px;
}

.category-collection, .category-folder {
	border-color: #88aaec;
}

.sub-asset-wrapper-inner {
 	padding: 10px 7px;
}

.sub-asset-wrapper h3 {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 40px;
}

.asset-display-media {
	margin: 10px 0;
	text-align: center;
}

.asset-display-media p {
	margin: 5px 40px;
}

#asset-wrapper-inner {
	background: #FFFFCF;
	border: 1px solid #000;
	float: left;
	padding-bottom: 10px;
	width: 100%;
}

.mode-edit #asset-wrapper-inner {
	padding-top: 10px;
}

.sub-asset-wrapper hr {
	height: 0;
    border: 0;
    border-top: 1px dashed #ccc;
	margin: 1em 0;
}

.asset-display-download, .asset-display-text {
	margin: 0 10px 0 40px;
}

.asset-display-text-inner, .asset-display-download-inner {
	width: 100%;
}

.category-text .asset-display-text {
	margin-left: 10px;
}

.category-wiki .asset-display-text {
	margin-right: 10px;	
}
/**
.section-content-wrapper p.download {
	height: 32px;
}

.section-content-wrapper .document-medium {
	background: transparent url(mimetypes/document_medium.gif) top left no-repeat;	
}

.section-content-wrapper p.download span, .section-content-wrapper p.download img, .section-content-wrapper p.download button { 
	display:block;
	float:left;
}

.section-content-wrapper p.download span { 
	max-width:350px;
	min-width:70px;
	padding-left:35px;
	position:relative;
}
**/
.sub-asset-wrapper img.tooltip { 	
	margin: 0 0 -3px 3px;
}

.category-external p.text-link a {
	background: url(images/externallink.gif) top right no-repeat;
	padding-right: 15px;
}

.asset-display-download a.icon-link {
	background:transparent url(images/sprite_filetype.gif) no-repeat scroll left top;
	background-repeat: no-repeat;
	display:block;
	float:left;
	height:40px;
	margin:0 5px 0 0;
	text-indent:-9999px;
	width:32px;
}

.category-document a.icon-link {
	background-position: 0 -2610px;
}

.category-image a.icon-link {
	background-position: 0 -1710px;
}

.category-archive a.icon-link {
	background-position: 0 -900px;
}

.category-external a.icon-link {
	background-position: 0 0;
}

.category-audio a.icon-link {
	background-position: 0 -90px;
}

.category-video a.icon-link {
	background-position: 0 -1260px;
}

.category-interactive a.icon-link {
	background-position: 0 -270px;
}

.category-video .asset-display-download-inner {
	margin-bottom: 5px;
}

.asset-display-download p.text-link {
	float: left;
	margin: 0;
	width: 70%;
}

.asset-display-download p.text-link a {
	margin-right: 5px;
}

.sub-asset-wrapper.category-interactive a.button-link-play, .sub-asset-wrapper.category-archive a.button-link-hide {
	margin-right: 10px;
}

.sub-asset-wrapper a.button-link, button.button-link {
	background-color:#FF7F00;
	border:1px solid #FF0000;
	color:#FFFFFF;
	cursor:pointer;
	display: inline-block;
	font-size: 11px;
	height: 23px;
	line-height: 23px;
	padding: 0 12px;
}

.sub-asset-wrapper a.button-link-download {
	float: right;
}

.sub-asset-wrapper a.button-link:hover {
	background: #ffb808;
	color: #000;
	text-decoration: none;
}

.asset-display-title a.icon-mini, #asset-header h2 a, ul#function-tabs li a {
	background-image: url(images/sprite_mediatype.gif);
	background-repeat: no-repeat;
}

.asset-display-title a.icon-mini {
	border: 0;
	display: block;
	float: left;
	height: 17px;
	text-indent: -9999px;
	width: 17px;
}

.category-image a.icon-mini { 
	background-position: 0 -3870px;
}

.category-document a.icon-mini, .category-text a.icon-mini { 
	background-position: 0 -3780px;
}

.category-archive a.icon-mini { 
	background-position: 0 -4140px;
}

.category-external a.icon-mini { 
	background-position: 0 -4320px;
}

.category-audio a.icon-mini { 
	background-position: 0 -4230px;
}

.category-video a.icon-mini { 
	background-position: 0 -4050px;
}

.category-interactive a.icon-mini { 
	background-position: 0 -4050px;
}

.category-folder .asset-display-title a.icon-mini, .category-collection .asset-display-title a.icon-mini {
	display: inline;
	margin: 0 0 0 5px;
	height: 21px;
	width: 27px;	
}

.category-folder .asset-display-title a.icon-mini {
	background-position: 0 -1890px;
}

.category-collection .asset-display-title a.icon-mini {
	background-position: 0 -1800px;
}

.arrow-icon-wrapper {
	width: 40px;
	float: left;
}

span.collapser {
	float: left;
}


/** [END] ASSET PAGE **/

/** [BEGIN] FLASH EMBEDS **/

#flashContent1 {
	text-align: center;
}

embed#flashItem1 {
	height: 310px !important;
	width: 450px !important;
}

/** [END] FLASH EMBEDS

/** FORM RELATED **/

.asset-display-edit {
	clear: both;
	padding: 0 0 0 10px;
}

.asset-display-edit label {
	font-weight: bold;
}

.asset-display-edit span {
	display: block;
}

.asset-display-edit .input-text input, .asset-display-edit .input-select select {
	width: 50%;
}

.asset-display-edit ul {
	margin: 0;
	padding: 0;
}

.asset-display-edit fieldset.buttons {
	text-align: center;
}

.asset-display-edit input.button-cancel {
	background: #ccc;
	border: 1px solid #a5a5a5;
	color: #000;
}

.asset-display-edit input.button-cancel, .asset-display-edit input.button-save {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 23px;	
	margin-right: 10px;
	overflow:visible;
	padding: 0 12px;
	width:auto;
}

.asset-display-edit input.button-save {
	background: #FF7F00;
	border: 1px solid #FF0000;
	color: #fff;
}

.asset-display-edit .input-checkbox input {
	position: relative;
	top: 2px;
}

.asset-display-edit input.button-cancel:hover {
	background: #aaa;
}

.asset-display-edit input.button-save:hover {
	background: #FFB808;
	color: #000;
}

.asset-display-edit ul li {
	margin: 0 0 15px 0;
}

.input-text input, .input-textarea textarea, .input-file input, .input-select select, .input-file-tree {
	margin-top: 5px;
}


/** EMBED VIEW **/

body.page-embed {
	margin: 0;
	padding: 0;
}

body.page-embed #asset-header {
	clear: none;
}

body.page-embed #asset-wrapper {
	border: 10px solid #5051A3;
	text-align: left;
	padding: 0;
	width: 580px;
}
body.page-embed #asset-wrapper-inner-inner {
	clear: both;
	margin: 0;
}

body.page-embed #asset-wrapper-inner {
	margin: 0 10px;
	width: auto;
}

body.page-embed h1#curriki-powered  {
	float: right;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 165px;
}

body.page-embed h1#curriki-powered a {
	background: url(images/CurrikiLogoEmbed.gif) top left no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 165px;	
}

#asset-wrapper ul li { list-style-type: none; }
 
 
body.view-print #left-panel, body.view-print ul#asset-tabs, body.view-print ul#asset-links, body.view-print .asset-display-title, body.view-print ul#function-tabs, body.view-print #asset-rating,
body.view-print ul#asset-attribution, body.view-print #breadcrumb, body.view-print #header-search, body.view-print #header-member, body.view-print .asset-display-text a.icon-link { 
	display: none;
}

body.view-print #asset-wrapper-inner {
	padding-top: 10px;
}

body.view-print .asset-display-text {
	margin: 0 10px;
}

body.view-print .asset-display-media p {
	margin: 5px 10px;
}

body.view-print #asset-header h2 a {
	background: none;
	padding: 0;
}

body.view-print .expanded #right-panel {
	margin: 0;
	width: 100%;
}