/** CLEARFIX **/

 
pre {
    background:#222; color:#fff; padding:10px;margin-top:0px;font-family:courier;width:600px; height:400px; 
}    
pre.htmlview {
    background:#ebebeb; color:#000; font-size:12px;
}

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix {display: inline-block;}  /* for IE/Mac */

.asset-display-download-inner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.asset-display-download-inner {display: inline-block;}  /* for IE/Mac */

#asset-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#asset-wrapper {display: inline-block;}  /* for IE/Mac */



 
 
/** BEGIN Marvasti Additions **/
p {margin: 1em 0;}

#asset-wrapper { 
	padding: 8px 0;
	width: 100%;
}


a:hover {
	text-decoration: underline;
}

/** [BEGIN] FUNCTION TABS, ASSET HEADER, ASSET TABS, ASSET ATTRIBUTION **/

ul#function-tabs {
	float: right;
}

ul#function-tabs li {
	border-right: 1px solid #999;
	float: left;
	margin: 0;
	padding: 3px 8px 3px 8px;
}

ul#function-tabs li.last-item {
	border: 0;
}

ul#function-tabs li a {
	Padding: 3px 0 2px 25px;
}

li#tab-favorite a {
	background-position: 0 -5400px;
}

li#tab-email a {
	background-position: 0 -5490px;
}

li#tab-flag a {
	background-position: 0 -5580px;
}

li#tab-print a {
	background-position: 0 -5670px;
}

#asset-header {
	clear: right;
	margin-bottom: 7px;
}

#asset-header img {
	float: left;
	margin-right: 5px;
}

#asset-header h2 {
	font-size: 20px;
	line-height: 1.5em;
}

#asset-header h2 a {
	background-position: 0 0;
	display: block;
	padding: 3px 0 0 40px;
}

ul#asset-attribution {
	clear: left;
	float: left;
	font-size: 11px;
	margin-bottom: 10px;
	width: 300px;
}

ul#asset-attribution li {
	margin: 0;
	padding: 0;
}

ul#asset-attribution li#asset-avatar {
	float: left;
	margin-right: 5px;
}

#asset-rating {
	display: inline;
	float: right;
	margin: 0 5px 0 0;
}

#asset-rating a.icon-crs {
	float: left;
}

#asset-rating a.link-crs {
	line-height: 3em;
	margin: 0 0 0 5px;
}

ul#asset-links {
	float: right;
	margin: 7px 0;
	padding: 0;
}

ul#asset-links li {
	border-right: 1px solid #333;
	display: inline;
	margin: 0;
	padding: 0 5px 0 5px;
}

ul#asset-links li.last-item {
	border: 0;
	margin-right: 5px;
}


ul#asset-tabs {
	clear: both;
	display: inline;
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
 	width: 80%; 
}

ul#asset-tabs li {
	float: left;
	margin: 0 5px -1px 0;
	padding: 0;
}

ul#asset-tabs li a {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #000;
	color: #555;
	font-weight: bold;
	display: block;
	padding: 5px 10px;
	-moz-border-radius: 3px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
}

ul#asset-tabs li.current a {
	background: #FFFFCF;
	border: 1px solid #000;
	border-bottom-color: #ffffcf;
	color: #333;
	position: relative;
}

ul#asset-tabs li a:hover {
	text-decoration: underline;
}


/** [END] FUNCTION TABS, ASSET HEADER, ASSET TABS, ASSET ATTRIBUTION **/


/** [BEGIN] ASSET PAGE **/

.asset-page {
	clear: left;
}

.sub-asset-wrapper {
	background: #fff;
 	border: 1px solid #f5bd80;
	clear: right; 
	margin: 0 10px 8px 10px; 
}

.category-collection, .category-folder {
	border-color: #88aaec;
}

.sub-asset-wrapper-inner {
 	padding: 10px 7px;
}

.sub-asset-wrapper h3 {
	font-size: 12px;
	line-height: 1.5em;
    margin: 0 40px; 
}

.asset-display-media {
	margin: 10px 0;
	text-align: center;
}

.asset-display-media p {
	margin: 5px 40px;
}

#asset-wrapper-inner {
	background: #FFFFCF;
	border: 1px solid #000;
 	float: left;  
	padding-bottom: 10px;
	width: 100%;
}

.mode-edit #asset-wrapper-inner, .mode-info-edit #asset-wrapper-inner {
	padding-top: 10px;
}

.sub-asset-wrapper hr {
	height: 0;
    border: 0;
    border-top: 1px dashed #ccc;
	margin: 1em 0;
}

.asset-display-download, .asset-display-text {
	margin: 0 10px 0 40px;
}

.asset-display-text-inner, .asset-display-download-inner {
	width: 100%;
}

.category-text .asset-display-text {
	margin-left: 10px;
}

.category-wiki .asset-display-text {
	margin-right: 10px;	
}


.sub-asset-wrapper img.tooltip { 
	background-image: url(images/sprite_general.gif);
	background-position: 0 -90px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 0 -3px 5px;
	padding: 0 0 0 16px;
}

.category-external p.text-link a {
	background: url(images/externallink.gif) top right no-repeat;
	padding-right: 15px;
}

.asset-display-download a.icon-link {
	background:transparent url(images/sprite_filetype.gif) no-repeat scroll left top;
	background-repeat: no-repeat;
	display:block;
	float:left;
	height:40px;
	margin:0 5px 0 0;
	text-indent:-9999px;
	width:32px;
}

.category-document a.icon-link {
	background-position: 0 -2610px;
}

.category-image a.icon-link {
	background-position: 0 -1710px;
}

.category-archive a.icon-link {
	background-position: 0 -900px;
}

.category-external a.icon-link {
	background-position: 0 0;
}

.category-audio a.icon-link {
	background-position: 0 -90px;
}

.category-video a.icon-link {
	background-position: 0 -1260px;
}

.category-interactive a.icon-link {
	background-position: 0 -270px;
}

.category-video .asset-display-download-inner {
	margin-bottom: 5px;
}

.asset-display-download p.text-link {
	float: left;
	margin: 0;
	width: 70%;
}

.asset-display-download p.text-link a {
	margin-right: 5px;
}

.sub-asset-wrapper.category-interactive a.button-link-play, .sub-asset-wrapper.category-archive a.button-link-hide {
	margin-right: 10px;
}

.sub-asset-wrapper a.button-link, button.button-link, #print-banner-wrapper a.button-link {
	background-color:#FF7F00;
	border:1px solid #FF0000;
	color:#FFFFFF;
	cursor:pointer;
	display: inline-block;
	font-size: 11px;
	height: 23px;
	line-height: 23px;
	padding: 0 12px;
}

#print-banner-wrapper a.button-link-cancel {
	background: #ccc;
	border: 1px solid #777;
	color: #000;
	margin-right: 10px;
}

#print-banner-wrapper a.button-link-cancel:hover {
	background: #aaa;
}

.sub-asset-wrapper a.button-link-download {
	float: right;
}

.sub-asset-wrapper a.button-link:hover, #print-banner-wrapper a.button-link-print:hover {
	background: #ffb808;
	color: #000;
	text-decoration: none;
}

#print-banner-wrapper a.button-link:hover {
	text-decoration: none;
}

.asset-display-title a.icon-mini, #asset-header h2 a, ul#function-tabs li a {
	background-image: url(images/sprite_mediatype.gif);
	background-repeat: no-repeat;
}

.asset-display-title a.icon-mini {
	border: 0;
	display: block;
	float: left;
	height: 17px;
	text-indent: -9999px;
	width: 17px;
}

.category-image a.icon-mini { 
	background-position: 0 -3870px;
}

.category-document a.icon-mini, .category-text a.icon-mini { 
	background-position: 0 -3780px;
}

.category-archive a.icon-mini { 
	background-position: 0 -4140px;
}

.category-external a.icon-mini { 
	background-position: 0 -4320px;
}

.category-audio a.icon-mini { 
	background-position: 0 -4230px;
}

.category-video a.icon-mini { 
	background-position: 0 -4050px;
}

.category-interactive a.icon-mini { 
	background-position: 0 -4050px;
}

.category-folder .asset-display-title a.icon-mini, .category-collection .asset-display-title a.icon-mini {
	display: inline;
	margin: 0 0 0 5px;
	height: 21px;
	width: 27px;	
}

.category-folder .asset-display-title a.icon-mini {
	background-position: 0 -1890px;
}

.category-collection .asset-display-title a.icon-mini {
	background-position: 0 -1800px;
}
 
.arrow-icon-wrapper {
	width: 40px;
	float: left;
} 

span.collapser {
	float: left;
}


/** [END] ASSET PAGE **/

/** [BEGIN] FLASH EMBEDS **/

#flashContent1 {
	text-align: center;
}

embed#flashItem1 {
	height: 310px !important;
	width: 450px !important;
}

/** [END] FLASH EMBEDS

/** EDIT FORM RELATED **/

.asset-display-edit {
	clear: both;
	padding: 0 0 0 10px;
}

.mode-edit label {
	font-weight: bold;
}
 
.mode-edit input.checkbox {
	height: 15px;
	width: 15px;
    margin-right: 4px;
	position: relative;
	top: 2px; 
} 

#asset-wrapper ul li {
	list-style: none;
	list-style-type: none;
	list-style-image:none;
}

.mode-edit ul {
	margin: 0;
	padding: 0;
}

.mode-edit form span {
	display: block;
	margin-bottom: 3px;
 
}


.mode-edit .input-text input, .mode-edit .input-select select {
	width: 50%;
}

.mode-edit .input-text input.checkbox, .mode-edit .input-select input.checkbox {
	height: 15px;
	width: 15px;
}

.mode-edit fieldset.buttons {
	text-align: center;
}

input.button-cancel {
	background: #ccc;
	border: 1px solid #a5a5a5;
	color: #000;
}

input.button-cancel, input.button-save {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 23px;	
	margin-right: 10px;
	overflow:visible;
	padding: 0 12px;
	width:auto;
}

input.button-save {
	background: #FF7F00;
	border: 1px solid #FF0000;
	color: #fff;
}

input.button-cancel:hover {
	background: #aaa;
}

input.button-save:hover {
	background: #FFB808;
	color: #000;
}

.mode-edit form ul li {
	margin: 0 0 15px 0; 
	padding: 0;
	list-style:none;
}
 

 
 
/** AVATAR CONSTRAINTS **/

#asset-avatar a {
	display: block;
	float: left;
	margin-bottom: 5px;
	overflow: hidden;
}

#asset-avatar a {
	max-width:300px;
	max-height:100px;
}


/** INFO MODULES * COMMENT MODULES * **/


.mode-info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



.mode-comments ul.crs-rating, .mode-comments li.comment ul, .mode-comments li.no-comment ul, .comment-submit-form {
	border: 1px solid #999;
 	margin: 0 5px 15px 5px;
	padding: 10px; 
}


.mode-comments ul.crs-rating {
	padding-bottom: 0;
}

.mode-comments li.no-review ul{
	padding: 20px 10px 0 60px;
}

.mode-comments ul.crs-rating ul li {
	float: left;
	margin-right: 1%;
	width: 32%;
}
 
.mode-comments li.comment ul {
	position: relative;
} 

.mode-comments li.no-comment ul {
	padding: 20px 10px 0 60px;
}

.mode-comments li.comment-action {
	position: absolute;
	top: 5px;
	right: 5px;
}

.mode-comments li.comment-action a {
	padding: 0 5px;
}

.mode-comments a.comment-edit {
	border-right: 1px solid #999;
} 

ul.crs-rating li {
	margin-bottom: 15px;
}

li.crs-rating-components ul {
	margin-top: 5px;
	padding: 0;
}

.mode-info .sub-asset-wrapper ul li {
	margin-bottom: 25px;
}

.mode-info .sub-asset-wrapper ul li li {
	margin-bottom: 5px;
}

.mode-info h3, .mode-comments h3 {
	color: #fff;
	line-height: 1.2em;
	margin: 0;
	padding: 2px 8px;
}

.mode-info h3 {
	background: #FF4100;
}

.mode-comments .crs-wrapper h3 {
	background: #8897cc;
}

.mode-comments .member-comments-wrapper h3 {
	background: #398AC9;
}

li.comment-avatar {
	display: inline;
	float: left;
	margin: 0 5px 10px 0;
}

li.comment-username {
	padding-top: 3px;
}

li.comment-text {
	clear: left;
}

.comment-submit-form label {
	font-weight: bold;
}

.mode-info form p {
	margin: .5em 0;
	font-size: 11px;
}

.mode-info form em {
	color: red;
	font-weight: bold;
	margin-right: 3px;
}



.mode-info form span {
	display: block;
}

.mode-info form label {
	font-weight: bold;
}

.mode-info .sub-asset-wrapper {
	border-color: #dcdcdc;
}

.mode-info fieldset.buttons, .mode-comments fieldset.buttons {
	text-align: right;
}

.mode-comments fieldset.buttons {
	margin: 5px 15px 0 0;
}


form li.input-text input, form li.input-textarea input {
	width: 80%;
}

form li.input-select select {
	width: 40%;
}


li.info-basic-subject, li.info-basic-education, li.info-edit-subject, li.info-edit-education {
	float: left;
	width: 49%;
}

li.info-basic-subject div, li.info-basic-education div {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
}

li.info-basic-subject div, li.info-basic-education div {
	padding: 7px;
}

li.info-basic-subject, li.info-edit-subject {
	margin-right: 1%;
}

li.info-basic-ict, li.info-basic-tags, li.info-edit-ict {
	clear: left;
}

li.info-basic-ict li, li.crs-rating-crs3, li.crs-rating-crs2, li.crs-rating-crs1 {
	background-image: url(images/sprite_crs_ict_group.gif);
	background-repeat: no-repeat;

}

li.info-basic-ict li {
	margin: 0;
	padding: 10px 0 10px 40px;
}

li.info-basic-ict li.ict-activity {
	background-position: 0 -3330px;
}

li.info-basic-ict li.ict-resource {
	background-position: 0 -2880px;
}

li.info-basic-ict li.ict-book {
	background-position: 0 -2970px;
}

li.info-basic-ict li.ict-curriculum {
	background-position: 0 -3060px;
}

li.info-basic-ict li.ict-other {
	background-position: 0 -3150px;
}

li.info-basic-ict li.ict-multiple {
	background-position: 0 -3240px;
}

li.crs-rating-crs3, li.crs-rating-crs2, li.crs-rating-crs1 {
	margin: 0;
	padding: 5px 0 5px 40px;
}

li.crs-rating-crs3 {
	background-position: 0 -180px;
}

li.crs-rating-crs2 {
	background-position: 0 -90px;
}

li.crs-rating-crs1 {
	background-position: 0 0px;
}
 
