## This is the config for the LoginToViewAnalytics Module
## of the CurrikiAnalyticsPlugin.
## It holds all switches and values that are needed to control the
## log int to view functionality. Lines beginning with "##" are comments
## and are ignored by the system.

## Main switch, to turn the log in to view functionality on and off
##login_to_view=off
login_to_view=on

##The threshold for the number of resources users are allowed to view
number_of_resources_to_view=3

##The number of dialogs to show before the last dialog appears and the
##user is locked out of the system, this number must be smaller than the ##number_of_resources_to_view
number_of_warnings=1