#set($processor = $xwiki.parseGroovyFromPage("CurrikiCode.LoginToDownloadExceptionsProcessor"))##
#set($junk=$processor.init($xwiki, $context, $request))##

1 $doc.name

$processor.seedLoginToDownloadEscapes()

The webapp context's attribute LoginToDownloadEscapes is now
{pre}
$request.getSession().getServletContext().getAttribute("LoginToDownloadEscapes")
{/pre}

You may want to
 <a href="/xwiki/bin/edit/CurrikiCode/LoginToDownloadExceptions">edit LoginToDownloadExceptions</a>.
Each line there is a space name that is in the exceptions.
Do not forget to reload this page once.
