{{velocity}}##
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="response" type="javax.servlet.http.HttpServletResponse" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset" *# ##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#set($tool=$xwiki.parseGroovyFromPage("CurrikiCode.RespurrikiTocNavigateTool"))##
#set($junk=$tool.init($request,$response,$context,$xwiki))##
#set($dest=$tool.getDestination())##
#set($d=$xwiki.getDocument("$dest"))##
#if($dest)#else##
    #set($d=$xwiki.getDocument($tool.getOriginDocumentPath()))##
#end##
#if($request.bc)
    #set($url=$d.getURL("view","bc=$escapetool.url($request.bc)"))
#else
    #set($url=$d.getURL("view"))
#end
$response.sendRedirect($url)##
{{/velocity}}